<section class="forget-section">
    <div class="row">
      <div class="login-card">
      <div class="content">
        <a routerLink="/landing/home">
          <img src="../../../../../assets/images/elias_logo.svg" alt="SG logo" />
        </a>
        <p class="reset">Set your password</p>
        <form
          [formGroup]="setPasswordForm"
          (ngSubmit)="onSubmit(setPasswordForm)"
        >
          <div>
            <label for="password" class="passwordLabel">Password</label>
                <input
                  [type]="show ? 'text' : 'password'"
                  id="password"
                  min="8"
                  max="16"
                  formControlName="password"
                  class="form-control passwordInput"
                  placeholder="********"
                />
                <mat-icon
                  fontSet="material-icons-outlined"
                  (click)="showPassword()"
                  >{{ show ? "visibility_off" : "visibility_outlined" }}</mat-icon
                >
          </div>
          <div class="send">
            <button
              class="btn"
              type="submit"
              [disabled]="!setPasswordForm.valid"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
    </div>
  </section>
  