<!-- accordion -->
<section class="accordion">
  <h1>FAQS</h1>
  <div class="row">
    <div class="col-lg-12 px-0">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
              (click)="showIconBtn()">
              <div class="d-flex justify-content-between align-items-center w-100">
                <h3 routerLinkActive="bordertext" style="width: 95%" class="m-0">
                  What is the CVEC
                </h3>
                <div style="width: 3%" class="open d-flex justify-content-center align-items-center" *ngIf="showIcon">
                  <img src="/../assets/images/navigator/accaptance/pay-cvec/up.svg" alt="" />
                </div>
                <div style="width: 3%" class="close d-flex justify-content-center align-items-center" *ngIf="!showIcon">
                  <img src="/../assets/images/navigator/accaptance/pay-cvec/down.svg" alt="" />
                </div>
              </div>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="describtion">
                The CVEC is <span>a compulsory contribution</span> which aims to
                <span>reinforce social, health, cultural and sports support for
                  students</span>
                as well as to reinforce prevention and health education actions
                carried out for them. <br />
                This contribution is due each academic year by all students
                enrolled in higher education.
              </p>
            </div>
          </div>
        </div>

        <!-- // -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingtwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapsetwo" aria-expanded="false" aria-controls="flush-collapsetwo"
              (click)="showIconBtn2()">
              <div class="d-flex justify-content-between align-items-center w-100">
                <h3 routerLinkActive="bordertext" style="width: 95%" class="m-0">
                  When to pay the CVEC?
                </h3>
                <div style="width: 3%" class="open d-flex justify-content-center align-items-center" *ngIf="showIcon2">
                  <img src="/../assets/images/navigator/accaptance/pay-cvec/up.svg" alt="" />
                </div>
                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                  *ngIf="!showIcon2">
                  <img src="/../assets/images/navigator/accaptance/pay-cvec/down.svg" alt="" />
                </div>
              </div>
            </button>
          </h2>
          <div id="flush-collapsetwo" class="accordion-collapse collapse" aria-labelledby="flush-headingtwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="describtion">
                The CVEC
                <span>must be paid before registering in the school.</span> The
                code received on the personal certificate after paying will be
                used to register in the school.
              </p>
            </div>
          </div>
        </div>

        <!-- //// -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingthree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapsethree" aria-expanded="false" aria-controls="flush-collapsethree"
              (click)="showIconBtn3()">
              <div class="d-flex justify-content-between align-items-center w-100">
                <h3 routerLinkActive="bordertext" style="width: 95%" class="m-0">
                  How much is the CVEC?
                </h3>
                <div style="width: 3%" class="open d-flex justify-content-center align-items-center" *ngIf="showIcon3">
                  <img src="/../assets/images/navigator/accaptance/pay-cvec/up.svg" alt="" />
                </div>
                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                  *ngIf="!showIcon3">
                  <img src="/../assets/images/navigator/accaptance/pay-cvec/down.svg" alt="" />
                </div>
              </div>
            </button>
          </h2>
          <div id="flush-collapsethree" class="accordion-collapse collapse" aria-labelledby="flush-headingthree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="describtion">
                The amount of the CVEC is <span>92€</span> for the academic year
                2022/2023.
              </p>
            </div>
          </div>
        </div>

        <!-- // -->

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingfour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour"
              (click)="showIconBtn4()">
              <div class="d-flex justify-content-between align-items-center w-100">
                <h3 routerLinkActive="bordertext" style="width: 95%" class="m-0">
                  How to pay it ?
                </h3>
                <div style="width: 3%" class="open d-flex justify-content-center align-items-center" *ngIf="showIcon4">
                  <img src="/../assets/images/navigator/accaptance/pay-cvec/up.svg" alt="" />
                </div>
                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                  *ngIf="!showIcon4">
                  <img src="/../assets/images/navigator/accaptance/pay-cvec/down.svg" alt="" />
                </div>
              </div>
            </button>
          </h2>
          <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="describtion">
                You must log in to the site:
                <a href="https://cvec.etudiant.gouv.fr/" target="_blank">cvec.etudiant.gouv.fr</a> and
                follow the instructions.The payment can be done by credit or
                debit card.
              </p>
            </div>
          </div>
        </div>

        <!-- // -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingfive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive"
              (click)="showIconBtn5()">
              <div class="d-flex justify-content-between align-items-center w-100">
                <h3 routerLinkActive="bordertext" style="width: 95%" class="m-0">
                  What to do after paying the CVEC?
                </h3>
                <div style="width: 3%" class="open d-flex justify-content-center align-items-center" *ngIf="showIcon5">
                  <img src="/../assets/images/navigator/accaptance/pay-cvec/up.svg" alt="" />
                </div>
                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                  *ngIf="!showIcon5">
                  <img src="/../assets/images/navigator/accaptance/pay-cvec/down.svg" alt="" />
                </div>
              </div>
            </button>
          </h2>
          <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="describtion">
                Once the payment is made,
                <span>you will receive a certificate of payment with a code</span>
                (under "Certificate number"). You will then be able to
                <span>download the document on the schools' online administrative
                  registration and enter your CVEC code.</span>
              </p>
            </div>
          </div>
        </div>

        <!-- // -->

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingsix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix"
              (click)="showIconBtn6()">
              <div class="d-flex justify-content-between align-items-center w-100">
                <h3 routerLinkActive="bordertext" style="width: 95%" class="m-0">
                  Where to find my certificate?
                </h3>
                <div style="width: 3%" class="open d-flex justify-content-center align-items-center" *ngIf="showIcon6">
                  <img src="/../assets/images/navigator/accaptance/pay-cvec/up.svg" alt="" />
                </div>
                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                  *ngIf="!showIcon6">
                  <img src="/../assets/images/navigator/accaptance/pay-cvec/down.svg" alt="" />
                </div>
              </div>
            </button>
          </h2>
          <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="describtion">
                Go to
                <a href="https://cvec.etudiant.gouv.fr/" target="_blank">cvec.etudiant.gouv.fr</a> and
                click on get my certificate.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- steps section -->
<section class="steps d-lg-block d-md-block d-none">
  <h1 class="mb-4"><span>Ten</span> things you need to know about CVEC</h1>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 px-0">
      <div class="d-flex one-text">
        <!-- <img src="/../assets/images/navigator/accaptance/pay-cvec/1.svg" alt="1" /> -->
        <h1>1</h1>
        <p>
          Admission to a French institution of higher education determines
          whether one is affected by the CVEC.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 col-md-12 co-12 px-0">
      <div class="one-text d-flex">
        <!-- <img src="/../assets/images/navigator/accaptance/pay-cvec/2.svg" alt="2" /> -->
        <h1>2</h1>
        <p>Certain exemptions from the CVEC are recognized</p>
      </div>
      <div class="col-lg-12 col-md-12 col-12 mt-lg-3 mt-md-3 mt-2">
        <div class="one-text d-flex">
          <!-- <img src="/../assets/images/navigator/accaptance/pay-cvec/3.svg" alt="3" /> -->
          <h1>3</h1>
          <p>The CVEC may be paid online or in cash</p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-12 px-0 text-end d-flex justify-content-end d-lg-block d-md-none d-none">
      <img src="/assets/images/navigator/accaptance/pay-cvec/cv-review 1.svg" alt="cv-review" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 px-0">
      <div class="d-flex one-text">
        <!-- <img src="/../assets/images/navigator/accaptance/pay-cvec/4.svg" alt="4" /> -->
        <h1>4</h1>
        <p class="d-lg-flex d-md-block d-block">
          Even if you are exempt from the CVEC, you must register at 
          <a href="https://cvec.etudiant.gouv.fr/" target="_blank"> cvec.etudiant.gouv.fr</a>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 px-0">
      <div class="d-flex one-text">
        <!-- <img src="/../assets/images/navigator/accaptance/pay-cvec/5.svg" alt="5" /> -->
        <h1>5</h1>
        <p>
          The foregoing steps must be completed before you attempt to register
          at your university or other institution
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-12 ps-0 colum-space">
      <div class="d-flex one-text">
        <!-- <img src="/../assets/images/navigator/accaptance/pay-cvec/6.svg" alt="6" /> -->
        <h1>6</h1>
        <p>The amount of the CVEC is €95</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12 pe-0 colum-space1">
      <div class="d-flex one-text">
        <!-- <img src="/../assets/images/navigator/accaptance/pay-cvec/7.svg" alt="7" /> -->
        <h1>7</h1>
        <p>The CVEC is assessed annually</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 px-0">
      <div class="d-flex one-text">
        <!-- <img src="/../assets/images/navigator/accaptance/pay-cvec/8.svg" alt="8" /> -->
        <h1>8</h1>
        <p>In some cases, it is possible to apply for a refund of the CVEC</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 px-0">
      <div class="d-flex one-text">
        <!-- <img src="/../assets/images/navigator/accaptance/pay-cvec/9.svg" alt="9" /> -->
        <h1>9</h1>
        <p>The CVEC improves student life</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 px-0">
      <div class="d-flex one-text">
        <!-- <img src="/../assets/images/navigator/accaptance/pay-cvec/10.svg" alt="10" /> -->
        <h1>10</h1>
        <p>
          Informations for registration and payment are be available in English
        </p>
      </div>
    </div>
  </div>

  <div class="details">
    <p>For details check this website:</p>
    <a href="https://www.campusfrance.org" target="_blank">https://www.campusfrance.org</a>
  </div>
</section>

<!-- steps mobile -->
<section class="steps d-lg-none d-md-none d-block">
  <h1 class="mb-lg-4 mb-md-3 mb-3">Ten things you need to know about CVEC</h1>
  <div class="row">
    <div class="col-12 mt-0 text-center one-text">
      <img src="/../assets/images/navigator/accaptance/pay-cvec/1.svg" alt="1" />
      <p>
        Admission to a French institution of higher education determines
        whether one is affected by the CVEC.
      </p>
    </div>
    <div class="col-12 text-center one-text">
      <img src="/../assets/images/navigator/accaptance/pay-cvec/2.svg" alt="2" />
      <p>Certain exemptions from the CVEC are recognized</p>
    </div>
    <div class="col-12 text-center one-text">
      <img src="/../assets/images/navigator/accaptance/pay-cvec/3.svg" alt="3" />
      <p>The CVEC may be paid online or in cash</p>
    </div>
    <div class="col-12 text-center one-text">
      <img src="/../assets/images/navigator/accaptance/pay-cvec/4.svg" alt="4" />
      <p class="d-lg-flex d-md-block d-block">
        Even if you are exempt from the CVEC, you must register at
        <a href="https://cvec.etudiant.gouv.fr/" target="_blank">cvec.etudiant.gouv.fr</a>
      </p>
    </div>
    <div class="col-12 text-center one-text">
      <img src="/../assets/images/navigator/accaptance/pay-cvec/5.svg" alt="5" />
      <p>
        The foregoing steps must be completed before you attempt to register
        at your university or other institution
      </p>
    </div>
    <div class="col-12 text-center one-text">
      <img src="/../assets/images/navigator/accaptance/pay-cvec/6.svg" alt="6" />
      <p>The amount of the CVEC is €95</p>
    </div>
    <div class="col-12 text-center one-text">
      <img src="/../assets/images/navigator/accaptance/pay-cvec/7.svg" alt="7" />
      <p>The CVEC is assessed annually</p>
    </div>
    <div class="col-12 text-center one-text">
      <img src="/../assets/images/navigator/accaptance/pay-cvec/8.svg" alt="8" />
      <p>In some cases, it is possible to apply for a refund of the CVEC</p>
    </div>
    <div class="col-12 text-center one-text">
      <img src="/../assets/images/navigator/accaptance/pay-cvec/9.svg" alt="9" />
      <p>The CVEC improves student life</p>
    </div>
    <div class="col-12 text-center one-text">
      <img src="/../assets/images/navigator/accaptance/pay-cvec/10.svg" alt="10" />
      <p>
        Informations for registration and payment are be available in English
      </p>
    </div>
  </div>
  <div class="details">
    <p>For details check this website:</p>
    <a href="https://www.campusfrance.org" target="_blank">https://www.campusfrance.org</a>
  </div>
</section>