<!-- <section class="notification-section d-flex justify-content-between align-items-center">
  <div class="container d-flex justify-content-xl-between justify-content-center align-items-center">
    <div class="d-xl-flex justify-content-start align-items-center phone d-none">
      <i class="fas fa-phone-alt me-2"></i>
      <a class="m-0 text-white" href="tel:+33766700973">
        +33 7 66 70 09 73
      </a>
    </div>
    <div class="offer text-center" *ngIf="offer">
      <p class="m-0">
        {{ offer }} <a routerLink="{{ link }}"><span> Check Now</span></a>
      </p>
    </div>
    <div class="links d-xl-flex d-none">
      <a href="https://www.instagram.com/studentgator/?hl=en" target="_blank" title="instgram" class="me-1">
        <div class="circle d-flex justify-content-center align-items-center">
          <i class="fab fa-instagram d-flex align-items-center"></i>
        </div>
      </a>
      <a href="https://www.youtube.com/channel/UCWpK0bx3nK9Y7pI5NjitDVw/featured" target="_blank" title="instgram"
        class="mx-1">
        <div class="circle d-flex justify-content-center align-items-center">
          <i class="fab fa-youtube d-flex align-items-center"></i>
        </div>
      </a>
      <a href="https://www.linkedin.com/company/studentgator/" target="_blank" title="linked-in" class="mx-1">
        <div class="circle d-flex justify-content-center align-items-center">
          <i class="fab fa-linkedin-in d-flex align-items-center"></i>
        </div>
      </a>
      <a href="https://twitter.com/_studentgator" target="_blank" title="twitter" class="mx-1">
        <div class="circle d-flex justify-content-center align-items-center">
          <i class="fab fa-twitter d-flex align-items-center"></i>
        </div>
      </a>
      <a href="https://www.facebook.com/StudentGator/" target="_blank" title="facebook" class="ms-1">
        <div class="circle d-flex justify-content-center align-items-center">
          <i class="fab fa-facebook-f d-flex align-items-center"></i>
        </div>
      </a>
    </div>
  </div>
</section> -->