<app-header></app-header>

<section class="top-info">
  <div class="container">
    <div class="row">
      <div class="col-12 top-info-col">
        <div class="row d-flex">
          <div class="col-12 col-lg-8">
            <div
              class="left-info d-flex justify-content-start align-items-center"
            >
              <img
                [src]="
                  profilePicture === '' ||
                  profilePicture === null ||
                  profilePicture === undefined ||
                  profilePicture === 'None' ||
                  profilePicture ===
                    'https://studentgator.com/assets/images/navbar/default-pic.svg'
                    ? 'https://studentgator.com/assets/images/navbar/default-pic.svg'
                    : profilePicture
                "
                alt="profile-picture"
                class="user-picture rounded-circle"
              />
              <div class="set-up-profile">
                <div class="nav-tree">
                  <nav>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        {{ profileName }}
                      </li>
                      <li class="seperator">></li>
                      <li class="breadcrumb-item" aria-current="page">
                        <a
                          routerLink="{{
                            originalMainRouter.includes('#')
                              ? originalMainRouter.split('#')[0]
                              : originalMainRouter
                          }}"
                          [queryParams]="
                            originalMainRouter === 'general'
                              ? { step: '1' }
                              : null
                          "
                          routerLinkActive="activated-breadcrumb"
                          [routerLinkActiveOptions]="{ exact: true }"
                          >{{ mainRouter }}</a
                        >
                      </li>
                      <li class="seperator" *ngIf="secRouter">></li>
                      <li
                        class="breadcrumb-item active"
                        aria-current="page"
                        *ngIf="secRouter"
                      >
                        <a
                          class="activated-breadcrumb"
                          [routerLink]="originalSecRouter"
                          [ngClass]="{ 'activated-breadcrumb': !subRouter }"
                        >
                          {{ secRouter }}
                        </a>
                      </li>
                      <li class="seperator" *ngIf="subRouter">></li>
                      <li
                        class="breadcrumb-item active"
                        aria-current="page"
                        *ngIf="subRouter"
                      >
                        <p class="activated-breadcrumb">
                          {{ subRouter }}
                        </p>
                      </li>
                    </ol>
                  </nav>
                </div>
                <p class="set-up-profile">{{ description }}</p>
              </div>
            </div>
          </div>
          <!-- progress bar -->
          <div class="col-lg-4 col-12 col-md-7 progress-col">
            <div class="right-info">
              <p class="progress-title">
                {{ "STUDENTBOARD.YourProgress" | translate }}
              </p>
              <p class="progress-percentage">
                <span>{{ progressPercentage }}%</span>
                {{ "STUDENTBOARD.Completed" | translate }}
              </p>
              <div class="progress">
                <div
                  class="progress-bar"
                  [ngStyle]="{ width: progressPercentage + '%' }"
                  role="progressbar"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
          <hr class="col-12" />
          <!-- Mobile navigation -->
          <div class="dropdown-center col-12 d-block d-lg-none dropdown-col">
            <button
              class="btn dropdown-toggle col-12 d-flex justify-content-between align-items-center px-3"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              data-bs-offset="0,14"
            >
              {{
                secRouter
                  ? secRouter.substring(0, 1).toUpperCase() +
                    secRouter.substring(1, secRouter.length)
                  : mainRouter.substring(0, 1).toUpperCase() +
                    mainRouter.substring(1, mainRouter.length)
              }}
            </button>
            <div class="dropdown-menu">
              <div class="dropdown-continer">
                <div class="profile-part">
                  <h1>
                    <a
                      class="title"
                      routerLink="profile"
                      routerLinkActive="active-title"
                    >
                      {{ "STUDENTBOARD.profile" | translate }}
                    </a>
                  </h1>
                  <a
                    class="link"
                    routerLink="profile/myinfo"
                    routerLinkActive="active-link"
                  >
                    {{ "STUDENTBOARD.myInfo" | translate }}
                  </a>
                  <a
                    class="link"
                    routerLink="profile/mywishlist"
                    routerLinkActive="active-link"
                  >
                    {{ "STUDENTBOARD.myWishlist" | translate }}
                  </a>
                  <a
                    class="link"
                    routerLink="profile/mydocuments"
                    routerLinkActive="active-link"
                  >
                    {{ "STUDENTBOARD.myDocuments" | translate }}
                  </a>
                </div>
                <div class="general-part">
                  <h1>
                    <a
                      class="title"
                      routerLink="general"
                      [queryParams]="{ step: '1' }"
                      routerLinkActive="active-title"
                    >
                      {{ "STUDENTBOARD.General" | translate }}
                    </a>
                  </h1>
                  <a
                    class="link"
                    routerLink="general/how-to-start"
                    [queryParams]="{ step: '1' }"
                    routerLinkActive="active-link"
                    [ngClass]="{
                      'active-link':
                        originalMainRouter === 'general' &&
                        (originalSecRouter === '' ||
                          originalSecRouter === 'how-to-start')
                    }"
                  >
                    {{ "STUDENTBOARD.HowToStart" | translate }}
                  </a>
                  <a
                    class="link"
                    routerLink="general/education"
                    [queryParams]="{ step: '2' }"
                    fragment="level-of-education"
                    [ngClass]="{
                      'active-link':
                        fragment === 'level-of-education' &&
                        originalMainRouter === 'general'
                    }"
                  >
                    {{ "STUDENTBOARD.LevelofEducation" | translate }}
                  </a>
                  <a
                    class="link"
                    routerLink="general/education"
                    [queryParams]="{ step: '2' }"
                    fragment="field-interested"
                    [ngClass]="{
                      'active-link':
                        fragment === 'field-interested' &&
                        originalMainRouter === 'general'
                    }"
                  >
                    {{ "STUDENTBOARD.FieldInterested" | translate }}
                  </a>
                  <a
                    class="link"
                    routerLink="general/education"
                    [queryParams]="{ step: '2' }"
                    fragment="language-test"
                    [ngClass]="{
                      'active-link':
                        fragment === 'language-test' &&
                        originalMainRouter === 'general'
                    }"
                  >
                    {{ "STUDENTBOARD.LanguageTest" | translate }}
                  </a>
                  <a
                    class="link"
                    routerLink="general/additional-information"
                    [queryParams]="{ step: '3' }"
                    fragment="study-in-france"
                    [ngClass]="{
                      'active-link':
                        fragment === 'study-in-france' &&
                        originalMainRouter === 'general'
                    }"
                  >
                    {{ "STUDENTBOARD.StudyinFrance" | translate }}
                  </a>
                  <a
                    class="link"
                    routerLink="general/additional-information"
                    [queryParams]="{ step: '3' }"
                    fragment="budget"
                    [ngClass]="{
                      'active-link':
                        fragment === 'budget' &&
                        originalMainRouter === 'general'
                    }"
                  >
                    {{ "STUDENTBOARD.WhatisyourBudget" | translate }}
                  </a>
                </div>
                <div class="edit-part">
                  <h1>
                    <a
                      class="title"
                      routerLink="edit-profile"
                      fragment="profile-picture"
                      routerLinkActive="active-title"
                    >
                      {{ "STUDENTBOARD.Editprofile" | translate }}
                    </a>
                  </h1>
                  <a
                    class="link"
                    routerLink="edit-profile"
                    fragment="profile-picture"
                    [ngClass]="{
                      'active-link':
                        fragment === 'profile-picture' ||
                        originalMainRouter == 'edit-profile'
                    }"
                  >
                    {{ "STUDENTBOARD.ProfilePicture" | translate }}
                  </a>
                  <a
                    class="link"
                    routerLink="edit-profile"
                    fragment="about-you"
                    [ngClass]="{ 'active-link': fragment === 'about-you' }"
                  >
                    {{ "STUDENTBOARD.AboutYou" | translate }}
                  </a>
                </div>
                <div class="edit-part">
                  <h1>
                    <a
                      class="title"
                      routerLink="account-settings"
                      fragment="email"
                      routerLinkActive="active-title"
                    >
                      {{ "STUDENTBOARD.AccountSettings" | translate }}
                    </a>
                  </h1>
                  <a
                    class="link"
                    routerLink="account-settings"
                    fragment="email"
                    [ngClass]="{
                      'active-link':
                        fragment === 'email' ||
                        originalMainRouter == 'account-settings'
                    }"
                  >
                    {{ "STUDENTBOARD.email" | translate }}
                  </a>
                  <a
                    class="link"
                    routerLink="account-settings"
                    fragment="password"
                    [ngClass]="{ 'active-link': fragment === 'password' }"
                  >
                    {{ "STUDENTBOARD.Password" | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Web navigation -->
          <aside class="col-3 sidebar-col d-none d-lg-block">
            <div class="profile-part">
              <h1>
                <a
                  class="title"
                  routerLink="profile"
                  routerLinkActive="active-title"
                >
                  {{ "STUDENTBOARD.profile" | translate }}
                </a>
              </h1>
              <a
                class="link"
                routerLink="profile/myinfo"
                routerLinkActive="active-link"
              >
                <p>{{ "STUDENTBOARD.MyInfo" | translate }}</p>
              </a>
              <a
                class="link"
                routerLink="profile/mywishlist"
                routerLinkActive="active-link"
              >
                <p>{{ "STUDENTBOARD.MyWishlist" | translate }}</p>
              </a>
              <a
                class="link"
                routerLink="profile/mydocuments"
                routerLinkActive="active-link"
              >
                <p>{{ "STUDENTBOARD.MyDocuments" | translate }}</p>
              </a>
            </div>
            <div class="general-part">
              <h1>
                <a
                  class="title"
                  routerLink="general"
                  [queryParams]="{ step: '1' }"
                  [ngClass]="{
                    'active-title': originalMainRouter === 'general'
                  }"
                >
                  {{ "STUDENTBOARD.General" | translate }}
                </a>
              </h1>
              <a
                class="link"
                routerLink="general/how-to-start"
                [queryParams]="{ step: '1' }"
                routerLinkActive="active-link"
                [ngClass]="{
                  'active-link':
                    originalMainRouter === 'general' &&
                    (originalSecRouter === '' ||
                      originalSecRouter === 'how-to-start')
                }"
              >
                <p>
                  {{ "STUDENTBOARD.HowToStart" | translate }}
                </p>
              </a>
              <a
                class="link"
                routerLink="general/education"
                [queryParams]="{ step: '2' }"
                fragment="level-of-education"
                [ngClass]="{
                  'active-link':
                    fragment === 'level-of-education' &&
                    originalMainRouter === 'general'
                }"
              >
                <p>{{ "STUDENTBOARD.LevelofEducation" | translate }}</p>
              </a>
              <a
                class="link"
                routerLink="general/education"
                [queryParams]="{ step: '2' }"
                fragment="field-interested"
                [ngClass]="{
                  'active-link':
                    fragment === 'field-interested' &&
                    originalMainRouter === 'general'
                }"
              >
                <p>{{ "STUDENTBOARD.FieldInterested" | translate }}</p>
              </a>
              <a
                class="link"
                routerLink="general/education"
                [queryParams]="{ step: '2' }"
                fragment="language-test"
                [ngClass]="{
                  'active-link':
                    fragment === 'language-test' &&
                    originalMainRouter === 'general'
                }"
              >
                <p>{{ "STUDENTBOARD.LanguageTest" | translate }}</p>
              </a>
              <a
                class="link"
                routerLink="general/additional-information"
                [queryParams]="{ step: '3' }"
                fragment="study-in-france"
                [ngClass]="{
                  'active-link':
                    fragment === 'study-in-france' &&
                    originalMainRouter === 'general'
                }"
              >
                <p>{{ "STUDENTBOARD.StudyinFrance" | translate }}</p>
              </a>
              <a
                class="link"
                routerLink="general/additional-information"
                [queryParams]="{ step: '3' }"
                fragment="budget"
                [ngClass]="{
                  'active-link':
                    fragment === 'budget' && originalMainRouter === 'general'
                }"
              >
                <p>{{ "STUDENTBOARD.WhatisyourBudget" | translate }}</p>
              </a>
            </div>
            <div class="edit-part">
              <h1>
                <a
                  class="title"
                  routerLink="edit-profile"
                  fragment="profile-picture"
                  routerLinkActive="active-title"
                >
                  {{ "STUDENTBOARD.EditProfile" | translate }}
                </a>
              </h1>
              <a
                class="link"
                routerLink="edit-profile"
                fragment="profile-picture"
                [ngClass]="{
                  'active-link':
                    fragment === 'profile-picture' ||
                    originalMainRouter == 'edit-profile'
                }"
              >
                <p>{{ "STUDENTBOARD.ProfilePicture" | translate }}</p>
              </a>
              <a
                class="link"
                routerLink="edit-profile"
                fragment="about-you"
                [ngClass]="{ 'active-link': fragment === 'about-you' }"
              >
                <p>{{ "STUDENTBOARD.AboutYou" | translate }}</p>
              </a>
            </div>
            <div class="edit-part">
              <h1>
                <a
                  class="title"
                  routerLink="account-settings"
                  fragment="email"
                  routerLinkActive="active-title"
                >
                  {{ "STUDENTBOARD.AccountSettings" | translate }}
                </a>
              </h1>
              <a
                class="link"
                routerLink="account-settings"
                fragment="email"
                [ngClass]="{
                  'active-link':
                    fragment === 'email' ||
                    originalMainRouter == 'account-settings'
                }"
              >
                <p>{{ "STUDENTBOARD.email" | translate }}</p>
              </a>
              <a
                class="link"
                routerLink="account-settings"
                fragment="password"
                [ngClass]="{ 'active-link': fragment === 'password' }"
              >
                <p>{{ "STUDENTBOARD.Password" | translate }}</p>
              </a>
            </div>
          </aside>
          <!-- Child Components -->
          <section class="col-12 col-lg-9 components-col">
            <router-outlet></router-outlet>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
