section {
  height: 60px;
  background: transparent linear-gradient(250deg, #7f87f8 0%, #6770f7 100%) 0% 0% no-repeat padding-box;
}
section .container {
  width: 1366px !important;
}
section .phone {
  font: normal normal 500 16px/25px Poppins;
  color: #ffffff;
}
section .phone i {
  font-size: 20px;
}
section .offer {
  font: normal normal 500 16px/25px Poppins;
  color: #fff;
}
section .offer span {
  color: #ffd844;
  text-transform: capitalize;
}
section .links a {
  color: #fff;
}
section .links a .circle {
  width: 26px;
  height: 26px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
section .links a .circle:hover {
  background-color: #000;
  border: 0;
}

@media only screen and (min-width: 0) and (max-width: 1199.9px) {
  span {
    display: inline-block;
  }
}