<!-- bank account -->
<section>
    <h1>Bank Account</h1>
    <div class="row mt-lg-3 mt-md-3 mt-2">
        <div class="col-lg-9  col-md-12 col-12 ps-0">
            <p>Opening a bank account is an easy yet very important process.</p>
            <ul>
                <li>
                    <p>You first <span>need to pick a bank that has a plan which suits you.</span></p>
                </li>
                <li>
                    <p>You then <span>proceed to get an appointment to present them your documents</span> and sign the
                        contract.</p>
                </li>
                <li>
                    <p>You usually receive your card within <span>2 weeks,</span> but it varies from one bank to the
                        other.</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 d-lg-block d-md-none d-none  pe-0">
            <img src="../../../../../../assets/images/navigator/in france/bank account/bank.svg"
                alt="manage-bank-account">
        </div>
    </div>
</section>

<!-- documentaion -->
<section class="documentaion">
    <h1>Required documents</h1>
    <div class="row mt-lg-3 mt-md-3 mt-2">
        <div class="col-4 ps-0">
            <img src="../../../.././../../assets/images/navigator/in france/bank account/id1.svg"
                alt="identification">
            <h5>Identification</h5>
        </div>
        <div class="col-4">
            <img src="../../../.././../../assets/images/navigator/in france/bank account/id2.svg" alt="house">
            <h5>Proof of residence</h5>
        </div>
        <div class="col-4 pe-0">
            <img src="../../../.././../../assets/images/navigator/in france/bank account/id3.svg" alt="student">
            <h5>Attestation of enrolment <br>or a student card.</h5>
        </div>
    </div>
</section>

<!-- info account -->
<section class="info">
    <h1>Things to take into account</h1>
    <div class="row mt-lg-3 mt-md-3 mt-2">
        <div class="col-lg-9 col-md-8 col-12 ps-0">
            <ul>
                <li class="mt-0">
                    <p>Currency exchange rates</p>
                </li>
                <li>
                    <p>Transaction fees</p>
                </li>
                <li>
                    <p>International payments/transactions</p>
                </li>
                <li>
                    <p>Partnerships with your University</p>
                </li>
                <li>
                    <p>Partnerships with your domestic bank</p>
                </li>
                <li>
                    <p>Student accounts</p>
                </li>
                <li>
                    <p>English speaking customer service</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-4 d-lg-block d-md-block d-none pe-0">
            <img src="../../../../../../assets/images/navigator/in france/bank account/checklist 1.svg" alt="checklist">
        </div>
    </div>
</section>

<!-- banks -->
<section class="banks">
    <h1>Banks to consider:</h1>
    <div class="row mt-lg-3 mt-md-3 mt-2">
        <div class="col-lg-1 d-lg-block d-md-none d-none"></div>
        <div class="col-lg-10 col-md-12 col-12">
            <div class="row d-flex justify-content-evenly">
                <div class="col-lg-3 col-md-3 col-4">
                    <img src="../../../../../../assets/images/navigator/in france/bank account/image 271.svg"
                        alt="image">
                    <p>LCL</p>
                </div>
                <div class="col-lg-3 col-md-3 col-4">
                    <img src="../../../../../../assets/images/navigator/in france/bank account/image 272.svg"
                        alt="image">
                    <p>Société Générale</p>
                </div>
                <div class="col-lg-3 col-md-3 col-4">
                    <img src="../../../../../../assets/images/navigator/in france/bank account/image 276.svg"
                        alt="image">
                    <p>BNP</p>
                </div>
                <div class="col-lg-3 col-md-3 col-4">
                    <img src="../../../../../../assets/images/navigator/in france/bank account/image 277.svg"
                        alt="image">
                    <p>Crédit agricole</p>
                </div>
                <div class="col-lg-3 col-md-3 col-4 d-lg-none d-md-block d-block mt-lg-4 mt-md-4 mt-2">
                    <img src="../../../../../../assets/images/navigator/in france/bank account/image 275.svg"
                        alt="image">
                    <p>HSBC</p>
                </div>
                <div class="col-lg-3 col-md-3 col-4 d-lg-none d-md-block d-block mt-lg-4 mt-md-4 mt-2">
                    <img src="../../../../../../assets/images/navigator/in france/bank account/image 273.svg"
                        alt="image">
                    <p>Revolut</p>
                </div>
                <div class="col-lg-3 col-md-3 col-4 d-lg-none d-md-block d-block mt-lg-4 mt-md-4 mt-2">
                    <img src="../../../../../../assets/images/navigator/in france/bank account/image 274.svg"
                        alt="image">
                    <p>N26</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 d-lg-block d-md-none d-none">
                    <div class="row mt-lg-4">
                        <div class="col-lg-4">
                            <img src="../../../../../../assets/images/navigator/in france/bank account/image 275.svg"
                                alt="image">
                            <p>HSBC</p>
                        </div>
                        <div class="col-lg-4">
                            <img src="../../../../../../assets/images/navigator/in france/bank account/image 273.svg"
                                alt="image">
                            <p>Revolut</p>
                        </div>
                        <div class="col-lg-4">
                            <img src="../../../../../../assets/images/navigator/in france/bank account/image 274.svg"
                                alt="image">
                            <p>N26</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div class="col-lg-1 d-lg-block d-md-none d-none"></div>

    </div>
</section>