<!-- 
<div class="container home py-4">
  <div class=" row py-4 px-2">
    <div class="col-md-3 col-6 py-3">
      <div class="support-info statics-frame">
        <div class="support-bg statics-bg">
          <span>+500</span>
        </div>
        <div class="text support-text">Supported Student</div>
      </div>
    </div>
    <div class="col-md-3 col-6 py-3">
        <div class="statics-frame nation-info ">
          <div class="statics-bg nation-bg ">
            <span>40</span>
          </div>
          <div class="text nation-text">Nationalities</div>
      </div>
    </div>
    <div class="col-md-3 col-6 py-3">
      <div class="statics-frame scholar-info ">
        <div class="statics-bg scholar-bg ">
          <span>10%</span>
        </div>
        <div class="text scholar-text">Scholarships Awarded</div>
      </div>
    </div>
    <div class="col-md-3 col-6 py-3">
      <div class="statics-frame partner-info ">
        <div class="statics-bg partner-bg ">
          <span>+100</span>
        </div>
        <div class="text partner-text">Partners</div>
      </div>
    </div> -->
