<!-- gym membership -->
<section>
    <div class="row">
        <div class="col-lg-8 col-md-12 col-12 ps-0">
            <h1>Gym membership</h1>
            <p class="mt-lg-3 mt-md-3 mt-2">There are a lot of options for when it comes to choosing your gym in France.
                It all comes down to <span>what best suits
                    your budget, schedule, and location.</span> Most commercial gyms offer you a student membership, but
                it is not always
                all inclusive. Some gyms have time restrictions and others don’t.</p>
        </div>
        <div class="col-lg-4 d-lg-block d-md-none d-none pe-0">
            <img src="/assets/images/navigator/in france/gym membership/sportsman.svg" alt="sportsman"
            style="width: 240px;">
        </div>
    </div>
</section>

<!-- gyms -->
<section class="gyms">
    <div class="row">
        <div class="col-lg-2 col-md-1 col-0"></div>
        <div class="col-lg-8 col-md-10 col-12 ps-0">
            <h1>Here are some gyms that you should consider</h1>
            <div class="row mt-lg-4 mt-md-4">
                <div class="col-lg-3 col-md-3 col-3 gym-item">
                    <img src="../../../../../../assets/images/navigator/in france/gym membership/Frame 3959.svg"
                        alt="gym-item">
                </div>
                <div class="col-lg-3 col-md-3 col-3 gym-item">
                    <img src="../../../../../../assets/images/navigator/in france/gym membership/Frame 3960.svg"
                        alt="gym-item">
                </div>
                <div class="col-lg-3 col-md-3 col-3 gym-item">
                    <img src="../../../../../../assets/images/navigator/in france/gym membership/Frame 3961.svg"
                        alt="gym-item">
                </div>
                <div class="col-lg-3 col-md-3 col-3 gym-item">
                    <img src="../../../../../../assets/images/navigator/in france/gym membership/Frame 3962.svg"
                        alt="gym-item">
                </div>

                <div class="col-lg-7 col-md-6 col-7 mt-lg-4">
                    <img class="ps-md-4 ms-md-1"
                        src="../../../../../../assets/images/navigator/in france/gym membership/Frame 3963.svg"
                        alt="gym-item">
                </div>
                <div class="col-lg-5 col-md-6 col-5 mt-lg-4">
                    <img class="pe-lg-4"
                        src="../../../../../../assets/images/navigator/in france/gym membership/Frame 3964.svg"
                        alt="gym-item">
                </div>

            </div>
            <!-- <div class="row mt-lg-4">
                <div class="col-lg-7 pe-lg-4 gym-item">
                    <img src="../../../../../../assets/images/navigator/in france/gym membership/Frame 3963.svg" alt="gym-item">
                </div>
                <div class="col-lg-5 px-0 gym-item">
                    <img src="../../../../../../assets/images/navigator/in france/gym membership/Frame 3964.svg" alt="gym-item">
                </div>
            </div> -->
            <div class="table">
                <h1>Average Price/month</h1>
                <img src="../../../../../../assets/images/navigator/in france/gym membership/table.svg" alt="table">
            </div>
        </div>
        <div class="col-lg-2 col-md-1 col-0"></div>
    </div>
</section>