<section>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <h2 class="section-title">Edit Program</h2>
      <div class="col-6">
        <div class="row d-flex justify-content-center align-items-end">
          <div class="col-lg-6 col-12 input-col">
            <p class="p-0 m-0">Select School:</p>
            <p-dropdown
              [options]="schools"
              [(ngModel)]="selectedSch"
              optionLabel="schoolName"
              optionValue="schoolName"
              (onChange)="change($event)"
              [ngModelOptions]="{ standalone: true }"
              [filter]="true"
              filterBy="schoolName"
              placeholder="Select school"
              appendTo="body"
            ></p-dropdown>
          </div>
          <div class="col-lg-6 col-12 input-col">
            <p class="p-0 m-0">Select Program:</p>
            <p-dropdown
              [options]="programs"
              [(ngModel)]="selectedProg"
              optionLabel="progname"
              (onChange)="changeProgram($event)"
              [ngModelOptions]="{ standalone: true }"
              [filter]="true"
              placeholder="Select program"
              filterBy="progname"
              appendTo="body"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-12">
        <form
          [formGroup]="editForm"
          (ngSubmit)="onSubmit(editForm)"
          class="w-50 d-block mx-auto"
        >
          <div class="row d-flex justify-content-center">
            <div class="input-col col-md-6 col-12 py-3">
              <label for="progName">Program name</label>
              <input
                type="text"
                id="progName"
                formControlName="progName"
                [value]="progName"
                [(ngModel)]="progName"
                class="form-control"
              />
            </div>
            <div class="input-col col-md-6 col-12 py-3">
              <label for="progType">Program type</label>
              <input
                type="text"
                id="progType"
                formControlName="progType"
                [value]="progType"
                [(ngModel)]="progType"
                class="form-control"
              />
            </div>
            <div class="input-col col-md-6 col-12 py-3">
              <label for="progCity">Program city</label>
              <input
                type="text"
                id="progCity"
                formControlName="progCity"
                [value]="progCity"
                [(ngModel)]="progCity"
                class="form-control"
              />
            </div>
            <div class="input-col col-md-6 col-12 py-3">
              <label for="progLevel">Program level</label>
              <input
                type="text"
                id="progLevel"
                formControlName="progLevel"
                [value]="progLevel"
                [(ngModel)]="progLevel"
                class="form-control"
              />
            </div>
            <div class="input-col col-12">
              <label for="progFees">Program fees</label>
              <input
                type="text"
                id="progFees"
                formControlName="progFees"
                [value]="progFees"
                [(ngModel)]="progFees"
                class="form-control"
              />
            </div>
          </div>
          <div class="submit-col d-flex justify-content-end align-items-center">
            <button type="submit" class="btn btn-primary mt-4">
              Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
