<section>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <section class="table-section row">
          <app-prospects-table
            [searchLeads]="searchLeads"
            [sizeName]="sizeName"
            (refresh)="getStudents()"
            [allStudents]="allStudents"
            [loading]="loading"
            [originalStudents]="originalStudents"
            [deletedStudents]="deletedStudents"
            class="p-0"
          ></app-prospects-table>
        </section>
      </div>
    </div>
  </section>
  
