<div class="text-start container section-main">
    <div class="first-row">
        <span>By SG Team</span>
        <p>The Complete Procedure "ETUDES EN FRANCE"</p>
        <small>22 August, 2022</small>
    </div>

    <div class="dashed">
        <p style="padding-top: 52px;color: #0404042e;font-style: italic;">////////////////////////////////</p>
    </div>

    <div class="one-text">
        <h3>Create an Etudes en France(EEF) Account:</h3>
        <p>Each and every student who wish to study in France must go through this common procedure.</p>
        <div class="row">
            <div class="col-12">
                <img style="width: 100%;height: 667px;border-radius: 12px;"
                    src="../../../../../../../assets/images/articles/Mask Group 35.png" alt="">
            </div>
        </div>
        <div class="dashed">
            <span>“It’s about pushing your limits and venturing beyond your comfort zone…” Angelina Jolie</span>
        </div>
    </div>

    <div class="one-text">
        <h3>STEP 1: Create an account</h3>
        <p>The first step is to create an account on: <a
                href="https://pastel.diplomatie.gouv.fr/etudesenfrance/">https://pastel.diplomatie.gouv.fr/etudesenfrance/</a>
            Next, select the Campus France office of your country, for eg: if you’re an Algerian, select -Espace Campus
            France Algerie</p>
    </div>

    <div class="text-start one-text">
        <h3>STEP 2: Fill in all your personal information</h3>
        <p>you will also be asked to enter an idnumber, make sure you put yourpassportnumbertoavoid any complication in
            the process. (If you’re not from the 46 countries listed above, then you’ve to follow a different procedure
            known as DAP )</p>
        <div class="row">
            <div class="col-12">
                <img style="width: 100%;height: 667px;border-radius: 12px;"
                    src="../../../../../../../assets/images/articles/Mask Group 36.png" alt="">
            </div>
        </div>
    </div>

    <div class="one-text">
        <h3>STEP 3: Confirm your application</h3>
        <p>After submitting your details, you will receive an email to confirm your application (sometimes you will have
            to wait for 5 minutes). Click on the link in the email and then again re-enter the email id and set a
            password. Once you’ve done it, you will be redirected to the home-page.</p>
        <div class="row">
            <div class="col-12">
                <img style="width: 100%;height: 667px;border-radius: 12px;"
                    src="../../../../../../../assets/images/articles/Image 19.png" alt="">
            </div>
        </div>
    </div>

    <div class="one-text">
        <h3>Step 4: Start Your Applications</h3>
        <p>1- Now click on: Start an application for Student Visa at Campus France (Mandatory pre-consular process)</p>
        <div class="row">
            <div class="col-12">
                <img style="width: 100%;height: 667px;border-radius: 12px;"
                    src="../../../../../../../assets/images/articles/Image 19.png" alt="">
            </div>
        </div>
    </div>

    <div class="one-text">
        <p>At the bottom, you will have to write a compelling reason for your choice of the institution. Youcan take
            inspiration from your letter of motivationand then move on to the next step.Finally, you will be asked to
            upload your confirmedadmission letter, this letter is the confirmationof your admission by the school after
            the paymentof your initial deposit fees.</p>
        <div class="row">
            <div class="col-12">
                <img style="width: 100%;height: 667px;border-radius: 12px;"
                    src="../../../../../../../assets/images/articles/Image 19.png" alt="">
            </div>
        </div>
    </div>

    <div class="one-text">
        <p>Now, you have to add more personal informationsuch as your contact details, yourscholarships, your language
            proficiency, your educationinformation etc. Make sure that you apply all the relevant documents.</p>
        <div class="row">
            <div class="col-12">
                <img style="width: 100%;height: 667px;border-radius: 12px;"
                    src="../../../../../../../assets/images/articles/Image 19.png" alt="">
            </div>
        </div>
    </div>

    <div class="one-text">
        <p>The tricky part is the section on Education information, here you have to select every option from the
            drop-down and upload the documents:</p><br>
        <p>Select University Degree > Upload Degree Certificate and Transcripts</p>
        <p>Select 10+2 (or equivalent) > Upload your marksheets/ transcripts</p>
        <p>Select other > Upload other education documents and Work experience documents</p>
        <div class="row">
            <div class="col-12">
                <img style="width: 100%;height: 667px;border-radius: 12px;"
                    src="../../../../../../../assets/images/articles/Image 19.png" alt="">
            </div>
        </div>
    </div>



    <div class="one-text">
        <p>Finally, verify all your information and submit your application. Need any help? StudentGator assists you in
            every step, starting from the selection of the right school for you to guiding you for the visa process and
            in helping you with all the assistance in France, we are our student’s best friends</p>
        <div class="row">
            <div class="col-12">
                <img style="width: 100%;height: 667px;border-radius: 12px;"
                    src="../../../../../../../assets/images/articles/Image 19.png" alt="">
            </div>
        </div>
    </div>

    <div class="check-more">
        <p>Check More <span>Blogs</span></p>
    </div>

    <div class="row mb-5">
        <div class="col-lg-4">
            <div class="card main-card" style="border: none;box-shadow: none;">
                <div>
                    <img
src="/assets/images/articles/Mask Group 8.png" class="card-img-top" alt="...">
                </div>
                <div class="d-flex justify-content-between small-details">
                    <div class="d-flex">
                        <i class="fas fa-calendar pe-2"></i>
                        <p>22 August, 2022</p>
                    </div>
                </div>
                <div class="card-content">
                    <p class="main-body">Visa Application</p>
                    <p class="by-body">By SG Team</p>
                    <p class="des-body">Once you have taken the appointment for the Visa at the VFS, you now move to the
                        most crucial and important stage of your Visa process i.e document submission. It is
                        necessary....</p>
                    <p class="readmore-body" routerLink="/landing/blog/2">READ MORE</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card main-card" style="border: none;box-shadow: none;">
                <div>
                    <img
src="/assets/images/articles/Mask Group 4.png" class="card-img-top" alt="...">
                </div>
                <div class="d-flex justify-content-between small-details">
                    <div class="d-flex">
                        <i class="fas fa-calendar pe-2"></i>
                        <p>22 August, 2022</p>
                    </div>
                </div>
                <div class="card-content">
                    <p class="main-body">French Student Visa Application</p>
                    <p class="by-body">By SG Team</p>
                    <p class="des-body">Congratulations on being accepted into a French university! You’re just a few
                        days away from experiencing “Vivre la France”, but while you’re excited to start your
                        fascinating journey....</p>
                    <p class="readmore-body" routerLink="/landing/blog/2">READ MORE</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card main-card" style="border: none;box-shadow: none;">
                <div>
                    <img
src="/assets/images/articles/Mask Group 6.png" class="card-img-top" alt="...">
                </div>
                <div class="d-flex justify-content-between small-details">
                    <div class="d-flex">
                        <i class="fas fa-calendar pe-2"></i>
                        <p>22 August, 2022</p>
                    </div>
                </div>
                <div class="card-content">
                    <p class="main-body">StudentGator Process</p>
                    <p class="by-body">By SG Team</p>
                    <p class="des-body">Deciding to Study Abroad is a fascinating decision followed by a million dreams,
                        aspirations, a high salary and a hope of a good life. The idea itself is rejoiceful until the
                        strike of reality! first of all...</p>
                    <p class="readmore-body" routerLink="/landing/blog/5">READ MORE</p>
                </div>
            </div>
        </div>
    </div>
</div>