h1 {
  color: var(--primary-black, #121212);
  font-size: 18px;
  font-weight: 600;
}

h4 {
  color: #E88852;
  font-size: 14px;
  font-weight: 500;
}

.upload-input {
  border-radius: var(--5, 5px);
  border: 1px solid var(--secondry-grey, #7B7B7B);
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.upload-input p {
  color: var(--secondry-grey, #7B7B7B);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.upload-input label {
  cursor: pointer;
  color: var(--primary-white, #FDFDFD);
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  background: var(--primary-purple, #16294f);
  padding: 8px 24px;
  display: inline-block;
}

.upload-input input[type=file] {
  display: none;
}

.upload-input .upload-text {
  border-radius: 4px;
  border: 1px solid var(--light-grey, #E8E8E8);
  padding: 8px 8px 8px 24px;
}

.upload-input .upload-text h5 {
  color: var(--untap, #636363);
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (min-width: 0) and (max-width: 767.9px) {
  h1 {
    font-size: 14px;
  }

  .upload-input {
    padding: 4px 8px;
    margin-top: 10px;
  }

  .upload-input p {
    font-size: 12px;
  }

  .upload-input label {
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    padding: 8px 12px;
  }
}