h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
p span {
  font-weight: 600;
}

.accordion .row {
  margin-top: 24px;
}
.accordion .row .accordion-item {
  border-radius: 10px;
  width: 100%;
  border: none;
  margin-bottom: 24px;
  background-color: transparent;
}
.accordion .row .accordion-item h2 {
  width: 100%;
  margin: 0;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 20px rgba(119, 119, 119, 0.13);
}
.accordion .row .accordion-item h2 button {
  border-radius: 10px;
  box-shadow: none !important;
  border: none;
  background: white;
}
.accordion .row .accordion-item h2 button::after {
  display: none;
}
.accordion .row .accordion-item h2 button .open,
.accordion .row .accordion-item h2 button .close {
  border-radius: 10px;
  border: 0px;
  width: 24px;
  height: 24px;
  color: #4751de;
}
.accordion .row .accordion-item h2 button h3 {
  font-weight: 600;
}
.accordion .row .accordion-item h2 .collapsed {
  background-color: white;
  border: none !important;
  border-radius: 10px;
  line-height: 1.2;
  padding: 12px 24px 12px 24px !important;
}
.accordion .row .accordion-item h2 .collapsed::after {
  border: none;
}
.accordion .row .accordion-item h2 .collapsed .open,
.accordion .row .accordion-item h2 .collapsed .close {
  border: none !important;
  width: 24px;
  height: 24px;
}
.accordion .row .accordion-item h2 .collapsed h3 {
  font-weight: 400;
}
.accordion .row .accordion-item h2 img {
  width: 24px;
  height: 24px;
}
.accordion .row .accordion-item .accordion-body {
  background-color: white;
  margin-top: 8px;
  border-radius: 10px;
  padding: 12px 24px;
  box-shadow: 0px 0px 20px rgba(119, 119, 119, 0.13);
}
.accordion .row .accordion-item .accordion-body .click-here {
  cursor: pointer;
}
.accordion .row .accordion-item .accordion-body .describtion a {
  color: rgb(111, 119, 244);
}

.steps {
  border-radius: 10px;
  background: var(--frame, #FBF7EA);
  padding: 24px;
  margin-top: 40px;
}
.steps .row {
  margin-top: 16px;
}
.steps .row .one-text {
  border-radius: var(--5, 5px);
  background: var(--primary-white, #FDFDFD);
  padding: 14px 10px;
}
.steps .row .one-text img {
  margin-right: 8px;
}
.steps .row .one-text p {
  display: flex;
  align-items: center;
}
.steps .row .one-text p a {
  color: rgb(111, 119, 244);
  text-decoration: underline !important;
}
.steps .details {
  text-align: center;
  margin-top: 24px;
}
.steps .details p {
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 81, 81);
  padding-bottom: 5px;
}
.steps .details a {
  font-weight: 600;
  font-size: 20px;
  color: #121212;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 20px;
    line-height: 30px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  p {
    font-size: 14px;
    line-height: 21px;
  }
  .accordion .row {
    margin-top: 16px;
  }
  .accordion .row .accordion-item {
    margin-bottom: 16px;
  }
  .steps {
    padding: 16px;
    border-radius: 10px;
    margin-top: 32px;
  }
  .steps .row .one-text {
    border-radius: 5px;
    padding: 12px 16px;
  }
  .steps .row .one-text p {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  .steps .details {
    margin-top: 16px;
  }
}
@media only screen and (min-width: 0) and (max-width: 767.9px) {
  h1 {
    font-size: 16px;
    line-height: 24px;
  }
  h3 {
    font-size: 14px;
    line-height: 24px;
  }
  p {
    font-size: 12px;
    line-height: 18px;
  }
  .accordion .row {
    margin-top: 16px;
  }
  .accordion .row .accordion-item {
    margin-bottom: 12px;
  }
  .steps {
    padding: 8px;
    border-radius: 5px;
    margin-top: 24px;
  }
  .steps .row .one-text {
    border-radius: 5px;
    padding: 8px;
    margin-top: 8px;
  }
  .steps .row .one-text img {
    width: 19px;
    height: 21px;
  }
  .steps .row .one-text p {
    margin-top: 4px;
    justify-content: center;
  }
  .steps .details {
    margin-top: 8px;
  }
  .steps .details p,
  .steps .details a {
    font-size: 13px;
    line-height: 10px;
  }
}