<section class="forget-section">
    <div class="row">
        <div class="content">
            <a routerLink="/landing/home">
                <img src="../../../../../assets/images/elias.png" alt="SG logo">
            </a>
            <p class="check">
                Vérifiez votre e-mail
            </p>
            <p class="description">
                Nous avons envoyé un lien de confirmation à votre adresse e-mail
            </p>
            <div class="d-flex justify-content-center">
                <img src="../../../../../assets/images/verfiy.png" alt="check your email" class="check-image">
            </div>
            <div *ngIf="isLoading">
                <div class="spinner-border text-primary d-flex m-auto" role="status"></div>
            </div>
            <div *ngIf="!isLoading">
                <div class="send">
                    <button class="btn" routerLink="/auth/login">
                        Passer maintenant
                    </button>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="spam">
                        Vous n'avez pas reçu l'e-mail ? Vérifiez votre filtre de spam,<br>ou <span class="another">
                            <button (click)="resend()" [disabled]="timer != 0">
                                {{send}}
                            </button>
                        </span>
                        Après quelques {{timer}} secondes
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <i class="fas fa-exclamation-circle text-danger mt-1"></i>
                    <p class="skip m-0 ms-2">
                        Vous ne pourrez pas interagir avec le site tant que vous n'aurez pas confirmé.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>