section {
  background-image: url(../../../../../assets/images/login-pages/map-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  .content {
    margin-top: 52px;
    padding: 0 120px;
    img {
      height: 60px;
      margin-bottom: 33px;
    }
    .check {
      font: normal normal 600 30px/35px Poppins;
      text-transform: capitalize;
      color: #fd8282;
      margin-bottom: 20px;
    }
    .description {
      font: normal normal normal 16px Poppins;
      color: #8b8b8b;
      margin-bottom: 41px;
    }
    .check-image {
      width: 215px;
      height: 187px;
      margin-bottom: 100px;
    }
    .send {
      width: 100%;
      height: 47px;
      margin-bottom: 16px;
      button {
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #6f77f4 0%, #4751de 100%);
        border-radius: 8px;
        font: normal normal normal 18px Poppins;
        color: #ffffff;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .fa-exclamation-circle {
      font-size: 20px;
    }
    .skip {
      font: normal normal normal 16px/23px Poppins;
      // color: #6770F7;
    }
    .spam {
      // position: fixed;
      // bottom: 0;
      text-align: center;
      font: normal normal normal 14px/23px Poppins;
      color: #8b8b8b;
      margin: 0;
      margin-bottom: 15px;
    }
    .another {
      button {
        all: unset;
        &:disabled {
          color: #8b8b8b;
        }
      }
      cursor: pointer;
      text-align: center;
      font: normal normal 500 16px/23px Poppins;
      color: #6770f7;
    }
  }
}

@media only screen and (max-width: 1199.9px) and (min-width: 768px) {
  section {
    .content {
      padding: 0 210px;
      img {
        width: 172px;
        height: 32px;
      }
      .reset {
        // text-align: center;
        font: normal normal 600 18px Poppins;
        margin-bottom: 6.4px;
      }
      .description {
        // text-align: center;
        font: normal normal normal 16px Poppins;
        margin-bottom: 30px;
      }
      .send {
        margin-top: 46px;
        width: 100%;
        height: 47px;
        button {
          width: 100%;
          height: 100%;
          font: normal normal normal 18px Poppins;
        }
      }
    }
  }
}
@media only screen and (max-width: 767.9px) {
  section {
    .content {
      padding: 0 40px;
      img {
        width: 172px;
        height: 32px;
      }
      .reset {
        font: normal normal 600 18px Poppins;
        color: #fd8282;
        margin-bottom: 6.4px;
      }
      .description {
        font: normal normal normal 14px Poppins;
        margin-bottom: 25px;
      }
      label {
        font: normal normal normal 12px Poppins;
        top: 10px;
        right: -25px;
        padding: 0 10px;
      }
      input {
        font: normal normal normal 14px Poppins;
        width: 100%;
        height: 50px;
        border: 1px solid #dedddd;
        border-radius: 8px;
        &:-webkit-autofill {
          -webkit-box-shadow: 200px 200px 100px white inset;
        }
        &:focus {
          outline: none;
          box-shadow: none;
          border: 2px solid #6770f7;
          -webkit-box-shadow: 200px 200px 100px white inset;
        }
      }
    }
    .login {
      margin-top: 22px;
      button {
        font: normal normal normal 16px Poppins;
      }
    }
    .create {
      margin-top: 14px;
      font: normal normal normal 14px Poppins;
      color: #8b8b8b;
      a {
        font: normal normal normal 14px Poppins;
      }
    }
  }
}
