a.add-button {
  height: 100%;
  background-color: #6f77f4;
  border-radius: 5px;
  padding: 9px 42px;
  font: normal normal normal 14px Poppins;
  color: #fff;
  border: none;
  &:hover {
    background-color: #626aef;
  }
}

.status {
  border-radius: 5px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.student-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.table-header {
  padding: 1rem;
  font-size: 1.5rem;
}
.table-outer-container {
  background-color: #fff;
  overflow-x: auto;
  table.lead-table {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    tr.main-row {
      border-bottom: 1px solid #484848;
      td {
        .dropdown-menu {
          border-radius: 0;
          border: none;
          padding: 0;
          min-width: 242px;
          .menu-header {
            background-color: #e5e7ff;
            padding: 10px 0;
            i {
              font-size: 18px;
              color: #6f77f4;
            }
          }
          .menu-body {
            .filter {
              padding: 10px 16px;
              p {
                margin-bottom: 9px;
                font: normal normal normal 14px Poppins;
                color: #484848;
              }
              select {
                width: 100%;
                border: 1px solid #626aef;
                border-radius: 8px;
                padding: 8px;
              }
            }
            .main-list {
              padding: 0;
              margin: 0;
              cursor: pointer;
              .sec-list {
                font: normal normal normal 16px Poppins;
                color: #969696;
                padding: 10px 0 10px 15px;
                &:hover {
                  background-color: #ededed;
                  color: #000;
                }
              }
              .reset {
                font: normal normal normal 14px Poppins;
                color: #484848;
                padding: 10px 0 10px 15px;
                &:hover {
                  color: #626aef;
                }
              }
            }
          }
        }
        &:hover {
          background-color: #dedddd;
        }
      }
    }
    tr.sec-row {
      border-bottom: 1px solid #dedddd;
    }
  }
}

// Modals
.comments-modal {
  .modal-dialog {
    .modal-content {
      padding: 32px;
      .modal-header {
        padding: 0;
        padding-bottom: 32px;
        h4.modal-title {
          font: normal normal 600 18px Poppins;
          color: #373b79;
          margin: 0;
          span {
            font: normal normal 500 18px Poppins;
          }
        }
        button.close-btn {
          color: #cfd1f8;
          font-size: 22px;
          background-color: #fff;
          border: 0;
          &:hover {
            color: #a0a6ff;
          }
          &:focus {
            box-shadow: none;
          }
        }
      }
      .modal-body {
        padding: 16px 0;
        .add-comment-box,
        .comment-box {
          background-color: #f7f7f7;
          border-radius: 8px;
          padding: 32px;
          margin-bottom: 32px;
          h4.comment-name {
            font: normal normal 500 18px Poppins;
            color: #2b2b2b;
            margin-bottom: 4px;
          }
          p.comment-date {
            font: normal normal normal 16px Poppins;
            color: #484848;
            margin-bottom: 16px;
          }
          .more-comments {
            width: 40px;
            height: 40px;
            background-color: #e5e7ff;
            border-radius: 5px;
            .more-actions {
              border: none;
              background-color: transparent;
            }
            mat-icon {
              color: #a0a6ff;
            }
          }
          form {
            textarea.comment-area {
              height: 120px;
              width: 100%;
              border-radius: 8px;
              border: 1px solid #707070;
              padding: 16px;
              font: normal normal normal 16px Poppins;
              color: #000;
              background-color: transparent;
              margin-bottom: 16px;
              &::placeholder {
                color: #8b8b8b;
              }
            }
            button.submit-btn,
            button.cancel-btn {
              padding: 8px 24px;
              border-radius: 4px;
              font: normal normal 500 16px Poppins;
              border: none;
              &.main-btn {
                background-color: #6f77f4;
                color: #fff;
                &:hover {
                  background-color: #8b92f5;
                }
              }
              &.sec-btn {
                background-color: #ededed;
                color: #969696;
              }
              &:disabled {
                background-color: #ededed;
                color: #969696;
              }
            }
          }
          p.comment {
            font: normal normal normal 16px Arial;
            color: #000;
            margin: 0;
          }
        }
      }
    }
  }
}

.documents-modal,
.addApplication-modal {
  .modal-dialog {
    .modal-content {
      padding: 50px 40px;
      .modal-header {
        padding: 0;
        padding-bottom: 32px;
        border: none;
        h4.modal-title {
          font: normal normal 500 24px Poppins;
          color: #484848;
          margin: 0;
        }
        button.close-btn {
          color: #cfd1f8;
          font-size: 22px;
          background-color: #fff;
          border: 0;
          &:hover {
            color: #a0a6ff;
          }
          &:focus {
            box-shadow: none;
          }
        }
      }
      .modal-body {
        padding: 0;
        table.documents-table {
          border: 1px solid #e5e7ff;
          width: 100%;
          tr.table-row {
            td.documents,
            td.status {
              font: normal normal 600 16px Poppins;
              padding: 14px 0 14px 24px;
              border-right: 1px solid #e5e7ff;
            }
            td.status {
              width: 50%;
            }
            td.documents {
              width: 50%;
            }
          }
          tr.main-row {
            td.main-title {
              background-color: #e5e7ff;
              font: normal normal 600 16px Poppins;
              color: #373b79;
              padding: 17px 0 17px 24px;
            }
            td.sec-title {
              background-color: #e5e7ff;
              font: normal normal normal 16px Poppins;
              color: #373b79;
              padding: 17px 0 17px 32px;
            }
          }
          tr.sec-row {
            td.main-desc {
              font: normal normal normal 16px Poppins;
              color: #484848;
              border-right: 1px solid #e5e7ff;
              border-bottom: 1px solid #e5e7ff;
              padding: 17px 0 17px 24px;
            }
            td.sec-desc {
              padding: 17px;
              border-right: 1px solid #e5e7ff;
              border-bottom: 1px solid #e5e7ff;
              height: 100%;
              .status-desc {
                .status-icon {
                  width: 24px;
                  height: 24px;
                  border-radius: 50%;
                  margin-right: 9px;
                  font-size: 16px;
                  i {
                    margin: 0;
                  }
                }
                .status-name {
                  font: normal normal normal 16px Poppins;
                  color: #f66666;
                }
              }
              .status-link {
                font: normal normal normal 16px Poppins;
                color: #a0a6ff;
                border-bottom: 1px solid #a0a6ff;
                margin: 0;
                &:hover {
                  color: #5861dd;
                }
              }
              .add-btn,
              .success-btn {
                width: 24px;
                height: 24px;
                border-radius: 5px;
                cursor: pointer;
                background-color: #a0a6ff;
                &:hover {
                  background-color: #626aef;
                }
                i {
                  color: #fff;
                  font-size: 16px;
                  margin: 0;
                }
              }
              .success-btn {
                background-color: #626aef;
              }
              p.percentage {
                font: normal normal 600 16px Poppins;
                color: #626aef;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

.info-modal {
  .modal-content {
    padding: 40px;
    .modal-header {
      border: none;
      padding: 0;
      .modal-title {
        font: normal normal 600 24px Poppins;
        color: #484848;
        margin: 0;
      }
      button {
        background-color: transparent;
        border: none;
        i {
          font-size: 24px;
          color: #cfd1f8;
        }
      }
    }
    .modal-body {
      padding: 0;
      .info-section {
        position: relative;
        .main-info {
          position: relative;
          z-index: 3;
          left: 70px;
          top: 70px;
          img.profile-pic {
            width: 180px;
            height: 180px;
            padding: 20px;
            border-radius: 50%;
            background-color: #fff;
          }
          p.student-name {
            margin: 0;
            font: normal normal 600 24px Poppins;
            color: #373b79;
          }
        }
        .sec-info {
          position: relative;
          z-index: 1;
          width: 100%;
          padding: 10px 10px 10px 260px;
          background-color: #e5e7ff;
          border-radius: 5px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          .single-info {
            margin-bottom: 10px;
            .icon-circle {
              width: 24px;
              height: 24px;
              background-color: #000;
              border-radius: 50%;
              margin-right: 16px;
              i {
                color: #fff;
              }
            }
            p {
              margin: 0;
              font: normal normal normal 16px Poppins;
              color: #000;
            }
          }
        }
      }
      .modal-container {
        padding: 0 70px 200px;
        border: 1px solid #707070;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: none;
        h2.title {
          font: normal normal 600 24px Poppins;
          color: #000000;
          padding: 0 5px;
          border-bottom: solid 7px #6f77f4;
          margin: 30px 0;
          display: inline-block;
        }
        .profile-info-section {
          p {
            font: normal normal normal 16px Poppins;
            margin: 0;
            color: #484848;
          }
        }
        .education-status-section {
          .graduation-info {
            padding-left: 20px;
            margin-bottom: 25px;
            .graduated {
              font: normal normal normal 16px Poppins;
              color: #484848;
              margin-right: 32px;
              position: relative;
              &::before {
                content: "";
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #626aef;
                position: absolute;
                left: -20px;
                top: 10px;
              }
            }
            .university {
              font: normal normal normal 16px Poppins;
              color: #626aef;
            }
            .faculty {
              font: normal normal normal 16px Poppins;
              color: #484848;
            }
          }
          .language-info {
            padding-left: 20px;
            .language {
              font: normal normal normal 16px/33px Poppins;
              color: #484848;
              margin-right: 32px;
              position: relative;
              &::before {
                content: "";
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #626aef;
                position: absolute;
                left: -20px;
                top: 10px;
              }
            }
            .language-test {
              font: normal normal normal 16px Poppins;
              color: #626aef;
            }
          }
        }
        .interests-section {
          .interested-badges {
            .field-badge {
              padding: 8px 13px;
              margin: 0 16px 16px 0;
              height: 38px;
              background-color: #f5f5ff;
              border: 1px solid #7179e5;
              border-radius: 5px;
              font: normal normal normal 16px/25px Poppins;
              color: #7179e5;
            }
          }
        }
        .wishlist-section {
          .wishlist-col {
            .programs-container {
              padding: 0 16px;
              margin-bottom: 32px;
              &:nth-child(even) {
                justify-content: flex-start;
              }
              &:nth-child(odd) {
                justify-content: flex-end;
              }
            }
            a {
              width: 330px;
              height: 510px;
              mat-card {
                height: 100%;
                border: 0;
                background: #f7f7f7 0% 0% no-repeat padding-box;
                border-radius: 5px;
                position: relative;
                box-shadow: none;
                &:hover {
                  box-shadow: 0px 3px 10px #ffc9c9;
                  .image-move {
                    transform: scale(1.25);
                  }
                }
                .sale {
                  width: 141px;
                  height: 23px;
                  background: #6f77f4 0% 0% no-repeat padding-box;
                  border-radius: 5px;
                  color: #fff;
                  position: absolute;
                  top: 25px;
                  right: 25px;
                  p {
                    margin: 0;
                    font: normal normal 300 12px/18px Poppins;
                  }
                }
                .image-container {
                  height: 190px;
                  border-radius: 5px;
                  overflow: hidden;
                  margin-bottom: 14px;
                  img {
                    height: 100%;
                    transition: all 500ms ease-in-out;
                  }
                }
                .price {
                  width: 91px;
                  height: 37px;
                  background: linear-gradient(132deg, #ff5151 0%, #6f77f4 100%);
                  border-radius: 5px;
                  position: absolute;
                  top: 158px;
                  right: 25px;
                  p {
                    font: normal normal bold 16px/25px Poppins;
                    margin: 0;
                    color: #fff;
                  }
                }
                .program-title {
                  margin-top: 14px;
                  font: normal normal 600 16px Poppins;
                  text-transform: uppercase;
                  margin: 0;
                }
                .program-name {
                  font: normal normal normal 16px Poppins;
                  text-transform: capitalize;
                  line-height: 1.4;
                }
                .program-description {
                  font: normal normal 300 16px/22px Poppins;
                  color: #3b3b3b;
                }
                .school-name {
                  margin-top: 30px;
                  margin-bottom: 20px;
                  img {
                    width: 44px;
                    height: 22px;
                  }
                  p {
                    margin: 0 0 0 8px;
                    font: normal normal normal 15px Poppins;
                  }
                }
                .info {
                  .first-info {
                    font: normal normal 300 16px/25px Poppins;
                    text-transform: capitalize;
                    color: #8b8b8b;
                    p {
                      margin: 0 2px;
                    }
                  }
                  hr {
                    margin-top: 14px;
                  }
                  .second-info {
                    font: normal normal 300 16px/25px Poppins;
                    text-transform: capitalize;
                    color: #8b8b8b;
                    p {
                      margin: 0 2px;
                    }
                    .wishlist {
                      color: red;
                    }
                  }
                }
              }
            }
          }
        }
        .budget-section {
          p {
            font: normal normal normal 16px Poppins;
            color: #6f77f4;
          }
        }
      }
    }
  }
}

section {
  background-color: #f7f7f7;
  .container-fluid {
    padding: 26px 0 26px 16px;
    h2.section-title {
      font: normal normal 600 24px Poppins;
      color: #373b79;
      margin-bottom: 26px;
    }
    form.form-section {
      padding: 70px 40px 40px;
      background-color: #fff;
      box-shadow: 0px 0px 0px #5a71d01b;
      border-radius: 5px;
      .input-col {
        margin-bottom: 30px;
        label {
          font: normal normal normal 16px Poppins;
          color: #484848;
          margin-bottom: 8px;
        }
        .form-input {
          border: 1px solid #bebebe;
          width: 100%;
          height: 56px;
          border-radius: 5px;
          padding: 16px;
          font: normal normal normal 16px Poppins;
          color: #484848;
          &:hover {
            border: 1px solid #cfd1f8;
          }
          &:focus {
            border: 1px solid #cfd1f8;
          }
        }
        .form-input-error {
          border: 1px solid #ff0000;
          &:hover {
            border: 1px solid #ff0000;
          }
          &:focus {
            border: 1px solid #ff0000;
          }
        }
        span.error-text {
          font: normal normal normal 14px Poppins;
          color: #ff0000;
        }
        // phone input
        .iti {
          width: 100%;
          input[type="tel"] {
            color: #484848;
            padding-left: 50px;
            height: 56px;
            border-radius: 5px;
            border: 1px solid #bebebe;
            font: normal normal normal 16px Poppins;
            &:focus {
              box-shadow: none;
              border: 1px solid #cfd1f8;
            }
            &:hover {
              border: 1px solid #cfd1f8;
            }
          }
        }
        .dropdown-col {
          ::-webkit-scrollbar {
            border-right: 30px white solid;
            width: 6px;
          }
          ::-webkit-scrollbar-track {
            background: #dedddd 0% 0% no-repeat padding-box;
            border-radius: 5px;
          }
          ::-webkit-scrollbar-thumb {
            background: #bebebe 0% 0% no-repeat padding-box;
            border-radius: 5px;
          }
          button {
            height: 56px;
            border-radius: 5px;
            border: 1px solid #bebebe;
            background-color: #fff;
            box-shadow: none;
            font: normal normal normal 16px Poppins;
            color: #bebebe;
            &::after {
              all: unset;
              content: "";
              border: solid #bebebe;
              border-width: 0 4px 4px 0;
              display: inline-block;
              padding: 4px;
              transform: rotateX(0) rotateY(0) rotateZ(45deg);
            }
            &:hover {
              border: 1px solid #cfd1f8;
            }
            &:focus {
              border: 1px solid #cfd1f8;
              &::after {
                border: solid #000;
                border-width: 0 4px 4px 0;
                transform: rotateX(180deg) rotateY(0) rotateZ(45deg);
              }
              box-shadow: none;
            }
          }
          .dropdown-menu {
            padding: 20px 30px;
            width: 600px;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 5px;
            .dropdown-container {
              position: relative;
              input.searchInput {
                padding: 10px 16px;
                width: 100%;
                height: 40px;
                background-color: #e8e8e8;
                border: none;
                border-radius: 5px;
                font: normal normal normal 14px/21px Poppins;
                color: #bebebe;
                &:focus {
                  &::placeholder {
                    color: transparent;
                  }
                  & + i {
                    color: transparent;
                  }
                }
              }
              i.place-holder {
                position: absolute;
                color: #bebebe;
                top: 13px;
                right: 16px;
              }
              hr {
                margin: 10px 0;
              }
              .dropdown-container-overflow {
                max-height: 250px;
                overflow-y: auto;
                option {
                  padding: 6px 0 6px 32px;
                  font: normal normal normal 16px Poppins;
                  margin-right: 18px;
                  border-radius: 5px;
                  img {
                    width: 70px;
                    height: 38px;
                    margin-right: 16px;
                  }
                  &:hover {
                    cursor: pointer;
                    background-color: rgba(229, 231, 255, 1);
                    color: #000;
                  }
                }
              }
            }
          }
          .dropdown-menu.score-menu {
            padding: 0;
            .dropdown-container {
              .dropdown-container-overflow {
                option {
                  padding: 13px 0 13px 40px;
                  margin: 0;
                  &:hover {
                    cursor: pointer;
                    background-color: rgba(229, 231, 255, 0.38);
                  }
                }
              }
            }
          }
        }
      }
      .source-col {
        margin-bottom: 30px;
        label {
          font: normal normal normal 16px Poppins;
          color: #484848;
          margin-bottom: 10px;
        }
        .radio-btn {
          margin-bottom: 20px;
          .mat-radio-outer-circle {
            border: 2px solid #6f77f4;
          }
          .mat-radio-inner-circle {
            background: linear-gradient(142deg, #ff5151 0%, #6f77f4 100%);
          }
          .mat-radio-button.mat-accent.mat-radio-checked
            .mat-radio-outer-circle {
            border: 2px solid #6f77f4;
          }
          .mat-ripple-element {
            background-color: #edeeff;
          }
          .mat-radio-label-content {
            padding-left: 17px;
            font: normal normal normal 16px/33px Poppins;
            color: #000;
          }
          .mat-radio-container:hover .mat-ripple-element {
            background-color: #edeeff;
          }
        }
        .form-input {
          border: 1px solid #bebebe;
          width: 100%;
          height: 56px;
          border-radius: 5px;
          padding: 16px;
          font: normal normal normal 16px Poppins;
          color: #484848;
          &:hover {
            border: 1px solid #cfd1f8;
          }
          &:focus {
            border: 1px solid #cfd1f8;
          }
        }
        .form-input-error {
          border: 1px solid #ff0000;
          &:hover {
            border: 1px solid #ff0000;
          }
          &:focus {
            border: 1px solid #ff0000;
          }
        }
        span.error-text {
          font: normal normal normal 14px Poppins;
          color: #ff0000;
        }
      }
      button.submit-button {
        padding: 16px 80px;
        border-radius: 8px;
        background-color: #848cff;
        font: normal normal 500 18px Poppins;
        color: #fff;
        border: none;
        &:hover {
          background-color: #6f77f4;
        }
        &:disabled {
          background-color: #c5c8f1;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section {
    background-color: #f7f7f7;
    .container-fluid {
      padding: 16px;
      h2.section-title {
        font: normal normal 500 18px Poppins;
        color: #373b79;
        margin-bottom: 16px;
      }
      form.form-section {
        padding: 24px 14px;
        background-color: #fff;
        box-shadow: 0px 0px 0px #5a71d01b;
        border-radius: 5px;
        .input-col {
          margin-bottom: 16px;
          label {
            font: normal normal normal 16px Poppins;
            color: #484848;
            margin-bottom: 8px;
          }
          .form-input {
            border: 1px solid #bebebe;
            width: 100%;
            height: 48px;
            border-radius: 5px;
            padding: 16px;
            font: normal normal normal 16px Poppins;
            color: #484848;
            &:hover {
              border: 1px solid #cfd1f8;
            }
            &:focus {
              border: 1px solid #cfd1f8;
            }
          }
          .form-input-error {
            border: 1px solid #ff0000;
            &:hover {
              border: 1px solid #ff0000;
            }
            &:focus {
              border: 1px solid #ff0000;
            }
          }
          span.error-text {
            font: normal normal normal 14px Poppins;
            color: #ff0000;
          }
          // phone input
          .iti {
            width: 100%;
            input[type="tel"] {
              color: #484848;
              padding-left: 50px;
              height: 56px;
              border-radius: 5px;
              border: 1px solid #bebebe;
              font: normal normal normal 16px Poppins;
              &:focus {
                box-shadow: none;
                border: 1px solid #cfd1f8;
              }
              &:hover {
                border: 1px solid #cfd1f8;
              }
            }
          }
          .dropdown-col {
            ::-webkit-scrollbar {
              border-right: 30px white solid;
              width: 6px;
            }
            ::-webkit-scrollbar-track {
              background: #dedddd 0% 0% no-repeat padding-box;
              border-radius: 5px;
            }
            ::-webkit-scrollbar-thumb {
              background: #bebebe 0% 0% no-repeat padding-box;
              border-radius: 5px;
            }
            button {
              height: 48px;
              border-radius: 5px;
              border: 1px solid #bebebe;
              background-color: #fff;
              box-shadow: none;
              font: normal normal normal 16px Poppins;
              color: #bebebe;
              &::after {
                all: unset;
                content: "";
                border: solid #bebebe;
                border-width: 0 4px 4px 0;
                display: inline-block;
                padding: 4px;
                transform: rotateX(0) rotateY(0) rotateZ(45deg);
              }
              &:hover {
                border: 1px solid #cfd1f8;
              }
              &:focus {
                border: 1px solid #cfd1f8;
                &::after {
                  border: solid #000;
                  border-width: 0 4px 4px 0;
                  transform: rotateX(180deg) rotateY(0) rotateZ(45deg);
                }
                box-shadow: none;
              }
            }
            .dropdown-menu {
              padding: 20px 30px;
              width: 335px;
              box-shadow: 0px 3px 6px #00000029;
              border-radius: 5px;
              .dropdown-container {
                position: relative;
                input.searchInput {
                  padding: 10px 16px;
                  width: 100%;
                  height: 40px;
                  background-color: #e8e8e8;
                  border: none;
                  border-radius: 5px;
                  font: normal normal normal 14px Poppins;
                  color: #bebebe;
                  &:focus {
                    &::placeholder {
                      color: transparent;
                    }
                    & + i {
                      color: transparent;
                    }
                  }
                }
                i.place-holder {
                  position: absolute;
                  color: #bebebe;
                  top: 13px;
                  right: 16px;
                }
                hr {
                  margin: 10px 0;
                }
                .dropdown-container-overflow {
                  max-height: 250px;
                  overflow-y: auto;
                  option {
                    padding: 6px 0;
                    font: normal normal normal 16px Poppins;
                    margin-right: 18px;
                    border-radius: 5px;
                    img {
                      width: 70px;
                      height: 38px;
                      margin-right: 16px;
                    }
                    &:hover {
                      cursor: pointer;
                      background-color: rgba(229, 231, 255, 1);
                      color: #000;
                    }
                  }
                }
              }
            }
            .dropdown-menu.score-menu {
              padding: 0;
              .dropdown-container {
                .dropdown-container-overflow {
                  option {
                    padding: 13px;
                    margin: 0;
                    &:hover {
                      cursor: pointer;
                      background-color: rgba(229, 231, 255, 0.38);
                    }
                  }
                }
              }
            }
          }
        }
        .source-col {
          margin-bottom: 30px;
          label {
            font: normal normal normal 16px Poppins;
            color: #484848;
            margin-bottom: 10px;
          }
          .radio-btn {
            margin-bottom: 0;
            .mat-radio-outer-circle {
              border: 2px solid #6f77f4;
            }
            .mat-radio-inner-circle {
              background: linear-gradient(142deg, #ff5151 0%, #6f77f4 100%);
            }
            .mat-radio-button.mat-accent.mat-radio-checked
              .mat-radio-outer-circle {
              border: 2px solid #6f77f4;
            }
            .mat-ripple-element {
              background-color: #edeeff;
            }
            .mat-radio-label-content {
              padding-left: 17px;
              font: normal normal normal 16px/33px Poppins;
              color: #000;
            }
            .mat-radio-container:hover .mat-ripple-element {
              background-color: #edeeff;
            }
          }
          .form-input {
            border: 1px solid #bebebe;
            width: 100%;
            height: 48px;
            border-radius: 5px;
            padding: 16px;
            font: normal normal normal 16px Poppins;
            color: #484848;
            &:hover {
              border: 1px solid #cfd1f8;
            }
            &:focus {
              border: 1px solid #cfd1f8;
            }
          }
          .form-input-error {
            border: 1px solid #ff0000;
            &:hover {
              border: 1px solid #ff0000;
            }
            &:focus {
              border: 1px solid #ff0000;
            }
          }
          span.error-text {
            font: normal normal normal 14px Poppins;
            color: #ff0000;
          }
        }
        button.submit-button {
          padding: 12px 50px;
          border-radius: 8px;
          background-color: #848cff;
          font: normal normal 500 18px Poppins;
          color: #fff;
          border: none;
          &:hover {
            background-color: #6f77f4;
          }
          &:disabled {
            background-color: #c5c8f1;
          }
        }
      }
    }
  }
}
