<!-- crous -->
<section class="crous">
    <div class="row">
        <div class="col-lg-10 col-md-12 col-12 ps-0">
            <h1>What is les Crous?</h1>
            <p class="mt-lg-4 mt-lg-3 mt-2">Le crous is a regional organisation providing student bursaries, university
                halls of residence, reception
                of foreign students, student cultural activities, and student restaurants.</p>
        </div>
        <div class="col-lg-2 d-lg-block d-md-none d-none pe-0">
            <img src="/assets/images/navigator/in france/crous/crous.svg" alt="crous">
        </div>
    </div>

    <div class="missions">
        <h1>Their main missions are</h1>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 one-col">
                <p>Allocating and maintaining accommodation for students, taking social criteria into account.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-12 one-col">
                <p>Managing individual financial assistance <br>(grants, emergency aids…).</p>
            </div>
            <div class="col-lg-4 col-md-4 col-12 one-col">
                <p>Supporting students with the <br>help of social workers.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-12 one-col">
                <p>Informing students in their everyday life.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-12 one-col">
                <p>Organizing cultural <br>activities.</p>
            </div>
        </div>
    </div>

    <div class="blue-sec">
        <h2>If you’re a student, you are eligible to benefit from their two most important services which are
            accommodation and Crous restaurants.</h2>
    </div>
</section>

<!-- last sections -->
<section class="last-sections">
    <h1>Residence CROUS</h1>
    <p>Seeing that Crous student residences are the <span>least expensive option</span> in terms of accommodation, the
        demand is very
        high, and <span>you are not always guaranteed a spot after submitting your application.</span> It is highly
        recommended that
        you have a plan B.</p>
</section>

<!-- last sections -->
<section class="last-sections">
    <h1>Restaurant Universitaire:</h1>
    <p>Crous restaurants can <span>usually be found on the University campus</span> and can you get meals for as cheap
        as 3€, all
        weekdays from 11:30am to 2:00pm. <span>You can pay using your Student Izly card</span> after creating an account
        on Izly.com.
    </p>
</section>