h1,
h2,
h3,
h3,
h4,
h5,
p,
span {
  margin-bottom: 0;
  line-height: normal;
  color: var(--primary-black, #121212);
  font-family: "Poppins";
}

.first-section {
  h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .card {
    border: none;
    border-radius: 5px;
    background: var(--primary-white, #fdfdfd);
    // box-shadow: 0px 0px 25px 0px rgba(119, 119, 119, 0.13);
    padding: 16px;
    cursor: pointer;
    box-shadow: 2px 4px 10px 0px #72717121;


    .img-prg {
      border-radius: var(--5, 5px);
      border: 1px solid var(--light-purple, #fbe8ea);
      background-color: white;
      display: flex;
      align-items: center;
      min-height: 138px;
      padding: 8px;
    }

    .card-body {
      padding: 0 0 0 9px;

      .card-title {
        font-size: 14px;
        font-weight: 500;
      }

      .card-text {
        font-size: 14px;
        font-weight: 600 !important;
        margin-top: 8px;
      }

      .program-info {
        margin-top: 8px;

        p {
          font-size: 11px;
          font-weight: 500;
          margin-left: 4px;
        }
      }

      .last-step {
        margin-top: 16px;

        p {
          color: #9f8729;
          font-size: 12px;
          font-weight: 600;
          padding: 4px 8px;
          border-radius: 10px;
          background: #fcf5d9;
        }

        img {
          cursor: pointer;
        }
      }
    }
  }
}

.programs-section {
  margin-top: 16px;

  .container-fluid {
    padding: 0;

    h1 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 24px;
    }

    .noProgramsFound {
      h2 {
        font-size: 20px;
        font-weight: 600;
        color: #121212;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        color: var(--content-grey, #444);
        margin-top: 16px;
      }

      button {
        padding: 8px 32px;
        border-radius: 8px;
        background: var(--primary-purple, #16294f);
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: white;
        margin-bottom: 24px;
        margin-top: 16px;
        border: none;
      }
    }

    .row {
      // margin: 0px 35px;

      .card {
        border-radius: 10px;
        // background: var(--primary-white, #FDFDFD);
        box-shadow: 0px 0px 25px 0px rgba(119, 119, 119, 0.13);
        cursor: pointer;

        .main-img {
          padding: 16px 16px 0px 16px;
          position: relative;

          img {
            border-radius: 10px;
          }
        }

        .fav-ico {
          position: absolute;
          top: 23px;
          right: 23px;

          i,
          img {
            font-size: 22px;
            display: inline-block;
            padding: 0px;
            border: none;
            border-radius: 5px;
            // text-decoration-color: #16294f;
            // // color: #FFF;
            // text-shadow: -1px 0 #16294f, 0 1px #16294f, 1px 0 #16294f,
            //   0 -1px #16294f;
            // // background-color: #FFF;
          }

          .white-wishlist {
            color: #fff;
          }

          .wishlist {
            color: red;
            text-shadow: none;
          }
        }

        .prog-fee {
          position: absolute;
          border-radius: 5px;
          background: var(--primary-white, #fdfdfd);
          padding: 4px;
          right: 24px;
          top: 136px;

          p {
            font-size: 16px;
            font-weight: 600;
          }
        }

        .logo-img {
          position: absolute;
          border-radius: 5px;
          border: 1px solid var(--primary-black, #121212);
          background: var(--primary-white, #fdfdfd);
          width: 128px;
          height: 60px;
          justify-content: center;
          display: flex;
          align-items: center;
          left: 24px;
          top: 130px;

          img {
            padding: 12px;
          }
        }

        .card-body {
          margin-top: 32px;
          padding: 0px 16px 16px 16px;

          .category {
            border-radius: 100px;
            background: var(--shade, #fbe8ea);
            padding: 4px 8px;
            font-size: 11px;
            font-weight: 400;
            display: flex;
            align-items: center;
          }

          .pfee {
            border-radius: 54px;
            background: #fdd5d5;
            font-size: 14px;
            font-weight: 500;
            padding: 4px 8px;
          }

          .progname {
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            padding-top: 8px;
            padding-bottom: 8px;
          }

          .schoolname {
            font-size: 14px;
            font-weight: 500;
          }

          .last-data {
            padding-top: 8px;

            p {
              font-size: 12px;
              font-weight: 500;
            }
          }
        }

        &:hover {
          border-radius: 10px;
          background: var(--primary-white, #fdfdfd);
          box-shadow: 4px 4px 30px 0px rgba(148, 148, 148, 0.5);
        }
      }

      ngb-pagination {
        margin-top: 40px;
        margin-bottom: 40px;

        .page-item.active .page-link {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #16294f 0% 0% no-repeat padding-box;
          border-color: #16294f;
          color: #fff;
        }

        .page-item .page-link {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 10px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #fff;
          font: normal normal 600 18px/27px Poppins;
          color: #bebebe;
          border: 1px solid #bebebe;
        }
      }
    }
  }
}

.noprograms {
  p {
    font-size: 20px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .add-program {
    padding: 8px 32px;
    border-radius: 8px;
    background: var(--primary-purple, #16294f);
    color: var(--primary-white, #fdfdfd);
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-right: 8px;
  }

  .contact-us {
    border-radius: 8px;
    border: 1px solid var(--primary-purple, #16294f);
    padding: 8px 32px;
    color: var(--primary-purple, #16294f);
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
    background-color: transparent;
  }
}

.modelContent {
  border-radius: 10px;
  background: #fff;
  padding: 24px;

  .contacts {
    p {
      font-weight: 400;
      font-size: 16px;

      span {
        font-weight: 600;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .first-section {
    h1 {
      font-size: 16px;
      margin-bottom: 24px;
    }

    .card {
      padding: 12px;

      .img-prg {
        min-height: 124px;
      }

      .card-body {
        .card-title {
          font-size: 12px;
        }

        .card-text {
          font-size: 12px;
          margin-top: 8px;
        }

        .program-info {
          margin-top: 8px;

          p {
            font-size: 10px;
            margin-left: 4px;
          }

          img {
            width: 12px;
            height: 12px;
          }
        }

        .last-step {
          margin-top: 8px;

          p {
            color: #9f8729;
            font-size: 12px;
            padding: 4px 8px;
            border-radius: 10px;
            background: #fcf5d9;
          }
        }
      }
    }
  }

  .programs-section {
    .container-fluid {
      h1 {
        font-size: 16px;
        margin-bottom: 24px;
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 767.9px) {
  .first-section {
    h1 {
      font-size: 14px;
      margin-bottom: 16px;
    }

    .card {
      padding: 12px;

      .img-prg {
        min-height: 124px;
      }

      .card-body {
        .card-title {
          font-size: 12px;
        }

        .card-text {
          font-size: 12px;
          margin-top: 8px;
        }

        .program-info {
          margin-top: 8px;

          p {
            font-size: 10px;
            margin-left: 4px;
          }

          img {
            width: 12px;
            height: 12px;
          }
        }

        .last-step {
          margin-top: 8px;

          p {
            color: #9f8729;
            font-size: 12px;
            padding: 4px 8px;
            border-radius: 10px;
            background: #fcf5d9;
          }
        }
      }
    }
  }

  .noprograms {
    margin-bottom: 1.5rem;
  }

  .programs-section {
    margin-top: 0px;

    .container-fluid {
      padding: 0;

      h1 {
        font-size: 14px;
        margin-bottom: 16px;
      }
    }
  }
}

.card_subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}