<!-- tls -->
<section class="tls">
    <div class="row mt-0">
        <h1 class="p-0">TLS/VFS</h1>
        <div class="col-lg-9 col-md-8 col-12 ps-0">
            <div class="vfs">
                <h2 class="my-lg-3 my-md-2 my-2">WHAT IS VFS OR TLS ?</h2>
                <ul>
                    <li>
                        <p>Once you have completed the France Visa application, the next step is to <span>schedule an
                                appointment
                                through TLS - VFS.</span></p>
                    </li>
                    <li class="mt-lg-3 mt-md-2 mt-1">
                        <p>TLS - VFS operates on behalf of the French embassy to maintain the quality of the visa
                            process and
                            <span>provide assistance to students in obtaining their visas.</span> They <span>facilitate
                                the
                                appointment booking process</span>
                            and support students throughout the visa application journey.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 d-lg-block d-md-block d-none pe-0">
            <img class="w-100" src="../../../../../../assets/images/navigator/visa/france visa/employee.svg"
                alt="employee">
        </div>
    </div>


    <div class="back-blue mt-lg-4 mt-md-3 mt-2">
        <a href="https://www.vfsglobal.com/en/individuals/index.html"
            target="_blank">https://www.vfsglobal.com/en/individuals/index.html</a>
    </div>
    <div class="back-blue mt-lg-3 mt-md-2 mt-2">
        <a href="https://visas-fr.tlscontact.com/" target="_blank">https://visas-fr.tlscontact.com/</a>
    </div>

    <div class="row">
        <div class="col-lg-9 col-md-8 col-12 ps-0">
            <h1>COLLECT PASSPORT ?</h1>
            <ul>
                <li class="mt-0">
                    <p>You will receive a visa that will be stamped to your passport after your <br>application has been
                        reviewed</p>
                </li>
                <li>
                    <p>Your passport can be mailed to your home or the nearest VFS or TLS center <br>within 2-3 weeks.</p>
                </li>
                <li>
                    <p>You will be informed of each step by VFS through text messages.</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-4 d-lg-block d-md-block d-none pe-0">
            <img class="w-100" src="../../../../../../assets/images/navigator/visa/france visa/travel-passport 1.svg"
                alt="travel-passport">
        </div>
    </div>
</section>