h1 {
    font-weight: 600;
    font-size: 24px;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;

    span {
        font-weight: 600;
    }
}


.tls {
    .vfs {
        h2 {
            font-weight: 600;
        }
    }

    .back-blue {
        margin-top: 40px;
        background: #FBF7EA;
        border-radius: 5px;
        padding: 24px;

        a {
            font-size: 16px;
            justify-content: center;
            display: flex;
            color: #16294f;
            font-weight: 600;
        }
    }


    .row {
        margin-top: 40px;

        h1 {
            font-weight: 600;
            font-size: 20px;
        }

        ul {
            margin-top: 16px;

            li {
                margin-top: 8px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
        line-height: 21px;
    }


    .tls {
        .vfs {
            h2 {
                font-weight: 600;
            }
        }

        .back-blue {
            margin-top: 32px;
            border-radius: 5px;
            padding: 8px;

            a {
                font-size: 16px;
            }
        }


        .row {
            margin-top: 32px;

            ul {
                margin-top: 8px;

                li {
                    margin-top: 8px;
                }
            }
        }
    }
}

@media only screen and (min-width: 0) and (max-width: 767.9px) {
    h1 {
        font-size: 14px;
    }

    h2 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
        line-height: 18px;
    }


    .tls {
        .col-lg-8 {
            padding: 0;
        }

        .vfs {
            h2 {
                font-weight: 600;
            }
        }

        .back-blue {
            margin-top: 24px;
            border-radius: 5px;
            padding: 4px;

            a {
                font-size: 12px;
            }
        }


        .row {
            margin-top: 24px;

            ul {
                margin-top: 8px;

                li {
                    margin-top: 4px;
                }
            }
        }
    }
}