<div class="section-container">
    <div class="custom-row">
        <div class="custom-col">
            <div class="img-holder">
                <img
src="" alt="">
            </div>
            <div class="text">
                <div>
                    <p class="main">Jarvis Pepperspray</p>
                    <span>Web Designer</span>
                </div>
                <div>
                    <span>450 Center Avenue Fresno
                        California 93710
                    </span>
                    <span>Ph: (+1)559-434-3662</span>
                </div>
                <div class="social">
                    <a href=""><img
src="/assets/images/facebook-color.png" alt=""></a>
                    <a href=""><img
src="/assets/images/twitter-color.png" alt=""></a>
                    <a href=""><img
src="/assets/images/instagram-color.png" alt=""></a>
                </div>
            </div>
            <div class="more-action">
                <div class="btn-holder">
                    <button>Edit</button>
                    <button>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>