<div class="container-fluid services_con">
  <h3>Ce que nous <span class="titl_color">apportons</span></h3>
</div>
<section class="about_con">
  <div class="container-fluid">
    <div class="container">
      <h3>Rendez-vous orientation : Notre premier contact</h3>
      <p>
        Après nous avoir contactés, un premier rendez-vous sera organisé afin de réaliser un <strong> profilage
          global</strong> pour mieux
        vous connaître. Lors de cette rencontre, nous évaluerons vos compétences, retracerons votre parcours,
        comprendrons
        vos aspirations, examinerons <strong> vos projets d’études</strong>, ainsi que votre budget. Cette
        <strong>analyse
          complète</strong> nous permettra
        de vous proposer <strong> la formation la plus adaptée</strong> à vos besoins et objectifs.
        <br><br>
        Vous pouvez désormais nous contacter directement via la création d’un compte <a (click)="registerPage()" style="cursor: pointer;"> <strong class="ici"> ICI</strong> </a>
        sur
        notre plateforme, nous
        joindre via nos réseaux sociaux Facebook, Instagram ou Vous pouvez également nous appeler directement au numéro
        de
        téléphone : <strong>+216 28 395 065</strong>, pour une communication plus rapprochée, ou en vous rendant sur
        place
        dans notre local
        aux berges du lac.
        <br><br>
        En choisissant <strong> Cours Elysée</strong>, vous bénéficiez de l'expertise de professionnels qui ont
        accompagné
        plus de <strong> 830
          étudiants </strong> dans leur parcours d'études en France !
      </p>
    </div>
  </div>
  <div class="container-fluid bg_1">
    <div class="container">
      <h3>Procédures école privée :</h3>
      <p>
        Après l’étape de profilage, qui constitue la première phase de notre accompagnement, nous vous proposerons la
        meilleure école et formation adaptée à vos prérequis. Grâce à <strong> notre réseau de partenaires</strong> et à
        <strong>nos conseillers professionnels</strong>, nous serons en mesure de vous orienter vers les options les
        plus adéquates pour <strong> atteindre vos objectifs</strong> et maximiser vos chances de réussite.
        <br><br>
        Cette étape cruciale de notre démarche consiste à aider l’étudiant à choisir la formation idéale parmi
        <strong>nos nombreux partenaires</strong> dans <strong>plusieurs domaines </strong> qui sont disponibles pour
        étudier en France :
        <br><br>
        Parmi les parcours possibles, on vous propose des études en Management , Finances , Marketing, Commerce,Cyber
        security, Développement Web Architecture etc…
        <br><br>
        Vous n'avez qu'à sélectionner l'école qui vous correspond et dans laquelle vous désirez poursuivre vos études
        parmi les nombreuses options proposées par <strong>Cours Elysée</strong>, afin de bénéficier d'une exonération
        et d'étudier en France.

      </p>
    </div>
  </div>

  <div class="container p80">
    <h3>Procédures établissement étatique :</h3>
    <p>Pour poursuivre vos études en France dans des établissements publics d'enseignement supérieur, il est essentiel
      de vérifier si votre profil répond <strong> aux critères</strong> et <strong>aux prérequis</strong> minimums
      requis pour être accepté dans l'une de ces écoles publiques.
      <br><br>
      Nous allons vous proposer une sélection de <strong> formations adaptées à vos besoins</strong>, avec un large
      choix de cursus et disciplines disponibles, tels que le commerce, l'informatique, et bien d'autres.
      <br><br>
      Grâce à <strong> l'expertise</strong>, aux <strong>connaissances</strong> et à <strong>l'expérience</strong> de
      notre équipe, nous vous garantissons <strong>une forte probabilité d'acceptation </strong> dans les
      établissements
      publics, tout en tenant compte de vos attentes et des prérequis de l'école.
    </p>
  </div>

  <div class="container-fluid bg_2">
    <div class="container">
      <h3>Pastel et entretien Campus France :</h3>
      <p>
        Que vous postuliez pour une école privée ou publique, <strong>Cours Elysée</strong> alimentera votre compte
        <strong>Pastel</strong> avec des lettres de motivation et un CV <strong>parfaitement adaptés</strong> à votre
        profil.
        <br><br>
        Notre service inclut <strong> plusieurs séances </strong> de coaching en <strong>tête-à-tête
          (one-to-one)</strong>, vous permettant de vous entraîner et de vous préparer efficacement pour cet entretien
        décisif. Chaque séance est conçue pour vous aider à mieux comprendre les attentes des examinateurs, affiner vos
        arguments et<strong> améliorer</strong> votre <strong>communication verbale et non verbale.</strong>
      </p>
    </div>
  </div>

  <div class="container p80">
    <h3>Procédures Visa :</h3>
    <p>À la suite de l'entretien, un nouveau profilage sera effectué pour évaluer vos <strong> ressources
        financières</strong> et votre <strong>type d'hébergement</strong>, afin de constituer et présenter le
      <strong>meilleur dossier</strong> possible au centre TLS.
    </p>
  </div>

  <div class="container-fluid bg_3">
    <div class="container">
      <h3>Procédures Post Visa :</h3>
      <p>Étant donné que notre équipe est présente à la fois en Tunisie et en France, nous vous garantissons un
        accompagnement dès le premier jour de votre <strong>arrivée en France</strong> pour effectuer les <strong>
          démarches administratives nécessaires</strong>, telles que la validation de votre visa, la création d'un
        compte
        bancaire, la souscription à une assurance étrangère (Ameli)</p>
    </div>
  </div>
</section>
<br><br><br>
<div class="helpingYou p-4">
  <div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4 text-uppercase text-center">Nos écoles</h2>
            <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide><img
                        src="../../../../../assets/images/home/Sans-titre-2022-12-22T205842.155-300x300.png" alt=""
                        width="300px" height="300px"></ng-template>

                <ng-template carouselSlide><img src="../../../../../assets/images/home/esg-logo-1-300x300.png"
                        alt="esgLogo" width="300px" height="300px"></ng-template>
                <ng-template carouselSlide><img src="../../../../../assets/images/home/Sans-titre-1-300x300.png"
                        alt="" width="300px" height="300px"></ng-template>
                <ng-template carouselSlide><img
                        src="../../../../../assets/images/home/Sans-titre-2022-12-22T210158.216-300x300.png" alt=""
                        width="300px" height="300px"></ng-template>
                <ng-template carouselSlide><img
                        src="../../../../../assets/images/home/Sans-titre-2022-12-22T210008.248-300x300.png" alt=""
                        width="300px" height="300px"></ng-template>
                <ng-template carouselSlide><img
                        src="../../../../../assets/images/home/Sans-titre-2022-12-22T205916.862-300x300.png" alt=""
                        width="300px" height="300px"></ng-template>
               
                <ng-template carouselSlide><img
                        src="../../../../../assets/images/home/Sans-titre-2022-12-22T205743.191-300x300.png" alt=""
                        width="300px" height="300px"></ng-template>
                <ng-template carouselSlide><img
                        src="../../../../../assets/images/home/Sans-titre-2022-12-22T205726.013-300x300.png" alt=""
                        width="300px" height="300px"></ng-template>
                <ng-template carouselSlide><img
                        src="../../../../../assets/images/home/Sans-titre-2022-12-22T205627.531-300x300.png" alt=""
                        width="300px" height="300px"></ng-template>
                
                <ng-template carouselSlide><img
                        src="../../../../../assets/images/home/Sans-titre-2022-12-22T211035.239-300x300.png" alt=""
                        width="300px" height="300px"></ng-template>
                        <ng-template carouselSlide><img
                            src="../../../../../assets/images/home/Sans-titre-2022-12-22T205541.463-300x300.png" alt=""
                            width="300px" height="300px"></ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
</div>