section.documents-section {
  padding: 50px;
  h1.title {
    font: normal normal 600 24px/28px Poppins;
    color: #000;
    margin-bottom: 60px;
  }
  .documents-col {
    .documents {
      margin-bottom: 60px;
      a {
        width: 180px;
        height: 207px;
        background-color: #e8eafc;
        border-radius: 8px;
        padding: 40px 35px 0;
        text-align: center;
        border: 2px solid #e8eafc;
        img {
          width: 66px;
          height: 53px;
          margin-bottom: 10px;
        }
        .files {
          font: normal normal normal 16px/24px Poppins;
          color: #707070;
          margin-bottom: 10px;
        }
        .category {
          font: normal normal 500 18px/24px Poppins;
          color: #373b79;
          text-transform: capitalize;
        }
        &:hover {
          background-color: #e8eafc;
          border: 2px solid #6f77f4;
        }
      }
    }
  }
}

@media (max-width: 991.9px) and (min-width: 768px) {
  section.documents-section {
    padding: 32px 0;
    h1.title {
      display: none;
    }
    .documents-col {
      .documents {
        margin-bottom: 60px;
        a {
          width: 180px;
          height: 207px;
          background-color: #e8eafc;
          border-radius: 8px;
          padding: 40px 35px 0;
          text-align: center;
          border: 2px solid #e8eafc;
          img {
            width: 66px;
            height: 53px;
            margin-bottom: 10px;
          }
          .files {
            font: normal normal normal 16px/24px Poppins;
            color: #707070;
            margin-bottom: 10px;
          }
          .category {
            font: normal normal 500 18px/24px Poppins;
            color: #373b79;
            text-transform: capitalize;
          }
          &:hover {
            background-color: #e8eafc;
            border: 2px solid #6f77f4;
          }
        }
      }
    }
  }
}

@media (max-width: 767.9px) {
  section.documents-section {
    padding: 32px 0;
    h1.title {
      display: none;
    }
    .documents-col {
      .documents {
        margin-bottom: 32px;
        a {
          width: 155px;
          height: 147px;
          background-color: #e8eafc;
          border-radius: 8px;
          padding: 23px 32px 0;
          text-align: center;
          border: 2px solid #e8eafc;
          img {
            width: 53px;
            height: 43px;
            margin-bottom: 6px;
          }
          .files {
            font: normal normal normal 14px/24px Poppins;
            color: #707070;
            margin-bottom: 2px;
          }
          .category {
            font: normal normal 500 16px/19px Poppins;
            color: #373b79;
            text-transform: capitalize;
          }
          &:hover {
            background-color: #e8eafc;
            border: 2px solid #6f77f4;
          }
        }
      }
    }
  }
}
