<!-- first section -->
<section>
    <div class="row">
        <div class="col-lg-10 col-md-12 col-12 ps-0">
            <h1>What is the housing certificate?</h1>
            <p class="main-section-title mt-lg-3 mt-md-3 mt-2">A housing certificate is <span>mandatory</span> when applying for a
                visa so that the concerned entity guarantees that you have a place to live during your stay in the
                country.</p>
        </div>
        <div class="col-lg-2 col-md-2 d-lg-block d-md-none d-none pe-0">
            <img class="w-100" src="/assets/images/navigator/housing/housing-certificate/certificate.svg" alt="certificate">
        </div>
    </div>
</section>

<!-- second section -->
<section class="second-section">
    <h1 class="text-center">This certificate can be several things</h1>
    <div class="row" style="padding: 5px;">
        <div class="col-lg-6 col-md-6 col-12 one-col">
            <p class="main-section-title text-center">Accommodation certificate <span>(Attestation d’accueil)</span><br>
                signed by you the person hosting you, and the city<br> council.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-12 one-col">
            <p class="main-section-title text-center">Accommodation certificate <span>(Attestation<br> d’hebergement)</span>
                if a family member is hosting you.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-12 one-col">
            <p class="main-section-title text-center">Tenancy agreement.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-12 one-col">
            <p class="main-section-title text-center">A hotel reservation</p>
        </div>
    </div>
    <div class="text-center">
        <a class="action-btn"
            href="../../../../../../assets/images/navigator/housing/housing-certificate/contrat-bail-meuble.pdf"
            download="pdf">Download Contract</a>
    </div><br>
</section>