<!-- appartment-section -->
<section class="appartent">
    <h1>What is the appartement inventory?</h1>
    <!-- <h2 class="mt-lg-3 mt-md-3 mt-2">The appartement inventory</h2> -->
    <div class="row mt-lg-2">
        <div class="col-lg-8 col-md-12 col-12 px-0 mt-lg-2 mt-md-1 mt-1">
            <p>An appartment inventory is a document <span>describing the condition of the property and its equipment.</span> It must
                be drawn up when the tenant moves in, and attached to the rental contract. The equipment mentioned in
                the lease <span>must appear in the inventory.This is referred to as the entry inventory of fixtures.</span></p>
            <p class="mt-lg-2">A new appartment inventory must also be drawn up when the tenant leaves. This is known as
                <span>the exit inventory of fixtures.</span></p>
            <div class="mt-lg-4 mt-4 pt-lg-3 pt-md-2">
                <a class="action-btn" href="https://www.legalplace.fr/etat-des-lieux/" target="blank">Check website</a>
            </div><br>
        </div>
        <div class="col-lg-4 d-lg-block d-md-none d-none pe-0">
            <img src="/assets/images/navigator/housing/appartment-inventor/real-estate.svg" alt="real-estate">
        </div>
    </div>
</section>

<!-- accordion -->
<section class="accordion">
    <h5>FAQS</h5>
    <div class="row">
        <div class="col-lg-12 px-0">
            <div class="accordion accordion-flush" id="accordionFlushExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingfour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapsefour" aria-expanded="false"
                            aria-controls="flush-collapsefour" (click)="showIconBtn4()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 86%" class="m-0">
                                    Why is apartment inventory important?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon4">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon4">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="describtion">
                                Apartment inventory is important because it provides a clear record of the condition of
                                the rental property at the beginning of a tenancy. This can help prevent disputes
                                between landlords and tenants at the end of the tenancy, particularly regarding the
                                return of the security deposit.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                            (click)="showIconBtn()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 86%" class="m-0">
                                    Who is responsible for creating the apartment inventory?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="describtion">
                                In France, the landlord is typically responsible for creating the apartment inventory.
                                However, tenants are usually given the opportunity to review and sign the inventory to
                                confirm that they agree with its contents.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingtwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapsetwo" aria-expanded="false" aria-controls="flush-collapsetwo"
                            (click)="showIconBtn2()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 86%" class="m-0">
                                    What should be included in the apartment inventory?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon2">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon2">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapsetwo" class="accordion-collapse collapse" aria-labelledby="flush-headingtwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="describtion">
                                The apartment inventory should include all items in the rental property, such as
                                furniture, appliances, and fixtures, along with their condition and any existing damage
                                or wear and tear. It should also include the meter readings for gas, electricity, and
                                water.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingthree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapsethree" aria-expanded="false"
                            aria-controls="flush-collapsethree" (click)="showIconBtn3()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 86%" class="m-0">
                                    When should the apartment inventory be created?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon3">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon3">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapsethree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingthree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="describtion">
                                <p>
                                    The apartment inventory should be created at the beginning of the tenancy, ideally
                                    before the tenant moves in. Both the landlord and the tenant should sign and date
                                    the inventory to confirm that they agree with its contents.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingsix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix"
                            (click)="showIconBtn6()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 86%" class="m-0">
                                    What happens if there are disagreements about the apartment inventory?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon6">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon6">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="describtion">
                                <p>
                                    If there are disagreements about the apartment inventory, both the landlord and the
                                    tenant should try to resolve the issue through discussion and negotiation. If this
                                    is not possible, either party may need to seek legal advice or mediation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>