<section>
  <div class="container-fluid">
    <div class="row justify-content-center pe-3">
      <h2 class="section-title">
        {{ "EMPDASHBOARD.addEmployee" | translate }}
      </h2>
      <section class="table-section">
        <div class="outter-container">
          <div class="inner-container row">
            {{ "EMPDASHBOARD.employeeInformation" | translate }}
            <h2 class="sub-title"></h2>
            <form
              class="row"
              [formGroup]="empForm"
              (ngSubmit)="submitAdd(empForm)"
            >
              <div class="col-6 form-col">
                <label for="first-name" class="form-label">
                  {{ "EMPDASHBOARD.name" | translate }}
                  <span class="important">*</span>
                </label>
                <input
                  type="text"
                  id="first-name"
                  class="form-input"
                  placeholder="Ex. John"
                  formControlName="name"
                  [ngClass]="{
                    'missing-input':
                      !empForm.controls['name'].valid &&
                      empForm.controls['name'].touched
                  }"
                />
                <i class="fas fa-edit edit-icon"></i>
                <span
                  class="missing-error"
                  *ngIf="
                    !empForm.controls['name'].valid &&
                    empForm.controls['name'].touched
                  "
                >
                  {{ "EMPDASHBOARD.nameIsRequired" | translate }}
                </span>
              </div>

              <div class="col-6 form-col">
                <label for="email" class="form-label">
                  {{ "EMPDASHBOARD.email" | translate }}
                  <span class="important">*</span>
                </label>
                <input
                  type="email"
                  id="email"
                  class="form-input"
                  placeholder="Ex. johnsmith@company.com"
                  formControlName="email"
                  [ngClass]="{
                    'missing-input':
                      !empForm.controls['email'].valid &&
                      empForm.controls['email'].touched
                  }"
                />
                <i class="fas fa-edit edit-icon"></i>
                <span
                  class="missing-error"
                  *ngIf="
                    !empForm.controls['email'].valid &&
                    empForm.controls['email'].touched
                  "
                >
                  {{ "EMPDASHBOARD.emailIsRequired" | translate }}
                </span>
              </div>

              <div class="submit-col">
                <button
                  type="submit"
                  class="submit-btn"
                  [disabled]="!empForm.valid"
                >
                  {{ "EMPDASHBOARD.save" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
