<!-- cart qus -->
<section class="cart">
    <h2>La carte Vitale</h2>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12 one-col">
            <h1>Why?</h1>
            <p>For partial reimbursement of your health expense (visit to the doctor, medical check-ups, etc.).</p>
        </div>
        <div class="col-lg-6 col-md-6 col-12 one-col">
            <h1>When?</h1>
            <p>As soon as possible after your <br>academic registration in your higher education institution.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-12 one-col">
            <h1>How?</h1>
            <p>Go to <a href="https://etudiant-etranger.ameli.fr" target="_blank">https://etudiant-etranger.ameli.fr</a><br>
                (available in French, English and Spanish).</p>
        </div>
        <div class="col-lg-6 col-md-6 col-12 one-col">
            <h1>How much?</h1>
            <p>It’s free of charge. French and international<br> students don’t pay to register to French<br> social security.
            </p>
        </div>
    </div>
</section>

<!-- visa -->
<section class="visa">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-12 ps-0">
            <ul>
                <li>
                    <p>Start your procedures on the <a href="https://etudiant-etranger.ameli.fr/#/"
                            target="_blank">website of the health insurance dedicated to foreign students</a> as soon as
                        you are registered in your establishment.</p>
                </li>
                <li>
                    <p>If you came with a VLS-TS, you complete your file as soon as you have <a
                            href="https://www.campusfrance.org/fr/comment-valider-votre-visa-long-sejour-a-votre-arrivee-en-france"
                            target="_blank">validated your residence permit</a> and opened a <a
                            href="https://www.campusfrance.org/fr/organiser-arrivee-France-check-list"
                            target="_blank">bank account in France .</a></p>
                </li>
                <li>
                    <p>If you came with a VLS-TS, you created your personal account on <a
                            href="https://www.ameli.fr/paris" target="_blank">ameli.fr .</a></p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-12 col-12 pe-0 d-flex align-items-center justify-content-center">
            <img src="../../../../../../assets/images/navigator/in france/social security/image 317.svg" alt="vitale"
            style="width: 275px;">
        </div>
    </div>
</section>