<!-- <div class="section-container">
  <h2>Personal Info</h2>
  <form [formGroup]="settingForm">
    <div class="custom-col">
      <div class="info">
        <div class="custom-row">
          <p class="title">Student name</p>
          <div class="custom-col">
            <p>
              Telephone :
              <a href="https://api.whatsapp.com/send?phone={{ phone }}"
                ><img
                  style="width: 15px; margin-right: 7px"
                  src="../../../../../../assets/images/whatsapp.png"
                  alt=""
                /><span>{{ phone }}</span></a
              >
            </p>

            <p>
              Nationality : <span>{{ nationality }} </span>
            </p>
            <p>
              Country : <span>{{ nationality }} </span>
            </p>
          </div>
          <div class="custom-col"></div>
        </div>

        <div class="custom-row">
          <p class="title">Academic Info</p>
          <div class="custom-col">
            <p>
              Country : <span>{{ nationality }}</span>
            </p>
            <p>
              City : <span>{{ city }}</span>
            </p>
          </div>
          <div class="custom-col"></div>
        </div>

        <div class="custom-row">
          <p class="title">Language skills</p>
          <div class="custom-col">
            <p>
              English test proof : <span>{{ languageTest }}</span>
            </p>
          </div>
          <div class="custom-col"></div>
        </div>
      </div>

      <div class="docs">
        <p class="title">Student documents</p>
        <div class="control-form file">
          <a href="{{ CV }}" preview>
            <img
              class="icon"
              src="../../../../../assets/images/pdf-y.svg"
              alt=""
            />
            <label for="cv" class="o186d">
              CV
              <img
                class="icon"
                src="../../../../../assets/images/download.png"
                alt=""
              />
            </label>
          </a>
        </div>

        <div class="control-form file">
          <a href="{{ ML }}" preview>
            <img
              class="icon"
              src="../../../../../assets/images/pdf-r.svg"
              alt=""
            />
            <label for="ml" class="o186d">
              Motivation Letter
              <img
                class="icon"
                src="../../../../../assets/images/download.png"
                alt=""
              />
            </label>
          </a>
        </div>

        <div class="control-form file">
          <a href="{{ Pass }}" preview>
            <img
              class="icon"
              src="../../../../../assets/images/pdf-pp.svg"
              alt=""
            />
            <label for="pass" class="o186d">
              Passport
              <img
                class="icon"
                src="../../../../../assets/images/download.png"
                alt=""
              />
            </label>
          </a>
        </div>

        <div class="control-form file">
          <a href="{{ Trans }}" preview>
            <img
              class="icon"
              src="../../../../../assets/images/pdf-y.svg"
              alt=""
            />
            <label class="o186d">
              degree transcript
              <img
                class="icon"
                src="../../../../../assets/images/download.png"
                alt=""
              />
            </label>
          </a>
        </div>

        <div class="control-form file">
          <a href="{{ RL }}" preview>
            <img
              class="icon"
              src="../../../../../assets/images/pdf-p.svg"
              alt=""
            />
            <label for="rl" class="o186d">
              Recommendation letter
              <img
                class="icon"
                src="../../../../../assets/images/download.png"
                alt=""
              />
            </label>
          </a>
        </div>

        <div class="control-form file">
          <a href="{{ LC }}" preview>
            <img
              class="icon"
              src="../../../../../assets/images/pdf-r.svg"
              alt=""
            />
            <label for="lc" class="o186d">
              Language Certificate
              <img
                class="icon"
                src="../../../../../assets/images/download.png"
                alt=""
              />
            </label>
          </a>
        </div>
      </div>
    </div>
  </form>
</div> -->
