.section-container {
  margin: 0 0 0 17px;
  gap: 40px;
  display: grid;
  justify-content: normal;
}

.section-container .custom-row .custom-col {
  border-radius: 3px;
  box-shadow: 1.5px 2.6px 10px 0 rgba(119, 119, 119, 0.1);
  background-color: #fff;
  height: fit-content;
}

.section-container .custom-row .custom-col:not(.viewer) {
  padding: 28px 28px 45px 27px;
  flex: 0 0 69%;
  margin-top: 49px;
}

.section-container .custom-row .custom-col:not(.viewer) .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.section-container .custom-row .custom-col:not(.viewer) .title p {
  font-size: 20px;
  color: #464a53;
  margin: 0;
}

.section-container .custom-row .custom-col:not(.viewer) .title span {
  font-size: 14px;
  color: #abafb3;
}

.section-container .custom-row .custom-col:not(.viewer) .title button {
  padding: 9px 24px 8px 24px;
  background-color: var(--main-color);
  border: none;
  color: white;
  border-radius: 2px;
}

.section-container .custom-row .custom-col:not(.viewer) form {
  display: flex;
}

.section-container .custom-row .custom-col:not(.viewer) form [class*=control] {
  display: flex;
  flex-direction: column;
}

.section-container .custom-row .custom-col:not(.viewer) form [class*=control] label {
  margin-bottom: 6px;
}

.section-container .custom-row .custom-col:not(.viewer) form [class*=control] input,
.section-container .custom-row .custom-col:not(.viewer) form [class*=control] select {
  height: 52px;
  margin: 6px 0 0 0;
  padding: 0 16px 0 16px;
  border: solid 1px #dddfe1;
  background-color: rgba(106, 112, 126, 0);
  font-size: 14px;
  margin: 0;
  border-right: 0;
}

.section-container .custom-row .custom-col:not(.viewer) form [class*=control] input::placeholder,
.section-container .custom-row .custom-col:not(.viewer) form [class*=control] select::placeholder {
  font-size: 14px;
  color: #abafb3;
}

.section-container .custom-row .custom-col:not(.viewer) form [class*=control] select {
  color: #abafb3;
}

.section-container .custom-row .custom-col:not(.viewer) form .control-input {
  flex: 0 0 30%;
}

.section-container .custom-row .custom-col:not(.viewer) form .control-select {
  flex: 0 0 25%;
}

.section-container .custom-row .custom-col:not(.viewer) form button {
  flex: 0 0 20%;
  border-radius: 2px;
  height: 52px;
  padding: 0 19px 0;
  background-color: var(--main-color);
  border: none;
  align-self: flex-end;
  font-size: 16px;
  color: #fff;
  display: flex;
  line-height: 52px;
  justify-content: space-between;
}

.section-container .custom-row .custom-col:not(.viewer) form button span {
  border: 2px solid white;
  padding: 2px 4px;
  line-height: 10px;
  align-self: center;
  border-radius: 2px;
}

.section-container .custom-row .custom-col:not(.viewer) .sort {
  display: flex;
  margin: 40px 0 5px 0;
  justify-content: space-between;
  font-size: 14px;
  color: #464a53;
}

.section-container .custom-row .custom-col:not(.viewer) .sort p {
  margin: 0;
  height: fit-content;
  align-self: center;
}

.section-container .custom-row .custom-col:not(.viewer) .sort div {
  gap: 14px;
  display: flex;
}

.section-container .custom-row .custom-col:not(.viewer) .sort div>span {
  height: fit-content;
  align-self: center;
}

.section-container .custom-row .custom-col:not(.viewer) .sort div button {
  font-size: 14px;
  padding: 17px 12.7px 14px 13px;
  border: solid 1px #dddfe1;
  background-color: rgba(106, 112, 126, 0);
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 218px;
  color: #464a53;
}

.section-container .custom-row .custom-col:not(.viewer) .sort div button span {
  color: #464a53;
  border: 2px solid #464a53;
  padding: 2px 4px;
  line-height: 10px;
  align-self: flex-end;
}

.section-container .custom-row .custom-col:not(.viewer) table {
  margin: 25px 0;
}

.section-container .custom-row .custom-col:not(.viewer) table tr,
.section-container .custom-row .custom-col:not(.viewer) table th,
.section-container .custom-row .custom-col:not(.viewer) table td {
  font-size: 16px;
  font-weight: normal;
  color: #464a53;
  border: none;
}

.section-container .custom-row .custom-col:not(.viewer) table thead {
  border: solid 1px #dddfe1;
  background-color: rgba(106, 112, 126, 0);
}

.section-container .custom-row .custom-col:not(.viewer) table tbody th,
.section-container .custom-row .custom-col:not(.viewer) table tbody td {
  font-size: 14px;
}

.section-container .custom-row .custom-col:not(.viewer) table tbody tr {
  height: 62px;
  line-height: 62px;
  transition: all 0.4s ease;
}

.section-container .custom-row .custom-col:not(.viewer) table tbody tr td:nth-child(5) {
  color: var(--main-color);
}

.section-container .custom-row .custom-col:not(.viewer) table tbody tr td span {
  padding: 5px 30px;
  background: var(--main-color);
  border-radius: 15px;
  color: white;
  transition: all 0.3s ease;
}

.section-container .custom-row .custom-col:not(.viewer) table tbody tr:hover {
  background-color: var(--main-color) !important;
}

.section-container .custom-row .custom-col:not(.viewer) table tbody tr:hover td {
  color: white !important;
}

.section-container .custom-row .custom-col:not(.viewer) table tbody tr:hover td span {
  color: var(--main-color);
  background: white;
}

.section-container .custom-row .custom-col:not(.viewer) table tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}

.section-container .custom-row .custom-col:not(.viewer) .d-flex {
  justify-content: flex-end;
}

.section-container .custom-row .custom-col:not(.viewer) .d-flex ::ng-deep ngb-pagination ul {
  margin: 0;
}

.section-container .custom-row .custom-col:not(.viewer) .d-flex ::ng-deep ngb-pagination ul li a {
  border: none;
  color: #464a53;
}

.section-container .custom-row .custom-col:not(.viewer) .d-flex ::ng-deep ngb-pagination ul li a:hover {
  background: unset;
}

.section-container .custom-row .custom-col:not(.viewer) .d-flex ::ng-deep ngb-pagination ul li a:focus {
  box-shadow: none;
}

.section-container .custom-row .custom-col:not(.viewer) .d-flex ::ng-deep ngb-pagination ul li.active a {
  color: var(--main-color);
  background-color: unset;
}

.section-container .custom-row .custom-col.viewer {
  flex: 0 0 29%;
  padding: 49px 40px 660px 28px;
  border-radius: 3px;
  box-shadow: 1.5px 2.6px 10px 0 rgba(119, 119, 119, 0.1);
  background-color: #fff;
}

.section-container .custom-row .custom-col.viewer .img-holder {
  width: 101px;
  height: 101px;
  box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: auto;
  display: flex;
  margin-bottom: 15px;
  border: solid 2px #7f63f4;
}

.section-container .custom-row .custom-col.viewer .img-holder img {
  box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  border-radius: 50%;
  margin: auto;
  display: block;
}

.section-container .custom-row .custom-col.viewer .text>p {
  font-size: 15px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #abafb3;
  margin: 0;
}

.section-container .custom-row .custom-col.viewer .text div {
  padding-bottom: 60px;
  border-bottom: 1px solid #dddfe1;
}

.section-container .custom-row .custom-col.viewer .text div p.title {
  margin-top: 29px;
  font-size: 18px;
  letter-spacing: 0.36px;
  text-align: center;
  color: #16294f;
}

.section-container .custom-row .custom-col.viewer .text div p.title::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: var(--main-color);
  display: block;
  margin: 9px auto;
}

.section-container .custom-row .custom-col.viewer .text div:last-child {
  border-bottom: none;
}

.section-container .custom-row .custom-col.viewer .text div ul li {
  font-size: 15px;
  letter-spacing: 0.3px;
  text-align: left;
  color: #686e7c;
  margin: 9px 0;
}

.section-container .custom-row .custom-col.viewer .text div ul li span {
  color: #abafb3;
}