<main class="main-page">
  <app-loading *ngIf="isLoaded"></app-loading>

  <section class="title-section" *ngIf="!isLoaded">
    <div class="container">
      <div class="row">
        <div class="col-12 title-col">
          <div class="nav-pages mb-3">
            <a routerLink="/landing/programs">Programs</a>
            <span>/</span>
            <span class="m-0">{{ title }}</span>
          </div>

          <div>
            <div class="cont-img">
              <img
                class="w-100 h-100"
                src="../../../../../../assets/images/prog-info-bg.png"
              />
              <div class="back-color w-100 h-100">
                <p class="fees">
                  <span class="me-2">€</span>{{ programData.programFee }}
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8 col-md-8 col-12">
                <div class="d-flex ps-lg-4 ps-md-3 ps-3">
                  <div class="small-img">
                    <img
                      class=""
                      src="https://studentgator.com/assets/images/schools/schools logos/{{
                        programData.schoolInfo.logo
                      }}.png"
                      alt=""
                    />
                  </div>
                  <div
                    class="pt-lg-3 pt-md-3 pt-2 ps-lg-4 ps-md-3 ps-2 card-text"
                  >
                    <p
                      class="card-category px-lg-3 px-md-1 px-0 pb-0 mb-lg-1 mb-md-1 mb-0"
                    >
                      {{ programData.programType | shorten : 30 }}
                    </p>
                    <p class="card-name pb-0 mb-0 mt-0 pt-0">
                      {{ programData.programName | shorten : 40 }}
                    </p>
                    <p class="card-school pb-0 mb-1">
                      {{ programData.schoolInfo.schoolName }}
                    </p>
                    <p class="card-details">
                      {{ programData.schoolInfo.schoolDesr | shorten : 60 }}
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 pt-lg-4 pt-md-3 apply-btn-fav">
                <div class="justify-content-end card-end d-flex">
                  <button
                    class="app-btn px-3 py-1 me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal2"
                  >
                    Apply Now
                  </button>
                  <div class="fav-ico">
                    <button
                      style="border: none"
                      i-button
                      (click)="
                        $event.preventDefault(); $event.stopPropagation()
                      "
                      class="like"
                    >
                      <i
                        *ngIf="!isFav[programData.programId]"
                        class="fas fa-heart white-wishlist"
                      ></i>
                      <i
                        *ngIf="isFav[programData.programId]"
                        class="fas fa-heart wishlist"
                      ></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main class="main-section" *ngIf="!isLoaded">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <section class="col-lg-7 col-12 info-col-section">
          <div class="container">
            <div class="row">
              <div class="info-tabs w-100">
                <ul
                  class="nav nav-tabs w-100 mt-lg-0 mt-md-3 mt-4"
                  id="myTab"
                  role="tablist"
                >
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link active"
                      id="home-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#home-tab-pane"
                      type="button"
                      role="tab"
                      aria-controls="home-tab-pane"
                      aria-selected="true"
                      (click)="setTitle('Overview')"
                    >
                      <p>Overview</p>
                    </button>
                  </li>
                  <li
                    *ngIf="SPECIALISATIONEror"
                    class="nav-item"
                    role="presentation"
                  >
                    <button
                      class="nav-link"
                      id="profile-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-tab-pane"
                      type="button"
                      role="tab"
                      aria-controls="profile-tab-pane"
                      aria-selected="false"
                      (click)="setTitle('City Info')"
                    >
                      <p>SPECIALISATION</p>
                    </button>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div
                    class="tab-pane fade show active overview-tab photo-tab style-mobile"
                    id="home-tab-pane"
                    role="tabpanel"
                    aria-labelledby="home-tab"
                    tabindex="0"
                  >
                    <div class="d-flex ingo-bus">
                      <p class="card-category">
                        {{ programData.programType | shorten : 30 }}
                      </p>
                      <div
                        *ngFor="let pro of programData.cities; let i = index"
                        class="pulse h-50 ms-1"
                      >
                        <p
                          (click)="changeVideo(pro.youtubelink, pro.Name, i)"
                          class="city-pro"
                        >
                          {{ pro.Name }}
                        </p>
                      </div>
                    </div>

                    <h3 class="title">
                      About {{ programData.schoolInfo.schoolName }} School
                    </h3>
                    <p class="description text-justify">
                      {{ programData.schoolInfo.schoolDesr }}
                    </p>
                    <hr />
                    <p class="alumin">Alumni</p>
                    <p class="question">Where They Live?</p>
                    <div class="circular-container">
                      <div class="row">
                        <div
                          class="col-4 d-flex flex-column align-items-center"
                          *ngFor="let location of locations; let i = index"
                        >
                          <circle-progress
                            [percent]="
                              (location.number / locationsPercentage) * 100
                            "
                            [radius]="screenWidth >= 768 ? 55 : 40"
                            [space]="-10"
                            [outerStrokeWidth]="10"
                            [innerStrokeWidth]="3"
                            [animation]="true"
                            [animationDuration]="1000"
                            [maxPercent]="100"
                            [outerStrokeColor]="getColor(i)"
                            [innerStrokeColor]="getColor(i)"
                            [titleColor]="getColor(i)"
                            [unitsColor]="getColor(i)"
                            unitsFontSize="24"
                            titleFontSize="24"
                            titleFontWeight="600"
                            unitsFontWeight="600"
                            [showSubtitle]="false"
                          ></circle-progress>
                          <p class="circular-title">
                            {{
                              location.text.includes(",")
                                ? location.text.split(",")[1]
                                : location.text
                            }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <hr />

                    <h3 class="question">Where They Work?</h3>
                    <div class="circular-container">
                      <div class="row">
                        <div
                          class="col-4 d-flex flex-column align-items-center"
                          *ngFor="let work of works; let i = index"
                        >
                          <circle-progress
                            [percent]="(work.number / workPercentage) * 100"
                            [radius]="screenWidth >= 768 ? 55 : 40"
                            [space]="-10"
                            [outerStrokeWidth]="10"
                            [innerStrokeWidth]="3"
                            [animation]="true"
                            [animationDuration]="1000"
                            [maxPercent]="100"
                            [outerStrokeColor]="getColor(i)"
                            [innerStrokeColor]="getColor(i)"
                            [titleColor]="getColor(i)"
                            [unitsColor]="getColor(i)"
                            unitsFontSize="24"
                            titleFontSize="24"
                            titleFontWeight="600"
                            unitsFontWeight="600"
                            [showSubtitle]="false"
                          ></circle-progress>
                          <p class="circular-title">
                            {{
                              work.text.includes(",")
                                ? work.text.split(",")[1]
                                : work.text
                            }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div class="row justify-content-between">
                      <div class="col-md-6 col-12">
                        <h3 class="final-question">What They Do?</h3>
                        <div
                          class="progress-section"
                          *ngFor="let activity of activities; let i = index"
                        >
                          <div
                            class="progress-text d-flex justify-content-between aling-items-center"
                          >
                            <p class="text">{{ activity.text }}</p>
                            <p
                              class="number"
                              [ngStyle]="{ color: getColor(i) }"
                            >
                              {{
                                (
                                  (activity.number / activityPercentage) *
                                  100
                                ).toFixed(0)
                              }}%
                            </p>
                          </div>
                          <div class="progress">
                            <div
                              class="progress-bar"
                              [ngStyle]="{
                                width:
                                  (activity.number / activityPercentage) * 100 +
                                  '%',
                                background: getbgColor(i)
                              }"
                              role="progressbar"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-12">
                        <h3 class="final-question">What They Studied?</h3>
                        <div
                          class="progress-section"
                          *ngFor="let study of studies; let i = index"
                        >
                          <div
                            class="progress-text d-flex justify-content-between aling-items-center"
                          >
                            <p class="text">{{ study.text }}</p>
                            <p
                              class="number"
                              [ngStyle]="{ color: getColor(i) }"
                            >
                              {{
                                (
                                  (study.number / studyPercentage) *
                                  100
                                ).toFixed(0)
                              }}%
                            </p>
                          </div>
                          <div class="progress">
                            <div
                              class="progress-bar"
                              [ngStyle]="{
                                width:
                                  (study.number / studyPercentage) * 100 + '%',
                                background: getbgColor(i)
                              }"
                              role="progressbar"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="tab-pane fade info-tab style-mobile"
                    id="profile-tab-pane"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
                    tabindex="0"
                  >
                    <div *ngIf="SPECIALISATIONEror">
                      <h3 class="title mb-2">
                        {{ programData.programType | shorten : 30 }}
                      </h3>
                      <div
                        class="row card-type mb-3"
                        *ngFor="let pro of programData.spec"
                      >
                        <p class="card-title">
                          {{ pro }}
                        </p>
                      </div>
                    </div>
                  </div>

                  <div
                    class="tab-pane fade photo-tab style-mobile other-schools"
                    id="contact-tab-pane"
                    role="tabpanel"
                    aria-labelledby="contact-tab"
                    tabindex="0"
                  >
                    <div>
                      <div class="d-flex ingo-bus">
                        <p class="card-category px-3">
                          {{ programData.programType | shorten : 30 }}
                        </p>
                        <p class="top px-3 ms-2 align-items-center">Top 30</p>
                      </div>
                      <h3 class="school-info-name title">
                        {{ programData.schoolInfo.schoolName }} School
                      </h3>
                      <p class="school-french">
                        ICART, the school of cultural and art market
                        management.For more than 50 years, ICART has established
                        itself in the world of arts and culture as the reference
                        school whose vocation is to train professionals in the
                        art market and cultural management. The world of arts
                        and culture is undergoing unprecedented changes: the
                        growing internationalization of artistic exchanges, the
                        expansion of the leisure industry, the development of
                        new cultural practices, the opening up to new
                        technologies, etc.
                      </p>
                      <br />
                      <div class="row all-social">
                        <div class="col-lg-5 col-md-5 col-5 d-flex">
                          <p class="socialmedia-text">School Social Media</p>
                          <i
                            class="fas fa-right-long right-social ps-lg-2 ps-md-2 ps-1 align-items-start"
                          ></i>
                        </div>
                        <div class="col-lg-5 col-md-6 col-7">
                          <div
                            class="social-table d-flex justify-content-evenly"
                          >
                            <i
                              routerLink=""
                              class="social-icon fab fa-instagram"
                            ></i>
                            <i
                              routerLink=""
                              class="social-icon fab fa-linkedin-in"
                            ></i>
                            <i
                              routerLink=""
                              class="social-icon fab fa-twitter"
                            ></i>
                            <i
                              routerLink=""
                              class="social-icon fab fa-facebook-f"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br />
                    <h3 class="title">Our Gallery</h3>
                    <div class="d-flex flex-wrap p-lg-0 p-md-0">
                      <div class="col-12 photo-one-col">
                        <div
                          class="overlay d-flex flex-column justify-content-center align-items-center"
                        >
                          <p class="type">Our Events</p>
                          <p class="description">
                            Lorem Ipsum Is Simply Dummy Text Of The Printing And
                            Typesetting Industry. Lorem Ipsum Has Been The
                            Industry’s Standard Dummy
                          </p>
                          <p class="more">Watch More..</p>
                        </div>
                        <img
                          src="../../../../../assets/images/schools/{{
                            programData.schoolInfo.schoolName
                          }}/1.jpg"
                          alt="{{ programData.schoolInfo.schoolName }}"
                        />
                      </div>
                      <div class="col-md-7 col-12 photo-two-col">
                        <div
                          class="overlay d-flex flex-column justify-content-center align-items-center"
                        >
                          <p class="type">Our Sessions</p>
                          <p class="description">
                            Lorem Ipsum Is Simply Dummy Text Of The Printing And
                            Typesetting Industry. Lorem Ipsum Has Been The
                            Industry’s Standard Dummy
                          </p>
                          <p class="more">Watch More..</p>
                        </div>
                        <img
                          src="../../../../../assets/images/schools/{{
                            programData.schoolInfo.schoolName
                          }}/2.jpg"
                          alt="{{ programData.schoolInfo.schoolName }}"
                        />
                      </div>
                      <div class="col-md col-12 photo-three-col">
                        <div
                          class="overlay d-flex flex-column justify-content-center align-items-center"
                        >
                          <p class="type">Our Students</p>
                          <p class="description">
                            Lorem Ipsum Is Simply Dummy Text Of The Printing And
                            Typesetting Industry. Lorem Ipsum Has Been The
                            Industry’s Standard Dummy
                          </p>
                          <p class="more">Watch More..</p>
                        </div>
                        <img
                          src="../../../../../assets/images/schools/{{
                            programData.schoolInfo.schoolName
                          }}/3.jpg"
                          alt="{{ programData.schoolInfo.schoolName }}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <iframe
                [src]="videoCity | safe"
                frameborder="0"
                allowfullscreen
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                class="video d-lg-none d-block"
              >
              </iframe>
            </div>
          </div>
        </section>
        <section class="col-lg-4 col-12 video-col">
          <div class="">
            <div class="video-container">
              <iframe
                [src]="videoCity | safe"
                frameborder="0"
                allowfullscreen
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                class="video d-lg-block d-none"
              ></iframe>
              <div class="info-col">
                <div class="d-lg-none d-md-block d-block container">
                  <div class="row">
                    <div class="col-6">
                      <div
                        class="single-info d-flex justify-content-between align-items-center"
                      >
                        <div class="property-name d-flex">
                          <img
                            src="../../../../../assets/images/program-page/details/location.svg"
                            alt="location"
                          />
                          <p class="property">Location</p>
                        </div>
                        <div class="property-value">
                          <p class="value">{{ nameCity }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div
                        class="single-info d-flex justify-content-between align-items-center"
                      >
                        <div class="property-name d-flex">
                          <img
                            src="../../../../../assets/images/program-page/details/duration.svg"
                            alt="duration"
                          />
                          <p class="property">Duration</p>
                        </div>
                        <div class="property-value">
                          <p class="value">
                            {{ programData.programLength }} Year<span
                              *ngIf="programData.programLength > 1"
                              >s</span
                            >
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <div
                        class="single-info d-flex justify-content-between align-items-center"
                      >
                        <div class="property-name d-flex">
                          <img
                            src="../../../../../assets/images/program-page/details/time.svg"
                            alt="time"
                          />
                          <p class="property">Inake</p>
                        </div>
                        <div class="property-value">
                          <p class="value">{{ programData.programIntake }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div
                        class="single-info d-flex justify-content-between align-items-center"
                      >
                        <div class="property-name d-flex">
                          <img
                            src="../../../../../assets/images/program-page/details/language.svg"
                            alt="language"
                          />
                          <p class="property">Language</p>
                        </div>
                        <div class="property-value">
                          <p class="value">{{ programData.programLang }}</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <div
                        class="single-info d-flex justify-content-between align-items-center"
                      >
                        <div class="property-name align-items-center d-flex">
                          <i
                            class="fa fa-hashtag"
                            style="font-size: 10px; color: #7b7b7bbb"
                          ></i>
                          <p class="property ps-2">Requirement</p>
                        </div>
                        <div class="property-value">
                          <p class="value">{{ programData.programLevel }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="price d-flex align-items-center">
                    €{{ programData.programFee }}<span>Pre -Year</span>
                  </p>
                  <div class="row">
                    <div class="col-lg-5 col-md-5 col-5">
                      <button
                        class="apply-btn me-0"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal3"
                      >
                        Apply Now
                      </button>
                    </div>
                    <div
                      class="fav-ico col-5 d-lg-none justify-content-start ms-0 ps-0"
                    >
                      <button
                        style="border: none"
                        i-button
                        (click)="
                          $event.preventDefault(); $event.stopPropagation()
                        "
                        class="like"
                      >
                        <i
                          *ngIf="!isFav[programData.programId]"
                          class="fas fa-heart white-wishlist"
                        ></i>
                        <i
                          *ngIf="isFav[programData.programId]"
                          class="fas fa-heart wishlist"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div
                  class="d-flex align-items-center flex-wrap d-lg-block d-md-none d-none"
                >
                  <div
                    class="single-info d-flex justify-content-between align-items-center"
                  >
                    <div class="property-name d-flex">
                      <img
                        src="../../../../../assets/images/program-page/details/location.svg"
                        alt="location"
                      />
                      <p class="property">Location</p>
                    </div>
                    <div class="property-value">
                      <p class="value">{{ programData.cityInfo?.Name }}</p>
                      <p class="value">{{ nameCity }}</p>
                    </div>
                  </div>
                  <div class="seperator"></div>
                  <hr />
                  <div
                    class="single-info d-flex justify-content-between align-items-center"
                  >
                    <div class="property-name d-flex">
                      <img
                        src="../../../../../assets/images/program-page/details/duration.svg"
                        alt="duration"
                      />
                      <p class="property">Duration</p>
                    </div>
                    <div class="property-value">
                      <p class="value">
                        {{ programData.programLength }} Year<span
                          *ngIf="programData.programLength > 1"
                          >s</span
                        >
                      </p>
                    </div>
                  </div>
                  <div class="seperator"></div>
                  <hr />
                  <div
                    class="single-info d-flex justify-content-between align-items-center"
                  >
                    <div class="property-name d-flex">
                      <img
                        src="../../../../../assets/images/program-page/details/time.svg"
                        alt="time"
                      />
                      <p class="property">Intake</p>
                    </div>
                    <div class="property-value">
                      <p class="value">{{ programData.programIntake }}</p>
                    </div>
                  </div>
                  <div class="seperator"></div>
                  <hr />
                  <div
                    class="single-info d-flex justify-content-between align-items-center"
                  >
                    <div class="property-name d-flex">
                      <img
                        src="../../../../../assets/images/program-page/details/language.svg"
                        alt="language"
                      />
                      <p class="property">Language</p>
                    </div>
                    <div class="property-value">
                      <p class="value">{{ programData.programLang }}</p>
                    </div>
                  </div>
                  <div class="seperator"></div>
                  <hr />
                  <div
                    class="single-info d-flex justify-content-between align-items-center"
                  >
                    <div class="property-name align-items-center d-flex">
                      <i
                        class="fa fa-hashtag"
                        style="font-size: 23px; color: #7b7b7bbb"
                      ></i>
                      <p class="property ps-3">Requirement</p>
                    </div>
                    <div class="property-value">
                      {{ programData.programLevel }}
                    </div>
                  </div>
                  <hr />
                </div>

                <div class="row d-lg-block d-md-none d-none">
                  <div class="col-lg-12 col-md-7 col-5">
                    <button
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal2"
                      class="apply-btn me-0"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal2"
                    >
                      Apply Now
                    </button>
                  </div>
                </div>
                <p
                  class="m-0 mt-4"
                  [ngStyle]="{
                    color:
                      applyMsg === 'Congrats! You applied for this program'
                        ? 'green'
                        : 'red'
                  }"
                  *ngIf="applyMsg"
                >
                  {{ applyMsg }}
                </p>
              </div>
            </div>
            <div
              class="related-programs bg-light d-lg-block d-md-none d-none p-3"
            >
              <h3 class="title">Popular Programs</h3>
              <div class="related-programs-container">
                <a
                  class="program-card d-flex"
                  *ngFor="let program of ratedProgs; let i = index"
                  (click)="reload(program.programId)"
                  [routerLink]="[
                    '/landing/programs',
                    program.programName,
                    program.programId
                  ]"
                >
                  <div class="image-container">
                    <img
                      src="https://studentgator.com/assets/images/schools/schools logos/{{
                        program.logo
                      }}.png"
                      alt=""
                    />
                  </div>
                  <div class="details-container">
                    <h2 class="title">
                      {{ program.programType | shorten : 17 }}
                    </h2>

                    <p class="description">
                      {{ program.schoolDesc | shorten : 37 }}
                    </p>

                    <div class="d-flex justify-content-between">
                      <div class="d-flex justify-content-evenly pt-lg-1">
                        <i class="fas fa-star rate px-1"></i>
                        <i class="fas fa-star rate px-1"></i>
                        <i class="fas fa-star rate px-1"></i>
                        <i class="fas fa-star rate px-1"></i>
                      </div>
                      <div style="font-size: 12px; font-weight: 300">
                        <p>€{{ program.programFee }}</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
</main>

<!-- /*****************popup************************/ -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div style="max-width: 76%" class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <br /><br />
      <div class="first-row">
        <h1 class="welcome pb-0 mb-0">Welcome to</h1>
        <div class="first-textpop">
          <img
            class=""
            _ngcontent-lin-c364=""
            src="../../../../../../assets/images/elysee-logo.png"
            alt="SG-logo"
            title="Homepage"
          />
        </div>
        <p class="details-tit">
          We have your basic information, please review and make sure all your
          data is accurate.
        </p>
      </div>
      <div
        style="padding: 0px 140px 40px"
        class="modal-body popup madel-total-body"
      >
        <mat-stepper #stepper>
          <mat-step *ngIf="ANYPROGRAM">
            <ng-template matStepLabel>Info Verification</ng-template>
            <section>
              <div class="all-inputs">
                <p class="basic-details">
                  Note that: to change your basic information, please go to the
                  "Account settings"
                </p>
                <div class="row mt-lg-2">
                  <div class="col-lg-6 mt-4 form-group">
                    <input
                      class="w-100"
                      type="text"
                      name="name"
                      [value]="name"
                      disabled
                    />
                  </div>
                  <div class="col-lg-6 mt-4 form-group">
                    <input
                      class="w-100"
                      type="text"
                      name="name"
                      [value]="name"
                      disabled
                    />
                  </div>
                </div>
                <form [formGroup]="form">
                  <div class="row mt-lg-4">
                    <div class="col-lg-6 mt-4 form-group">
                      <input
                        class="w-100"
                        type="text"
                        name="email"
                        [value]="email"
                        disabled
                      />
                    </div>
                    <div class="col-lg-6 mt-4 form-group">
                      <ngx-intl-tel-input
                        [cssClass]="'custom'"
                        [preferredCountries]="[
                          CountryISO.UnitedStates,
                          CountryISO.UnitedKingdom
                        ]"
                        [enableAutoCountrySelect]="true"
                        [enablePlaceholder]="false"
                        [searchCountryFlag]="true"
                        [searchCountryField]="[
                          SearchCountryField.Iso2,
                          SearchCountryField.Name
                        ]"
                        [selectedCountryISO]="CountryISO.UnitedKingdom"
                        [phoneValidation]="true"
                        name="phone"
                        formControlName="phone"
                      >
                      </ngx-intl-tel-input>
                    </div>
                  </div>
                </form>
                <div class="row mt-lg-4">
                  <div class="col-lg-6 mt-4 form-group">
                    <input
                      class="w-100"
                      type="text"
                      [value]="nationality"
                      disabled
                    />
                  </div>
                  <div class="col-lg-6 mt-4">
                    <input class="w-100" type="text" [value]="empid" disabled />
                  </div>
                </div>
              </div>
              <button class="btn-next" matStepperNext>Next</button>
            </section>
          </mat-step>

          <mat-step [editable]="false" *ngIf="PDFGAL">
            <ng-template matStepLabel>Info Verification</ng-template>
            <app-galileo-data [programIdChild]="programId"></app-galileo-data>
          </mat-step>

          <mat-step [editable]="false" *ngIf="PDFFIGS">
            <ng-template matStepLabel>Info Verification</ng-template>
            <app-figs [programIdChild]="programId"></app-figs>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Upload Documents</ng-template>
            <p class="basic-details pt-4">
              Please Fill all the field, so you move on to the next step of your
              application.
            </p>

            <div class="row first-step-row pt-3">
              <div class="col-md-6 pb-3">
                <div
                  class="doc-details d-flex justify-content-between align-items-center"
                >
                  <h3>
                    Resume
                    <span *ngIf="!urlObject.cv" class="text-danger">*</span>
                  </h3>

                  <div class="d-flex">
                    <a
                      class="view-btn"
                      *ngIf="urlObject.cv"
                      [href]="urlObject.cv"
                      target="_blank"
                    >
                      <i class="fa fa-eye"></i><span class="px-2">View</span>
                    </a>
                    <p
                      class="percentage m-0 text-success"
                      *ngIf="uploadPercentage.cv && !urlObject.cv"
                    >
                      {{ uploadPercentage.cv }}%
                    </p>

                    <button
                      class="trash-btn"
                      (click)="deleteFile('cv', studentUserName)"
                      *ngIf="!uploadPercentage.cv && urlObject.cv"
                    >
                      <span class="px-2">Delete</span
                      ><i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center file"
                  (click)="cvInput.click()"
                >
                  <p
                    class="m-0"
                    [ngStyle]="{
                      color: nameObject.cv ? '#6263D2' : '#000000'
                    }"
                  >
                    {{ nameObject.cv ? nameObject.cv : "Resume file" }}
                  </p>
                  <i class="fa fa-plus"></i>
                  <input
                    #cvInput
                    type="file"
                    style="display: none"
                    required
                    (change)="chooseFile($event, 'cv', studentUserName)"
                  />
                </div>
              </div>

              <div class="col-md-6 pb-3">
                <div
                  class="doc-details d-flex justify-content-between align-items-center"
                >
                  <h3>
                    Certificate
                    <span *ngIf="!urlObject.certificate" class="text-danger"
                      >*</span
                    >
                  </h3>

                  <div class="d-flex">
                    <a
                      class="view-btn"
                      *ngIf="urlObject.certificate"
                      [href]="urlObject.certificate"
                      target="_blank"
                    >
                      <i class="fa fa-eye"></i><span class="px-2">View</span>
                    </a>
                    <p
                      class="percentage m-0 text-success"
                      *ngIf="
                        uploadPercentage.certificate && !urlObject.certificate
                      "
                    >
                      {{ uploadPercentage.certificate }}%
                    </p>

                    <button
                      class="trash-btn"
                      (click)="deleteFile('certificate', studentUserName)"
                      *ngIf="
                        !uploadPercentage.certificate && urlObject.certificate
                      "
                    >
                      <span class="px-2">Delete</span
                      ><i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center file"
                  (click)="certificateInput.click()"
                >
                  <p
                    class="m-0"
                    [ngStyle]="{
                      color: nameObject.certificate ? '#6263D2' : '#000000'
                    }"
                  >
                    {{
                      nameObject.certificate
                        ? nameObject.certificate
                        : "Certificate file"
                    }}
                  </p>
                  <i class="fa fa-plus"></i>
                  <input
                    #certificateInput
                    type="file"
                    style="display: none"
                    required
                    (change)="
                      chooseFile($event, 'certificate', studentUserName)
                    "
                  />
                </div>
              </div>
            </div>

            <div
              class="d-flex py-5 justify-content-between align-items-center interview"
            >
              <p class="text-dark info">
                <i class="fas fa-info"></i>

                Check <a href="https://www.ilovepdf.com/">ILovePdf</a> for help
                in converting and merging files
              </p>
              <button class="btn-next" type="submit" matStepperNext>
                Next
              </button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Application Status</ng-template>
            <div class="third-row">
              <p class="app-done pt-4">Your application is being reviewed !</p>
              <div class="d-flex justify-content-center">
                <ng-lottie
                  [options]="options"
                  width="211px"
                  height="211px"
                ></ng-lottie>
              </div>
              <p class="interview">
                <i class="fas fa-info"></i>Meanwhile you can start preparing
                your interview.
              </p>
              <button
                data-bs-dismiss="modal"
                class="pad-btn"
                (click)="postProgram()"
              >
                Done
              </button>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
</div>
<!-- /********************************************* -->

<!-- /*****************popup resposive************************/ -->
<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered lg">
    <div class="modal-content total-data">
      <br /><br />
      <div class="first-row1">
        <h1 class="welcome1 pb-0 mb-0">Welcome to</h1>
        <div class="">
          <img
            class="img22"
            _ngcontent-lin-c364=""
            src="../../../../../../assets/images/elysee-logo.png"
            alt="SG-logo"
            title="Homepage"
          />
        </div>
        <p class="details-tit1">
          We have your basic information, please review and make sure all your
          data is accurate.
        </p>
      </div>
      <div class="modal-body popup madel-total-body pt-0 mt-0">
        <mat-vertical-stepper linear #stepper>
          <mat-step *ngIf="ANYPROGRAM">
            <ng-template matStepLabel class="text-label"
              >Info Verification</ng-template
            >

            <section>
              <div class="all-inputs">
                <p class="basic-details1">
                  Note that: to change your basic information, please go to the
                  "Account settings"
                </p>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="row mt-lg-2">
                    <div class="col-lg-6 mt-4 form-group">
                      <input
                        class="w-100"
                        type="text"
                        name="name"
                        [value]="name"
                        disabled
                      />
                    </div>
                    <div class="col-lg-6 mt-4 form-group">
                      <input
                        class="w-100"
                        type="text"
                        name="name"
                        [value]="name"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="row mt-lg-4">
                    <div class="col-lg-6 mt-4 form-group">
                      <input
                        class="w-100"
                        type="text"
                        name="email"
                        [value]="email"
                        disabled
                      />
                    </div>
                    <div class="col-lg-6 mt-4 form-group">
                      <ngx-intl-tel-input
                        [cssClass]="'custom'"
                        [preferredCountries]="[
                          CountryISO.UnitedStates,
                          CountryISO.UnitedKingdom
                        ]"
                        [enableAutoCountrySelect]="true"
                        [enablePlaceholder]="false"
                        [searchCountryFlag]="true"
                        [searchCountryField]="[
                          SearchCountryField.Iso2,
                          SearchCountryField.Name
                        ]"
                        [selectedCountryISO]="CountryISO.UnitedKingdom"
                        [phoneValidation]="true"
                        name="phone"
                        formControlName="phone"
                      >
                      </ngx-intl-tel-input>
                    </div>
                  </div>
                  <div class="row mt-lg-4">
                    <div class="col-lg-6 mt-4 form-group">
                      <input
                        class="w-100"
                        type="text"
                        [value]="nationality"
                        disabled
                      />
                    </div>
                    <div class="col-lg-6 mt-4">
                      <input
                        class="w-100"
                        type="text"
                        [value]="empid"
                        disabled
                      />
                    </div>
                  </div>
                </form>
                <button class="btn-next" type="submit" matStepperNext>
                  Next
                </button>
              </div>
            </section>
          </mat-step>

          <mat-step [editable]="false" *ngIf="PDFGAL">
            <ng-template matStepLabel>Info Verification</ng-template>
            <app-galileo-data [programIdChild]="programId"></app-galileo-data>
          </mat-step>

          <mat-step [editable]="false" *ngIf="PDFFIGS">
            <ng-template matStepLabel>Info Verification</ng-template>
            <app-figs [programIdChild]="programId"></app-figs>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Upload Documents</ng-template>
            <p class="basic-details1">
              Please Fill all the field, so you move on to the next step of your
              application.
            </p>

            <div class="row first-step-row pt-1">
              <div class="col-md-6 pb-2">
                <div
                  class="doc-details d-flex justify-content-between align-items-center"
                >
                  <h3>
                    Resume
                    <span *ngIf="!urlObject.cv" class="text-danger">*</span>
                  </h3>

                  <div class="d-flex">
                    <a
                      class="view-btn"
                      *ngIf="urlObject.cv"
                      [href]="urlObject.cv"
                      target="_blank"
                    >
                      <i class="fa fa-eye"></i><span class="px-2">View</span>
                    </a>
                    <p
                      class="percentage m-0 text-success"
                      *ngIf="uploadPercentage.cv && !urlObject.cv"
                    >
                      {{ uploadPercentage.cv }}%
                    </p>

                    <button
                      class="trash-btn"
                      (click)="deleteFile('cv', studentUserName)"
                      *ngIf="!uploadPercentage.cv && urlObject.cv"
                    >
                      <span class="px-2">Delete</span
                      ><i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center file"
                  (click)="cvInput.click()"
                >
                  <p
                    class="m-0"
                    [ngStyle]="{
                      color: nameObject.cv ? '#6263D2' : '#000000'
                    }"
                  >
                    {{ nameObject.cv ? nameObject.cv : "Resume file" }}
                  </p>
                  <i class="fa fa-plus"></i>
                  <input
                    #cvInput
                    type="file"
                    style="display: none"
                    required
                    (change)="chooseFile($event, 'cv', studentUserName)"
                  />
                </div>
              </div>

              <div class="col-md-6 pb-2">
                <div
                  class="doc-details d-flex justify-content-between align-items-center"
                >
                  <h3>
                    Certificate
                    <span *ngIf="!urlObject.certificate" class="text-danger"
                      >*</span
                    >
                  </h3>

                  <div class="d-flex">
                    <a
                      class="view-btn"
                      *ngIf="urlObject.certificate"
                      [href]="urlObject.certificate"
                      target="_blank"
                    >
                      <i class="fa fa-eye"></i><span class="px-2">View</span>
                    </a>
                    <p
                      class="percentage m-0 text-success"
                      *ngIf="
                        uploadPercentage.certificate && !urlObject.certificate
                      "
                    >
                      {{ uploadPercentage.certificate }}%
                    </p>

                    <button
                      class="trash-btn"
                      (click)="deleteFile('certificate', studentUserName)"
                      *ngIf="
                        !uploadPercentage.certificate && urlObject.certificate
                      "
                    >
                      <span class="px-2">Delete</span
                      ><i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center file"
                  (click)="certificateInput.click()"
                >
                  <p
                    class="m-0"
                    [ngStyle]="{
                      color: nameObject.certificate ? '#6263D2' : '#000000'
                    }"
                  >
                    {{
                      nameObject.certificate
                        ? nameObject.certificate
                        : "Certificate file"
                    }}
                  </p>
                  <i class="fa fa-plus"></i>
                  <input
                    #certificateInput
                    type="file"
                    style="display: none"
                    required
                    (change)="
                      chooseFile($event, 'certificate', studentUserName)
                    "
                  />
                </div>
              </div>
            </div>

            <div
              class="d-flex justify-content-between align-items-center pt-2 interview"
            >
              <p class="text-dark info">
                <i class="fas fa-info"></i>

                Check <a href="https://www.ilovepdf.com/">ILovePdf</a> for help
                in converting and merging files
              </p>
            </div>
            <button class="btn-next" type="submit" matStepperNext>Next</button>
          </mat-step>

          <mat-step [editable]="false" *ngIf="PDFGAL">
            <ng-template matStepLabel>Galileo Application</ng-template>
            <app-galileo-data [programIdChild]="programId"></app-galileo-data>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Application Status</ng-template>
            <div class="third-row1">
              <p class="app-done1 p-0 m-0">
                Your application is being reviewed !
              </p>

              <div class="d-flex justify-content-center">
                <ng-lottie
                  [options]="options"
                  width="211px"
                  height="211px"
                ></ng-lottie>
              </div>

              <p class="interview1 pt-0">
                <i class="fas fa-info"></i>Meanwhile you can start preparing
                your interview.
              </p>
              <button
                data-bs-dismiss="modal"
                class="pad-btn"
                (click)="postProgram()"
              >
                Done
              </button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </div>
  </div>
</div>
