<div class="section-container">
    <div class="custom-row">
        <div class="custom-col">
            <div class="box">
                <div class="text">
                    <p>2584</p>
                    <span>Students</span>
                </div>
                <div class="img-holder">
                    <img
src="" alt="">
                </div>
            </div>

            <div class="box">
                <div class="text">
                    <p>2584</p>
                    <span>Students</span>
                </div>
                <div class="img-holder">
                    <img
src="" alt="">
                </div>
            </div>

            <div class="box">
                <div class="text">
                    <p>2584</p>
                    <span>Students</span>
                </div>
                <div class="img-holder">
                    <img
src="" alt="">
                </div>
            </div>

            <div class="box">
                <div class="text">
                    <p>2584</p>
                    <span>Students</span>
                </div>
                <div class="img-holder">
                    <img
src="" alt="">
                </div>
            </div>
        </div>

        <div class="custom-col">
            <div class="flex">
                <p class="title">Average Students</p>
                <input type="text" placeholder="Search for Student">
            </div>
            <div class="statistic">
                <div class="custom-col y-axis">
                    <div>5</div>
                    <div>4</div>
                    <div>3</div>
                    <div>2</div>
                    <div>1</div>
                    <div>0</div>
                </div>

                <div class="custom-col x-axis">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="custom-progress">
                                        <div style="height:10%"></div>
                                        <div style="height:90%"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="custom-progress">
                                        <div style="height:30%"></div>
                                        <div style="height:70%"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="custom-progress">
                                        <div style="height:50%"></div>
                                        <div style="height:55%"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="custom-progress">
                                        <div style="height:90%"></div>
                                        <div style="height:10%"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="custom-progress">
                                        <div style="height:60%"></div>
                                        <div style="height:50%"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="custom-progress">
                                        <div style="height:40%"></div>
                                        <div style="height:30%"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="custom-progress">
                                        <div style="height:15%"></div>
                                        <div style="height:25%"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        
                        <thead>
                            <tr>
                                <th>2012</th>
                                <th>2013</th>
                                <th>2014</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                            </tr>
                        </thead>
                    </table>              
                </div>
            </div>
        </div>

        <div class="custom-col">
            <form action="">
                <div class="custom-col">
                    <p class="title">Basic Information</p>
                    <div class="control">
                        <input type="text" placeholder="Title*">
                    </div>
                    <div class="control">
                        <input type="text" placeholder="Last Name*">
                    </div>
                    <div class="control">
                        <input type="text" placeholder="First Name*">
                    </div>
                    <div class="control">
                        <input type="text" placeholder="Email ID*">
                    </div>
                    <div class="btn-holder">
                        <button type="submit">Save</button>
                    </div>
                </div>

                <div class="custom-col">
                    <div>
                        <p class="title">Student Enrollment</p>
    
                        <div class="control select">
                            <select name="">
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        
                        <div class="flex">
                            <div class="control select">
                                <select name="">
                                    <option value=""></option>
                                </select>
                            </div>
        
                            <div class="control select">
                                <select name="">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div>
                        <p class="title">Documents</p>
                        <div class="control file">
                            <input type="file" name="">
                        </div>
    
                        <div class="flex">
                            <div class="control">
                                <label for="">School name</label>
                                <input type="text" name="" placeholder="Product design">
                            </div>
        
                            <div class="control">
                                <label for="">Program name</label>
                                <input type="text" name=""  placeholder="Product design">
                            </div>
                        </div>
                    </div>

                    <div>
                        <p class="title">Assigned Student</p>
                        <div class="control">
                            <a href="" download><img
src="" alt=""> PDF Certificate <img
src="" alt=""></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="custom-col">
            <p class="title">Active Programs</p>
            <ul>
                <li><span>Management</span> <span>28</span></li>
                <li><span>Management</span> <span>28</span></li>
            </ul>
        </div>
    </div>

    <div class="custom-row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Profile</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date of Apply</th>
                    <th scope="col">Fees</th>
                    <th scope="col">Program</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <td>
                        <div class="img-holder"><img [src]="" alt=""></div>
                    </td>

                    <td><p></p></td>
                    <td><p></p></td>
                    <td class="date"></td>

                    <td class="status"><p><span class="paid"></span></p></td>
                    <td><p></p></td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex">
            <ngb-pagination [collectionSize]="students.length" [(page)]="page" [pageSize]="pageSize">
                <ng-template ngbPaginationPrevious></ng-template>
                <ng-template ngbPaginationNext></ng-template>
            </ngb-pagination>
        </div>
    </div>
</div>
