.section-container {
    margin: 64px 32px 0 32px;

    .custom-row {
        flex-wrap: wrap;
        gap: 20px;
        position: relative;

        >.custom-col {
            flex-direction: row;
            gap: 20px;
            flex-wrap: wrap;
            flex: 0 0 48%;
            height: fit-content;

            >p.title {
                flex: 0 0 100%;
            }

            p.title {
                font-size: 22px;
                color: #464a53;
            }

            .box {
                padding: 25px 30px 26px 30px;
                border-radius: 3px;
                box-shadow: 0.5px 3px 10px 0 rgba(119, 119, 119, 0.1);
                background-color: #16294f;
                display: flex;
                flex: 0 0 48%;
                justify-content: space-between;
                height: fit-content;

                .text {
                    span {
                        font-size: 18px;
                        color: #fefeff;
                        ;
                        line-height: 1;
                    }

                    p {
                        line-height: 1;
                        font-size: 35px;
                        color: #fff;
                    }
                }

                .img-holder {
                    align-self: center;
                    border-radius: 50%;
                    background-color: #fff;
                    height: 52px;
                    width: 52px;
                }

                &:nth-child(2) {
                    background-color: var(--yellow-color);
                }

                &:nth-child(3) {
                    background-color: var(--red-color);
                }
            }

            .flex {
                width: 100%;
                display: flex;
                justify-content: space-between;

                input {
                    font-size: 15px;
                    padding: 9px 20.7px 9px 20px;
                    border-radius: 3px;
                    border: solid 1px #dddfe1;
                    background-color: rgba(33, 141, 250, 0);
                }
            }

            .statistic {
                display: flex;
                width: 100%;
                gap: 38px;
                justify-content: flex-start;

                .y-axis {
                    gap: 35px;
                    flex: 0 0 5%;

                    div {
                        font-size: 16px;
                        text-align: right;
                        color: #6a707e;
                    }
                }

                .x-axis {
                    flex: 0 0 85%;

                    table {
                        position: relative;
                        height: 100%;

                        tbody {
                            height: 95%;

                            tr {
                                display: flex;
                                justify-content: space-between;

                                td {
                                    .custom-progress {
                                        width: 35px;
                                        display: flex;
                                        gap: 3px;
                                        height: 317px;

                                        div {
                                            position: relative;
                                            width: 18px;
                                            height: 90%;
                                            align-self: flex-end;
                                            transition: all .5s ease;

                                            .hover {
                                                height: fit-content;
                                                box-shadow: 0px 10px 30px 0 rgb(0 0 0 / 10%);
                                                background-color: transparent;
                                                width: 190px;
                                                padding: 24px 20px 35px 24px;
                                                position: absolute;
                                                border-radius: 0;
                                                transition: all .5s ease;
                                                bottom: 112%;
                                                left: -90px;
                                                visibility: hidden;

                                                &::after {
                                                    content: "";
                                                    border: 14px solid var(--main-color);
                                                    position: absolute;
                                                    width: 0;
                                                    top: 100%;
                                                    border-color: transparent;
                                                    left: 43%;
                                                }

                                                p {
                                                    font-size: 14px;
                                                    font-family: 'Open sans';
                                                    letter-spacing: 0.3px;
                                                    margin-bottom: 2px;
                                                    color: transparent;
                                                }
                                            }

                                            &:hover {
                                                background-color: var(--main-color);

                                                .hover {
                                                    background-color: var(--main-color);
                                                    visibility: visible;

                                                    &::after {
                                                        border-color: var(--main-color) transparent transparent transparent;
                                                    }

                                                    p {
                                                        color: #fff;
                                                    }
                                                }
                                            }
                                        }

                                        div:nth-child(1) {
                                            background-color: var(--red-color);
                                        }

                                        div:nth-child(2) {
                                            background-color: var(--yellow-color);
                                        }

                                    }
                                }
                            }
                        }

                        thead {
                            position: absolute;
                            top: 100%;
                            width: 100%;

                            tr {
                                justify-content: space-between;
                                display: flex;

                                th {
                                    width: 35px;
                                    margin-top: 6px;
                                    font-weight: normal;
                                    letter-spacing: 0.32px;
                                    text-align: center;
                                    font-size: 15px;
                                    color: #6a707e;
                                }
                            }
                        }
                    }
                }
            }

            ul {
                flex: 0 0 100%;
                gap: 10px;

                li {
                    margin: 0 0 10px 0;
                    display: flex;
                    justify-content: space-between;
                    padding: 21px 88px 19px 21px;
                    border-radius: 3px;
                    box-shadow: 0.5px 3px 10px 0 rgba(119, 119, 119, 0.1);
                    background-color: #fff;

                    span {
                        color: #464a53;
                    }

                    &:hover {
                        box-shadow: 3.1px 19.8px 20px 0 rgba(0, 0, 0, 0.1);
                    }
                }
            }

            &:nth-child(2) {
                flex: 0 0 50%;
            }

            &:nth-child(4) {
                position: absolute;
                bottom: 0;
                width: 50%;
            }

            &:nth-child(2),
            &:nth-child(4) {
                padding: 29px 29px 47px 30px;
                box-shadow: 0.5px 3px 10px 0 rgba(119, 119, 119, 0.1);
                background-color: #fff;
                height: fit-content;
            }

            &:nth-child(3) {
                flex: 0 0 100%;
            }

            form {
                display: flex;
                justify-content: space-between;
                width: 100%;
                gap: 24px;

                .custom-col {
                    flex: 0 0 48%;
                    height: fit-content;
                    padding: 30px 28.7px 40px 28px;
                    border-radius: 3px;
                    box-shadow: 0.5px 3px 10px 0 rgb(119 119 119 / 10%);
                    background-color: #fff;
                    gap: 11px;
                    justify-content: flex-start;

                    .control {
                        width: 48%;

                        input {
                            width: 100%;
                            padding: 5px 11px 5px 10px;
                            border: 1px solid #dddfe1;
                        }
                    }

                    &:nth-child(1) {
                        flex-direction: row;
                        flex-wrap: wrap;

                        .btn-holder,
                        p.title {
                            flex: 0 0 100%;
                        }

                        .btn-holder {
                            justify-content: flex-end;
                            display: flex;
                            margin-top: 119px;

                            button {
                                padding: 12px 64px 9px 65px;
                                background-color: #16294f;
                                border: none;
                                font-size: 18px;
                                color: #fff;
                                border-radius: 3px;
                            }
                        }
                    }

                    &:nth-child(2) {
                        >div {
                            padding-bottom: 40px;
                            border-bottom: 1px solid rgb(171, 175, 179, .2);

                            &:last-child {
                                padding-bottom: 0;
                                border-bottom: 0;
                            }

                            .control {
                                a {
                                    display: inline-block;
                                    height: 77px;
                                    padding: 0 22.7px 0 23px;
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: #1a323e;
                                    border-radius: 10px;
                                    line-height: 77px;
                                    background-color: #fcfeff;
                                    width: 100%;
                                }
                            }

                            .control.file {
                                width: 100%;
                                border: dashed 2px #b8c5cc;
                                background-color: #fcfeff;
                                border-radius: 7px;
                                padding: 38px 11px 38px 11px;
                                margin-bottom: 40px;

                                input {
                                    border: none;
                                }
                            }

                            .control.select {
                                width: 100%;

                                select {
                                    border-radius: 3px;
                                    border: solid 1px #dddfe1;
                                    height: 49px;
                                    width: 90%;
                                }
                            }

                            .flex {
                                width: 100%;
                                justify-content: flex-start;
                                gap: 21px;
                                margin-top: 19px;

                                .control.select {
                                    width: 38%;

                                    select {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .custom-row {

        form,
        >table,
        .d-flex {
            width: 100%;
            margin: auto;
        }

        >table {
            margin-bottom: 0;
            margin-top: 41px;
            font-family: 'Roboto';
            border-collapse: separate;
            border-spacing: 0 10px;

            thead {
                tr {
                    th {
                        padding: 12px 11px 11px 12px;
                        border: none;
                        font-weight: normal;
                        color: #464a53;
                    }
                }
            }

            tbody {
                tr {
                    border-radius: 3px;
                    box-shadow: 0px 3px 10px 0 rgba(119, 119, 119, 0.1);
                    background-color: #fff;
                    margin: 12px 0;

                    td {
                        height: 70px;
                        line-height: 70px;
                        border: none;
                        padding: 0 11px 0 12px;

                        .img-holder {
                            width: 39px;
                            height: 39px;
                            background-color: #000;
                            border-radius: 50%;
                            align-self: center;
                            display: flex;

                            img {
                                border-radius: 50%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        p {
                            font-size: 16px;
                            color: #6a707e;
                            margin: 0;
                        }

                        &.status {
                            p {
                                margin: 0;

                                span {
                                    padding: 9px 19px 9px;
                                    font-size: 12px;
                                    text-align: center;
                                    border-radius: 15px;
                                    font-family: 'Open Sans';
                                    letter-spacing: .16px;
                                    color: #fff;

                                    &.paid {
                                        background-color: var(--main-color);
                                    }

                                    &.unpaid {
                                        background-color: var(--red-color);
                                    }
                                }
                            }
                        }

                        &.date {
                            font-size: 16px;
                            color: #abafb3;
                        }

                        &:nth-child(1) {
                            display: flex;
                        }
                    }

                    &:hover {
                        box-shadow: 3.1px 19.8px 20px 0 rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }

        .d-flex {
            margin: 31px auto;
            justify-content: flex-end;

            ::ng-deep {
                ngb-pagination {
                    ul {
                        margin: 0;
                        gap: 12px;

                        li {
                            a {
                                width: 38.2px;
                                height: 38.2px;
                                box-shadow: 0px 10px 30px 0 rgba(119, 119, 119, 0.1);
                                background-color: #fff;
                                border-radius: 50%;
                                border: none;
                                color: #abafb3;
                                ;
                                text-align: center;

                                &:hover {
                                    background: #fff;
                                }

                                &:focus {
                                    box-shadow: none;
                                }
                            }

                            &.active {
                                a {
                                    color: #fff;
                                    background-color: var(--main-color);
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}