<!-- book -->
<section class="book mt-0">
    <img class="book-img" src="../../../../../../assets/images/navigator/housing/booking/book-1.svg" alt="book">
    <h1>We know about thousand of homes looking for someone like you.</h1>
    <p>Rent simply and quickly with the new generation guarantor.
        SmartGarant boosts your rental file and protects landlords for free.You don't need to be on a permanent contract
        to be on top of your future landlord's pile.</p>
    <div>
        <a class="action-btn" href="https://studentgator.studapart.com/en/" target="_blank">Check offers</a>
    </div>
</section>

<!-- book -->
<section class="book">
    <img class="book-img" src="../../../../../../assets/images/navigator/housing/booking/book-2.svg" alt="book">
    <h1>Rent verified homes online from anywhere in <br> the world</h1>
    <p>Spotahome follows a similar business model to online holiday rentalsbut instead focuses on finding you a home for
        stays of a minimum of 30 days, dependent on city regulations.We are an 100% online booking platform, offering an
        exhaustive list of apartments, rooms, studios, and student residences.We’re for anyone, regardless of age or
        professional status.</p>
    <div>
        <a class="action-btn"
            href="https://www.spotahome.com/?irclickid=xi9QvIVWdxyIUnxSIMxN7w-dUkD0hnTD1yq3RU0&utm_source=Impact&utm_medium=Affiliates&utm_campaign=StudentGator&irgwc=1&partner=StudentGator"
            target="_blank">Check offers</a>
    </div>
</section>

<!-- book -->
<section class="book">
    <img class="book-img" src="../../../../../../assets/images/navigator/housing/booking/book-3.svg" alt="book">
    <h1>When it comes to international <br> experience, it all starts with a room</h1>
    <p>HousingAnywhere is an online booking platform for accommodations.Our mission is to make moving abroad easier.
        <br>
        We want to change the way people find housing around the world.
    </p>
    <div>
        <a class="action-btn" routerLink="/housinganywhere" target="_blank">Check offers</a>
    </div>
</section>

<!-- book -->
<section class="book">
    <h1>Other websites</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-md-4 col-6 text-center mt-4">
            <img src="/assets/images/navigator/housing/booking/web-1.svg" alt="web-1">
            <a href="https://www.bienici.com/" target="_blank">www.bienici.com</a>
        </div>
        <div class="col-lg-4 col-md-4 col-6 text-center mt-4">
            <img class="w-100" src="/assets/images/navigator/housing/booking/web-2.svg" alt="web-2">
            <a href="https://www.lacartedescolocs.fr/" target="_blank">www.lacartedescolocs.fr</a>
        </div>
        <div class="col-lg-4 col-md-4 col-6 text-center mt-4">
            <img src="/assets/images/navigator/housing/booking/web-3.svg" alt="web-3"><br>
            <a href="https://www.jinka.fr/" target="__blank">www.jinka.fr</a>
        </div>
        <div class="col-lg-4 col-md-4 col-6 text-center mt-4">
            <img src="/assets/images/navigator/housing/booking/web-4.svg" alt="web-4"><br>
            <a href="https://www.nexity-studea.com/" target="_blank">www.nexity-studea.com</a>
        </div>
        <div class="col-lg-4 col-md-4 col-6 text-center mt-4">
            <img src="/assets/images/navigator/housing/booking/web-5.svg" alt="web-5"><br>
            <a href="https://www.adele.org/" target="_blank">www.adele.org</a>
        </div>
    </div>

    <!-- <div class="row d-flex justify-content-around mt-4 pt-3">
        <div class="col-lg-6 col-md-4 col-6 text-center">
            <img src="/assets/images/navigator/housing/booking/web-4.svg" alt="web-4"><br>
            <a href="https://www.nexity-studea.com/" target="_blank">www.nexity-studea.com</a>
        </div>
        <div class="col-lg-6 col-md-4 col-6 text-center">
            <img src="/assets/images/navigator/housing/booking/web-5.svg" alt="web-5"><br>
            <a href="https://www.adele.org/" target="_blank">www.adele.org</a>
        </div>
    </div> -->

</section>

<!-- back-blue -->
<section class="back-blue">
    <div class="content">
        <div class="d-flex text-center justify-content-center align-items-center mb-2">
            <img class="me-2" src="../../../../../../assets/images/navigator/housing/booking/light.svg" alt="light">
            <h6>Small tip</h6>
        </div>
        <h2>Most schools have Facebook groups where students share good plans</h2>
    </div>
</section>