.login-background {
  background: #e43847;
  min-height: 100vh;
}

.login-z-index {
  z-index: 50;
  // position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #16294f;
  // padding-top: 100px !important;
  // padding-bottom: 100px !important;
  // padding-left: 40px !important;
  // border-radius: 10px;
  // background-color: #FFFFFF;
  // height: 726px;
  // align-items: center;
}

.login-card {
  margin: 40px;
}


