<div class="container blogs">
  <div class="col-11">
    <h2 class="fw-bold lh-1 mb-5 carasoul-section-title">How Can We Help Y<span class="line">ou</span></h2>
  </div>

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="blog-background">
        <div class="full-width">
          <span class="blog-header">Reasons To Study In France</span>
          <div class="imgtwo d-flex text-light">

            <div class="layout align-self-lg-end  ">
              <div class="row time-blog ">

                <div class="col-4 mb-2 text-end">
                  <span class="blog-sg text-center">SG</span>
                </div>
                <div class="col-8 mb-2 text-start">
                  <span class="text-end">9 min. reading</span>
                </div>
                <div class="col-6 my-2 ">
                  <div class="text-end ratings">
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fas fa-star-half-alt"></i>
                  </div>
                </div>
                <div class="col-6 my-2 text-start ">
                  <div class="ratings mr-auto">
                    120
                    <i class="far fa-eye"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="imgone" src="../../../../../assets/images/blogs-img/blog-img1.png" />
          <div class="blog-desc d-flex align-items-center">
            <p>
              France is the 3rd country in the world that welcomes the most international students. There are several
              reasons why students living abroad pursue and complete their studies in France. Schools in France deliver
              internationally recognized high-level diplomas. A large and exceptional network of internationally
              renowned higher education institutions are at your disposal.
            </p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="blog-background">
        <div class="full-width">
          <span class="blog-header">Reasons To Study In France</span>
          <div class="imgtwo2 d-flex text-light">

            <div class="layout align-self-lg-end  ">
              <div class="row time-blog ">

                <div class="col-4 mb-2 text-end">
                  <span class="blog-sg text-center">SG</span>
                </div>
                <div class="col-8 mb-2 text-start">
                  <span class="text-end">9 min. reading</span>
                </div>
                <div class="col-6 my-2 ">
                  <div class="text-end ratings">
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fas fa-star-half-alt"></i>
                  </div>
                </div>
                <div class="col-6 my-2 text-start ">
                  <div class="ratings mr-auto">
                    120
                    <i class="far fa-eye"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="imgone" src="../../../../../assets/images/blogs-img/blog-img1.png" />
          <div class="blog-desc d-flex align-items-center">
            <p>
              Schools in France deliver internationally recognized high-level diplomas. A large and exceptional network
              of internationally renowned higher education institutions are at your disposal. Thus, a wide choice of
              programs is offered by schools and universities, at all levels and in different fields. France has always
              been renowned for its educational, scientific, industrial and economic know-how. As a result, it is at the
              origin of many great technological and industrial successes.
            </p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="blog-background">
        <div class="full-width">
          <span class="blog-header">Reasons To Study In France</span>
          <div class="imgtwo3 d-flex text-light">

            <div class="layout align-self-lg-end  ">
              <div class="row time-blog ">

                <div class="col-4 mb-2 text-end">
                  <span class="blog-sg text-center">SG</span>
                </div>
                <div class="col-8 mb-2 text-start">
                  <span class="text-end">9 min. reading</span>
                </div>
                <div class="col-6 my-2 ">
                  <div class="text-end ratings">
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fas fa-star-half-alt"></i>
                  </div>
                </div>
                <div class="col-6 my-2 text-start ">
                  <div class="ratings mr-auto">
                    120
                    <i class="far fa-eye"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="imgone" src="../../../../../assets/images/blogs-img/blog-img1.png" />
          <div class="blog-desc d-flex align-items-center">
            <p>
              Learning a new culture, such as French culture, must be very interesting. Although we hear European
              cultures are similar, each one keeps despite its own specificities. In France, the student experience is
              enriched through this dynamic culture, the artistic and cultural heritage, including festivals, theater,
              fashion, and gastronomy.
            </p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="blog-background">
        <div class="full-width">
          <span class="blog-header">Reasons To Study In France</span>
          <div class="imgtwo4 d-flex text-light">

            <div class="layout align-self-lg-end  ">
              <div class="row time-blog ">

                <div class="col-4 mb-2 text-end">
                  <span class="blog-sg text-center">SG</span>
                </div>
                <div class="col-8 mb-2 text-start">
                  <span class="text-end">9 min. reading</span>
                </div>
                <div class="col-6 my-2 ">
                  <div class="text-end ratings">
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fas fa-star-half-alt"></i>
                  </div>
                </div>
                <div class="col-6 my-2 text-start ">
                  <div class="ratings mr-auto">
                    120
                    <i class="far fa-eye"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="imgone" src="../../../../../assets/images/blogs-img/blog-img1.png" />
          <div class="blog-desc d-flex align-items-center">
            <p>
              France also has international champions whose fame is spreading all over the world. Deezer: a global
              platform, the n°1 in France for music streaming, the platform has been able to reinvent the music market.
              For them, the state of mind and way of thinking comes before technical expertise. Deezer specializes in
              different areas of design and looks for ways to improve the user experience. Many positions are open such
              as, Software Engineers, Data Analysts, Business Developers, Copyright Accountants...
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>

<div class="container blogs-responsive-sm">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="container">
        <div class="row blog-res">
          <div class="col-12 full-width11">

            <div class="imgtwo111 d-flex text-light">

              <div class=" align-self-end  ">
                <div class="row time-blog ">

                  <div class="col-4 mb-2 text-end">
                    <span class="blog-sg text-center">SG</span>
                  </div>
                  <div class="col-8 mb-2 text-start">
                    <span class="text-end">9 min. reading</span>
                  </div>
                  <div class="col-6 my-2 ">
                    <div class="text-end ratings">
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </div>
                  <div class="col-6 my-2 text-start ">
                    <div class="ratings mr-auto">
                      120
                      <i class="far fa-eye"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img class="imgone111" src="../../../../../assets/images/blogs-img/blog-img1.png">


          </div>
          <h3 class="blog-header">Reasons To Study In France</h3>

          <div class="col-12">
            <div class="description-res d-flex align-items-center">

              <p>
                France is the 3rd country in the world that welcomes the most international students. There are several
                reasons why students living abroad pursue and complete their studies in France. Schools in France
                deliver internationally recognized high-level diplomas. A large and exceptional network of
                internationally renowned higher education institutions are at your disposal.
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container">
        <div class="row blog-res">
          <div class="col-12 full-width11">

            <div class="imgtwo1112 d-flex text-light">

              <div class=" align-self-end  ">
                <div class="row time-blog ">

                  <div class="col-4 mb-2 text-end">
                    <span class="blog-sg text-center">SG</span>
                  </div>
                  <div class="col-8 mb-2 text-start">
                    <span class="text-end">9 min. reading</span>
                  </div>
                  <div class="col-6 my-2 ">
                    <div class="text-end ratings">
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </div>
                  <div class="col-6 my-2 text-start ">
                    <div class="ratings mr-auto">
                      120
                      <i class="far fa-eye"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img class="imgone111" src="../../../../../assets/images/blogs-img/blog-img1.png">


          </div>
          <h3 class="blog-header">Reasons To Study In France</h3>

          <div class="col-12">
            <div class="description-res d-flex align-items-center">

              <p>
                Schools in France deliver internationally recognized high-level diplomas. A large and exceptional
                network of internationally renowned higher education institutions are at your disposal. Thus, a wide
                choice of programs is offered by schools and universities, at all levels and in different fields. France
                has always been renowned for its educational, scientific, industrial and economic know-how. As a result,
                it is at the origin of many great technological and industrial successes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container">
        <div class="row blog-res">
          <div class="col-12 full-width11">

            <div class="imgtwo1113 d-flex text-light">

              <div class=" align-self-end  ">
                <div class="row time-blog ">

                  <div class="col-4 mb-2 text-end">
                    <span class="blog-sg text-center">SG</span>
                  </div>
                  <div class="col-8 mb-2 text-start">
                    <span class="text-end">9 min. reading</span>
                  </div>
                  <div class="col-6 my-2 ">
                    <div class="text-end ratings">
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </div>
                  <div class="col-6 my-2 text-start ">
                    <div class="ratings mr-auto">
                      120
                      <i class="far fa-eye"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img class="imgone111" src="../../../../../assets/images/blogs-img/blog-img1.png">


          </div>
          <h3 class="blog-header">Reasons To Study In France</h3>

          <div class="col-12">
            <div class="description-res d-flex align-items-center">

              <p>
                Learning a new culture, such as French culture, must be very interesting. Although we hear European
                cultures are similar, each one keeps despite its own specificities. In France, the student experience is
                enriched through this dynamic culture, the artistic and cultural heritage, including festivals, theater,
                fashion, and gastronomy.
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container">
        <div class="row blog-res">
          <div class="col-12 full-width11">

            <div class="imgtwo1114 d-flex text-light">

              <div class=" align-self-end  ">
                <div class="row time-blog ">

                  <div class="col-4 mb-2 text-end">
                    <span class="blog-sg text-center">SG</span>
                  </div>
                  <div class="col-8 mb-2 text-start">
                    <span class="text-end">9 min. reading</span>
                  </div>
                  <div class="col-6 my-2 ">
                    <div class="text-end ratings">
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </div>
                  <div class="col-6 my-2 text-start ">
                    <div class="ratings mr-auto">
                      120
                      <i class="far fa-eye"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img class="imgone111" src="../../../../../assets/images/blogs-img/blog-img1.png">


          </div>
          <h3 class="blog-header">Reasons To Study In France</h3>

          <div class="col-12">
            <div class="description-res d-flex align-items-center">

              <p>
                France also has international champions whose fame is spreading all over the world. Deezer: a global
                platform, the n°1 in France for music streaming, the platform has been able to reinvent the music
                market. For them, the state of mind and way of thinking comes before technical expertise. Deezer
                specializes in different areas of design and looks for ways to improve the user experience. Many
                positions are open such as, Software Engineers, Data Analysts, Business Developers, Copyright
                Accountants...
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>

<div class="btn-holder text-center m-auto my-3">
  <button class="reviews-btn general-btn px-5 py-2" routerLink="/landing/Blogs"> All Blogs</button>
</div>