.bg-main-blue {
  background-color: #fff !important;

  * {
    color: #16294f;
    transition: all .3s ease-in-out;
  }

  a {
    color: #16294f !important;

    &:hover {
      i {
        color: #fff !important;
        transition: all .3s ease-in-out;
      }
    }
  }

  .fa-phone {
    margin-right: 5px;
  }
}

.header .elemenator-top-section .container .elemenator-contacts i,
.header .elemenator-top-section .container .elemenator-contacts a,
.header .elemenator-top-section a i {
  color: #16294f !important;
}

.bg-main-mustard {
  background-color: #16294f !important;
}

.header a {
  color: #fff !important;
}

.dropdown-toggle {
  color: #fff !important;
}

.header .elemenator-bottom-section nav ul li.links .clicked-link {
  border-color: #fff !important;
}

.header {
  font-family: "Roboto", sans-serif;
  font-weight: 600;

  .elemenator-top-section {
    .container {
      .elemenator-contacts {
        i {
          color: #16294f;
        }
      }

      .elemenator-social-icons {
        a:hover {
          background-color: #16294f;
          color: #fff!important;
          i{
            color: #fff!important;
          }
        }
      }
    }
  }

  .elemenator-bottom-section {
    nav {
      ul {
        list-style: none;

        li.links {
          margin-right: 40px;
          position: relative;

          .clicked-link {
            border-bottom: 3px solid white;

          }
        }
      }
    }

  }

  .dropdown-menu {
    a {
     color: #cb6d6d!important;

     &:hover{
      color: #fff!important;
     }
    }
  }

}



//resposive view:
//----------------------------------------------------------------------------------------------------------------------
@media only screen and (max-width:768px) {
  .elemenator-top-section {
    margin: 0 auto !important;
    overflow-y: hidden !important;

    .elemenator-contacts {
      display: none !important;
    }
  }

  .elemenator-bottom-section {
    overflow-y: hidden !important;
    padding-left: 0;
    padding-right: 0;

    .navbar {
      width: 100%;
      margin-right: 0 !important;
      margin-left: 0 !important;

      // padding-bottom: 0;
      .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;

        .navbar-toggler {
          border: 3px solid white;

          .navbar-toggler-icon {
            background-image: url("../../../../assets/images/home/icons8-bar-67.png");
          }

        }

        .navbar-toggler:focus {
          border: 2px solid white;
          box-shadow: none !important;
        }

        .navbar-collapse {
          margin-right: 0;
          margin-left: 0;
          margin-bottom: 0;
          background-color: #fff;
          width: 100% !important;

          ul {
            margin-left: 0;

            li {
              width: 100%;

              a {
                color: #16294f;
                padding-left: 5px;
                padding-right: 5px;
              }

              .clicked-link {
                width: 100%;
                border: none !important;
                background-color: rgb(38, 38, 105);
                color: #16294f;
              }
            }

            li:hover {
              background-color: rgb(38, 38, 105);

              a {
                color: #fff
              }
            }
          }

        }
      }
    }

  }
}



.auth_links {
  display: flex;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease-in-out;


    &:hover {
      color: #99353f;
      transition: all .3s ease-in-out;

    }

    &:nth-child(1) {
      margin-right: 20px;
    }

    i {
      font-size: 22px;
      margin-top: 5px;

      &.fa-user-plus {
        font-size: 18px;
        margin-bottom: 4px;
      }
    }
  }
}


.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.dropdown-item {
  color: #7eaeb3 !important;
  // text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
  background-color: #16294f;
  color: #fff !important;
  // text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  margin-bottom: 0 !important;
}

.dropdown {
  display: flex;
}

.btn-check:checked+.btn-secondary:focus,
.btn-check:active+.btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #16294f !important;
}