<div class="header top-0 start-0 end-0 d-flex flex-column text-white">

  <section class="elemenator-section elemenator-top-section bg-main-blue ">
    <div class="container d-flex justify-content-between align-items-center me-auto">
      <div class="elemenator-contacts d-flex justify-content-between align-items-center">
        <div class="phone d-flex align-items-center pe-5 fw-normal">
          <i class="fas fa-phone"></i>
          <a href="tel:+21628395065">+216 28 395 065</a>
        </div>
        <div class="email d-flex align-items-center fw-normal">
          <i class="far fa-envelope"></i>
          <span class="ms-2">
            <a href="mailto:contact@courselysee.com.tn">contact@courselysee.com.tn</a>
          </span>
        </div>
      </div>

      <div class="elemenator-social-icons d-flex align-items-center">
        <a target="_blank" href="https://www.facebook.com/courselysee"><i class="fab fa-facebook-f p-3"></i></a>
        <a target="_blank" href="https://www.instagram.com/cours.elysee/"><i class="fab fa-instagram p-3"></i></a>
        <a target="_blank" href="https://www.linkedin.com/company/cours-elys%C3%A9e/posts/?feedView=all"><i class="fab fa-linkedin-in p-3"></i></a>
        <a target="_blank" href="https://www.tiktok.com/@cours.elysee8"><i class="fab fa-tiktok p-3"></i></a>
      </div>

    </div>
  </section>

  <section class="elemenator-section elemenator-bottom-section ">
    <nav class="navbar navbar-expand-md bg-main-mustard">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">
          <img src="assets/images/elias.png" style="width: 150px;" />
        </a>
        <button class="navbar-toggler d-lg-none  text-white mt-3 mb-3 " type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-white">
          </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav m-auto mt-lg-0">
            <li class="nav-item links">
              <a class="nav-link" routerLink="/landing/home" routerLinkActive="clicked-link">Qui Sommes Nous</a>
            </li>
            <li class="nav-item links">
              <a class="nav-link" routerLink="/landing/About-Us" routerLinkActive="clicked-link">Nos services</a>
            </li>
            
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Admission
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a class="nav-link dropdown-item" routerLinkActive="clicked-link"
                      routerLink="/landing/Schools">Ecoles</a>
                  </li>
                  <li>
                    <a class="nav-link dropdown-item" routerLinkActive="clicked-link"
                      routerLink="/landing/programs">programmes</a>
                  </li>
                </ul>
              </div>
            
          </ul>
          <div class="auth_links" *ngIf="!isLoggedIn">
            <a (click)="logInPage()">
              <i class="fas fa-sign-in-alt"></i>
              <div>Connexion</div>
            </a>
            <a (click)="registerPage()">
              <i class="fas fa-user-plus"></i>
              <div>S'inscrire</div>
            </a>
          </div>
          <div class="auth_links" *ngIf="isLoggedIn">
            <a [routerLink]=" type === 'student' ? ['/profile', 'documents'] : type === 'employee' || 'owner' ? ['/employees', name, 'dashboard'] : ['/sub-agents', name, 'dashboard']">
              <i class="fas fa-user"></i>
              <div>Mon profil</div>
            </a>

            <a (click)="logoutMob()">
              <i class="fas fa-sign-out-alt"></i>
              <div>Déconnexion</div>
            </a>
          </div>

         
        </div>
      </div>


    </nav>

  </section>
</div>