<!-- <section>
    <div class="text-center">
        <p class="stats">
            Statistics
        </p>
    </div>
    <div class="d-flex justify-content-start align-items-center m-auto">
        <mat-form-field appearance="fill">
            <mat-label>Month and Year</mat-label>
            <input matInput [matDatepicker]="dp" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="multi-year"
                            (monthSelected)="setMonthAndYear($event, dp)"
                            panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
        <div class="ms-auto">
            <button class="btn btn-primary" (click)="displayStats()">Get Total Stats</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4" *ngFor="let employeeStats of emplyoeesStats">
            <mat-card class="example-card mb-3">
                <mat-card-header class="d-flex flex-column justify-content-center align-items-center">
                        <mat-card-title class="d-flex justify-content-center align-items-center"><a [routerLink]="['/employee/employee-stats', employeeStats.username]" (click)="passEmail(employeeStats.email)">{{ employeeStats.username }}</a></mat-card-title>
                        <mat-card-subtitle class="d-flex justify-content-center align-items-center">{{ employeeStats.jobtitle }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../../../assets/images/our-team/{{ employeeStats.name }}.svg" alt="Photo of a Shiba Inu" class="mb-4">
                <mat-card-content class="d-flex flex-column justify-content-center align-items-center mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column justify-content-center align-items-start me-5">
                            <p>
                                Applications Requested
                            </p>
                            <p>
                                Preparing Documents
                            </p>
                            <p>
                                Sent to Schools
                            </p>
                            <p>
                                Pending Payment Applications
                            </p>
                            <p>
                                Applications Accepted
                            </p>
                            <p>
                                Applications Rejected
                            </p>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-end ms-5">
                            <p>
                                {{ employeeStats.pending }}
                            </p>
                            <p>
                                {{ employeeStats.Preparingdocs }}
                            </p>
                            <p>
                                {{ employeeStats.applicationsent }}
                            </p>
                            <p>
                                {{ employeeStats.pendingpay }}
                            </p>
                            <p>
                                {{ employeeStats.accepted }}
                            </p>
                            <p>
                                {{ employeeStats.apprej }}
                            </p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section> -->
