<!-- first section -->
<section>
    <h1>Caisse d’allocations familiales / aide personnalisée au logement</h1>
    <p class="mt-lg-3 mt-md-3 mt-2">The APL (Aide personnalisée au logement) is a financial aid provided by the french government to
        reduce the amount of your rent (or your fees if you live in a hostel).</p>
</section>

<!-- get free-->
<section class="get-free">
    <p>It is <span>paid on the basis of your housing situation,</span> regardless of your family situation: single,
        married, with or without any dependents. <br>
        The conditions of attribution differ depending on whether <span>you are renting or living in a hostel.</span>
    </p>
</section>

<div class="mt-lg-4 mt-md-4 mt-4 pt-lg-3 pt-md-2">
    <a class="action-btn" href="https://www.caf.fr/sites/default/files/cnaf/Documents/DCom/Accueil/Actu/ALE-2019/Private%20market_English.pdf" target="_blank">Check website</a>
</div>

<!-- accordion -->
<section class="accordion">
    <h5>FAQS</h5>
    <div class="row">
        <div class="col-lg-12 px-0">
            <div class="accordion accordion-flush" id="accordionFlushExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingfour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapsefour" aria-expanded="false"
                            aria-controls="flush-collapsefour" (click)="showIconBtn4()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 86%" class="m-0">
                                    What is CAF?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon4">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon4">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapsefour" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="describtion">
                                CAF stands for Caisse d'Allocations Familiales, which is a French government agency that
                                provides financial assistance to families and individuals.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                            (click)="showIconBtn()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 86%" class="m-0">
                                    What kind of financial assistance does CAF provide?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="describtion">
                                CAF provides a range of financial assistance programs, including housing assistance,
                                family allowances, childcare subsidies, and disability benefits.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingtwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapsetwo" aria-expanded="false" aria-controls="flush-collapsetwo"
                            (click)="showIconBtn2()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 86%" class="m-0">
                                    How do I apply for CAF?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon2">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon2">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapsetwo" class="accordion-collapse collapse" aria-labelledby="flush-headingtwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="describtion">
                                To apply for CAF, you can visit the CAF website or go to a local CAF office. You will
                                need to provide various documents, such as proof of identity, proof of address, and
                                proof of income.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingthree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapsethree" aria-expanded="false"
                            aria-controls="flush-collapsethree" (click)="showIconBtn3()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 86%" class="m-0">
                                    How long does it take to receive CAF assistance?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon3">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon3">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapsethree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingthree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="describtion">
                                <p>
                                    The processing time for CAF applications can vary depending on the program and the
                                    complexity of the application. However, applicants can generally expect to receive a
                                    response within a few weeks.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingsix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix"
                            (click)="showIconBtn6()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 86%" class="m-0">
                                    Can non-French citizens apply for CAF?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon6">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon6">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="describtion">
                                <p>
                                    Yes, non-French citizens who meet the eligibility requirements can apply for CAF.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingfive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapsefive" aria-expanded="false"
                            aria-controls="flush-collapsefive" (click)="showIconBtn6()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 86%" class="m-0">
                                    How can I contact CAF if I have questions or concerns?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon6">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon6">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="describtion">
                                <p>
                                    You can contact CAF by visiting their website, calling their toll-free number, or
                                    going to a local CAF office.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>