<section class="forget-section">
  <div class="row">
    <div class="content">
      <img src="../../../../../assets/images/elysee-logo.png" alt="SG logo" />
      <p class="reset">Reset Your Password</p>
      <p class="description">
        Enter the email address associated with your account and we’ll send you
        a link to reset your password.
      </p>
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onSubmit(resetPasswordForm)"
      >
        <div>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control emailInput"
          />
          <label for="email" class="emailLabel">Email Adress</label>
        </div>
        <div class="send">
          <button
            class="btn"
            type="submit"
            [disabled]="!resetPasswordForm.valid"
          >
            Send
          </button>
        </div>
        <p class="create d-flex justify-content-center">
          Don’t have an account?
          <a class="ms-2" routerLink="/auth/register"> Sign up </a>
        </p>
      </form>
    </div>
  </div>
</section>
