<section class="forget-section">
  <div class="row">
    <div class="login-card">
      <div class="content">
        <a routerLink="/landing/home">
          <img src="../../../../../assets/images/elias_logo.svg" alt="SG logo" />
        </a>
        <p class="reset">Reset Your Password</p>
        <p class="description">
          Enter the email address associated with your account and we’ll send you
          a link to reset your password.
        </p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)">
          <div>
            <label for="email" class="emailLabel">Email Adress</label>
            <input type="text" id="email" formControlName="email" class="form-control emailInput" placeholder="Ex: johndoe@gmail.com" />
            <span *ngIf="noAccount" class="validate">You didn't have an account</span>
          </div>
          <div class="send">
            <button class="btn" type="submit" [disabled]="!resetPasswordForm.valid"> Send</button>
          </div>
          <p  class="create d-flex justify-content-center">
            Don’t have an account?
            <a class="ms-2" routerLink="/auth/register/student"> S’inscrire </a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>