<section class="forget-section">
  <div class="row">
    <div class="content">
      <img src="../../../../../assets/images/elysee-logo.png" alt="SG logo" />
      <p class="reset">Réinitialiser votre mot de passe</p>
      <p class="description">
        Saisissez l'adresse électronique associée à votre compte et nous vous enverrons un lien pour réinitialiser votre mot de passe. un lien pour réinitialiser votre mot de passe.
      </p>
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onSubmit(resetPasswordForm)"
      >
        <div>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control emailInput"
          />
          <label for="email" class="emailLabel">Adresse électronique</label>
        </div>
        <div class="send">
          <button
            class="btn"
            type="submit"
            [disabled]="!resetPasswordForm.valid"
          >
          Envoyer
          </button>
        </div>
        <p class="create d-flex justify-content-center">
          Vous n'avez pas de compte ?
          <a class="ms-2" routerLink="/auth/register"> S'inscrire </a>
        </p>
      </form>
    </div>
  </div>
</section>
