<div class="container-fluid header_con">
    <h3>Choisissez votre </h3>
    <h3><span class="color_red">école de commerce</span> en</h3>
    <h3>France</h3>
</div>

<div class="your_career container pt-4 pb-4">
    <h3>Votre Parcours en école de commerce en France ou autres !</h3>
    <p>Le parcours que propose une école de commerce en France varie selon le programme choisi : Programme Grande Ecole,
        Bachelor, Master of science, ou encore un Master spécialisé. </p>
    <div class="row g-4 my-3">
        <div class="col-lg-4 col-12 card-col">
            <div class="card-container py-5 red-cards text-center">
                <h3 class="text-white">BACHELOR</h3>
                <div class="text-blue my-2 mb-3 card-text">
                    Niveau du diplôme au RNCP et CGE
                    <br>
                    Niveau 6 (Bac +3)
                </div>

                <button class="text-white" routerLink="/landing/Schools">Je candidate</button>
            </div>
        </div>
        <div class="col-lg-4 col-12 card-col">
            <div class="card-container py-5 red-cards text-center">
                <h3 class="text-white">Master PGE</h3>
                <div class="text-blue my-2 mb-3 card-text">
                    Programme Grande École
                    <br>
                    Grade de Master (niveau bac +5 visé)
                </div>

                <button class="text-white" routerLink="/landing/Schools">Je candidate</button>
            </div>
        </div>
        <div class="col-lg-4 col-12 card-col">
            <div class="card-container py-5 red-cards  text-center">
                <h3 class="text-white">Master spe / Master of Sc</h3>
                <div class="text-blue my-2 mb-3 card-text">
                    Label décerné par la CGE et RNCP
                    <br>
                    Grade Master (niveau bac +6 visé)
                </div>

                <button class="text-white" routerLink="/landing/Schools">Je candidate</button>
            </div>
        </div>
    </div>
    <p>Généralement, les trois premières années représentent un tronc commun où sont étudiées plusieurs disciplines
        (<span class="fw-bold">Marketing, Comptabilité, Finance, Informatique, Sciences Politiques, Architecture </span>
        ) dans l’objectif d’avoir une polyvalence à la sortie d’école. La ou les dernière(s) année(s), <span
            class="fw-bold">Master 1</span> et/ou <span class="fw-bold">Master 2</span> sont dédiées à la spécialisation
        choisie par l’étudiant qui permettra d’ouvrir sur des débouchés/ opportunités de carrière bien spécifiques à
        chacune des disciplines que propose l’École en question. Notons que, certaines Grandes Écoles ne sont
        accessibles qu’à travers un premier parcours de classes préparatoires ( pouvant être incluses dans cette dite
        école), en BTS ou avec une licence qu’en post-prépa, qui peuvent être entre autres.</p>
</div>

<div class="our-partners p-4">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="col-info">
                    <h3>Nos partenaires</h3>
                    <p>Study Plus offre un service d’accompagnement pour les étudiants qui souhaitent poursuivre leurs
                        études en école de commerce en France, d’arts, d’architecture etc. Notre bureau propose une
                        panoplie d’écoles partenaires, plus d’une vingtaine de disciplines et de programmes différents.
                    </p>
                    <p class="fst-italic fw-bold mb-0">Vous rêvez d’une carrière en Informatique ? en Arts en Commerce
                        ou autre?</p>
                    <p class="fst-italic fw-bold">Vous avez un penchant particulier pour une ville et pas une autre ?
                    </p>
                    <p>Il suffit que vous choisissiez l’école qui vous convient, et dans laquelle vous souhaitez
                        poursuivre vos études, dans la mosaïque de possibilités que Study Plus met à votre disposition
                        afin d’étudier en France.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="owl-carousel-bg mt-4 w-75">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide><img
                                src="../../../../../assets/images/home/Sans-titre-2022-12-22T205842.155-300x300.png"
                                alt="" width="300px" height="300px" class="bg-white"></ng-template>
                        <ng-template carouselSlide><img
                                src="../../../../../assets/images/home/Sans-titre-2022-12-22T205743.191-300x300.png"
                                alt="" width="300px" height="300px" class="bg-white"></ng-template>
                        <ng-template carouselSlide><img
                                src="../../../../../assets/images/home/Sans-titre-2022-12-22T205726.013-300x300.png"
                                alt="" width="300px" height="300px" class="bg-white"></ng-template>
                        <ng-template carouselSlide><img src="../../../../../assets/images/home/esg-logo-1-300x300.png"
                                alt="esgLogo" width="300px" height="300px"></ng-template>
                        <ng-template carouselSlide><img src="../../../../../assets/images/home/Sans-titre-1-300x300.png"
                                class="bg-white" alt="" width="300px" height="300px"></ng-template>
                        <ng-template carouselSlide><img src="../../../../../assets/images/home/Sans-titre-57.png"
                                alt="digitalCampusLogo" width="300px" height="300px"></ng-template>
                        <ng-template carouselSlide><img
                                src="../../../../../assets/images/home/Sans-titre-2022-12-22T210248.201-300x300.png"
                                alt="" width="300px" height="300px" class="bg-white"></ng-template>
                        <ng-template carouselSlide><img
                                src="../../../../../assets/images/home/Sans-titre-2022-12-22T210158.216-300x300.png"
                                alt="" width="300px" height="300px" class="bg-white"></ng-template>
                        <ng-template carouselSlide><img
                                src="../../../../../assets/images/home/Sans-titre-2022-12-22T210008.248-300x300.png"
                                alt="" width="300px" height="300px" class="bg-white"></ng-template>
                        <ng-template carouselSlide><img
                                src="../../../../../assets/images/home/Sans-titre-2022-12-22T205916.862-300x300.png"
                                alt="" width="300px" height="300px"></ng-template>
                        <ng-template carouselSlide><img
                                src="../../../../../assets/images/home/Sans-titre-2022-12-22T205627.531-300x300.png"
                                alt="" width="300px" height="300px" class="bg-white"></ng-template>
                        <ng-template carouselSlide><img
                                src="../../../../../assets/images/home/Sans-titre-2022-12-22T205541.463-300x300.png"
                                alt="" width="300px" height="300px" class="bg-white"></ng-template>
                        <ng-template carouselSlide><img
                                src="../../../../../assets/images/home/Sans-titre-2022-12-22T211035.239-300x300.png"
                                alt="" width="300px" height="300px" class="bg-white"></ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="application-process py-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-11">
                <h3 class="text-center">Processus de candidature</h3>
                <p>Le processus de candidature digital est simple, il se compose de <span class="fw-bold">5 étapes
                        indispensables</span> : </p>
                <p>Après avoir bénéficié d’une séance d’orientation assurée par nos experts en accompagnement, le
                    processus de candidature commence par</p>
                    <div class="timeline">
                        <div class="timeline-container left">
                          <div class="content">
                            <h2>Constitution du dossier</h2>
                            <p>Constitution du dossier, soit l’ensemble des pièces à fournir et à joindre dans le dossier ;</p>
                          </div>
                        </div>
                        <div class="timeline-container right">
                          <div class="content">
                            <h2>Candidatures aux écoles</h2>
                            <p>Candidater, soit choisir une école parmi la liste sur notre <a routerLink="/landing/Schools">page ici</a> !</p>
                          </div>
                        </div>
                        <div class="timeline-container left">
                          <div class="content">
                            <h2> Envoi du dossier</h2>
                            <p>Candidature aux écoles, soit le téléchargement des documents requis sur la même page de notre site web;</p>
                          </div>
                        </div>
                        <div class="timeline-container right">
                          <div class="content">
                            <h2>Retour Study Plus</h2>
                            <p> Réponses des écoles choisi par l’étudiant ;</p>
                          </div>
                        </div>
                        <div class="timeline-container left">
                            <div class="content">
                              <h2>Départ en France</h2>
                              <p>Préparation du départ, qui consiste en la phase du visa, du logement et de l’installation.</p>
                            </div>
                          </div>
                       
                      </div>
                      
                      
            </div>
        </div>

    </div>
</div>
<div class="blue-section p-5">
    <div class="container">
        <h3 class="text-center">La vie estudiantine</h3>
        <p class="text-italic text-center">Savez-vous que l’épanouissement est un facteur clé dans la réussite d’un étudiant ?</p>
        <p class="text-center px-3">Eh oui, bonne nouvelle ! Le système supérieur français comprend des activités parascolaires qui vous permettent de vivre des expériences inouïes :</p>
        <ul class="d-flex justify-content-between">
            <li class="pe-5"><span>Le Bureau/ L’Association des étudiants qui permet, en l’occurrence, à l’étudiant de se sentir compris du fait que ce soit des «  étudiants élus qui représentent l’ensemble des étudiants eux-mêmes »</span></li>
            <li class="pe-5"><span>Les Clubs/Associations qui luttent pour diverses causes, dont certaines peuvent être humanitaires, d’autres culturelles ou encore sportives.</span></li>
        </ul>
        <div class="photos-container d-flex justify-content-between">
           <img src="../../../../../assets/private_school/Sans-titre-2022-11-22T151515.248.png" alt="first-image">
           <img src="../../../../../assets/private_school/Sans-titre-2022-11-22T151309.280.png" alt="2nd-image">
           <img src="../../../../../assets/private_school/Sans-titre-2022-11-22T151254.065.png" alt="3rd-image">
           <img src="../../../../../assets/private_school/Sans-titre-2022-11-22T150906.255.png" alt="4th-image">


        </div>
    </div>
</div>
<div class="faq-section pb-5 mb-5">
    <div class="container">
        <div class="faq-section-heading">
            <h2>FAQ</h2>
        </div>
        <div class="faq-occordion">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Le service parcours École Privée est-il payant ?                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Le service que propose Study Plus concernant le parcours école privée est gratuit, y compris l’orientation et les candidatures pour chaque école.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Que va me coûter ma scolarité en dehors des frais de l’école ?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Il faudra compter les frais que requiert la démarche visa, le logement et le transport notamment. Il faut également prévoir d’autres charges éventuelles (argent de poche notamment )
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Est- ce que nous pouvons postuler pour plusieurs écoles ?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Oui, vous pouvez candidater à autant d’écoles que vous le souhaitez.
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>