p,
h1,
h2,
h3 {
    font-family: Poppins !important;

}

.container {
    h1 {
        font-size: 26px;
        color: #000000;
    }

    h2 {
        color: #6f77f4;
    }

    p {
        color: #6c6c6c;
        text-align: justify;
    }

    .bigBox {
        background-color: white;
        border-radius: 3px;
        margin-bottom: 45px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-top: 45px;

        .content {
            padding: 9px 52px;
        }

        .agment {
            font-size: 15px;
            color: #000;
        }
    }
}