<!-- <div class="container my-5">
  <form (ngSubmit)="onSubmit(updatePro)" [formGroup]="updatePro">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Program Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="Name"
            value="{{ programContainer.programName }}"
            #ProgName
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Language</label>
          <input
            type="text"
            class="form-control"
            formControlName="Language"
            value="{{ programContainer?.programLang }}"
            #ProgLang
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Type</label>
          <input
            type="text"
            class="form-control"
            formControlName="type"
            value="{{ programContainer?.programType }}"
            #ProgType
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">City</label>
          <input
            type="text"
            class="form-control"
            formControlName="city"
            value="{{ programContainer?.cityInfo.Name }}"
            #ProgCity
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Level</label>
          <input
            type="text"
            class="form-control"
            formControlName="level"
            value="{{ programContainer?.programLevel }}"
            #ProgLevel
          />
        </div>
      </div>

      <div class="col-md-6">
        <label class="form-label">Length</label>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="length"
            value="{{ programContainer?.programLength }}"
            #ProgLength
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
          />
          <span class="input-group-text" id="basic-addon2">Years</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Fee</label>
          <input
            type="text"
            class="form-control"
            formControlName="fee"
            value="{{ programContainer?.programFee }}"
            #ProgFee
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Intake</label>
          <input
            type="text"
            class="form-control"
            formControlName="intake"
            value="{{ programContainer?.programIntake }}"
            #ProgIntake
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">School Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="school"
            value="{{ programContainer?.schoolInfo.schoolName }}"
            #ProgSchoolName
          />
        </div>
      </div>
      <input
        type="hidden"
        formControlName="id"
        #ProgId
        value="{{ programContainer?.programId }}"
      />
    </div>
    <div class="">
      <div class="d-flex align-items-center">
        <button mat-raised-button color="primary" style="font-size: 20px">
          Save
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div> -->
