<!-- first section -->
<section class="first-section">
    <h1>Campus France interview</h1>
    <p class="mt-lg-3 mt-md-2">It is done in order to authenticate your documents, verify your motivation, your study plan, your
        level of French, etc.</p>

    <div class="back-red">
        <h1>Beware!</h1>
        <ul>
            <li>
                <p>Many visa refusals are due to a poorly prepared Campus France interview.</p>
            </li>
            <li>
                <p>Practice answering different questions. Define your project and be sure of what you are saying.</p>
            </li>
            <li>
                <p>It is important to show the examiner that you have come to France to study and that your professional
                    project is related to your studies.</p>
            </li>
        </ul>
    </div>

    <!-- <div class="back-orange">
        <h1>After the interview you will receive the “Accord prealable” message</h1>
        <div class="one-col">
            <h5>Accord préalable</h5>
            <p>Upon successfully completing the interview, you will receive a letter known as the <span>'accord préalable'</span><br>
                This letter is a crucial document required for the France Visa process.</p>
        </div>
        <div class="last-orange">
            <h4>The message must be presented when you apply for a visa</h4>
        </div>
    </div> -->



        <div class="back-blue mt-0">
          <h4 class="px-5">
            <h5>Accord préalable</h5>
            <p>Upon successfully completing the interview, you will receive a letter known as the <span>'accord préalable'</span><br>
                This letter is a crucial document required for the France Visa process.</p>
          </h4>
        </div>



        <div class="back-blue mt-0">
          <h4 class="px-5">
            The message must be presented when you apply for a visa
          </h4>
        </div>


</section>

<!-- accordion -->
<section class="accordion">
    <h1>Examples of common questions you may asked</h1>
    <div class="row">
      <div class="col-lg-12 px-0">
        <div class="accordion accordion-flush" id="accordionFlushhm">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghm">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehm"
                aria-expanded="false"
                aria-controls="flush-collapsehm"
                (click)="showIconBtn()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                    Introduce yourself
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehm"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghm"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
                <p class="describtion">
                    During this question that comes up in almost all types of interviews, you can prepare a brief introduction to greet the person in front of you. <br>
                    Introduce yourself Briefly talk about your academic background and your desire to pursue studies in France.
                </p>
              </div>
            </div>
          </div>
  
          <!-- // -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmtwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmtwo"
                aria-expanded="false"
                aria-controls="flush-collapsehmtwo"
                (click)="showIconBtn2()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                    Why did you choose to study in France?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon2"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon2"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmtwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmtwo"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
                <p>When answering this question, you can highlight several points:</p>
                <ul>
                    <li><p><span>Academic Excellence:</span> Emphasize the reputation of the French higher education system and its academic excellence.</p></li>
                    <li><p><span>Recognition of French degrees</span> in your home country, making it easier to obtain employment.</p></li>
                    <li><p><span>Culture and Dynamic Student Life:</span> Discuss the appeal of French culture, its history, art, and gastronomy. Also mention the vibrant student life in France, with opportunities to participate in activities such as cultural events.</p></li>
                    <li><p><span>Professional Immersion Opportunities</span> offered by education programs in France, compared to those available in your own country.</p></li>
                </ul>
              </div>
            </div>
          </div>
  
          <!-- //// -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmthree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmthree"
                aria-expanded="false"
                aria-controls="flush-collapsehmthree"
                (click)="showIconBtn3()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                   What are your motivations for choosing this program?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon3"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon3"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmthree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmthree"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
                <div class="describtion">
                  <p>
                    To answer this question, it is important to put your study and career plans on paper.
                  </p>
                  <ul>
                    <li>
                      <p>
                        Talk about your passion and deep interest in the specific field you have chosen to study.
                      </p>
                    </li>
                    <li>
                      <p>
                        Career Prospects: Discuss the exciting career prospects and opportunities that this education program offers.
                      </p>
                    </li>
                    <li>
                      <p>
                        Relevance to Your Career Goals: Explain how these courses/programs align with your career objectives.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
  
          <!-- // -->

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmfour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmfour"
                aria-expanded="false"
                aria-controls="flush-collapsehmfour"
                (click)="showIconBtn4()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                  What is your career project?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon4"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon4"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmfour"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmfour"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
                <ul>
                    <li><p>Begin by clearly explaining your long-term career project. Identify the field in which you want to work and briefly describe the position you are aiming for.</p></li>
                    <li><p>Share the reasons that drive you to pursue this career project. Talk about your interest in the field.</p></li>
                    <li><p>Discuss the steps in your journey that will help you achieve your career project. Show how the education or training you will undertake will contribute to reaching this goal.</p></li>
                </ul>
              </div>
            </div>
          </div>
  
          <!-- // -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmfive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmfive"
                aria-expanded="false"
                aria-controls="flush-collapsehmfive"
                (click)="showIconBtn5()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                   Justify the poor grades you have obtained.
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon5"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon5"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmfive"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmfive"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
                <ul>
                    <li><p>Justify the poor grades you have obtained.</p></li>
                    <li><p>Make sure to take responsibility for your poor grades. Avoid making excuses or blaming others.</p></li>
                    <li><p>Identify the reasons for the poor grades: Try to understand the reasons why you received poor grades. Was it due to personal difficulties, health issues, poor time management, or a lack of understanding of the subject? Be honest with yourself and identify contributing factors.</p></li>
                    <li><p>Explain the corrective measures taken: Talk about the steps you have taken to improve your academic performance. Mention the actions you have taken to overcome the challenges faced.</p></li>
                    <li><p>Highlight recent positive results: If you have made progress since the poor grades, emphasize your recent positive results.</p></li>
                    <li><p>Express your determination and commitment: Conclude your response by expressing your determination to continue improving and maintaining good academic performance in the future.</p></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- // -->
    
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmsix">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmsix"
                aria-expanded="false"
                aria-controls="flush-collapsehmfive"
                (click)="showIconBtn6()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                  What kind of training do you want to pursue?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon6"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon6"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmsix"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmsix"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
                <p>Please provide the exact name of the training program and how it is structured.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmseven">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmseven"
                aria-expanded="false"
                aria-controls="flush-collapsehmseven"
                (click)="showIconBtn7()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                   Why did you choose this program?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon7"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon7"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmseven"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmseven"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
                <p>Begin by sharing your passion and deep interest in the field of the training program you have chosen. Talk about the reasons that attracted you to this field and how it aligns with your personal and professional interests. <br>
                    Discuss your skills, abilities, and previous experiences that make you well-suited for this training program. <br>
                    Explain how this training program offers attractive career prospects and employment opportunities in the field. Highlight the market demand for professionals in this field.
                    Explain how this specific training program will help you achieve your long-term personal and professional goals.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmeight">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmeight"
                aria-expanded="false"
                aria-controls="flush-collapsehmeight"
                (click)="showIconBtn8()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                  On what criteria did you base your choice of universities?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon8"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon8"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmeight"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmeight"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
               <p>The reputation and quality of the institution: Mention that you considered the reputation and quality of the school in your selection process. Talk about rankings, accreditations, and student reviews. <br>
                The suitability of the study program: Explain that you carefully evaluated the study programs offered by the schools to ensure they align with your academic interests and career goals.
                Internship or practical learning opportunities: Explain that you assessed the internship opportunities, international mobility, projects, and certifications offered by the school/program.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmnine">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmnine"
                aria-expanded="false"
                aria-controls="flush-collapsehmnine"
                (click)="showIconBtn9()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                  Do you have an idea about the costs of studying in France?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon9"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon9"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmnine"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmnine"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
                <p> Mention that the cost of living in France can vary depending on the city or region where you study. Research the cost of living at your school (transportation, housing, activities, etc.).
                  Show that you are also aware of additional costs that may occur, such as phone plans, health insurance, and school supplies.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmten">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmten"
                aria-expanded="false"
                aria-controls="flush-collapsehmten"
                (click)="showIconBtn10()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                   How do you plan to finance your studies?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon10"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon10"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmten"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmten"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
               <p>I will finance my studies through various means.</p>
               <ul>
                <li><p>Firstly, my parents will contribute a sum of XXX towards my education. Additionally, I have been awarded a scholarship of XXX, which will further support my financial needs. </p></li>
                <li><p>Moreover, I have established a specific connection with a sponsor who has committed to providing an annual contribution of XXX.</p></li>
                <li><p>Furthermore, I have diligently saved XXX over the past two years in preparation for my education expenses. These savings will serve as an additional source of funding.</p></li>
                <li><p>In the event of financial difficulties, I have the option to work part-time utilizing the employment opportunities available to students under the French law. However, I prefer to dedicate myself fully to my studies and prioritize my academic pursuits.</p></li>
               </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmeleven">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmeleven"
                aria-expanded="false"
                aria-controls="flush-collapsehmeleven"
                (click)="showIconBtn11()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                   Why did you choose the city XXX?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon11"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon11"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmeleven"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmeleven"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
                <p>When explaining your choice of city, it is recommended to emphasize the chosen program of study and the opportunities offered by the school located in that city. Avoid mentioning that you are motivated by the desire to live in those cities, but rather highlight the educational aspect.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmtwlv">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmtwlv"
                aria-expanded="false"
                aria-controls="flush-collapsehmtwlv"
                (click)="showIconBtn12()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                  Suppose no university accepts you or you have not obtained your visa, what do you plan to do?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon12"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon12"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmtwlv"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmtwlv"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
               <p>It is crucial to </p>
               <ul>
                <li><p>highlight that obtaining the visa is an important step, but you are ready to face obstacles and explore temporary alternative solutions.</p></li>
                <li><p>Mention that if you are not granted the visa this time, you are resolved to reapply the following year.</p></li>
                <li><p>Explain that you will utilize this period to enhance your academic and/or professional profile.</p></li>
               </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmthrt">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmthrt"
                aria-expanded="false"
                aria-controls="flush-collapsehmthrt"
                (click)="showIconBtn13()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                  And your accommodation?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon13"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon13"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmthrt"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmthrt"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
               <ul>
                <li><p>Explain your initial plan: If you have a temporary plan for your accommodation already, mention it. For example, you can say that you intend to stay with a host family or in a hotel for a limited period while you search for a suitable student room.</p></li>
                <li><p>Talk about public university residences: Let it be known that you plan to search for options in public university residences managed by CROUS (Regional Center for University and School Works).</p></li>
                <li><p>Highlight your intention to consult the CROUS websites to gather more information about the registration procedures and availability.</p></li>
                <li><p>Explain that if you do not find a room in a public university residence, you are considering turning to private student residences.</p></li>
                <li><p>Show your openness to consulting real estate agencies to find a rented studio or a shared accommodation.</p></li>
               </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmforth">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmforth"
                aria-expanded="false"
                aria-controls="flush-collapsehmforth"
                (click)="showIconBtn14()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                  How will you organize yourself to ensure successful studies?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon14"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon14"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmforth"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmforth"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
               <ul>
                <li><p>Explain that you intend to establish effective time management. Mention that you plan to create a weekly schedule to allocate time for studying, attending classes, completing practical assignments, conducting research, and engaging in extracurricular activities.</p></li>
                <li><p>Express your intention to be active in class by taking notes, asking questions, and participating in discussions.</p></li>
                <li><p>Mention that you plan to take advantage of available resources, such as your institution's library, online learning platforms, and study groups.</p></li>
                <li><p>Let it be known that you intend to collaborate with your classmates and form study groups to share knowledge and support each other.</p></li>
               </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmfif">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmfif"
                aria-expanded="false"
                aria-controls="flush-collapsehmfif"
                (click)="showIconBtn15()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                  Will you work in France?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon15"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon15"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmfif"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmfif"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
               <ul>
                 <li><p>Emphasize that your main priority is to focus on your studies and obtain your degree.</p></li>
                 <li><p>Indicate that you are aware of the regulations related to studying in France and that you will comply with the conditions of your student visa.</p></li>
                 <li><p>Express your interest in internship opportunities during your program.</p></li>
                 <li><p>If you are considering working part-time during your studies, make sure to mention your intention to find a balance between work and studies.</p></li>
               </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmsith">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmsith"
                aria-expanded="false"
                aria-controls="flush-collapsehmsith"
                (click)="showIconBtn16()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                  What do you plan to do after completing your studies in France?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon16"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon16"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmsith"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmsith"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
               <p>You can mention your ideal intention of gaining significant professional experience before returning to your home country. Explain that you are considering staying in France for 2 to 3 years if you find a good job opportunity in your field.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headinghmsevth">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapsehmsevth"
                aria-expanded="false"
                aria-controls="flush-collapsehmsevth"
                (click)="showIconBtn17()"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                  <h3
                    routerLinkActive="bordertext"
                    class="m-0"  style="width: 90%"
                  >
                  Are you aware that life and studies in France are not easy?
                  </h3>
                  <div
                    style="width: 3%"
                    class="open d-flex justify-content-center align-items-center"
                    *ngIf="showIcon17"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/up.svg"
                      alt=""
                    />
                  </div>
                  <div
                    style="width: 3%"
                    class="close d-flex justify-content-center align-items-center"
                    *ngIf="!showIcon17"
                  >
                    <img
                      src="/assets/images/navigator/housing/garant/down.svg"
                      alt=""
                    />
                  </div>
                </div>
              </button>
            </h2>
            <div
              id="flush-collapsehmsevth"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headinghmsevth"
              data-bs-parent="#accordionFlushhm"
            >
              <div class="accordion-body">
               <ul>
                <li><p>I acknowledge that I am aware of the difficulties I may encounter as an international student in France.</p></li>
                <li><p>I express my confidence in my ability to face these challenges.</p></li>
                <li><p>I explain the steps I have taken to prepare for life and studies in France. I talk about my language learning efforts, my research on the French education system, and my understanding of life in France.</p></li>
               </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  