section {
  // background-image: url(../../../../../assets/images/login-pages/map-background.png);
  background-repeat: no-repeat;
  background-size: cover;


  .wrong_data {
    color: #ff5151;
    position: relative;
    top: -20px;
  }

  .login-content {
    margin-top: 35px;
    padding: 0 60px;

    img {
      width: 174px;
      height: 32px;
      margin-bottom: 20px;
      position: relative;
      margin-left: -23px;
    }

    .account {
      font: normal normal 600 24px Poppins;
      line-height: 36px;
      // margin-bottom: 25px;
    }

    .welcome-back {
      font: normal normal 600 18px Poppins;
      line-height: 27px;
      margin-bottom: 8px;
      color: #ff5151;
    }

    .btn-group {
      margin-top: 10px;

      .google,
      .facebook {
        box-shadow: 0px 0px 20px rgba(119, 119, 119, 0.13);

        background-color: #fdfdfd;
        width: 220px;
        height: 40px;
        font: normal normal normal 14px Poppins;
        border: 2px solid transparent;
        border-radius: 8px;

        &:hover {
          border: 2px solid #6770f7;
        }

        &:focus {
          border: none;
          outline: none;
          box-shadow: none;
          background: #edeeff 0% 0% no-repeat padding-box;
        }

        .logo {
          width: 22px;
          height: 22px;
          margin: 0;
        }

        p {
          margin: 0;
          margin-left: 5px;
        }

        .text-mobile {
          display: none;
        }
      }
    }

    .seperator {
      margin: 20px 0;

      hr {
        width: (100%/2.2);
      }

      p {
        font: normal normal normal 18px Poppins;
        color: #8b8b8b;
        margin: 0;
      }
    }

    .form-control {
      color: #121212 !important;
    }

    label {
      font: normal normal normal 14px Poppins;
      color: #121212;
      padding: 0 20px;
      padding-left: 0px;
      margin-bottom: 8px;
      user-select: none;
      -webkit-user-select: none;
    }

    input {
      width: 100%;
      height: 50px;
      border: 1px solid #7b7b7b;
      border-radius: 8px;
      padding-left: 16px;
      // background-color: #121212;
      background-color: #f7f7f7;

      &:-webkit-autofill {
        -webkit-box-shadow: 200px 200px 100px #f7f7f7 inset;
      }

      &:focus {
        &::placeholder {
          color: transparent;
        }

        outline: none;
        box-shadow: none;
        border: 1px solid #6770f7;
        -webkit-box-shadow: 200px 200px 100px white inset;
      }
    }

    .emailInput:focus+.emailLabel {
      color: #6770f7;
    }

    .passwordLabel {
      top: -67px;
      right: 0px;
    }

    .passwordInput:focus+.passwordLabel {
      color: #6770f7;
    }

    mat-icon {
      position: relative;
      top: -35px;
      left: 94%;
      cursor: pointer;
    }

    .forget {
      font: normal normal 400 16px Poppins;
      color: #16294f;
      display: flex;
      flex-direction: row-reverse;
      position: relative;
      bottom: 23px;
      right: 5px;
    }

    .forget-row {
      .checkbox {
        input {
          -webkit-box-shadow: unset;
          display: block;
          width: auto;
          height: auto;
        }

        label {
          all: unset;
          font: normal normal normal 16px Poppins;
          cursor: context-menu;
          color: #121212;
        }
      }
    }

    .alert {
      margin-bottom: 25px;
    }

    .login {
      margin-top: 15px;
      width: 100%;
      height: 47px;

      button {
        width: 100%;
        height: 100%;
        background: #16294f;
        border-radius: 8px;
        font: normal normal normal 16px Poppins;
        color: #ffffff;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    .create {
      margin-top: 16px;
      font: normal normal normal 16px Poppins;
      color: #121212;

      a {
        font: normal normal 600 16px/23px Poppins;
        color: #16294f;
      }
    }
  }

  .login-background {
    background: #6770f7;
  }

  .login-card {
    border-radius: 20px;
    width: 820px;
    position: absolute !important;
    left: 50%;
    margin-left: -690px;
    background: #ffffff !important;
    top: 50%;
    margin-top: -296px;
  }
}

@media only screen and (max-width: 1199.9px) and (min-width: 768px) {
  section {
    .login-content {
      padding: 0 75px;

      img {
        width: 174px;
        height: 32px;
      }

      .account {
        font: normal normal 600 20px Poppins;
        margin-bottom: 24px;
      }

      .welcome-back {
        font: normal normal 600 16px Poppins;
        margin-bottom: 16px;
        color: #ff5151;
      }

      .description {
        text-align: center;
        font: normal normal normal 16px Poppins;
        margin-bottom: 20px;
      }

      .btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 20px rgba(119, 119, 119, 0.13);

        .google,
        .facebook {

          background-color: #fdfdfd;
          width: 204px;
          height: 40px;
          border: none;
          font: normal normal normal 12px Poppins;

          .logo {
            width: 24px;
            height: 24px;
          }

          p {
            margin-left: 10px;
          }

          &:focus {
            border: none;
          }
        }

        .text-mobile {
          display: none;
        }
      }

      .seperator {
        margin: 30px 0;

        p {
          font: normal normal normal 16px Poppins;
        }
      }

      input {
        width: 100%;
        padding-left: 16px;
      }

      mat-icon {
        left: 94%;
      }
    }

    .forget-row {
      margin-bottom: 180px;
    }
  }
}

@media only screen and (max-width: 1200px) {



  .login-z-index {
    height: auto !important;
  }

  section {
    overflow: auto !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;


    .login-card {
      position: relative !important;
      left: 0 !important;
      top: 0;
      margin-top: 0;
      margin-left: 0;
      width: 100%;
    }

    .login-content {
      padding: 0 20px;

      img {
        width: 115px;
        height: 21px;
      }

      .account {
        font: normal normal 600 14px Poppins;
        margin-bottom: 16px;
      }

      .welcome-back {
        font: normal normal 600 12px Poppins;
        color: #ff5151;
        margin-bottom: 8px;
      }

      .btn-group {

        .google,
        .facebook {
          background-color: #fdfdfd;
          width: 98px;
          height: 26px;
          padding: 0;
          border: none;
          font: normal normal 600 12px Poppins;

          .logo {
            width: 16px;
            height: 16px;
          }

          &:focus {
            border: none;
          }

          p {
            margin-left: 5px;
          }

          .text-mobile {
            display: block;
          }

          .text-full {
            display: none;
          }
        }
      }

      .seperator {
        margin: 24px 0;

        hr {
          width: (100%/2.5);
        }

        p {
          font: normal normal normal 18px Poppins;
          color: #8b8b8b;
          margin: 0;
        }
      }

      label {
        font: normal normal normal 12px Poppins;
        top: 10px;
        right: -25px;
        padding: 0 10px;
      }

      input {
        font: normal normal normal 14px Poppins;
        width: 100%;
        height: 50px;
        border: 1px solid #dedddd;
        border-radius: 8px;
        padding-left: 16px;

        &:-webkit-autofill {
          -webkit-box-shadow: 200px 200px 100px #f7f7f7 inset;
        }

        &:focus {
          outline: none;
          box-shadow: none;
          border: 2px solid #6770f7;
          -webkit-box-shadow: 200px 200px 100px #f7f7f7 inset;
        }
      }

      mat-icon {
        left: 90%;
      }

      .forget {
        font-size: 14px;
      }

      .forget-row {
        .checkbox {
          label {
            font-size: 14px;
          }
        }
      }
    }

    .login {
      width: 344px;
      height: 34px;
      margin-top: 22px;

      button {
        font: normal normal 600 12px Poppins;
      }

    }

    .create {
      margin-top: 14px;
      font-size: 12px !important;
      font: normal normal normal 12px Poppins !important;
      color: #8b8b8b;

      a {
        font: normal normal normal 12px Poppins !important;
      }
    }

    .forget-row {
      margin-bottom: 50px;
    }
  }
}