<section class="login-section">
  <div class="row">
    <!-- <div class="d-flex justify-content-center position-relative"> -->
      <div class="login-card">
        <!-- <div class="col-auto"> -->
        <div class="login-content">
          <a routerLink="/landing/home">
            <img
              src="../../../../../assets/images/elias_logo.svg"
              alt="SG logo"
            />
          </a>
          <p class="account">Connectez-vous avec votre compte.</p>
          <div class="row">
            <div class="btn-group">
              <button
                (click)="GoogleAuth()"
                class="btn d-flex justify-content-center align-items-center me-3 google"
              >
                <img
                  src="../../../../../assets/images/login-pages/google.svg"
                  alt="google"
                  class="logo"
                />
                <p class="text-full">Connectez-vous avec Google</p>
                <p class="text-mobile">Google</p>
              </button>
              <button
                class="btn d-flex justify-content-center align-items-center me-3 facebook"
                (click)="FaceBookAuth()"
              >
                <img
                  src="../../../../../assets/images/login-pages/facebook1.svg"
                  alt="facebook"
                  class="logo"
                />
                <p class="text-full">Connectez-vous avec Facebook</p>
                <p class="text-mobile">Facebook</p>
              </button>
            </div>
          </div>
          <div class="seperator d-flex justify-content-between align-items-center">
            <hr />
            <p>Ou</p>
            <hr />
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="forgotPassword">
            <h4 class="alert-heading">Credentials Invalid!</h4>
            <p>
              Veuillez suivre les étapes dans 'Mot de passe oublié' si vous ne parvenez pas à vous connecter.
            </p>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="error">
            <h4 class="alert-heading">There's something went wrong!</h4>
            <p>{{ errMessage }}</p>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="errorFB">
            <h4 class="alert-heading">Error!</h4>
            <p>Un problème est survenu !</p>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="isVerified">
            <h4 class="alert-heading">Error!</h4>
            <p>{{ verMsg }}</p>
          </div>
          <div *ngIf="isLoading">
            <div
              class="spinner-border text-primary d-flex m-auto"
              role="status"
            ></div>
          </div>
          <div *ngIf="!isLoading">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
              <div>
                <label for="email" class="emailLabel">Adresse mail</label>
                <input
                  type="text"
                  id="email"
                  formControlName="email"
                  class="form-control emailInput"
                  placeholder="Ex:johndoe@gmail.com"
                />
              </div>
              <div class="mt-4">
                <label for="password" class="passwordLabel">Mot de passe</label>
                <input
                  [type]="show ? 'text' : 'password'"
                  id="password"
                  min="8"
                  max="16"
                  formControlName="password"
                  class="form-control passwordInput"
                  placeholder="********"
                />
                <mat-icon
                  fontSet="material-icons-outlined"
                  (click)="showPassword()"
                  >{{ show ? "visibility_off" : "visibility_outlined" }}</mat-icon
                >
                <p *ngIf="havError" class="wrong_data">Mail ou mot de passe incorrect</p>
                <a class="forget" routerLink="/auth/reset-password">
                  Mot de passe oublié ?
                </a>
              </div>
              
              <div
                class="d-flex justify-content-between align-items-center forget-row"
              >
                <div
                  class="checkbox d-flex justify-content-center align-items-center"
                >
                  <input
                    type="checkbox"
                    id="checkbox"
                    formControlName="keep"
                    value="true"
                    class="checkbox-input"
                  />
                  <label for="checkbox" class="ms-2">Se souvenir de moi.</label>
                </div>
              </div>
              <div class="login">
                <button class="btn" type="submit" [disabled]="!loginForm.valid">
                  S’inscrire
                </button>
              </div>
              <p class="create d-flex justify-content-center">
                Vous n'avez pas de compte ?
                <a class="ms-2" routerLink="/auth/register/student"> S’inscrire </a>
              </p>
            
            </form>
          </div>
        </div>
        </div>
      </div>
</section>
