<div class="section-container">
    <div class="custom-col home">
        <h2 class="title">Visa Application </h2>
            
        <div class="ictx-holder">
            <div class="ictx writer">
                <div class="ictx-icon">
                    SG
                </div>
                <div class="ictx-text">
                    <p class="o146db">By SG Team</p>
                </div>
            </div>

            <div class="ictx">
                <div class="ictx-icon">
                    <img
src="/assets/images/calendar.png" alt="">
                </div>
                <div class="ictx-text">
                    <p class="o146d">25/07/2021</p>
                </div>
            </div>
            
            <div class="ictx">
                <div class="ictx-icon">
                    <img
src="/assets/images/dummy-view.png" alt="">
                </div>
                <div class="ictx-text">
                    <p class="o146d">98</p>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-col blog">
        <div class="blog-head">
            <h4 class="title">Visa Documentation</h4>
            <p class="o186d">Congratulations on being accepted into a French university! You’re just a few days away from experiencing “Vivre la France”,
                but while you’re excited to start your fascinating journey, it is also important to know that there are a few hurdles left before your final leap. Check out below the mandatory procedure that students are obliged to follow before their arrival.</p>
            <p class="o186d">The list of documents required are as follows:</p>
        </div>

        <div class="blog-quote">
            <span style='font-size:55px;color:var(--main-color)'>&#10075;&#10075; </span>
            <span>“It’s about pushing your limits and venturing beyond your comfort zone…”.</span>
            <p class="o186d">Angelina Jolie</p>
        </div>

        <div class="blog-body">
            <div class="custom-col">
                <h4 class="title">1. Passport: 
                    <a href="../../../../../../../assets/images/articles/1.1-Indian-passport-scanned-1.pdf">
                        <img
src="/../assets/images/articles/icons8-link.png" class="link" alt="">
                    </a>
                </h4>
                <p class="o186d">This is the most important document that you must carry. The Schengen Student Visa will be stamped on your passport.
                    Make sure that the expiry date of your passport is after your course completion date. Also carry clear photo-copies of your passport.</p>
            </div>
            
            <div class="custom-col">
                <h4 class="title">2. ID Photo: Dimensions 35mm x 45mm: 
                    <a href="../../../../../../../assets/images/articles/2-Schengen-Visa-Photo.jfif">
                        <img
src="/../assets/images/articles/icons8-link.png" class="link" alt="">
                    </a>
                </h4>
                <p class="o186d">
                    You will have to carry at least 2 copies of your professionally clicked photos having the right dimensions for the visa application.
                    Make sure you also attach your photo on your Long Stay Visa Application Form.
                </p>
            </div>

            <div class="custom-col">
                <h4 class="title">3. Resume/CV: 
                    <a href="../../../../../../../assets/images/articles/3-Sample-CV.jpg">
                        <img
src="/../assets/images/articles/icons8-link.png" class="link" alt="">
                    </a>
                </h4>
                <p class="o186d">
                    Make sure you provide a professional Resume/CV.
                </p>
            </div>

            <div class="custom-col">
                <h4 class="title">4. Marksheets and Degree Certificates: 
                    <a href="../../../../../../../assets/images/articles/4.1-Graduation-Certificate.jpg">
                        <img
src="/../assets/images/articles/icons8-link.png" class="link" alt="">
                    </a>
                </h4>
                <p class="o186d">
                    Carry all your Marksheets and Degree Certificates starting from your 10th Grade till your latest degree. Do not miss even a single semester’s marksheet! If you have a backlog or if you have failed in any subject, then too it is advised to attach all the marksheets you’ve received.
                </p>
                <p class="o186d">
                    Note: For some countries especially from India, it is preferable to Attest all your hard-copies as true copies from a lawyer.
                </p>
            </div>

            <div class="custom-col">
                <h4 class="title">5. French School/University Documents: </h4>
                <p class="o186d">
                    You have to submit the following documents received from your French school/university:
                </p>
                <ul>
                    <li class="o186d">a. Registration certificate: Certificat de Scolarite 
                        <a href="../../../../../../../assets/images/articles/5.a.jpg">
                            <img
src="/../assets/images/articles/icons8-link.png" class="link" alt="">
                        </a>
                    </li>
                    <li class="o186d">b. Enrollment letter
                        <a href="../../../../../../../assets/images/articles/5.b.jpg">
                            <img
src="/../assets/images/articles/icons8-link.png" class="link" alt="">
                        </a>
                    </li>
                    <li class="o186d">Proof of Deposit paid: Swift copy or the copy of the transaction
                        <a href="../../../../../../../assets/images/articles/5.c.jpg">
                            <img
src="/../assets/images/articles/icons8-link.png" class="link" class="link" alt="">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="custom-col">
                <h4 class="title">6. Campus France Documents: </h4>
                <p class="o186d">
                    The list of documents associated with your Campus France procedure that must be carried are as follows:
                </p>
                <ul>
                    <li class="o186d">a. NOC - No objection letter received from the Campus France Manager, post your Campus France interview.
                        <a href="../../../../../../../assets/images/articles/6.a-NOC.pdf">
                            <img
src="/../assets/images/articles/icons8-link.png" class="link" class="link" alt="">
                        </a>
                    </li>
                    <li class="o186d">b. Attestation d’acceptations: This document is received when your Campus France file get verified before the interview. You can check your Etudes En France(EEF) account to find this document.
                        <a href="../../../../../../../assets/images/articles/6.b.pdf">
                            <img
src="/../assets/images/articles/icons8-link.png" class="link" class="link" alt="">
                        </a>
                    </li>
                    <li class="o186d">c. Quittance de paiement: Once you pay your Campus France fees and the Campus France validates your payment, then you receive this payment bill. This document also needs to be attached as a payment proof.
                        <a href="../../../../../../../assets/images/articles/6.a-NOC.pdf">
                            <img
src="/../assets/images/articles/icons8-link.png" class="link" class="link" alt="">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="custom-col">
                <h4 class="title">7. Visa Application Documents:</h4>
                
                <ul>
                    <li class="o186d">a. Long Stay Visa Application Form: This form is filled by the student on the france-visas.gouv.fr webiste. This form needs to be signed and a photograph must be attached on the form. For more information on how to apply you can check our blog.
                        <a href="../../../../../../../assets/images/articles/7.a&c-France-visa-application-form+Receipt.pdf">
                            <img
src="/../assets/images/articles/icons8-link.png" class="link" class="link" alt="">
                        </a>
                    </li>
                    <li class="o186d">b. VFS Appointment Letter: This is a mandatory document to carry to enter your selected VFS Office. You can check our blog to know how to book an appointment at the Visa Centre.
                        <a href="../../../../../../../assets/images/articles/7b.jfif">
                            <img
src="/../assets/images/articles/icons8-link.png" class="link" class="link" alt="">
                        </a>
                    </li>
                    <li class="o186d">c. Visa Registration Receipt: This receipt comes along with your Long Stay Visa Application Form printout, on this receipt you will find documents which compulsorily needs to be carried.</li>
                </ul>
            </div>

            <div class="custom-col">
                <h4 class="title">8. Cover Letter:
                    <a href="../../../../../../../assets/images/articles/8-Sample-Cover-Letter.pdf">
                        <img
src="/../assets/images/articles/icons8-link.png" class="link" class="link" alt="">
                    </a>
                </h4>
                <p class="o186d">
                    A Cover Letter needs to be provided addressing the French Consulate. The Cover Letter must include all the information regarding your funding, accommodation, the documents that you are going to submit, if any missing document or any situation needs to be explained must be clearly mentioned in the Cover Letter. Make sure that each and every detail mentioned in the cover letter is true and clearly stated without any grammatical mistakes.
                </p>
            </div>

            <div class="custom-col">
                <h4 class="title">9. Expense Sheet:
                    <a href="../../../../../../../assets/images/articles/10-Accommodation-contract.pdf">
                        <img
src="/../assets/images/articles/icons8-link.png" class="link" class="link" alt="">
                    </a>
                </h4>
                <p class="o186d">
                    An expense sheet mentioning all your expenses and source of funding must be made. Normally the expense sheet must mention the living expenses of 1 year i.e 615 x 12 = 7380 Euro plus your 1 year tuition fees.
                </p>
            </div>

            <div class="custom-col">
                <h4 class="title">10. Accommodation Proof: 
                    <a href="../../../../../../../assets/images/articles/9.pdf">
                        <img
src="/../assets/images/articles/icons8-link.png" class="link" class="link" alt="">
                    </a>
                </h4>

                <ul>
                    <li class="o186d">a. For a long stay student visa it is recommended to provide a proof of rental contract/agreement made between you and the landlord. A copy of the landlord's national identity card can also be attached as a supporting document. The minimum duration of stay must be 3 months.</li>
                    <li class="o186d">b. In case of hotel accommodation, it is preferred to book a hotel for a minimum duration of 20 days, but in some cases hotel accommodation may not be accepted/refused by the consulate. To avoid any problems, students must clearly state the accommodation details in the Cover letter.</li>
                    <li class="o186d">c. 
                        When a relative/friend is hosting you at his/her residence, you may require Attestation d’accueil from the Mairie(Town hall), Electricity bill and an Identity proof of the Hosting person.
                    </li>
                </ul>
            </div>

            <div class="custom-col">
                <h4 class="title">11. Funding Proof:</h4>
                <ul>
                    <li class="o186d">a. Bank Loan: Students who take a bank loan to fund their studies must present he Loan Sanction Letter signed and stamped by the bank manager.</li>
                    <li class="o186d">b. Sponsor: If your family or a relative is sponsoring your education then your sponsor must provide a Sponsorship Letter stating that he/she has enough funds to sponsor the student. The sponsor must also provide Bank Statements of 3 months having sufficient funds, Income Tax Return of minimum 2 years and Salary slips/Source of income(if applicable). In some countries, a written Affidavit needs to be made mentioning the sponsorship details. If you are self-sponsoring yourself, all the above mentioned documents must be applicable to you.</li>
                    <li class="o186d">c. Fixed deposits: If you or your Sponsor has fixed deposits as funds then a letter must be taken from the bank that your FD’s can be liquidated at any given time when asked. Also, the receipts/proof of your FD’s must be required. Plus, a sponsorship letter mentioning the details of the FD, if the FD’s are provided by a sponsor
                    </li>
                </ul>
            </div>

            <div class="custom-col">
                <h4 class="title">12. Miscellaneous: </h4>
                <ul>
                    <li class="o186d">a. Employment proof: If you are/were employed then a proof of employment must be provided such as your Employment letter/ Employment contract, 3 month salary slip, and your relieving letter.</li>
                    <li class="o186d">b. Travel Insurance: Some countries are obliged to take travel insurance with a minimum duration of 3 months from the date of travel. The travel insurance must cover 30000 Euros.</li>
                    <li class="o186d">c. Flight Ticket: It’s not mandatory to book a flight ticket to provide it as proof of travel, but the Visa office of some countries ask for the travel ticket. Make sure you call your Visa office to get all the details beforehand.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="custom-col share">
        <div class="custom-col"></div>

        <div class="custom-row N-PB">
            <div>
                <a routerLink="/landing/blog/5">
                    <span class="o166d"> &#8592; Prev Post </span>
                    <p class="o186db">France student Visa</p>
                </a>
            </div>
            <div>
                <a routerLink="/landing/blog/8">
                    <span class="o166d"> Next Post &#8594; </span>
                    <p class="o186db">StudentGator Process</p>
                </a>
            </div>
        </div>
    </div>
    
    <!-- <div class="custom-col comments">
        <h4>9 Coments</h4>
        <div>
            <div class="comment">
                <div class="comment-head">
                    <div class="img-holder">
                        <img
src="" alt="">
                    </div>
                    <div class="text">
                        <p class="title o186db">Mohamed Hassanein</p>
                        <span class="o166d">October 10, 2020 at 10:17am</span>
                    </div>
                    <a class="o186db" href=""><label for="comment">Reply</label></a>
                </div>
                <div class="comment-body">
                    <p class="o186d">Et leo duis ut diam. Sit amet facilisis magna etiam tempor. Quam quisque id diam vel quam elementum pulvinar etiam. Ipsum dolor sit amet consectetur. Enim eu turpis egestas pretium aenean pharetra. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien.</p>
                </div>
            </div>
        </div>

        <div class="form">
            <form action="">
                <div class="control">
                    <textarea name="" id="comment" placeholder="Your Comment"></textarea>
                </div>
                
                <div class="control">
                    <input type="text" name="" id="" placeholder="Your Name">
                </div>
                
                <div class="control">
                    <input type="email" name="" id="" placeholder="Your Email">
                    <span>* Your email address will not be published.</span>
                </div>

                <div class="submit">
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </div> -->

    <!-- <div class="custom-row subscribe">
        <div class="custom-col">
            <div>
                <h2>Subscribe Newsletters</h2>
            </div>
            <div>
                <p class="o186d">Cras pulvinar mattis nunc sed blandit. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Lacus laoreet non curabitur gravida arcu ac.</p>
            </div>
            <div>
                <form action="">
                    <input type="text" placeholder="Enter Your Email">
                    <button>Subscribe</button>
                </form>
            </div>
        </div>
    </div> -->
    
</div>