<!-- alternance -->
<section class="alternance">
  <div class="row">
    <div class="col-lg-9 col-md-10 col-12 ps-0">
      <h1>Alternance</h1>
      <p>
        An alternance program, also known as an
        <span>apprenticeship or work-study program,</span> is a type of
        educational program in France that
        <span>combines classroom learning with practical work experience.</span>
      </p>
    </div>
    <div class="col-lg-3 col-md-2 d-lg-block d-md-block d-none text-end m-auto pe-0 d-flex justify-content-end">
      <img src="../../../../../../assets/images/navigator/accaptance/alternance/avril.svg" alt="avril" />
    </div>
  </div>
</section>

<!-- advantage -->
<section class="advantage">
  <h1>Advantage</h1>
  <div class="one-adv">
    <div class="content">
      <div class="d-flex align-items-center">
        <img src="../../../../../../assets/images/navigator/accaptance/alternance/briefcase.svg" alt="briefcase" />
        <h2>Build a solid professional experience</h2>
      </div>

    </div>
    <p>
      Apprenticeship provides <span> an extended immersion</span> in the
      professional world, enabling students to quickly and effectively gain
      substantial practical experience,
      <span>develop their skills, and build autonomy and professional
        confidence.</span>
    </p>
  </div>

  <div class="row">
    <div class="col-lg-9 col-md-9 col-12 px-0">
      <div class="one-adv">
        <div class="content">
          <div class="d-flex align-items-center">
            <img src="../../../../../../assets/images/navigator/accaptance/alternance/wallet-outline.svg"
              alt="wallet-outline" />
            <h2>Study while being paid</h2>
          </div>
        </div>
        <p>
          Apprenticeship enables students to <span>finance</span> their
          education and living expenses <span>through a salary,</span> relieving
          financial burdens and allowing them to fully engage in their work and
          studies.
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 d-lg-block d-md-block d-none px-0 text-end m-auto d-flex justify-content-end">
      <img class="col-image" src="../../../../../../assets/images/navigator/accaptance/alternance/advantage.svg"
        alt="advantage" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 px-0">
      <div class="one-adv">
        <div class="content">
          <div class="d-flex align-items-center">
            <img src="../../../../../../assets/images/navigator/accaptance/alternance/settings.svg" alt="settings" />
            <h2>Work-study programs facilitate professional integration</h2>
          </div>
        </div>
        <p>
          Apprenticeship programs
          <span>facilitate professional integration</span> by offering concrete
          experience and sharpened skills, which is a major asset on a CV.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Inconvenient -->
<section class="inconvenient">
  <h1 class="mb-0">Inconvenient</h1>
  <div class="two-adv">
    <div class="content">
      <div class="d-flex align-items-center">
        <img src="/assets/images/navigator/accaptance/alternance/frown.svg" alt="frown" />
        <h2>An often intensive work rhythm</h2>
      </div>
    </div>
    <p>
      The work pace in an apprenticeship is often intense, requiring juggling
      between theoretical classes, work periods in the company, and homework,
      with a strong emphasis on organization, autonomy, and time management.
    </p>
  </div>

  <div class="row">
    <div class="col-lg-9 col-md-9 col-12 px-0">
      <div class="two-adv">
        <div class="content">
          <div class="d-flex align-items-center">
            <img src="/assets/images/navigator/accaptance/alternance/search (2).svg" alt="search" />
            <h2>The difficulty of finding a company</h2>
          </div>
        </div>
        <p>
          Finding a Apprenticeship company can
          <span>be difficult due to various factors such as the industry,</span>
          the candidate's experience and the economic environment.
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 d-lg-block d-md-block d-none px-0 text-end m-auto d-flex justify-content-end">
      <img class="col-image" src="../../../../../../assets/images/navigator/accaptance/alternance/advantage2.svg"
        alt="advantage2" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-11 px-0">
      <div class="two-adv">
        <div class="content">
          <div class="d-flex align-items-center">
            <img src="/assets/images/navigator/accaptance/alternance/delete.svg" alt="delete" />
            <h2>Strict regulations with Visa</h2>
          </div>
        </div>
        <p>
          Campus France is highly cautious when
          <span>it comes to students pursuing an apprenticeship,</span><br />
          as any mishandling of the project could result in a significant risk
          of visa rejection.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- alert -->
<section class="alert">
  <div class="first-title d-flex">
    <img src="../../../../../../assets/images/navigator/accaptance/alternance/alert.svg" alt="alert" />
    <h2>For student outside France applying to Alternance</h2>
  </div>
  <h3>Two conditions to obtain a visa:</h3>
  <div class="alert-desc">
    <p>
      <span>Finding the alternance before initiating the visa process is
        crucial,</span>
      as the visa application will not be accepted without a confirmed
      alternance. Additionally, it is important to register the alternance with
      OPCO (Ministry of Labor), so it's essential to inform the company about
      this requirement.
    </p>
  </div>
  <div class="alert-desc mt-2">
    <p>
      <span>Paying the school deposit.</span> Upon arrival in France, you will
      have around 3 months to secure an alternance position. Failure to do so
      will result in reverting to the original program rhythm (rhythm initial)
      and being responsible for full tuition fees.
    </p>
  </div>
</section>

<!-- tabs -->
<section class="tabs">
  <div class="row">
    <ul class="nav nav-pills justify-content-between mx-auto p-0 mb-2" id="pills-tab" role="tablist">
      <li class="nav-item col-lg-6 col-md-6 col-6 ps-0 d-flex justify-content-start" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
          type="button" role="tab" aria-controls="pills-home" aria-selected="true">
          <img class="me-2" src="../../../../../../assets/images/navigator/accaptance/alternance/1.svg" alt="1" />
          Application
        </button>
      </li>
      <li class="nav-item col-lg-6 col-md-6 col-6 pe-0 d-flex justify-content-end" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
          type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
          <img class="me-2" src="../../../../../../assets/images/navigator/accaptance/alternance/2.svg" alt="2" />
          Interview
        </button>
      </li>
    </ul>

    <!-- content tabs -->
    <div class="tab-content border-0 p-0" id="pills-tabContent">
      <div class="tab-pane fade show active application" id="pills-home" role="tabpanel"
        aria-labelledby="pills-home-tab" tabindex="0">
        <div class="one-app">
          <ul>
            <li>
              <h4>Broaden your search</h4>
            </li>
          </ul>
          <p>
            Broaden your search by not just focusing on large, well-known
            companies. Also explore opportunities with small and medium-sized
            enterprises (SMEs) and small companies to increase your chances.
          </p>
          <div class="row mt-3">
            <div class="col-lg-6 col-md-6 col-12 ps-lg-0 ps-md-0 px-0">
              <img class="w-100" src="../../../../../../assets/images/navigator/accaptance/alternance/Frame 3814.svg"
                alt="Frame" />
            </div>
            <div class="col-lg-6 col-md-6 col-12 mt-lg-0 mt-md-0 mt-2 pe-lg-0 pe-md-0 px-0">
              <img class="w-100 h-100"
                src="../../../../../../assets/images/navigator/accaptance/alternance/Frame 3816.svg" alt="Frame" />
            </div>
          </div>
        </div>

        <div class="one-app">
          <ul>
            <li>
              <h4>Personalization</h4>
            </li>
          </ul>
          <p>
            Personalize your cover letters or application emails. Avoid generic
            letters at all costs. Mention relevant anecdotes, key data and what
            you can specifically bring to the company.
          </p>
          <p class="text-note">Example of letter: <span>see below</span></p>
        </div>

        <div class="one-app">
          <ul>
            <li>
              <h4>Rhythm</h4>
            </li>
          </ul>
          <p>
            Indicate in your cover letter the rhythm of your work-study program
            (check with the school)
          </p>
          <p class="text-note mt-2">Most common rhythms:</p>
          <ul class="bg-transparent mt-2 mb-0 ps-4">
            <li>
              <p>
                3 days/2 days rhythm
                <span>(3 days of school and 2 to 3 days in the company per
                  week)</span>
              </p>
            </li>
          </ul>

          <ul class="bg-transparent mt-2 mb-0 ps-4">
            <li>
              <p>
                1 week/3 weeks
                <span>(1 week of training and 3 weeks in the company)</span>
              </p>
            </li>
          </ul>

          <ul class="bg-transparent mt-2 mb-0 ps-4">
            <li>
              <p>
                1 week/2 weeks
                <span>(1 week of training and 2 weeks in the company)</span>
              </p>
            </li>
          </ul>
        </div>

        <div class="one-app">
          <ul>
            <li>
              <h4>Follow-up</h4>
            </li>
          </ul>
          <p>
            Don't hesitate to follow up with companies that have not responded
            to you. This demonstrates your motivation and interest in the
            position.uh
          </p>
          <div class="d-flex mt-3">
            <img class="me-2" src="../../../../../../assets/images/navigator/accaptance/alternance/true.svg"
              alt="true" />
            <p class="text-note">Make sure to include</p>
          </div>

          <div class="d-flex mt-2">
            <img class="me-2" src="../../../../../../assets/images/navigator/accaptance/alternance/calendar.svg"
              alt="calendar" />
            <p>The date you applied</p>
          </div>

          <div class="d-flex mt-2">
            <img class="me-2" src="../../../../../../assets/images/navigator/accaptance/alternance/comment.svg"
              alt="comment" />
            <p>The reasons why you applied</p>
          </div>

          <div class="d-flex mt-2">
            <img class="me-2" src="../../../../../../assets/images/navigator/accaptance/alternance/document.svg"
              alt="document" />
            <p>Your CV and cover letter as attachments</p>
          </div>

          <div class="d-flex mt-3">
            <img class="me-2" src="../../../../../../assets/images/navigator/accaptance/alternance/link.svg"
              alt="link" />
            <p style="font-weight: 500">Excel sheet</p>
          </div>
          <div class="mt-2">
            <a
              href="https://docs.google.com/spreadsheets/d/13eWbNUgRln6dxunwoIFNqtbkCB7V9l6K4SpA-rH-OCA/edit#gid=0">https://docs.google.com/spreadsheets/d/13eWbNUgRln6dxunwoIFNqtbkCB7V9l6K4SpA-rH-OCA/edit#gid=0</a>
          </div>
        </div>

        <div class="one-app">
          <ul>
            <li>
              <h4>LinkedIn</h4>
            </li>
          </ul>
          <ul class="bg-transparent mt-2 mb-0 ps-4">
            <li>
              <p>
                Make sure you have a professional LinkedIn profile, as
                <span style="color: #121212; font-weight: 600">most recruiters look at students' LinkedIn
                  profiles.</span>
              </p>
            </li>
          </ul>

          <ul class="bg-transparent mt-2 mb-0 ps-4">
            <li>
              <p>
                Use
                <span style="color: #121212; font-weight: 600">a professional photo,</span>
                include relevant keywords and write
                <span style="color: #121212; font-weight: 600">a professional description.</span>
              </p>
            </li>
          </ul>
          <h5>Professional LinkedIn Profile Example</h5>
          <div class="text-center mt-1">
            <img class="cv-image" src="/assets/images/navigator/accaptance/alternance/linkedin 1.svg" alt="linkedin" />
          </div>
        </div>

        <div class="one-app">
          <ul>
            <li>
              <h4>Quality emails</h4>
            </li>
          </ul>
          <ul class="bg-transparent mt-2 mb-0 ps-4">
            <li>
              <p>
                Pay attention to
                <span style="color: #121212; font-weight: 600">the quality of your e-mails</span>
                when applying for a Alternance or when you follow up.
              </p>
            </li>
          </ul>

          <ul class="bg-transparent mt-2 mb-0 ps-4">
            <li>
              <p>
                Check
                <span style="color: #121212; font-weight: 600">spelling and grammar</span>
                and add
                <span style="color: #121212; font-weight: 600">a professional signature.</span>
              </p>
            </li>
          </ul>
        </div>

        <div class="one-app">
          <ul>
            <li>
              <h4>Cold applications</h4>
            </li>
          </ul>
          <br />
          <ul class="bg-transparent mt-2 mb-0 ps-4">
            <li>
              <p>Do not neglect unsolicited applications.</p>
            </li>
          </ul>

          <ul class="bg-transparent mt-2 mb-0 ps-4">
            <li>
              <p>
                Do not hesitate to send unsolicited applications to companies
                that could potentially interest you.
              </p>
            </li>
          </ul>
        </div>

        <div class="website-tools">
          <div class="d-flex">
            <img class="me-2" src="../../../../../../assets/images/navigator/accaptance/alternance/globe.svg"
              alt="globe" />
            <h4>Website tools</h4>
          </div>
          <ul>
            <li>
              <a target="_blank" href="https://www.welcometothejungle.com/fr/pages/emploi-alternance">
                https://www.welcometothejungle.com/fr/pages/emploi-alternance
              </a>
            </li>
            <li>
              <a target="_blank"
                href="https://jobs-stages.letudiant.fr/offre-alternance/offres.html">https://jobs-stages.letudiant.fr/offre-alternance/offres.html</a>
            </li>
            <li>
              <a href="https://jobs.bloom-alternance.fr/offers/listing" target="_blank">
                https://jobs.bloom-alternance.fr/offers/listing
              </a>
            </li>
            <li>
              <a href="https://labonnealternance.pole-emploi.fr/" target="_blank">
                https://labonnealternance.pole-emploi.fr/
              </a>
            </li>
            <li>
              <a href="https://www.alternance-professionnelle.fr/offres-emploi/" target="_blank">
                https://www.alternance-professionnelle.fr/offres-emploi/
              </a>
            </li>
            <li>
              <a href="https://www.pole-emploi.fr/accueil/">
                https://www.pole-emploi.fr/accueil/
              </a>
            </li>
            <li>
              <a href="https://www.pass.fonction-publique.gouv.fr/" target="_blank">
                https://www.pass.fonction-publique.gouv.fr/
              </a>
            </li>
            <li>
              <a href="https://www.pass.fonction-publique.gouv.fr/" target="_blank">
                https://www.pass.fonction-publique.gouv.fr/
              </a>
            </li>
            <li>
              <a href="https://www.hellowork.com/fr-fr/alternance.html" target="_blank">
                https://www.hellowork.com/fr-fr/alternance.html
              </a>
            </li>
            <li>
              <a href="https://www.apec.fr/" target="_blank"> https://www.apec.fr/ </a>
            </li>
            <li>
              <a href="https://walt.community/home-candidat" target="_blank">
                https://walt.community/home-candidat
              </a>
            </li>
            <li>
              <a href="https://fr.indeed.com/" target="_blank"> https://fr.indeed.com/ </a>
            </li>
            <li>
              <a href="https://www.lapprenti.com/" target="_blank">
                https://www.lapprenti.com/
              </a>
            </li>
            <li>
              <a href="https://www.1jeune1solution.gouv.fr/emplois?page=1" target="_blank">
                https://www.1jeune1solution.gouv.fr/emplois?page=1
              </a>
            </li>
            <li>
              <a href="https://www.alternance.emploi.gouv.fr/bourse-a-l-emploi-recherche-prive" target="_blank">
                https://www.alternance.emploi.gouv.fr/bourse-a-l-emploi-recherche-prive
              </a>
            </li>
            <li>
              <a href="https://www.meteojob.com/emploi-alternance/offres-emploi-alternance.html" target="_blank">
                https://www.meteojob.com/emploi-alternance/offres-emploi-alternance.html
              </a>
            </li>
            <li>
              <a href="https://emploi.lefigaro.fr/#home" target="_blank">
                https://emploi.lefigaro.fr/#home
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="tab-pane fade interview" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
        tabindex="0">
        <div class="row">
          <div class="col-lg-10 col-md-12 col-12 ps-0">
            <ul>
              <li>
                <h4>Know perfectly the company</h4>
              </li>
            </ul>
            <p>
              To rock the interview, do thorough
              <span>research on the company, learning about its products, culture,
                competitors, and news.</span><br />
              This will allow you to demonstrate your motivation and interest
              during the interview.
            </p>
          </div>
          <div class="col-lg-2 d-lg-block d-none px-0">
            <img src="/assets/images/navigator/accaptance/alternance/search-engine.svg" alt="search-engine" />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-10 col-md-12 col-12 ps-0">
            <ul>
              <li>
                <h4>Speak with numbers</h4>
              </li>
            </ul>
            <p>
              When researching the company, keep track of key figures such as
              <span>the date it was founded, the number of employees or the
                turnover.</span>
              This will allow you to answer the recruiter's questions and show
              your interest and involvement.
            </p>
          </div>
          <div class="col-lg-2 d-lg-block d-none px-0">
            <img src="/assets/images/navigator/accaptance/alternance/numbers.svg" alt="numbers" />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-10 col-md-12 col-12 ps-0">
            <ul>
              <li>
                <h4>First impression</h4>
              </li>
            </ul>
            <p>
              Be prepared to talk about
              <span>your background, experience, skills and career plans</span>
              in relation to the position you are applying for,
              <span>highlighting your <br />
                suitability for the criteria in the ad.</span>
              Be concise and convincing to capture the recruiter's attention.
            </p>
          </div>
          <div class="col-lg-2 d-lg-block d-none px-0">
            <img src="/assets/images/navigator/accaptance/alternance/interview.svg" alt="interview" />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-10 col-md-12 col-12 ps-0">
            <ul>
              <li>
                <h4>Dress Professionally</h4>
              </li>
            </ul>
            <p>
              During a work-study interview, unless it's in the banking,
              financial or insurance sector, don't hesitate to opt for
              <span>comfortable clothes with a touch of elegance.</span> Refer
              to photos of employees to
              <span>get inspiration for the company's style of dress.</span>
            </p>
          </div>
          <div class="col-lg-2 d-lg-block d-none px-0">
            <img src="/assets/images/navigator/accaptance/alternance/man and woman.svg" alt="man and woman" />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-10 col-md-12 col-12 ps-0">
            <ul>
              <li>
                <h4>Prepare common interview questions</h4>
              </li>
            </ul>
            <p>
              Be prepared to answer questions about your motivation and project
              achievements. Anticipate these questions and
              <span>prepare solid answers to demonstrate your passion and
                commitment.</span>
              Good preparation is essential for success.
            </p>
          </div>
          <div class="col-lg-2 d-lg-block d-none px-0">
            <img src="/assets/images/navigator/accaptance/alternance/accountant.svg" alt="accountant" />
          </div>
        </div>

        <div class="website-tools">
          <ul>
            <li>
              <p class="pt-0">
                How would you describe your soft skills and personality traits?
              </p>
            </li>
            <li>
              <p>
                Could you please share your professional project or career
                goals?
              </p>
            </li>
            <li>
              <p>What motivated you to choose a work-study program?</p>
            </li>
            <li>
              <p>
                What aspects of this position's missions are particularly
                appealing to you?
              </p>
            </li>
            <li>
              <p>What attracts you to the [sector/industry]?</p>
            </li>
            <li>
              <p>What are your passions or areas of interest?</p>
            </li>
            <li>
              <p>
                What is your understanding of the position and its future
                missions?
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>