section#profile-picture {
  padding: 50px 62px;
  background-color: #fff;
  border-radius: 8px;
  h1.title {
    font: normal normal 600 24px Poppins;
    margin-bottom: 6px;
  }
  h2.sub-title {
    font: normal normal normal 18px Poppins;
    margin-bottom: 9px;
  }
  p.describtion {
    font: normal normal normal 14px Poppins;
    color: #707070;
    margin-bottom: 24px;
  }
  form {
    .change-picture-col {
      margin-bottom: 8px;
      img {
        width: 142px;
        height: 141px;
        margin-right: 32px;
      }
      .change-picture {
        margin-top: 11px;
        h2.title {
          font: normal normal 500 24px/28px Poppins;
          margin-bottom: 17px;
        }
        .upload-btn {
          padding: 7px 20px;
          border: 1px solid #8b8b8b;
          background-color: transparent;
          border-radius: 5px;
          font: normal normal 500 16px/28px Poppins;
          color: #8b8b8b;
          i {
            margin-right: 9px;
          }
          &:hover {
            color: #a0a6ff;
          }
        }
        .delete-btn {
          padding: 7px 20px;
          font: normal normal 500 16px/28px Poppins;
          background-color: transparent;
          border: none;
          color: #8b8b8b;
          border-radius: 5px;
          i {
            margin-right: 9px;
          }
          &:hover {
            color: #a0a6ff;
          }
        }
      }
    }
    .submit-col {
      .submit-btn {
        padding: 15px 35px;
        border-radius: 8px;
        border: none;
        font: normal normal 500 18px/28px Poppins;
        color: #fff;
        background-color: #6f77f4;
        &:hover {
          background-color: #4751de;
        }
      }
      .reset-btn {
        padding: 15px 35px;
        border-radius: 8px;
        background-color: transparent;
        border: none;
        font: normal normal 500 18px/28px Poppins;
        color: #4751de;
        &:hover {
          color: #111cb5;
        }
      }
    }
  }
}
.seperator {
  height: 32px;
  width: 100%;
  background-color: #f7f7f7;
}
section#about-you {
  padding: 50px 62px;
  background-color: #fff;
  border-radius: 8px;
  h1.title {
    font: normal normal 600 24px/28px Poppins;
    margin-bottom: 8px;
  }
  h2.sub-title {
    font: normal normal normal 16px/28px Poppins;
    color: #555454;
    margin-bottom: 50px;
  }
  form {
    .input-col:nth-child(odd) {
      padding-right: 16px;
    }
    .input-col:nth-child(even) {
      padding-left: 16px;
    }
    .input-col {
      margin-bottom: 33px;
      label {
        font: normal normal normal 16px/28px Poppins;
        text-transform: capitalize;
        margin-bottom: 9px;
      }
      input[type="text"],
      input[type="date"],
      textarea {
        padding: 16px;
        height: 56px;
        width: 100%;
        display: block;
        background-color: #f5f5f5;
        border-radius: 5px;
        border: none;
        font: normal normal normal 18px/24px Poppins;
        color: #000;
        &::placeholder {
          color: transparent;
        }
        &:focus {
          &::placeholder {
            color: transparent;
          }
        }
      }
      textarea {
        margin-bottom: 50px;
        height: 165px;
        border-radius: 8px;
      }
      .dropdown-col {
        ::-webkit-scrollbar {
          border-right: 30px white solid;
          width: 6px;
        }
        ::-webkit-scrollbar-track {
          background: #dedddd 0% 0% no-repeat padding-box;
          border-radius: 5px;
        }
        ::-webkit-scrollbar-thumb {
          background: #bebebe 0% 0% no-repeat padding-box;
          border-radius: 5px;
        }
        button {
          height: 56px;
          border-radius: 5px;
          background-color: #f5f5f5;
          box-shadow: none;
          font: normal normal normal 20px/24px Poppins;
          color: #000;
          &::after {
            all: unset;
            content: "";
            border: solid #bebebe;
            border-width: 0 5px 5px 0;
            display: inline-block;
            padding: 5px;
            transform: rotateX(0) rotateY(0) rotateZ(45deg);
          }
          &:focus {
            border: 1px solid #6f77f4;
            background-color: #fff;
            &::after {
              border: solid #6f77f4;
              border-width: 0 5px 5px 0;
              transform: rotateX(180deg) rotateY(0) rotateZ(45deg);
            }
            box-shadow: none;
          }
        }
        .dropdown-menu {
          padding: 20px 30px;
          width: 425px;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 5px;
          .dropdown-container {
            position: relative;
            input.searchInput {
              padding: 10px 16px;
              width: 100%;
              height: 40px;
              background-color: #e8e8e8;
              border: none;
              border-radius: 5px;
              font: normal normal normal 14px/21px Poppins;
              color: #bebebe;
              &:focus {
                &::placeholder {
                  color: transparent;
                }
                & + i {
                  color: transparent;
                }
              }
            }
            i.place-holder {
              position: absolute;
              color: #bebebe;
              top: 13px;
              right: 16px;
            }
            hr {
              margin: 10px 0;
            }
            .dropdown-container-overflow {
              // min-height: ;
              max-height: 300px;
              overflow-y: auto;
              option {
                margin: 6px 0;
                font: normal normal normal 12px/18px Poppins;
                text-transform: capitalize;
                &:hover {
                  cursor: pointer;
                  color: #6f77f4;
                }
              }
            }
          }
        }
      }
    }
  }
  .submit-col {
    .submit-btn {
      padding: 15px 35px;
      border-radius: 8px;
      border: none;
      font: normal normal 500 18px/28px Poppins;
      color: #fff;
      background-color: #6f77f4;
      &:hover {
        background-color: #4751de;
      }
      &:disabled {
        background-color: #c0c4f6;
      }
    }
    .reset-btn {
      padding: 15px 35px;
      border-radius: 8px;
      background-color: transparent;
      border: none;
      font: normal normal 500 18px/28px Poppins;
      color: #4751de;
      &:hover {
        color: #111cb5;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  section#profile-picture {
    padding: 32px;
    margin-top: 32px;
    background-color: #f7f7f7;
    border-radius: 8px;
    h1.title {
      font: normal normal 600 24px Poppins;
      margin-bottom: 6px;
    }
    h2.sub-title {
      font: normal normal normal 18px Poppins;
      margin-bottom: 3px;
    }
    p.describtion {
      font: normal normal normal 14px Poppins;
      color: #707070;
      margin-bottom: 32px;
    }
    form {
      .change-picture-col {
        margin-bottom: 0;
        img {
          width: 116px;
          height: 115px;
          margin-right: 24px;
        }
        .change-picture {
          margin-top: 0;
          h2.title {
            font: normal normal 500 18px/28px Poppins;
            margin-bottom: 17px;
          }
          .upload-btn {
            padding: 8px 16px;
            border: 1px solid #8b8b8b;
            background-color: transparent;
            border-radius: 5px;
            font: normal normal 500 16px/28px Poppins;
            color: #ffffff;
            background: #6F77F4;
          }
          .delete-btn {
            padding: 8px 16px;
            font: normal normal 500 16px/28px Poppins;
            background-color: transparent;
            border: none;
            color: #8b8b8b;
          }
        }
      }
      .submit-col {
        .submit-btn {
          padding: 14px 36px;
          border-radius: 8px;
          border: none;
          font: normal normal 500 16px/28px Poppins;
          color: #fff;
          background-color: #6f77f4;
          &:hover {
            background-color: #4751de;
          }
        }
        .reset-btn {
          padding: 14px 36px;
          background-color: transparent;
          border: none;
          font: normal normal 500 16px/28px Poppins;
          color: #4751de;
          &:hover {
            color: #111cb5;
          }
        }
      }
    }
  }
  .seperator {
    height: 32px;
    width: 100%;
    background-color: #fff;
  }
  section#about-you {
    padding: 32px;
    background-color: #f7f7f7;
    border-radius: 8px;
    h1.title {
      font: normal normal 600 24px/28px Poppins;
      margin-bottom: 8px;
    }
    h2.sub-title {
      font: normal normal normal 16px/28px Poppins;
      color: #555454;
      margin-bottom: 32px;
    }
    form {
      .input-col:nth-child(odd) {
        padding-right: 16px;
      }
      .input-col:nth-child(even) {
        padding-left: 16px;
      }
      .input-col {
        margin-bottom: 16px;
        label {
          font: normal normal normal 16px/28px Poppins;
          text-transform: capitalize;
          margin-bottom: 8px;
        }
        input[type="text"],
        input[type="date"],
        textarea {
          padding: 16px;
          height: 56px;
          width: 100%;
          display: block;
          background-color: #fff;
          border-radius: 5px;
          border: none;
          font: normal normal normal 16px/28px Poppins;
          color: #000;
          &::placeholder {
            color: #bebebe;
          }
          &:focus {
            &::placeholder {
              color: transparent;
            }
          }
        }
        textarea {
          margin-bottom: 32px;
          height: 119px;
          border-radius: 8px;
        }
        .dropdown-col {
          ::-webkit-scrollbar {
            border-right: 30px white solid;
            width: 6px;
          }
          ::-webkit-scrollbar-track {
            background: #dedddd 0% 0% no-repeat padding-box;
            border-radius: 5px;
          }
          ::-webkit-scrollbar-thumb {
            background: #bebebe 0% 0% no-repeat padding-box;
            border-radius: 5px;
          }
          button {
            height: 56px;
            border-radius: 5px;
            background-color: #fff;
            font: normal normal normal 16px/24px Poppins;
            color: #000;
            &::after {
              all: unset;
              content: "";
              border: solid #bebebe;
              border-width: 0 3px 3px 0;
              display: inline-block;
              padding: 3px;
              transform: rotateX(0) rotateY(0) rotateZ(45deg);
            }
            &:focus {
              border: 1px solid #6f77f4;
              background-color: #fff;
              &::after {
                border: solid #6f77f4;
                border-width: 0 5px 5px 0;
                transform: rotateX(180deg) rotateY(0) rotateZ(45deg);
              }
              box-shadow: none;
            }
          }
          .dropdown-menu {
            padding: 20px 30px;
            width: 312px;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 5px;
            .dropdown-container {
              position: relative;
              input.searchInput {
                padding: 10px 16px;
                width: 100%;
                height: 40px;
                background-color: #e8e8e8;
                border: none;
                border-radius: 5px;
                font: normal normal normal 14px/21px Poppins;
                color: #bebebe;
                &:focus {
                  &::placeholder {
                    color: transparent;
                  }
                  & + i {
                    color: transparent;
                  }
                }
              }
              i.place-holder {
                position: absolute;
                color: #bebebe;
                top: 13px;
                right: 16px;
              }
              hr {
                margin: 10px 0;
              }
              .dropdown-container-overflow {
                height: 300px;
                overflow-y: auto;
                option {
                  margin: 6px 0;
                  font: normal normal normal 12px/18px Poppins;
                  text-transform: capitalize;
                  &:hover {
                    cursor: pointer;
                    color: #6f77f4;
                  }
                }
              }
            }
          }
        }
      }
    }
    .submit-col {
      .submit-btn {
        padding: 14px 36px;
        border-radius: 8px;
        border: none;
        font: normal normal 500 16px/28px Poppins;
        color: #fff;
        background-color: #6f77f4;
        &:hover {
          background-color: #4751de;
        }
      }
      .reset-btn {
        padding: 14px 36px;
        background-color: transparent;
        border: none;
        font: normal normal 500 16px/28px Poppins;
        color: #4751de;
        &:hover {
          color: #111cb5;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.9px) {
  section#profile-picture {
    padding: 32px 16px;
    margin-top: 24px;
    background-color: #f7f7f7;
    border-radius: 8px;
    h1.title {
      font: normal normal 600 18px Poppins;
      margin-bottom: 8px;
    }
    h2.sub-title {
      font: normal normal normal 14px Poppins;
      margin-bottom: 8px;
    }
    p.describtion {
      font: normal normal normal 12px Poppins;
      color: #707070;
      margin-bottom: 32px;
    }
    form {
      .change-picture-col {
        margin-bottom: 50px;
        img {
          width: 102px;
          height: 101px;
          margin-right: 24px;
        }
        .change-picture {
          margin-top: 0;
          h2.title {
            font: normal normal 500 16px/28px Poppins;
            margin-bottom: 12px;
          }
          .upload-btn {
            padding: 7px 20px;
            border: 1px solid #8b8b8b;
            background-color: transparent;
            border-radius: 5px;
            font: normal normal normal 14px/22px Poppins;
            color: #8b8b8b;
          }
          .delete-btn {
            padding: 7px 20px;
            font: normal normal normal 14px/22px Poppins;
            background-color: transparent;
            border: none;
            color: #8b8b8b;
          }
        }
      }
      .submit-col {
        .submit-btn {
          padding: 9px 17px;
          border-radius: 8px;
          border: none;
          font: normal normal normal 16px/28px Poppins;
          color: #fff;
          background-color: #6f77f4;
          &:hover {
            background-color: #4751de;
          }
        }
        .reset-btn {
          padding: 9px 17px;
          background-color: transparent;
          border: none;
          font: normal normal normal 16px/28px Poppins;
          color: #4751de;
          &:hover {
            color: #111cb5;
          }
        }
      }
    }
  }
  .seperator {
    height: 36px;
    width: 100%;
    background-color: #fff;
  }
  section#about-you {
    padding: 32px 16px;
    background-color: #f7f7f7;
    border-radius: 8px;
    h1.title {
      font: normal normal 600 18px/28px Poppins;
      margin-bottom: 8px;
    }
    h2.sub-title {
      font: normal normal normal 14px/28px Poppins;
      color: #555454;
      margin-bottom: 32px;
    }
    form {
      .input-col:nth-child(odd) {
        padding-right: 12px;
      }
      .input-col:nth-child(even) {
        padding-left: 12px;
      }
      .input-col {
        margin-bottom: 16px;
        label {
          font: normal normal normal 14px/28px Poppins;
          text-transform: capitalize;
          margin-bottom: 8px;
        }
        input[type="text"],
        input[type="date"],
        textarea {
          padding: 16px;
          height: 50px;
          width: 100%;
          display: block;
          background-color: #fff;
          border-radius: 5px;
          border: none;
          font: normal normal normal 14px/28px Poppins;
          color: #000;
          &::placeholder {
            color: #bebebe;
          }
          &:focus {
            &::placeholder {
              color: transparent;
            }
          }
        }
        textarea {
          margin-bottom: 40px;
          height: 108px;
          border-radius: 8px;
        }
        .dropdown-col {
          ::-webkit-scrollbar {
            border-right: 30px white solid;
            width: 6px;
          }
          ::-webkit-scrollbar-track {
            background: #dedddd 0% 0% no-repeat padding-box;
            border-radius: 5px;
          }
          ::-webkit-scrollbar-thumb {
            background: #bebebe 0% 0% no-repeat padding-box;
            border-radius: 5px;
          }
          button {
            height: 50px;
            border-radius: 5px;
            background-color: #fff;
            font: normal normal normal 14px/24px Poppins;
            color: #000;
            &::after {
              all: unset;
              content: "";
              border: solid #bebebe;
              border-width: 0 3px 3px 0;
              display: inline-block;
              padding: 3px;
              transform: rotateX(0) rotateY(0) rotateZ(45deg);
            }
            &:focus {
              border: 1px solid #6f77f4;
              background-color: #fff;
              &::after {
                border: solid #6f77f4;
                border-width: 0 5px 5px 0;
                transform: rotateX(180deg) rotateY(0) rotateZ(45deg);
              }
              box-shadow: none;
            }
          }
          .dropdown-menu {
            padding: 20px;
            width: 328px;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 5px;
            .dropdown-container {
              position: relative;
              input.searchInput {
                padding: 10px 16px;
                width: 100%;
                height: 40px;
                background-color: #e8e8e8;
                border: none;
                border-radius: 5px;
                font: normal normal normal 14px/21px Poppins;
                color: #bebebe;
                &:focus {
                  &::placeholder {
                    color: transparent;
                  }
                  & + i {
                    color: transparent;
                  }
                }
              }
              i.place-holder {
                position: absolute;
                color: #bebebe;
                top: 13px;
                right: 16px;
              }
              hr {
                margin: 10px 0;
              }
              .dropdown-container-overflow {
                height: 300px;
                overflow-y: auto;
                option {
                  margin: 6px 0;
                  font: normal normal normal 12px/18px Poppins;
                  text-transform: capitalize;
                  &:hover {
                    cursor: pointer;
                    color: #6f77f4;
                  }
                }
              }
            }
          }
        }
      }
    }
    .submit-col {
      .submit-btn {
        padding: 9px 17px;
        border-radius: 8px;
        border: none;
        font: normal normal normal 16px/28px Poppins;
        color: #fff;
        background-color: #6f77f4;
        &:hover {
          background-color: #4751de;
        }
      }
      .reset-btn {
        padding: 9px 17px;
        background-color: transparent;
        border: none;
        font: normal normal normal 16px/28px Poppins;
        color: #4751de;
        &:hover {
          color: #111cb5;
        }
      }
    }
  }
}
