<section id="profile-picture">
  <div class="row">
    <div class="col-12">
      <h1 class="title">{{ "STUDENTBOARD.profile" | translate }}</h1>
      <h2 class="sub-title">
        <h1 class="title">
          {{ "STUDENTBOARD.impresseveryonewithyourbestheadshot" | translate }}
        </h1>
      </h2>
      <p class="describtion">
        {{ "STUDENTBOARD.RequiredJPGJPEGGIForPNG" | translate }}
      </p>
      <form>
        <div class="text-center" *ngIf="loadingPic">
          <div class="spinner-border text-primary" role="status"></div>
        </div>
        <div
          class="d-flex justify-content-start align-items-start change-picture-col"
          *ngIf="!loadingPic"
        >
          <img
            [src]="
              profilePicture === '' ||
              profilePicture === 'None' ||
              profilePicture === null ||
              profilePicture ===
                'https://studentgator.com/assets/images/navbar/default-pic.svg'
                ? 'https://studentgator.com/assets/images/navbar/default-pic.svg'
                : profilePicture
            "
            class="rounded-circle"
            alt="profile-picture"
          />
          <!-- <input type="file" /> -->
          <div class="change-picture">
            <h2 class="title">
              {{ "STUDENTBOARD.ProfilePicture" | translate }}
            </h2>
            <div class="d-flex align-items-center flex-wrap">
              <button
                type="button"
                class="upload-btn d-flex justify-content-center align-items-center"
                (click)="fileInput.click()"
              >
                <i class="fas fa-upload"></i>
                {{ "STUDENTBOARD.Choosepicture" | translate }}

                <input
                  #fileInput
                  type="file"
                  (change)="chooseImage($event)"
                  style="display: none"
                  accept=".png, .jpg, .jpeg"
                />
              </button>
              <button
                *ngIf="fileSelected"
                type="button"
                class="delete-btn d-flex justify-content-center align-items-center"
                (click)="deleteImage()"
              >
                <i class="fas fa-trash"></i>
                {{ "STUDENTBOARD.Deletepicture" | translate }}
              </button>
            </div>
          </div>
        </div>
        <div class="submit-col d-flex justify-content-end align-items-center">
          <!-- <button type="button" class="reset-btn">Discard Changes</button> -->
          <button
            type="submit"
            class="submit-btn"
            (click)="uploadImage('image')"
          >
            {{ "STUDENTBOARD.SaveChanges" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<div class="seperator"></div>
<section id="about-you">
  <div class="row">
    <div class="col-12">
      <h1 class="title">{{ "STUDENTBOARD.AboutYou" | translate }}</h1>
      <h2 class="sub-title">
        {{ "STUDENTBOARD.ImpressEveryoneWithYourBestHeadshot" | translate }}
      </h2>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">
        <div class="row">
          <div class="input-col col-md-6 col-12">
            <label>{{ "STUDENTBOARD.Country" | translate }}</label>
            <div class="dropdown-center dropdown-col" #dropdown>
              <button
                class="btn dropdown-toggle col-12 d-flex justify-content-between align-items-center px-3"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-offset="0,12"
              >
                {{ countryName | shorten : 25 }}
              </button>
              <div class="dropdown-menu">
                <div class="dropdown-container">
                  <input
                    type="text"
                    placeholder="Search"
                    class="searchInput"
                    [(ngModel)]="searchCountry"
                    [ngModelOptions]="{ standalone: true }"
                    [value]="
                      countryName === 'Select country' ? '' : countryName
                    "
                  />
                  <i class="fas fa-search place-holder"></i>
                  <hr />
                  <div class="dropdown-container-overflow">
                    <option
                      [value]="country"
                      *ngFor="
                        let country of countries | filterOne : searchCountry
                      "
                      (click)="
                        changeSelection($event, 'country'); dropdown.click()
                      "
                    >
                      {{ country.country | shorten : 35 }}
                    </option>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-col col-md-6 col-12">
            <label>{{ "STUDENTBOARD.City" | translate }} </label>
            <div class="dropdown-center dropdown-col" #dropdown>
              <button
                class="btn dropdown-toggle col-12 d-flex justify-content-between align-items-center px-3"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-offset="0,12"
                [disabled]="countryName === 'Select country'"
              >
                {{ cityName | shorten : 25 }}
              </button>
              <div class="dropdown-menu">
                <div class="dropdown-container">
                  <input
                    type="text"
                    placeholder="Search"
                    class="searchInput"
                    [(ngModel)]="searchCity"
                    [ngModelOptions]="{ standalone: true }"
                    [value]="cityName === 'Select city' ? '' : cityName"
                  />
                  <i class="fas fa-search place-holder"></i>
                  <hr />
                  <div class="dropdown-container-overflow">
                    <option
                      [value]="city"
                      *ngFor="let city of cities | filterOne : searchCity"
                      (click)="
                        changeSelection($event, 'city'); dropdown.click()
                      "
                    >
                      {{ city | shorten : 35 }}
                    </option>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-col col-md-6 col-12">
            <label for="university"
              >{{ "STUDENTBOARD.University" | translate }}
            </label>
            <input
              type="text"
              id="university"
              formControlName="university"
              [value]="university"
              [(ngModel)]="university"
            />
          </div>
          <div class="input-col col-md-6 col-12">
            <label for="faculty"
              >{{ "STUDENTBOARD.Faculty" | translate }}
            </label>
            <input
              type="text"
              id="faculty"
              formControlName="faculty"
              [value]="faculty"
              [(ngModel)]="faculty"
            />
          </div>
          <div class="input-col col-md-6 col-12">
            <label for="jobTitle"
              >{{ "STUDENTBOARD.Jobtitle" | translate }}
            </label>
            <input
              type="text"
              id="jobTitle"
              formControlName="jobTitle"
              [value]="jobTitle"
              [(ngModel)]="jobTitle"
            />
          </div>
          <div class="input-col col-md-6 col-12">
            <label for="birthDate"
              >{{ "STUDENTBOARD.DateofBirth" | translate }}
            </label>
            <input
              type="date"
              id="birthDate"
              formControlName="birthDate"
              [value]="birthDate"
              [(ngModel)]="birthDate"
            />
          </div>
          <div class="input-col col-12">
            <label for="bio"
              >{{ "STUDENTBOARD.TellUsSomethingAboutYourself" | translate }}
            </label>
            <textarea
              id="bio"
              placeholder="Write Here.."
              [value]="bio"
              formControlName="bio"
              [(ngModel)]="bio"
            ></textarea>
          </div>
        </div>
        <div class="submit-col d-flex justify-content-end align-items-center">
          <p
            class="m-0 me-auto"
            [ngClass]="{
              'text-success': msg === 'Data Changed Successfully!',
              'text-danger': msg === 'Something Went Wrong!'
            }"
          >
            {{ msg }}
          </p>
          <button type="button" class="reset-btn" (click)="clearForm()">
            {{ "STUDENTBOARD.DiscardChanges" | translate }}
          </button>
          <button
            type="submit"
            class="submit-btn"
            [disabled]="!editForm.valid || !cityName || !countryName"
          >
            {{ "STUDENTBOARD.SaveChanges" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
