<!-- <div class="section-container">
  <div class="custom-row comments">
    <p class="title">Archived Applications</p>
    <div class="sort">
      <div class="control">
        <img src="../../../../../assets/images/search.gif" alt="" />
        <input type="text" placeholder="Search..." [(ngModel)]="searchText" />
      </div>
      <button mat-button (click)="restoreApps()" class="mb-3">
        <mat-icon>unarchive</mat-icon>
      </button>
    </div>
    <div class="table-wrapper">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Number</th>
            <th scope="col" (click)="sortNameApp()" class="sorting">
              Name
              <i *ngIf="sortingDownNameApp" class="fas fa-caret-down"></i>
              <i *ngIf="sortingUpNameApp" class="fas fa-caret-up"></i>
            </th>
            <th scope="col" (click)="sortStatusApp()" class="sorting">
              Status
              <i *ngIf="sortingDownStatusApp" class="fas fa-caret-down"></i>
              <i *ngIf="sortingUpStatusApp" class="fas fa-caret-up"></i>
            </th>
            <th scope="col" (click)="sortSchoolName()" class="sorting">
              School Name
              <i *ngIf="sortingDownSchoolName" class="fas fa-caret-down"></i>
              <i *ngIf="sortingUpSchoolName" class="fas fa-caret-up"></i>
            </th>
            <th scope="col" (click)="sortProgramName()" class="sorting">
              Program Name
              <i *ngIf="sortingDownProgramName" class="fas fa-caret-down"></i>
              <i *ngIf="sortingUpProgramName" class="fas fa-caret-up"></i>
            </th>
            <th scope="col" (click)="sortEmailApp()" class="sorting">
              Email
              <i *ngIf="sortDownEmailApp" class="fas fa-caret-down"></i>
              <i *ngIf="sortUpEmailApp" class="fas fa-caret-up"></i>
            </th>
            <th scope="col" class="d-flex align-items-center">
              Date
              <input
                matInput
                [matDatepicker]="picker"
                [formControl]="date"
                style="width: 0.1px; visibility: hidden; color: transparent"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker
                startView="multi-year"
                (monthSelected)="setMonthAndYear($event, picker)"
                panelClass="example-month-picker"
              >
              </mat-datepicker>
              <mat-icon (click)="resetDate()" style="cursor: pointer"
                >update</mat-icon
              >
            </th>
            <th scope="col">City</th>
          </tr>
        </thead>
        <tbody style="overflow-x: auto !important">
          <tr
            *ngFor="
              let application of myApplications | filterOne: searchText;
              let i = index
            "
          >
            <td>
              <input type="checkbox" (click)="getEmails(application[0])" />
            </td>
            <td class="text-center">
              {{ i + 1 }}
            </td>
            <td>
              <div class="flex">
                <div class="text">
                  <p>{{ application[8] }}</p>
                </div>
              </div>
            </td>
            <td>
              {{ application[7] }}
            </td>
            <td>
              {{ application[2] }}
            </td>
            <td class="nationality" *ngIf="application[1] != 'undefined'">
              {{ application[1] }}
            </td>
            <td class="nationality" *ngIf="application[1] == 'undefined'">
              Unkown
            </td>
            <td>
              <div class="flex">
                <div class="text">
                  <p>{{ application[0] }}</p>
                </div>
              </div>
            </td>
            <td class="date">
              {{ application[9] * 1000 | date: "MMMM d, y" }}
            </td>
            <td>
              {{ application[5] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
