<div class="text-start container section-main">
    <div class="first-row">
        <span>By SG Team</span>
        <p>Visa Application</p>
        <small>22 August, 2022</small>
    </div>

    <div class="dashed">
        <p style="padding-top: 52px;color: #0404042e;font-style: italic;">////////////////////////////////</p>
        <p>Congratulations on being accepted into a French university! You’re just a few days away from experiencing
            “Vivre la France”, but while you’re excited to start your fascinating journey, it is also important to know
            that there are a few hurdles left before your final leap. Check out below the mandatory procedure that
            students are obliged to follow before their arrival.</p>
        <span>“It’s about pushing your limits and venturing beyond your comfort zone…” Angelina Jolie</span>
    </div>

    <div class="second-row">
        <h3>The list of documents required are as follows:</h3>
    </div>

    <div class="one-text">
        <h3>1. The Etudes En France (EEF) procedure</h3>
        <p>The "Etudes en France" procedure involves students residing in one of the following 46 countries: Algeria,
            Argentina, Benin, Brazil, Burkina Faso, Burundi Cameroon, Chile, China, Colombia, Comoros, the Republic of
            the Congo, South Korea, Ivory Coast, Egypt, United States, Gabon, Guinea, Haïti, India, Indonesia, Iran,
            Japan, Kuwait, Lebanon, Madagascar, Mali, Morocco, Mauritius, Mauritania, Mexico, Niger, Nigeria, Peru,
            Senegal, Democratic Republic of Congo, Russia, Saudi Arabia, Senegal, Singapore, Taiwan, Tchad, Togo,
            Tunisia, Turkey and Vietnam. This procedure is for registering as a student on the Frech Government’s
            website. Students have to create an account and complete the application process by filling in the required
            details.</p>
        <p style="font-size:16px;font-weight: 600;">Here is the link for the website: <a
                href="https://pastel.diplomatie.gouv.fr/etudesenfrance/">https://pastel.diplomatie.gouv.fr/etudesenfrance/</a><span>(If
                you’re not from the 46 countries listed above, then you’ve to follow a different procedure known as DAP
                )</span></p>
        <div class="row">
            <div class="col-12">
                <img style="width: 100%;height: 667px;border-radius:12px;"
                    src="../../../../../../../assets/images/articles/21.webp" alt="">
            </div>
        </div>
    </div>

    <div class="one-text">
        <h3>2. The Etudes En France (EEF) procedure</h3>
        <p>Once you finish with the application, email your nearest Campus France Office that you’ve completed the
            application and ask him/her to review it(to speed up the application process). You will receive a mail with
            a payment link from the Campus France Manager to make the payment (around 180 Euros). Now, you are eligible
            to book an interview with Campus France.</p>
    </div>

    <div class="one-text">
        <h3>3. Campus France Interview</h3>
        <p>Post payment of the Campus France Fees, your interview will be scheduled with the Campus France Manager of
            your region. The interviewer will ask basic questions such as: Introduce yourself. Why France? Why did you
            choose this program? What is your future project? How did you know about the school? Etc.</p><br>
        <p>Usually, the interview is to check your motivation and your eligibility, but at times you can expect one or
            two cross-questions based on your background and CV. You don’t have to worry about the interview if your
            file is good and if there are no discrepancies in your file. Post interview, you will soon receive a NOC (No
            Objection Certificate) from Campus France. NOC is a very important document to proceed with your visa
            application.
        </p>
    </div>

    <div class="one-text">
        <h3>4. Visa Application</h3>
        <p>Alas! You’ve reached the final step, the “French Visa application”. Students have to create an application
            and start their application process on the common platform: <a
                href="https://france-visas.gouv.fr/en_US/web/france-visas/">https://france-visas.gouv.fr/en_US/web/france-visas/</a>
        </p>
        <p>Once, the application is completed, you will have to book an appointment according to the available dates.
            The appointment link will be provided to you according to your country of residence or you can book an
            appointment through this link: <a
                href="https://france-visas.gouv.fr/en_US/web/france-visas/">https://france-visas.gouv.fr/en_US/web/france-visas/</a>
        </p>
    </div>

    <div class="one-text">
        <h3>5. Visa appointment</h3>
        <p>Make sure you carry all the ORIGINAL documents as mentioned and a pair of photocopies of the ORIGINAL
            documents. To be on the safer side carry one extra pair of photocopies of all your documents and a soft-copy
            of all your documents (in a pen-drive). The list of documents are as follows(to be checked with your
            Embassy):</p><br>
        <p>Appointment letter (Photo and signature)</p>
        <p>Cover letter</p>
        <p>NOC + Campus France Payment Receipt + EEF document</p>
        <p>Long stay visa application</p>
        <p>Registration receipt</p>
        <p>Expense sheet (Provided by Campus France)</p>
        <p>Air ticket</p>
        <p>Travel Insurance (3 month)</p>
        <p>Motivation letter</p>
        <p>French University documents</p>
        <p>Accommodation proof (Accommodation contract with your landlord)</p>
        <p>CV & Bachelors notarized documents</p>
        <p>Work experience proof (Recommeneded) </p>
        <p>Funding proof (Bank loan sanction letter, bank statement)</p>
        <p>Passport</p>
    </div>

    <div class="check-more">
        <p>Check More <span>Blogs</span></p>
    </div>

    <div class="row mb-5">
        <div class="col-lg-4">
            <div class="card main-card" style="border: none;box-shadow: none;">
                <div>
                    <img
src="/assets/images/articles/Mask Group 8.png" class="card-img-top" alt="...">
                </div>
                <div class="d-flex justify-content-between small-details">
                    <div class="d-flex">
                        <i class="fas fa-calendar pe-2"></i>
                        <p>22 August, 2022</p>
                    </div>
                </div>
                <div class="card-content">
                    <p class="main-body">Visa Application</p>
                    <p class="by-body">By SG Team</p>
                    <p class="des-body">Once you have taken the appointment for the Visa at the VFS, you now move to the
                        most crucial and important stage of your Visa process i.e document submission. It is
                        necessary....</p>
                    <p class="readmore-body" routerLink="/landing/blog/2">READ MORE</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card main-card" style="border: none;box-shadow: none;">
                <div>
                    <img
src="/assets/images/articles/Mask Group 4.png" class="card-img-top" alt="...">
                </div>
                <div class="d-flex justify-content-between small-details">
                    <div class="d-flex">
                        <i class="fas fa-calendar pe-2"></i>
                        <p>22 August, 2022</p>
                    </div>
                </div>
                <div class="card-content">
                    <p class="main-body">French Student Visa Application</p>
                    <p class="by-body">By SG Team</p>
                    <p class="des-body">Congratulations on being accepted into a French university! You’re just a few
                        days away from experiencing “Vivre la France”, but while you’re excited to start your
                        fascinating journey....</p>
                    <p class="readmore-body" routerLink="/landing/blog/2">READ MORE</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card main-card" style="border: none;box-shadow: none;">
                <div>
                    <img
src="/assets/images/articles/Mask Group 6.png" class="card-img-top" alt="...">
                </div>
                <div class="d-flex justify-content-between small-details">
                    <div class="d-flex">
                        <i class="fas fa-calendar pe-2"></i>
                        <p>22 August, 2022</p>
                    </div>
                </div>
                <div class="card-content">
                    <p class="main-body">StudentGator Process</p>
                    <p class="by-body">By SG Team</p>
                    <p class="des-body">Deciding to Study Abroad is a fascinating decision followed by a million dreams,
                        aspirations, a high salary and a hope of a good life. The idea itself is rejoiceful until the
                        strike of reality! first of all...</p>
                    <p class="readmore-body" routerLink="/landing/blog/5">READ MORE</p>
                </div>
            </div>
        </div>
    </div>
</div>