<section class="login-section">
  <div class="row">
    <div class="login-card">
      <div class="login-content">
        <a routerLink="/landing/home">
          <img src="../../../../../assets/images/elias_logo.svg" alt="SG logo" />
        </a>
        <p class="reset">Change your Password</p>
        <form [formGroup]="changeForm" (ngSubmit)="onSubmit(changeForm)">
          <div class="input-div">
            <input [type]="show ? 'text' : 'password'" id="password" min="8" max="16" formControlName="password"
              class="form-control" />
            <mat-icon (click)="showPassword()">{{
              show ? "visibility_off" : "visibility"
              }}</mat-icon>
            <label for="password">Password</label>
            <div class="d-flex flex-column validation_msg">
              <span *ngIf="!changeForm.controls.password.valid && changeForm.controls.password.touched"
                class="text-danger">
                You must Enter a valid password.
              </span>
              <span class="text-danger" *ngIf="changeForm.hasError('maxlength', 'password')">Max length: 16</span>
              <span class="text-danger" *ngIf="changeForm.hasError('minlength', 'password')">Min length: 8</span>
            </div>
          </div>
          <div class="mt-3 input-div">
            <input [type]="showRepeat ? 'text' : 'password'" id="repeatPassword" min="8" max="16"
              formControlName="repeatPassword" class="form-control" />
            <mat-icon (click)="showRepeatPassword()">{{
              showRepeat ? "visibility_off" : "visibility"
              }}</mat-icon>
            <label for="repeatPassword">Repeat Password</label>
     

            <div class="d-flex flex-column validation_msg mb-0">
              <span *ngIf="!changeForm.controls.repeatPassword.valid && changeForm.controls.repeatPassword.touched" class="text-danger">
              You must Enter the same password.
            </span>
              <span class="text-danger" *ngIf="changeForm.hasError('maxlength', 'repeatPassword')">Max length: 16</span>
              <span class="text-danger" *ngIf="changeForm.hasError('minlength', 'repeatPassword')">Min length: 8</span>
            </div>
          </div>
          <div class="change mt-0 mb-3">
            <button class="btn" type="submit" [disabled]="!changeForm.valid">
              Change
            </button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</section>