section {
  .login-content {
    margin-top: 52px;
    padding: 0 99px;
    background-image: url(../../../../../assets/images/login-pages/map-background.png);
    background-repeat: no-repeat;
    background-size: cover;

    img {
      width: 213px;
      height: 39px;
      margin-bottom: 33px;
      position: relative;
      margin-left: -23px;
    }

    .reset {
      font: normal normal 600 30px/35px Poppins;
      margin-bottom: 50px;
    }

    .change-image {
      width: 258px;
      height: 176px;
      margin-bottom: 38px;
    }

    .input-div {
      position: relative;

      label {
        font: normal normal normal 14px Poppins;
        color: #bebebe;
        background-color: #fff;
        position: absolute;
        top: -10px;
        padding: 0 20px;
        user-select: none;
        -webkit-user-select: none;
      }

      input {
        width: 100%;
        height: 47px;
        border: 2px solid #dedddd;
        border-radius: 8px;

        &:-webkit-autofill {
          -webkit-box-shadow: 200px 200px 100px white inset;
        }

        &:focus {
          outline: none;
          box-shadow: none;
          border: 2px solid #6770f7;
          -webkit-box-shadow: 200px 200px 100px white inset;
        }

        &:focus+label {
          color: #6770f7;
        }
      }

      mat-icon {
        position: relative;
        top: -35px;
        left: 90%;
        cursor: pointer;
      }
    }

    .change {
      margin-top: 53px;
      width: 100%;
      height: 47px;

      button {
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #16294f 0%, #4751de 100%);
        border-radius: 8px;
        font: normal normal normal 18px Poppins;
        color: #ffffff;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  .login-card {
    border-radius: 20px;
    width: 820px;
    position: absolute !important;
    left: 50%;
    margin-left: -690px;
    background: #ffffff !important;
    top: 50%;
    margin-top: -250px;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 1199.9px) and (min-width: 768px) {
  section {
    .login-content {
      padding: 0 200px;

      img {
        width: 172px;
        height: 32px;
      }

      .reset {
        text-align: center;
        font: normal normal 600 20px Poppins;
      }

      .change-image {
        width: 258px;
        height: 176px;
        margin-bottom: 38px;
      }

      input {
        width: 100%;
      }

      mat-icon {
        left: 91%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {

  .password,
  #confirmPassword {
    position: relative !important;
  }

  .login-z-index {
    height: auto !important;
  }

  section {
    overflow: auto !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;

    .content {
      margin-top: 30px;
      padding: 0 30px;

      .mat-icon {
        right: 16px;
        position: absolute;
        left: auto;
        top: 40px;
        z-index: 999;
      }

      .logIn {
        padding-bottom: 20px;
      }

      .signup-text {
        font: normal normal 600 16px Poppins;
      }
    }

    .login-card {
      position: relative !important;
      left: 0 !important;
      top: 0;
      margin-top: 0;
      margin-left: 0;
      width: 100%;
    }

    .login-content {
      padding: 0 20px;

      img {
        width: 115px;
        height: 21px;
      }

      .account {
        font: normal normal 600 14px Poppins;
        margin-bottom: 16px;
      }

      .welcome-back {
        font: normal normal 600 12px Poppins;
        color: #ff5151;
        margin-bottom: 8px;
      }

      .btn-group {

        .google,
        .facebook {
          background-color: #fdfdfd;
          width: 98px;
          height: 26px;
          padding: 0;
          border: none;
          font: normal normal 600 12px Poppins;

          .logo {
            width: 16px;
            height: 16px;
          }

          &:focus {
            border: none;
          }

          p {
            margin-left: 5px;
          }

          .text-mobile {
            display: block;
          }

          .text-full {
            display: none;
          }
        }
      }

      .seperator {
        margin: 24px 0;

        hr {
          width: (100%/2.5);
        }

        p {
          font: normal normal normal 18px Poppins;
          color: #8b8b8b;
          margin: 0;
        }
      }

      label {
        font: normal normal normal 12px Poppins;
        top: 10px;
        right: -25px;
        padding: 0 10px;
      }

      input {
        font: normal normal normal 14px Poppins;
        width: 100%;
        height: 50px;
        border: 1px solid #dedddd;
        border-radius: 8px;
        padding-left: 16px;

        &:-webkit-autofill {
          -webkit-box-shadow: 200px 200px 100px #f7f7f7 inset;
        }

        &:focus {
          outline: none;
          box-shadow: none;
          border: 2px solid #6770f7;
          -webkit-box-shadow: 200px 200px 100px #f7f7f7 inset;
        }
      }

      mat-icon {
        left: 90%;
      }

      .forget {
        font-size: 14px;
      }

      .forget-row {
        .checkbox {
          label {
            font-size: 14px;
          }
        }
      }

      .reset {
        font: normal normal 600 20px Poppins;
      }
    }

    .login {
      width: 344px;
      height: 34px;
      margin-top: 22px;

      button {
        font: normal normal 600 12px Poppins;
      }

    }

    .create {
      margin-top: 14px;
      font-size: 12px !important;
      font: normal normal normal 12px Poppins !important;
      color: #8b8b8b;

      a {
        font: normal normal normal 12px Poppins !important;
      }
    }

    .forget-row {
      margin-bottom: 50px;
    }
  }
}

.validation_msg {
  position: relative;
  top: -20px;
}