<section class="login-section">
  <div class="row">
    <div class="login-content">
      <a routerLink="/landing/home">
        <img
          src="../../../../../assets/images/elysee-logo.png"
          alt="SG logo"
        />
      </a>
      <p class="reset">Reset your Password</p>
      <div class="d-flex justify-content-center">
        <img
          src="../../../../../assets/images/login-pages/reset-password.png"
          alt="password"
          class="change-image"
        />
      </div>
      <form [formGroup]="changeForm" (ngSubmit)="onSubmit(changeForm)">
        <div class="input-div">
          <input
            [type]="show ? 'text' : 'password'"
            id="password"
            min="8"
            max="16"
            formControlName="password"
            class="form-control"
          />
          <mat-icon (click)="showPassword()">{{
            show ? "visibility_off" : "visibility"
          }}</mat-icon>
          <label for="password">Password</label>
          <span
            *ngIf="
              !changeForm.controls['password'].valid &&
              changeForm.controls['password'].touched
            "
            class="text-danger"
          >
            You must Enter a valid password.
          </span>
        </div>
        <div class="mt-3 input-div">
          <input
            [type]="showRepeat ? 'text' : 'password'"
            id="repeatPassword"
            min="8"
            max="16"
            formControlName="repeatPassword"
            class="form-control"
          />
          <mat-icon (click)="showRepeatPassword()">{{
            showRepeat ? "visibility_off" : "visibility"
          }}</mat-icon>
          <label for="repeatPassword">Repeat Password</label>
          <span
            *ngIf="
              !changeForm.controls['repeatPassword'].valid &&
              changeForm.controls['repeatPassword'].touched
            "
            class="text-danger"
          >
            You must Enter the same password.
          </span>
        </div>
        <div class="change">
          <button class="btn" type="submit" [disabled]="!changeForm.valid">
            Change
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
