<!-- <div class="section-container">
    <div class="custom-col">
        <div class="custom-row">
            <div>
                <h2>Contact us if you have any <span>questions</span> </h2>
            </div>
            <div>
                <p class="o186d">Dis parturient montes nascetur ridiculus mus.
                    Pharetra massa massa ultricies mi quis hendrerit dolor.</p>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25806850.603145864!2d1.4928979!3d37.854433!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66de62ccbc105%3A0x8ec5b8e0ef14bac6!2sStudentgator!5e0!3m2!1sen!2seg!4v1640156580189!5m2!1sen!2seg" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>

        <div class="custom-row">
            <div class="ictx">
                <div class="ictx-icon">
                    <img
src="/assets/images/time.svg" alt="">
                </div>
                <div class="ictx-text">
                    <p class="o186db">Hour of operation</p>
                    <p class="o146d">Monday - Friday: 09:00AM - 08:00PM
                        Sunday & Saturday: closed</p>
                </div>
            </div>

            <div class="ictx">
                <div class="ictx-icon">
                    <img
src="/assets/images/contact.svg" alt="">
                </div>
                <div class="ictx-text">
                    <p class="o186db">Contact</p>
                    <p class="o146d">+33 6 34 66 74 97</p>
                </div>
            </div>

            <div class="ictx">
                <div class="ictx-icon">
                    <img
src="/assets/images/location-b.svg" alt="">
                </div>
                <div class="ictx-text">
                    <p class="o186db">Address</p>
                    <p class="o146d">5 Av. de Celle, 92360 Meudon, France</p>
                </div>
            </div>
        </div>

        <div class="custom-row">
            <div class="custom-col img">
                <div class="img-holder">
                    <img
src="/assets/images/Nicola.png" alt="">
                </div>
            </div>
            <div class="custom-col form">
                <h5>Get in Touch</h5>                
                <form [formGroup]="requestForm" (ngSubmit)="request(requestForm)">
                    
                    <div class="control">
                        <input type="email" formControlName="email" placeholder="Enter Your Email">
                    </div>
                    <div class="control textarea">
                        <textarea  formControlName="msg" placeholder="Enter Your Message"></textarea>
                    </div>
                    <button type="submit">send a message</button>
                </form>
            </div>
        </div>
    </div>
</div> -->
