<!-- france visa -->
<section class="france-visa">
    <div class="text-visa">
        <h1>France visa</h1>
        <p class="my-lg-3 my-md-3 my-2">Now that you have completed the Campus France (Study in France) procedure and obtained your
            <span>'Accord
                Préalable/Campus France letter'</span>, you must now proceed with the visa application on France Visa
            and ask for a
            long stay Visa ((VLS-TS):
        </p>
        <a href="https://france-visas.gouv.fr/web/france-visas/"
            target="_blank">https://france-visas.gouv.fr/web/france-visas/</a>
    </div>

    <div class="video">
        <h1>Check the video below to complete it</h1>
        <div class="row">
            <div class="col-12 px-0">
             <iframe class="w-100" src="https://www.youtube.com/embed/M9fB0sPjxZY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="cards">
        <h1>WHAT DOES THE VLS-TS “STUDENT” PERMIT?</h1>
        <div class="d-lg-block d-md-block d-none">
            <div class="row justify-content-lg-around justify-content-md-around d-flex">
                <div class="col-lg-4 col-md-6">
                    <img src="../../../../../../assets/images/navigator/visa/france/card 1.svg" alt="c-1">
                    <p>Travel freely in all countries of the Schengen area.</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="../../../../../../assets/images/navigator/visa/france/card 2.svg" alt="c-2">
                    <p>Work 964 hours a year, or 20 hours a week, to supplement their income.</p>
                </div>
    
            </div>
            <div class="row justify-content-lg-around justify-content-md-around d-flex">
                <div class="col-lg-4 col-md-6">
                    <img src="../../../../../../assets/images/navigator/visa/france/card 3.svg" alt="c-3">
                    <p>Receive a housing allowance from the CAF (check accomodation section)</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="../../../../../../assets/images/navigator/visa/france/card 4.svg" alt="c-4">
                    <p>Extend your stay beyond the validity of the residence permit issued.</p>
                </div>
    
            </div>
        </div>

        <div class="d-lg-none d-md-none d-bock">
            <div class="row">
                <div class="col-lg-12 px-0">
                  <owl-carousel-o [options]="teamOptions">
                    <ng-container>
                      <ng-template carouselSlide>
                        <div class="col-12 px-0">
                          <div class="text-center">
                            <img src="../../../../../../assets/images/navigator/visa/france visa/c-1.svg" alt="c-1">
                            <p>Travel freely in all countries of the Schengen area.</p>
                          </div>
                        </div>
                      </ng-template>
    
                      <ng-template carouselSlide>
                        <div class="col-12 px-0">
                          <div class="text-center">
                            <img src="../../../../../../assets/images/navigator/visa/france visa/c-2.svg" alt="c-2">
                            <p>Work 964 hours a year, or 20 hours a week, to supplement their income.</p>
                          </div>
                        </div>
                      </ng-template>
    
                      <ng-template carouselSlide>
                        <div class="col-12 px-0">
                          <div class="text-center">
                            <img src="../../../../../../assets/images/navigator/visa/france visa/c-3.svg" alt="c-3">
                            <p>Receive a housing allowance from the CAF (check accomodation section)</p>
                          </div>
                        </div>
                      </ng-template>
    
                      <ng-template carouselSlide>
                        <div class="col-12 px-0">
                          <div class="text-center">
                            <img src="../../../../../../assets/images/navigator/visa/france visa/c-4.svg" alt="c-4">
                            <p>Extend your stay beyond the validity of the residence permit issued.</p>
                          </div>
                        </div>
                      </ng-template>
                    </ng-container>
                  </owl-carousel-o>
                </div>
              </div>
        </div>
    </div>

    <div class="back-blue">
        <h2>After completing the France Visa process you will be asked to <br> book an appointment on either VFS or TLS.
        </h2>
    </div>
</section>

