a.add-button {
  height: 100%;
  background-color: #16294f;
  border-radius: 5px;
  padding: 9px 42px;
  font: normal normal normal 14px Poppins;
  color: #fff;
  border: none;

  &:hover {
    background-color: #ab4851;
  }
}

.time-filter {
  .p-dropdown {
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid var(--secondry-grey, #7b7b7b);
    padding-inline-start: 1rem;
    color: var(--primary-black, #121212);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
  }
}

.name-modal-input {
  border: none;
  width: fit-content;
  font-size: 24px;

  &:focus {
    border-radius: var(--5, 5px);
    border: 6px solid var(--light-purple, #fbe8ea);
    box-shadow: none;
  }
}

.id-text {
  color: var(--primary-black, #121212);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.p-datatable .p-datatable-header {
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  border: none;

  button {
    background-color: transparent;
    border: none;

    i {
      font-size: 1.5rem;
    }
  }
}

.table-style {
  border-radius: 10px;

  .font-poppins *:not(.pi) {
    font-family: Poppins !important;
  }
}

.p-datatable-thead {
  tr {
    background-color: white;

    th {
      background-color: transparent !important;

      .table-title {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}

.p-datatable-wrapper {
  border-radius: 0 0 10px 10px;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  border-radius: 50%;
  border: 0 none;
  color: #16294f;
  transition: box-shadow 0.2s;

  &.p-highlight {
    background: #16294f;
    border-color: #16294f;
    color: #fdfdfd;
    box-shadow: none;
  }
}

.p-datatable .p-paginator-bottom {
  background-color: transparent;
  border: 0;
  border-top: 1px solid #cccccc;

  .p-paginator-pages .p-paginator-page {
    border-radius: 50%;

    &.p-highlight {
      background: #16294f;
      border-color: #16294f;
      color: #fdfdfd;
      box-shadow: none;
    }
  }
}

td {
  ngx-intl-tel-input {
    display: block;
    width: 200px;

    .iti {
      .iti__flag-container {
        pointer-events: none;

        .iti__arrow {
          display: none;
        }
      }

      .form-control {
        padding-left: 35px !important;
        border: none;
      }
    }

    .ngx-flag-tel {
      background-color: violet;
    }
  }
}

.red {
  background-color: #ff5151;
  color: #121212;
}

.orange {
  background-color: #ffaf51;
  color: #121212;
}

.green {
  background-color: #3fdc6b;
  color: #fdfdfd;
}

.blue {
  background-color: #16294f;
  color: #fdfdfd;
}

.yellow {
  background-color: #ffca00;
  color: #121212;
}

.progress-container {
  .value {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-black, #121212);
    font-family: Poppins;
    font-size: 14px;
    line-height: 16px;
    z-index: 10;
  }

  .progress-red~.value {
    color: #fdfdfd;
  }

  .p-progressbar {
    background: #e8e8e8;
    border-radius: 100px;
    height: 32px;

    .p-progressbar-value {
      height: 32px;
      border-radius: 100px;
    }
  }

  .progress-grey {
    .p-progressbar-value {
      background: #bcbcbc;
    }
  }

  .progress-green {
    .p-progressbar-value {
      background-color: #45bf67;
    }
  }

  .progress-yellow {
    .p-progressbar-value {
      background-color: #ffd844;
    }
  }

  .progress-orange {
    .p-progressbar-value {
      background-color: #ffaf51;
    }
  }

  .progress-red {
    .p-progressbar-value {
      background-color: #ca3c3c;
    }
  }
}

.status {
  border-radius: 100px;
  padding: 8px 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.student-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.table-header {
  padding: 1rem;
  font-size: 1.5rem;

  .position-absolute {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .secondary-link {
    color: #636363;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .activated-secondary-link {
    position: relative;
    color: #121212;
    font-weight: 600;

    &::after {
      position: absolute;
      left: 0;
      top: 44px;
      content: "";
      width: 100%;
      height: 2px;
      background: #121212;
    }
  }

  .header-dropdown {
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid var(--secondry-grey, #7b7b7b);
    padding-left: 16px;
  }
}

.table-outer-container {
  background-color: #fff;
  overflow-x: auto;

  table.lead-table {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    tr.main-row {
      border-bottom: 1px solid #484848;

      td {
        .dropdown-menu {
          border-radius: 0;
          border: none;
          padding: 0;
          min-width: 242px;

          .menu-header {
            background-color: #e5e7ff;
            padding: 10px 0;

            i {
              font-size: 18px;
              color: #16294f;
            }
          }

          .menu-body {
            .filter {
              padding: 10px 16px;

              p {
                margin-bottom: 9px;
                font: normal normal normal 14px Poppins;
                color: #484848;
              }

              select {
                width: 100%;
                border: 1px solid #ab4851;
                border-radius: 8px;
                padding: 8px;
              }
            }

            .main-list {
              padding: 0;
              margin: 0;
              cursor: pointer;

              .sec-list {
                font: normal normal normal 16px Poppins;
                color: #969696;
                padding: 10px 0 10px 15px;

                &:hover {
                  background-color: #ededed;
                  color: #000;
                }
              }

              .reset {
                font: normal normal normal 14px Poppins;
                color: #484848;
                padding: 10px 0 10px 15px;

                &:hover {
                  color: #ab4851;
                }
              }
            }
          }
        }

        &:hover {
          background-color: #dedddd;
        }
      }
    }

    tr.sec-row {
      border-bottom: 1px solid #dedddd;
    }
  }
}

// Modals
.comments-modal {
  .modal-dialog {
    .modal-content {
      padding: 32px;

      .modal-header {
        padding: 0;
        padding-bottom: 32px;

        h4.modal-title {
          font: normal normal 600 18px Poppins;
          color: #373b79;
          margin: 0;

          span {
            font: normal normal 500 18px Poppins;
          }
        }

        button.close-btn {
          color: #cfd1f8;
          font-size: 22px;
          background-color: #fff;
          border: 0;

          &:hover {
            color: #a0a6ff;
          }

          &:focus {
            box-shadow: none;
          }
        }
      }

      .modal-body {
        padding: 16px 0;

        .add-comment-box,
        .comment-box {
          background-color: #f7f7f7;
          border-radius: 8px;
          padding: 32px;
          margin-bottom: 32px;

          h4.comment-name {
            font: normal normal 500 18px Poppins;
            color: #2b2b2b;
            margin-bottom: 4px;
          }

          p.comment-date {
            font: normal normal normal 16px Poppins;
            color: #484848;
            margin-bottom: 16px;
          }

          .more-comments {
            width: 40px;
            height: 40px;
            background-color: #e5e7ff;
            border-radius: 5px;

            .more-actions {
              border: none;
              background-color: transparent;
            }

            mat-icon {
              color: #a0a6ff;
            }
          }

          form {
            textarea.comment-area {
              height: 120px;
              width: 100%;
              border-radius: 8px;
              border: 1px solid #707070;
              padding: 16px;
              font: normal normal normal 16px Poppins;
              color: #000;
              background-color: transparent;
              margin-bottom: 16px;

              &::placeholder {
                color: #8b8b8b;
              }
            }

            button.submit-btn,
            button.cancel-btn {
              padding: 8px 24px;
              border-radius: 4px;
              font: normal normal 500 16px Poppins;
              border: none;

              &.main-btn {
                background-color: #16294f;
                color: #fff;

                &:hover {
                  background-color: #8b92f5;
                }
              }

              &.sec-btn {
                background-color: #ededed;
                color: #969696;
              }

              &:disabled {
                background-color: #ededed;
                color: #969696;
              }
            }
          }

          p.comment {
            font: normal normal normal 16px Arial;
            color: #000;
            margin: 0;
          }
        }
      }
    }
  }
}

.documents-modal,
.addApplication-modal {
  .modal-dialog {
    .modal-content {

      .modal-header {
        padding: 0;
        padding-bottom: 32px;
        border: none;

        h4.modal-title {
          font: normal normal 500 24px Poppins;
          color: #484848;
          margin: 0;
        }

        button.close-btn {
          color: #cfd1f8;
          font-size: 22px;
          background-color: #fff;
          border: 0;

          &:hover {
            color: #a0a6ff;
          }

          &:focus {
            box-shadow: none;
          }
        }
      }

      .modal-body {
        padding: 0;

        table.documents-table {
          border: 1px solid #e5e7ff;
          width: 100%;

          tr.table-row {

            td.documents,
            td.status {
              font: normal normal 600 16px Poppins;
              padding: 14px 0 14px 24px;
              border-right: 1px solid #e5e7ff;
            }

            td.status {
              width: 50%;
            }

            td.documents {
              width: 50%;
            }
          }

          tr.main-row {
            td.main-title {
              background-color: #e5e7ff;
              font: normal normal 600 16px Poppins;
              color: #373b79;
              padding: 17px 0 17px 24px;
            }

            td.sec-title {
              background-color: #e5e7ff;
              font: normal normal normal 16px Poppins;
              color: #373b79;
              padding: 17px 0 17px 32px;
            }
          }

          tr.sec-row {
            td.main-desc {
              font: normal normal normal 16px Poppins;
              color: #484848;
              border-right: 1px solid #e5e7ff;
              border-bottom: 1px solid #e5e7ff;
              padding: 17px 0 17px 24px;
            }

            td.sec-desc {
              padding: 17px;
              border-right: 1px solid #e5e7ff;
              border-bottom: 1px solid #e5e7ff;
              height: 100%;

              .status-desc {
                .status-icon {
                  width: 24px;
                  height: 24px;
                  border-radius: 50%;
                  margin-right: 9px;
                  font-size: 16px;

                  i {
                    margin: 0;
                  }
                }

                .status-name {
                  font: normal normal normal 16px Poppins;
                  color: #f66666;
                }
              }

              .status-link {
                font: normal normal normal 16px Poppins;
                color: #a0a6ff;
                border-bottom: 1px solid #a0a6ff;
                margin: 0;

                &:hover {
                  color: #16294f;
                }
              }

              .add-btn,
              .success-btn {
                width: 24px;
                height: 24px;
                border-radius: 5px;
                cursor: pointer;
                background-color: #a0a6ff;

                &:hover {
                  background-color: #ab4851;
                }

                i {
                  color: #fff;
                  font-size: 16px;
                  margin: 0;
                }
              }

              .success-btn {
                background-color: #ab4851;
              }

              p.percentage {
                font: normal normal 600 16px Poppins;
                color: #ab4851;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

.info-modal {
  .modal-content {
    padding: 40px;

    .modal-header {
      border: none;
      padding: 0;

      .modal-title {
        font: normal normal 600 24px Poppins;
        color: #484848;
        margin: 0;
      }

      button {
        background-color: transparent;
        border: none;

        i {
          font-size: 24px;
          color: #cfd1f8;
        }
      }
    }

    .modal-body {
      padding: 0;

      .info-section {
        position: relative;

        .main-info {
          position: relative;
          z-index: 3;
          left: 70px;
          top: 70px;

          img.profile-pic {
            width: 180px;
            height: 180px;
            padding: 20px;
            border-radius: 50%;
            background-color: #fff;
          }

          p.student-name {
            margin: 0;
            font: normal normal 600 24px Poppins;
            color: #373b79;
          }
        }

        .sec-info {
          position: relative;
          z-index: 1;
          width: 100%;
          padding: 10px 10px 10px 260px;
          background-color: #e5e7ff;
          border-radius: 5px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          .single-info {
            margin-bottom: 10px;

            .icon-circle {
              width: 24px;
              height: 24px;
              background-color: #000;
              border-radius: 50%;
              margin-right: 16px;

              i {
                color: #fff;
              }
            }

            p {
              margin: 0;
              font: normal normal normal 16px Poppins;
              color: #000;
            }
          }
        }
      }

      .modal-container {
        padding: 0 70px 200px;
        border: 1px solid #707070;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: none;

        h2.title {
          font: normal normal 600 24px Poppins;
          color: #000000;
          padding: 0 5px;
          border-bottom: solid 7px #16294f;
          margin: 30px 0;
          display: inline-block;
        }

        .profile-info-section {
          p {
            font: normal normal normal 16px Poppins;
            margin: 0;
            color: #484848;
          }
        }

        .education-status-section {
          .graduation-info {
            padding-left: 20px;
            margin-bottom: 25px;

            .graduated {
              font: normal normal normal 16px Poppins;
              color: #484848;
              margin-right: 32px;
              position: relative;

              &::before {
                content: "";
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #ab4851;
                position: absolute;
                left: -20px;
                top: 10px;
              }
            }

            .university {
              font: normal normal normal 16px Poppins;
              color: #ab4851;
            }

            .faculty {
              font: normal normal normal 16px Poppins;
              color: #484848;
            }
          }

          .language-info {
            padding-left: 20px;

            .language {
              font: normal normal normal 16px/33px Poppins;
              color: #484848;
              margin-right: 32px;
              position: relative;

              &::before {
                content: "";
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #ab4851;
                position: absolute;
                left: -20px;
                top: 10px;
              }
            }

            .language-test {
              font: normal normal normal 16px Poppins;
              color: #ab4851;
            }
          }
        }

        .interests-section {
          .interested-badges {
            .field-badge {
              padding: 8px 13px;
              margin: 0 16px 16px 0;
              height: 38px;
              background-color: #f5f5ff;
              border: 1px solid #7179e5;
              border-radius: 5px;
              font: normal normal normal 16px/25px Poppins;
              color: #7179e5;
            }
          }
        }

        .wishlist-section {
          .wishlist-col {
            .programs-container {
              padding: 0 16px;
              margin-bottom: 32px;

              &:nth-child(even) {
                justify-content: flex-start;
              }

              &:nth-child(odd) {
                justify-content: flex-end;
              }
            }

            a {
              width: 330px;
              height: 510px;

              mat-card {
                height: 100%;
                border: 0;
                background: #f7f7f7 0% 0% no-repeat padding-box;
                border-radius: 5px;
                position: relative;
                box-shadow: none;

                &:hover {
                  box-shadow: 0px 3px 10px #ffc9c9;

                  .image-move {
                    transform: scale(1.25);
                  }
                }

                .sale {
                  width: 141px;
                  height: 23px;
                  background: #16294f 0% 0% no-repeat padding-box;
                  border-radius: 5px;
                  color: #fff;
                  position: absolute;
                  top: 25px;
                  right: 25px;

                  p {
                    margin: 0;
                    font: normal normal 300 12px/18px Poppins;
                  }
                }

                .image-container {
                  height: 190px;
                  border-radius: 5px;
                  overflow: hidden;
                  margin-bottom: 14px;

                  img {
                    height: 100%;
                    transition: all 500ms ease-in-out;
                  }
                }

                .price {
                  width: 91px;
                  height: 37px;
                  background: linear-gradient(132deg, #ff5151 0%, #16294f 100%);
                  border-radius: 5px;
                  position: absolute;
                  top: 158px;
                  right: 25px;

                  p {
                    font: normal normal bold 16px/25px Poppins;
                    margin: 0;
                    color: #fff;
                  }
                }

                .program-title {
                  margin-top: 14px;
                  font: normal normal 600 16px Poppins;
                  text-transform: uppercase;
                  margin: 0;
                }

                .program-name {
                  font: normal normal normal 16px Poppins;
                  text-transform: capitalize;
                  line-height: 1.4;
                }

                .program-description {
                  font: normal normal 300 16px/22px Poppins;
                  color: #3b3b3b;
                }

                .school-name {
                  margin-top: 30px;
                  margin-bottom: 20px;

                  img {
                    width: 44px;
                    height: 22px;
                  }

                  p {
                    margin: 0 0 0 8px;
                    font: normal normal normal 15px Poppins;
                  }
                }

                .info {
                  .first-info {
                    font: normal normal 300 16px/25px Poppins;
                    text-transform: capitalize;
                    color: #8b8b8b;

                    p {
                      margin: 0 2px;
                    }
                  }

                  hr {
                    margin-top: 14px;
                  }

                  .second-info {
                    font: normal normal 300 16px/25px Poppins;
                    text-transform: capitalize;
                    color: #8b8b8b;

                    p {
                      margin: 0 2px;
                    }

                    .wishlist {
                      color: red;
                    }
                  }
                }
              }
            }
          }
        }

        .budget-section {
          p {
            font: normal normal normal 16px Poppins;
            color: #16294f;
          }
        }
      }
    }
  }
}

section {
  background-color: #f7f7f7;

  .container-fluid {
    padding: 26px 0 26px 16px;

    h2.section-title {
      font: normal normal 600 24px Poppins;
      color: #373b79;
      margin-bottom: 26px;
    }

    form.form-section {
      padding: 70px 40px 40px;
      background-color: #fff;
      box-shadow: 0px 0px 0px #5a71d01b;
      border-radius: 5px;

      .input-col {
        margin-bottom: 30px;

        label {
          font: normal normal normal 16px Poppins;
          color: #484848;
          margin-bottom: 8px;
        }

        .form-input {
          border: 1px solid #bebebe;
          width: 100%;
          height: 56px;
          border-radius: 5px;
          padding: 16px;
          font: normal normal normal 16px Poppins;
          color: #484848;

          &:hover {
            border: 1px solid #cfd1f8;
          }

          &:focus {
            border: 1px solid #cfd1f8;
          }
        }

        .form-input-error {
          border: 1px solid #ff0000;

          &:hover {
            border: 1px solid #ff0000;
          }

          &:focus {
            border: 1px solid #ff0000;
          }
        }

        span.error-text {
          font: normal normal normal 14px Poppins;
          color: #ff0000;
        }

        // phone input
        .iti {
          width: 100%;

          input[type="tel"] {
            color: #484848;
            padding-left: 50px;
            height: 56px;
            border-radius: 5px;
            border: 1px solid #bebebe;
            font: normal normal normal 16px Poppins;

            &:focus {
              box-shadow: none;
              border: 1px solid #cfd1f8;
            }

            &:hover {
              border: 1px solid #cfd1f8;
            }
          }
        }

        .dropdown-col {
          ::-webkit-scrollbar {
            border-right: 30px white solid;
            width: 6px;
          }

          ::-webkit-scrollbar-track {
            background: #dedddd 0% 0% no-repeat padding-box;
            border-radius: 5px;
          }

          ::-webkit-scrollbar-thumb {
            background: #bebebe 0% 0% no-repeat padding-box;
            border-radius: 5px;
          }

          button {
            height: 56px;
            border-radius: 5px;
            border: 1px solid #bebebe;
            background-color: #fff;
            box-shadow: none;
            font: normal normal normal 16px Poppins;
            color: #484848;

            &::after {
              all: unset;
              content: "";
              border: solid #bebebe;
              border-width: 0 4px 4px 0;
              display: inline-block;
              padding: 4px;
              transform: rotateX(0) rotateY(0) rotateZ(45deg);
            }

            &:hover {
              border: 1px solid #cfd1f8;
            }

            &:focus {
              border: 1px solid #cfd1f8;

              &::after {
                border: solid #000;
                border-width: 0 4px 4px 0;
                transform: rotateX(180deg) rotateY(0) rotateZ(45deg);
              }

              box-shadow: none;
            }
          }

          .dropdown-menu {
            padding: 20px 30px;
            width: 600px;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 5px;

            .dropdown-container {
              position: relative;

              input.searchInput {
                padding: 10px 16px;
                width: 100%;
                height: 40px;
                background-color: #e8e8e8;
                border: none;
                border-radius: 5px;
                font: normal normal normal 14px/21px Poppins;
                color: #bebebe;

                &:focus {
                  &::placeholder {
                    color: transparent;
                  }

                  &+i {
                    color: transparent;
                  }
                }
              }

              i.place-holder {
                position: absolute;
                color: #bebebe;
                top: 13px;
                right: 16px;
              }

              hr {
                margin: 10px 0;
              }

              .dropdown-container-overflow {
                max-height: 250px;
                overflow-y: auto;

                option {
                  padding: 6px 0 6px 32px;
                  font: normal normal normal 16px Poppins;
                  margin-right: 18px;
                  border-radius: 5px;

                  img {
                    width: 70px;
                    height: 38px;
                    margin-right: 16px;
                  }

                  &:hover {
                    cursor: pointer;
                    background-color: rgba(229, 231, 255, 1);
                    color: #000;
                  }
                }
              }
            }
          }

          .dropdown-menu.score-menu {
            padding: 0;

            .dropdown-container {
              .dropdown-container-overflow {
                option {
                  padding: 13px 0 13px 40px;
                  margin: 0;

                  &:hover {
                    cursor: pointer;
                    background-color: rgba(229, 231, 255, 0.38);
                  }
                }
              }
            }
          }
        }
      }

      .source-col {
        margin-bottom: 30px;

        label {
          font: normal normal normal 16px Poppins;
          color: #484848;
          margin-bottom: 10px;
        }

        .radio-btn {
          margin-bottom: 20px;

          .mat-radio-outer-circle {
            border: 2px solid #16294f;
          }

          .mat-radio-inner-circle {
            background: linear-gradient(142deg, #ff5151 0%, #16294f 100%);
          }

          .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
            border: 2px solid #16294f;
          }

          .mat-ripple-element {
            background-color: #edeeff;
          }

          .mat-radio-label-content {
            padding-left: 17px;
            font: normal normal normal 16px/33px Poppins;
            color: #000;
          }

          .mat-radio-container:hover .mat-ripple-element {
            background-color: #edeeff;
          }
        }

        .form-input {
          border: 1px solid #bebebe;
          width: 100%;
          height: 56px;
          border-radius: 5px;
          padding: 16px;
          font: normal normal normal 16px Poppins;
          color: #484848;

          &:hover {
            border: 1px solid #cfd1f8;
          }

          &:focus {
            border: 1px solid #cfd1f8;
          }
        }

        .form-input-error {
          border: 1px solid #ff0000;

          &:hover {
            border: 1px solid #ff0000;
          }

          &:focus {
            border: 1px solid #ff0000;
          }
        }

        span.error-text {
          font: normal normal normal 14px Poppins;
          color: #ff0000;
        }
      }

      button.submit-button {
        padding: 16px 80px;
        border-radius: 8px;
        background-color: #16294f;
        font: normal normal 500 18px Poppins;
        color: #fff;
        border: none;

        &:hover {
          background-color: #16294f;
        }

        &:disabled {
          background-color: #c5c8f1;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section {
    background-color: #f7f7f7;

    .container-fluid {
      padding: 16px;

      h2.section-title {
        font: normal normal 500 18px Poppins;
        color: #373b79;
        margin-bottom: 16px;
      }

      form.form-section {
        padding: 24px 14px;
        background-color: #fff;
        box-shadow: 0px 0px 0px #5a71d01b;
        border-radius: 5px;

        .input-col {
          margin-bottom: 16px;

          label {
            font: normal normal normal 16px Poppins;
            color: #484848;
            margin-bottom: 8px;
          }

          .form-input {
            border: 1px solid #bebebe;
            width: 100%;
            height: 48px;
            border-radius: 5px;
            padding: 16px;
            font: normal normal normal 16px Poppins;
            color: #484848;

            &:hover {
              border: 1px solid #cfd1f8;
            }

            &:focus {
              border: 1px solid #cfd1f8;
            }
          }

          .form-input-error {
            border: 1px solid #ff0000;

            &:hover {
              border: 1px solid #ff0000;
            }

            &:focus {
              border: 1px solid #ff0000;
            }
          }

          span.error-text {
            font: normal normal normal 14px Poppins;
            color: #ff0000;
          }

          // phone input
          .iti {
            width: 100%;

            input[type="tel"] {
              color: #484848;
              padding-left: 50px;
              height: 56px;
              border-radius: 5px;
              border: 1px solid #bebebe;
              font: normal normal normal 16px Poppins;

              &:focus {
                box-shadow: none;
                border: 1px solid #cfd1f8;
              }

              &:hover {
                border: 1px solid #cfd1f8;
              }
            }
          }

          .dropdown-col {
            ::-webkit-scrollbar {
              border-right: 30px white solid;
              width: 6px;
            }

            ::-webkit-scrollbar-track {
              background: #dedddd 0% 0% no-repeat padding-box;
              border-radius: 5px;
            }

            ::-webkit-scrollbar-thumb {
              background: #bebebe 0% 0% no-repeat padding-box;
              border-radius: 5px;
            }

            button {
              height: 48px;
              border-radius: 5px;
              border: 1px solid #bebebe;
              background-color: #fff;
              box-shadow: none;
              font: normal normal normal 16px Poppins;
              color: #484848;

              &::after {
                all: unset;
                content: "";
                border: solid #bebebe;
                border-width: 0 4px 4px 0;
                display: inline-block;
                padding: 4px;
                transform: rotateX(0) rotateY(0) rotateZ(45deg);
              }

              &:hover {
                border: 1px solid #cfd1f8;
              }

              &:focus {
                border: 1px solid #cfd1f8;

                &::after {
                  border: solid #000;
                  border-width: 0 4px 4px 0;
                  transform: rotateX(180deg) rotateY(0) rotateZ(45deg);
                }

                box-shadow: none;
              }
            }

            .dropdown-menu {
              padding: 20px 30px;
              width: 335px;
              box-shadow: 0px 3px 6px #00000029;
              border-radius: 5px;

              .dropdown-container {
                position: relative;

                input.searchInput {
                  padding: 10px 16px;
                  width: 100%;
                  height: 40px;
                  background-color: #e8e8e8;
                  border: none;
                  border-radius: 5px;
                  font: normal normal normal 14px Poppins;
                  color: #bebebe;

                  &:focus {
                    &::placeholder {
                      color: transparent;
                    }

                    &+i {
                      color: transparent;
                    }
                  }
                }

                i.place-holder {
                  position: absolute;
                  color: #bebebe;
                  top: 13px;
                  right: 16px;
                }

                hr {
                  margin: 10px 0;
                }

                .dropdown-container-overflow {
                  max-height: 250px;
                  overflow-y: auto;

                  option {
                    padding: 6px 0;
                    font: normal normal normal 16px Poppins;
                    margin-right: 18px;
                    border-radius: 5px;

                    img {
                      width: 70px;
                      height: 38px;
                      margin-right: 16px;
                    }

                    &:hover {
                      cursor: pointer;
                      background-color: rgba(229, 231, 255, 1);
                      color: #000;
                    }
                  }
                }
              }
            }

            .dropdown-menu.score-menu {
              padding: 0;

              .dropdown-container {
                .dropdown-container-overflow {
                  option {
                    padding: 13px;
                    margin: 0;

                    &:hover {
                      cursor: pointer;
                      background-color: rgba(229, 231, 255, 0.38);
                    }
                  }
                }
              }
            }
          }
        }

        .source-col {
          margin-bottom: 30px;

          label {
            font: normal normal normal 16px Poppins;
            color: #484848;
            margin-bottom: 10px;
          }

          .radio-btn {
            margin-bottom: 0;

            .mat-radio-outer-circle {
              border: 2px solid #16294f;
            }

            .mat-radio-inner-circle {
              background: linear-gradient(142deg, #ff5151 0%, #16294f 100%);
            }

            .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
              border: 2px solid #16294f;
            }

            .mat-ripple-element {
              background-color: #edeeff;
            }

            .mat-radio-label-content {
              padding-left: 17px;
              font: normal normal normal 16px/33px Poppins;
              color: #000;
            }

            .mat-radio-container:hover .mat-ripple-element {
              background-color: #edeeff;
            }
          }

          .form-input {
            border: 1px solid #bebebe;
            width: 100%;
            height: 48px;
            border-radius: 5px;
            padding: 16px;
            font: normal normal normal 16px Poppins;
            color: #484848;

            &:hover {
              border: 1px solid #cfd1f8;
            }

            &:focus {
              border: 1px solid #cfd1f8;
            }
          }

          .form-input-error {
            border: 1px solid #ff0000;

            &:hover {
              border: 1px solid #ff0000;
            }

            &:focus {
              border: 1px solid #ff0000;
            }
          }

          span.error-text {
            font: normal normal normal 14px Poppins;
            color: #ff0000;
          }
        }

        button.submit-button {
          padding: 12px 50px;
          border-radius: 8px;
          background-color: #16294f;
          font: normal normal 500 18px Poppins;
          color: #fff;
          border: none;

          &:hover {
            background-color: #16294f;
          }

          &:disabled {
            background-color: #c5c8f1;
          }
        }
      }
    }
  }
}

.my_lead_select {
  background-color: #fbe8ea;
  border: none;
  height: 40px;
  font-size: 14px;
  border-radius: 10px;
  font-weight: bold;
  margin-right: 32px;
  border: 1px solid #fbe8ea;
  padding-left: 14px;
}

.section_header_select {
  border-radius: 10px;
  font-size: 14px;
  margin-right: 32px;
  height: 40px;
  border: 1px solid #2b2b2b;
  width: 136px;
  padding-left: 18px;
}

.grid_btn {
  padding: 4px;
  border-radius: 10px;
  background-color: #fbe8ea;
  height: 40px;
  margin-right: 15px;


  button {
    border: none;
    padding: 4px 12px;
    border-radius: 10px;
    background-color: transparent;

    &.active_grid {
      background-color: #fff;
    }
  }
}

p-table {
  padding-right: 15px;
}




h2.section-title {

  font-size: 16px;
  font-weight: 600;
  color: #121212;
  float: left;
  font-family: 'Poppins';
  line-height: 24px;
  padding-top: 10px;
}

// .form-section{
//   label{
//     font-size: 30px;
//     font-family: 'Poppins';
//     font-weight: 400;
//     line-height: 21px;
//     color: #121212;

//   }
// }
label.inputfield {
  font-size: 14px !important;
  font-family: 'Poppins' !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  color: #121212 !important;
  margin-bottom: 8px !important;
}

.row.heightset {
  height: 100px;
}



.row.gap {
  row-gap: 1px;
}

.fi-rr-cross-small {
  color: #000 !important;
  width: 24px !important;
  height: 24px !important;
  padding: 5.707191467285156 5.707235336303711 5.707235336303711 5.707191467285156 !important;

}



.add {
  padding: 8px 32px 8px 32px !important;
  margin-bottom: 20px !important;
  width: 175px;
  height: 40px;
  font-family: Poppins !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  letter-spacing: 0em !important;
  text-align: center !important;

}

.modal-cardsize {
  max-width: 633px !important;
  max-height: 150px !important;
}

.modal-editcardsize {
  max-width: 650px !important;
  max-height: 150px !important;
}


.cardimage {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  // border: 1px solid #fbe8ea;
  // border-radius: 5px; 

  // border: 1px !important;
  // border-color: #fbe8ea !important;
  // padding: 10px;

}

.card-button {
  // padding: 16px 80px;
  border-radius: 8px;
  background-color: #16294f;
  // font: normal normal 500 18px Poppins;
  color: #fff;
  border: none;
  width: 107px;
  height: 40px;
  padding: 8px 32px 8px 32px !important;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  // text-align: left;

}

.card-button:hover {
  background-color: #16294f;
}

.add-sug {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #16294f;
  margin-right: 16px;
}

.add-prog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  // box-shadow: none;
  border-radius: 5px;
  // width: 500px;
  // height: 180px;
  margin-bottom: 32px;
}

.col-design {
  top: 50%;
  // padding: 20px;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 16px;
  height: 170px !important;
}

h3.card-school {
  font-family: Poppins !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 21px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #121212 !important;
  margin-bottom: 0px !important;
  padding-bottom: 8px !important;


}

.card-price {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #121212;
  // margin-top: 8px;
  // margin-bottom: 8px;

}

.card-icon {
  padding-right: 8px !important;
}

.card-bottom {
  margin-bottom: 24px;
}

#popCard.card-body {
  padding-left: 0px !important;
  padding-top: 16px !important;
  padding-right: 0px !important;
}

.d-flex p {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #121212 !important;
  margin-bottom: 0px !important;
}

.d-flex img.card-icons {
  width: 12px;
  height: 12px;

}

.add-another-prog {
  font-size: 24px;
  align-self: center;
  margin-right: 4px;
}

#popCard a.link {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #16294f;
  text-decoration: underline !important;

}



// div.card-body a.comment{
//   width: 108px;
//   height: 29px;
//   padding: 4 8 4 8;
//   gap: 4px;
//   border-radius: 5 !important;  
//   background: #FFD4D4;
//   text-decoration: none !important;
//   margin-top: 8px;
//   background-size: 108px 29px !important;
// }

.image-cardstyle {
  border: 1px solid #fbe8ea !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

span.comment {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #16294f;

  width: 108px;
  height: 29px;
  padding: 4px 8px 4px 8px;
  gap: 4px;
  border-radius: 10px !important;
  background: #fbe8ea;
  text-decoration: none !important;
  margin-top: 8px !important;
  background-size: 108px 29px !important;
}

span.comment i {
  width: 16px;
  height: 16px;
  color: #121212;
  margin-right: 4px !important;
}

.edit-card {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #121212;
  cursor: pointer;
  margin-bottom: 4px;
}

.edit-card:hover {
  background: #F6F0F6;
  border-radius: 10px;

}

.edit-card-text {
  font-family: Poppins !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  letter-spacing: 0em !important;
  // text-align: center !important;
  color: #121212 !important;
}

.edit-card-text :hover {
  color: #121212 !important;
}

.edit-card-icon :hover {
  color: #121212;
}

.edit-card-icon {

  width: 30px;
  height: 30px;
  top: 1px;
  color: #121212;


}

.prog-edit-card {
  width: 160px;
  padding-top: 6px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-bottom: 0px !important;
}

.span-button {
  background: none;
  border: none;
}

.form-drop-down {
  overflow: hidden;
}



.modal-content.secondary {
  padding: 24px !important;
}

.titlelength {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



// -------------------------------

.student_main_data .student_data_row {
  display: flex;
  margin-bottom: 16px;
}

.student_main_data .student_data_row span {
  margin-left: 8px;
  font-size: 14px;
}

.studentViewWidth .modal-dialog {
  width: 564px !important;
  max-width: 564px !important;
}

.student_name {
  font-size: 16px;
  margin-left: 8px;
}

.student_main_data {
  background-color: #fbe8ea;
  padding: 16px;
  margin-top: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.student_main_data .representative_emp {
  text-align: center;
}

.student_main_data .representative_emp img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.student_main_data .representative_emp h3 {
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

.student_main_data .representative_emp span {
  color: #636363;
}

.colected_data div {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.colected_data div h4 {
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
  margin-bottom: 0;
}

.colected_data div span {
  background-color: #E8E8E8;
  border-radius: 36px;
  padding: 4px 16px;
}

.comment_section h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.comment_section .textarea {
  border: 1px solid #CECECE;
  border-radius: 10px;
  min-height: 108px;
  padding: 12px 16px;
  width: 100%;
}

.comment_section .comment_emp {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.comment_section .comment_emp img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.comment_section .comment_emp div {
  line-height: 14px;
}

.comment_section .comment_emp div .comment_emp_name {
  font-size: 12px;
  color: #121212;
  display: block;
}

.comment_section .comment_emp div .comment_emp_time {
  font-size: 10px;
  color: #636363;
}

.edit_comment {
  width: 130px !important;
}

.section {
  background-color: #f7f7f7;

  .container-fluid {

    h2.section-title {
      font: normal normal 600 24px Poppins;
      color: #373b79;
      margin-bottom: 8px;
      font-size: 16px !important;
    }

    form.form-section {
      padding-top: 32px;
      background-color: #fff;
      box-shadow: 0px 0px 0px #5a71d01b;
      border-radius: 5px;

      .tags_section {
        .input-col {
          margin-bottom: 0px;
          border-left: 1px solid #bebebe;
          border-bottom: 1px solid #bebebe;
          padding-top: 5px;

          input {
            height: 30px;
            margin-bottom: 5px;
            border: none;
            border: none;

            &:hover,
            &:focus {
              border: none;
            }
          }

          select {
            height: 30px;
            margin-bottom: 5px;
            width: 100%;
            border: none;
          }
        }

        .col-lg-3,
        .col-lg-9 {
          border-bottom: 1px solid #bebebe;
          padding-top: 5px;
          display: flex;
          align-items: center;
        }
      }

      .input-col {
        margin-bottom: 16px;

        label {
          font: normal normal normal 14px Poppins;
          color: #121212;
          margin-bottom: 8px;
        }

        .form-input {
          border: 1px solid #bebebe;
          width: 100%;
          height: 45px;
          border-radius: 5px;
          padding: 16px;
          font: normal normal normal 14px Poppins;
          color: #484848;

          &:hover {
            border: 1px solid #cfd1f8;
          }

          &:focus {
            border: 1px solid #cfd1f8;
          }
        }

        .form-input-error {
          border: 1px solid #ff0000;

          &:hover {
            border: 1px solid #ff0000;
          }

          &:focus {
            border: 1px solid #ff0000;
          }
        }

        span.error-text {
          font: normal normal normal 12px Poppins;
          color: #ff0000;
        }

        // phone input
        .iti {
          width: 100%;

          input[type="tel"] {
            color: #484848;
            padding-left: 95px;
            height: 45px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid #bebebe;
            font: normal normal normal 14px Poppins;

            &:focus {
              box-shadow: none;
              border: 1px solid #cfd1f8;
            }

            &:hover {
              border: 1px solid #cfd1f8;
            }
          }
        }

        .dropdown-col {
          ::-webkit-scrollbar {
            border-right: 30px white solid;
            width: 6px;
          }

          ::-webkit-scrollbar-track {
            background: #dedddd 0% 0% no-repeat padding-box;
            border-radius: 5px;
          }

          ::-webkit-scrollbar-thumb {
            background: #bebebe 0% 0% no-repeat padding-box;
            border-radius: 5px;
          }

          button {
            height: 45px;
            border-radius: 5px;
            border: 1px solid #bebebe;
            background-color: #fff;
            box-shadow: none;
            font: normal normal normal 14px Poppins;
            color: #484848;

            &::after {
              all: unset;
              content: "";
              border: solid #bebebe;
              border-width: 0 4px 4px 0;
              display: inline-block;
              padding: 4px;
              transform: rotateX(0) rotateY(0) rotateZ(45deg);
            }

            &:hover {
              border: 1px solid #cfd1f8;
            }

            &:focus {
              border: 1px solid #cfd1f8;

              &::after {
                border: solid #000;
                border-width: 0 4px 4px 0;
                transform: rotateX(180deg) rotateY(0) rotateZ(45deg);
              }

              box-shadow: none;
            }
          }

          .dropdown-menu {
            padding: 10px;
            width: 330px;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 5px;

            .dropdown-container {
              position: relative;

              input.searchInput {
                padding: 10px 16px;
                width: 100%;
                height: 40px;
                background-color: #e8e8e8;
                border: none;
                border-radius: 5px;
                font: normal normal normal 14px/21px Poppins;
                color: #bebebe;

                &:focus {
                  &::placeholder {
                    color: transparent;
                  }

                  &+i {
                    color: transparent;
                  }
                }
              }

              i.place-holder {
                position: absolute;
                color: #bebebe;
                top: 13px;
                right: 16px;
              }

              hr {
                margin: 10px 0;
              }

              .dropdown-container-overflow {
                max-height: 250px;
                overflow-y: auto;

                option {
                  padding: 6px 0 6px 32px;
                  font: normal normal normal 16px Poppins;
                  margin-right: 18px;
                  border-radius: 5px;

                  img {
                    width: 70px;
                    height: 38px;
                    margin-right: 16px;
                  }

                  &:hover {
                    cursor: pointer;
                    background-color: rgba(229, 231, 255, 1);
                    color: #000;
                  }

                  padding-left: 10px;
                }
              }
            }
          }

          .dropdown-menu.score-menu {
            padding: 0;

            .dropdown-container {
              .dropdown-container-overflow {
                option {
                  padding: 13px 0 13px 40px;
                  margin: 0;

                  &:hover {
                    cursor: pointer;
                    background-color: rgba(229, 231, 255, 0.38);
                  }
                }
              }
            }
          }
        }
      }

      .source-col {
        margin-bottom: 30px;

        label {
          font: normal normal normal 16px Poppins;
          color: #484848;
          margin-bottom: 10px;
        }

        .radio-btn {
          margin-bottom: 20px;

          .mat-radio-outer-circle {
            border: 2px solid #16294f;
          }

          .mat-radio-inner-circle {
            background: linear-gradient(142deg, #ff5151 0%, #16294f 100%);
          }

          .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
            border: 2px solid #16294f;
          }

          .mat-ripple-element {
            background-color: #edeeff;
          }

          .mat-radio-label-content {
            padding-left: 17px;
            font: normal normal normal 16px/33px Poppins;
            color: #000;
          }

          .mat-radio-container:hover .mat-ripple-element {
            background-color: #edeeff;
          }
        }

        .form-input {
          border: 1px solid #bebebe;
          width: 100%;
          height: 56px;
          border-radius: 5px;
          padding: 16px;
          font: normal normal normal 16px Poppins;
          color: #484848;

          &:hover {
            border: 1px solid #cfd1f8;
          }

          &:focus {
            border: 1px solid #cfd1f8;
          }
        }

        .form-input-error {
          border: 1px solid #ff0000;

          &:hover {
            border: 1px solid #ff0000;
          }

          &:focus {
            border: 1px solid #ff0000;
          }
        }

        span.error-text {
          font: normal normal normal 14px Poppins;
          color: #ff0000;
        }
      }

      button.submit-button {
        padding: 10px 40px;
        border-radius: 8px;
        background-color: #16294f;
        font: normal normal 500 18px Poppins;
        color: #fff;
        border: none;

        &:hover {
          background-color: #16294f;
        }

        &:disabled {
          background-color: #c5c8f1;
        }
      }
    }
  }

  .lang_test {
    .mat-tab-label {
      .mat-tab-label-content {
        color: #000;
        font-weight: bold;
        font-size: 16px;
      }
    }

    label {
      display: block;
      margin-top: 25px;
      margin-bottom: 10px;
    }

    select {
      height: 45px;
      margin-bottom: 5px;
      width: 100%;
      border-color: #bebebe;
      border-radius: 5px;
    }

    input {
      width: 100%;
      height: 45px;
      border-radius: 5px;
      padding: 16px;
      font: normal normal normal 14px Poppins;
      color: #484848;
      border: 1px solid #bebebe;
    }
  }

  .radio-toolbar {
    border: 2px solid #fbe8ea;
    border-radius: 12px;
    padding: 0;
    width: 295px;
    display: flex;
    justify-content: space-between;

    input[type="radio"] {
      display: none;
    }
  }

  .radio-toolbar label {
    display: inline-block;
    background-color: transparent;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 10px;
  }

  .radio-toolbar input[type="radio"]:checked+label {
    background-color: #fbe8ea;
    font-weight: bold;
  }

  .checked+label {
    display: inline-block;

    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 10px;

    background-color: #fbe8ea;
    font-weight: bold;
  }

  .add_comment_container {
    &>div {
      width: 100%;
      margin-left: 11px;

      textarea {
        width: 100%;
        height: 130px;
        border-color: #bebebe;
        border-radius: 5px;
      }
    }
  }

  .user_img {
    width: 40px;
    height: 40px;
    background-color: #bebebe;
    border-radius: 50%;
  }

  .emp_comment {
    margin-left: 8px;

    .emp_name {
      color: #121212;
    }

    .emp_time {
      color: #636363;
    }
  }

  .ngx-slider .ngx-slider-bubble::before {
    content: "€ ";
  }

  .maximum_budget {
    width: 252px;

    input {
      width: 171px !important;
      height: 45px !important;
      margin-bottom: 8px !important;
    }
  }

  .container-fluid h2.section-title {
    font: normal normal 600 24px Poppins;
    color: #121212;
    margin-bottom: 8px;
    font-size: 16px !important;
    background-color: #fff;
  }

  .container-fluid .row.form_section {
    margin-top: 40px !important;
  }


}

.form-drop-down {
  overflow: hidden;
}

.modal.show .modal-dialog {
  width: 700px;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.info-modal .modal-content {
  padding: 32px !important;
}

.viewImg {
  height: 40px;
  border-radius: 50%;
}

.clearBTN {
  border: none;
  background-color: transparent;
  color: #16294f;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  padding: 0 15px;
  border-radius: 10px;

  &:hover {
    background-color: #16294f;
    color: #fff;
    transition: all 0.5s ease;
  }

  i {
    font-size: 12px;
    margin-right: 8px;
    height: 15px;
    position: relative;
    top: -1px;
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
  margin-left: 15px;
  align-self: center;
}

input:checked+.slider {
  background-color: #16294f;
}

input:focus+.slider {
  box-shadow: 0 0 1px #16294f;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.search_con {
  position: relative;
  width: 100%;

  svg {
    position: absolute;
    top: 9px;
    right: 20px;
  }

  .search_table {
    padding-right: 40px;
    height: 45px;
    border-radius: 10px;
  }
}

.filter_search {
  position: absolute;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  width: 300px;
  right: 0;
  z-index: 999;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 0px 25px 0px rgba(119, 119, 119, 0.13);

  &>div {
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 5px;
    font-size: 13px;
  }

  input {
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
    font-size: 13px;
  }
}

.bg-none {
  background-color: white !important;
  background: white !important;

}

.mat-form-field {
  width: 100%;
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  border: 1px solid #bebebe;
  height: 45px;
  border-radius: 5px;
  padding-left: 15px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding-top: 5px;
  padding-right: 10px;
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  border: none;
  padding-left: 5px;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}