<section>
  <div class="container-fluid">
    <div class="row">
      <h2 class="section-title">Add Prospect</h2>
      <div class="col-12">
        <form
          class="form-section"
          [formGroup]="addForm"
          (ngSubmit)="submit(addForm)"
        >
          <div class="row">
            <div class="col-lg-6 col-12 input-col">
              <label for="name">Name*</label>
              <input
                type="text"
                id="name"
                class="form-input"
                formControlName="name"
                placeholder="Ex. John"
                [ngClass]="{
                  'form-input-error':
                    !addForm.controls['name'].valid &&
                    addForm.controls['name'].touched
                }"
              />
              <span
                class="error-text"
                *ngIf="
                  !addForm.controls['name'].valid &&
                  addForm.controls['name'].touched
                "
              >
                Name is required
              </span>
            </div>

            <div class="col-lg-6 col-12 input-col">
              <label for="email">Email*</label>
              <input
                type="email"
                id="email"
                class="form-input"
                formControlName="email"
                placeholder="Ex. johnsmith@company.com"
                [ngClass]="{
                  'form-input-error':
                    !addForm.controls['email'].valid &&
                    addForm.controls['email'].touched
                }"
              />
              <span
                class="error-text"
                *ngIf="
                  !addForm.controls['email'].valid &&
                  addForm.controls['email'].touched
                "
              >
                Email is required
              </span>
            </div>

            <div class="col-lg-6 col-12 input-col">
              <label for="phone">Phone*</label>
              <ngx-intl-tel-input
                [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[
                  SearchCountryField.Iso2,
                  SearchCountryField.Name
                ]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.France"
                maxlength="15"
                id="phone"
                formControlName="phone"
              ></ngx-intl-tel-input>
              <span
                class="error-text"
                *ngIf="
                  !addForm.controls['phone'].valid &&
                  addForm.controls['phone'].touched &&
                  addForm.controls['phone'].dirty
                "
              >
                Your number is required
              </span>
            </div>

            <div class="col-lg-6 col-12 input-col">
              <label for="school">Nationality*</label>
              <div class="dropdown-center dropdown-col" #dropdown>
                <button
                  class="btn dropdown-toggle col-12 d-flex justify-content-between align-items-center px-3"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-offset="0,12"
                  [ngClass]="{ 'text-dark': countryName !== 'Select Country' }"
                >
                  {{ countryName | shorten : 25 }}
                </button>
                <div class="dropdown-menu">
                  <div class="dropdown-container">
                    <input
                      type="text"
                      placeholder="Search"
                      class="searchInput"
                      [(ngModel)]="searchCountry"
                      [ngModelOptions]="{ standalone: true }"
                      [value]="
                        countryName === 'Select Country' ? '' : countryName
                      "
                    />
                    <i class="fas fa-search place-holder"></i>
                    <hr />
                    <div class="dropdown-container-overflow">
                      <option
                        [value]="country"
                        *ngFor="
                          let country of countries | filterOne : searchCountry
                        "
                        (click)="
                          changeSelection('country', $event); dropdown.click()
                        "
                      >
                        {{ country.country | shorten : 35 }}
                      </option>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-12 input-col">
              <label for="school">Seriousness*</label>
              <div class="dropdown-center dropdown-col" #dropdown>
                <button
                  class="btn dropdown-toggle col-12 d-flex justify-content-between align-items-center px-3"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-offset="0,12"
                  [ngClass]="{
                    'text-dark': seriousNumber !== 'Select Score'
                  }"
                >
                  {{ seriousNumber }}
                </button>
                <div class="dropdown-menu score-menu">
                  <div class="dropdown-container">
                    <div class="dropdown-container-overflow">
                      <option
                        *ngFor="let seriousScore of seriousScores"
                        (click)="
                          changeSelection('score', $event); dropdown.click()
                        "
                      >
                        {{ seriousScore }}
                      </option>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <button
                class="submit-button"
                type="submit"
                [disabled]="
                  !addForm.valid ||
                  seriousNumber === 'Select Score' ||
                  countryName === 'Select Country'
                "
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
