a.add-button {
  height: 100%;
  background-color: #16294f;
  border-radius: 5px;
  padding: 9px 42px;
  font: normal normal normal 14px Poppins;
  color: #fff;
  border: none;

  &:hover {
    background-color: #ab4851;
  }
}

.name-modal-input {
  border: none;
  width: fit-content;
  font-size: 24px;

  &:focus {
    border-radius: var(--5, 5px);
    border: 6px solid var(--light-purple, #fbe8ea);
    box-shadow: none;
  }
}

.p-datatable .p-datatable-header {
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  border: none;

  button {
    background-color: transparent;
    border: none;

    i {
      font-size: 1.5rem;
    }
  }
}

.id-text {
  color: var(--primary-black, #121212);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.table-style {
  border-radius: 10px;

  .font-poppins *:not(.pi) {
    font-family: Poppins !important;
  }
}

.p-datatable-thead {
  tr {
    background-color: white;

    th {
      background-color: transparent !important;

      .table-title {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}

.p-datatable-wrapper {
  border-radius: 0 0 10px 10px;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  border-radius: 50%;
  border: 0 none;
  color: #16294f;
  transition: box-shadow 0.2s;

  &.p-highlight {
    background: #16294f;
    border-color: #16294f;
    color: #fdfdfd;
    box-shadow: none;
  }
}

.p-datatable .p-paginator-bottom {
  background-color: transparent;
  border: 0;
  border-top: 1px solid #cccccc;

  .p-paginator-pages .p-paginator-page {
    border-radius: 50%;

    &.p-highlight {
      background: #16294f;
      border-color: #16294f;
      color: #fdfdfd;
      box-shadow: none;
    }
  }
}

td {
  ngx-intl-tel-input {
    display: block;
    width: 200px;

    .iti {
      .iti__flag-container {
        pointer-events: none;

        .iti__arrow {
          display: none;
        }
      }

      .form-control {
        padding-left: 35px !important;
        border: none;
      }
    }

    .ngx-flag-tel {
      background-color: violet;
    }
  }
}

.red {
  background-color: #ff5151;
  color: #121212;
}

.orange {
  background-color: #ffaf51;
  color: #121212;
}

.green {
  background-color: #3fdc6b;
  color: #fdfdfd;
}

.blue {
  background-color: #16294f;
  color: #fdfdfd;
}

.yellow {
  background-color: #ffca00;
  color: #121212;
}

.progress-container {
  .value {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-black, #121212);
    font-family: Poppins;
    font-size: 14px;
    line-height: 16px;
    z-index: 10;
  }

  .progress-red~.value {
    color: #fdfdfd;
  }

  .p-progressbar {
    background: #e8e8e8;
    border-radius: 100px;
    height: 32px;

    .p-progressbar-value {
      height: 32px;
      border-radius: 100px;
    }
  }

  .progress-green {
    .p-progressbar-value {
      background-color: #45bf67;
    }
  }

  .progress-yellow {
    .p-progressbar-value {
      background-color: #ffd844;
    }
  }

  .progress-orange {
    .p-progressbar-value {
      background-color: #ffaf51;
    }
  }

  .progress-red {
    .p-progressbar-value {
      background-color: #ca3c3c;
    }
  }
}

.status {
  border-radius: 100px;
  padding: 8px 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.student-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.table-header {
  padding: 1rem;
  font-size: 1.5rem;

  .secondary-link {
    color: #636363;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .activated-secondary-link {
    position: relative;
    color: #121212;
    font-weight: 600;

    &::after {
      position: absolute;
      left: 0;
      top: 44px;
      content: "";
      width: 100%;
      height: 2px;
      background: #121212;
    }
  }

  .header-dropdown {
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid var(--secondry-grey, #7b7b7b);
    padding-left: 16px;
  }
}

.table-outer-container {
  background-color: #fff;
  overflow-x: auto;

  table.lead-table {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    tr.main-row {
      border-bottom: 1px solid #484848;

      td {
        .dropdown-menu {
          border-radius: 0;
          border: none;
          padding: 0;
          min-width: 242px;

          .menu-header {
            background-color: #e5e7ff;
            padding: 10px 0;

            i {
              font-size: 18px;
              color: #16294f;
            }
          }

          .menu-body {
            .filter {
              padding: 10px 16px;

              p {
                margin-bottom: 9px;
                font: normal normal normal 14px Poppins;
                color: #484848;
              }

              select {
                width: 100%;
                border: 1px solid #ab4851;
                border-radius: 8px;
                padding: 8px;
              }
            }

            .main-list {
              padding: 0;
              margin: 0;
              cursor: pointer;

              .sec-list {
                font: normal normal normal 16px Poppins;
                color: #969696;
                padding: 10px 0 10px 15px;

                &:hover {
                  background-color: #ededed;
                  color: #000;
                }
              }

              .reset {
                font: normal normal normal 14px Poppins;
                color: #484848;
                padding: 10px 0 10px 15px;

                &:hover {
                  color: #ab4851;
                }
              }
            }
          }
        }

        &:hover {
          background-color: #dedddd;
        }
      }
    }

    tr.sec-row {
      border-bottom: 1px solid #dedddd;
    }
  }
}

// Modals
.comments-modal {
  .modal-dialog {
    .modal-content {
      padding: 32px;

      .modal-header {
        padding: 0;
        padding-bottom: 32px;

        h4.modal-title {
          font: normal normal 600 18px Poppins;
          color: #373b79;
          margin: 0;

          span {
            font: normal normal 500 18px Poppins;
          }
        }

        button.close-btn {
          color: #cfd1f8;
          font-size: 22px;
          background-color: #fff;
          border: 0;

          &:hover {
            color: #a0a6ff;
          }

          &:focus {
            box-shadow: none;
          }
        }
      }

      .modal-body {
        padding: 16px 0;

        .add-comment-box,
        .comment-box {
          background-color: #f7f7f7;
          border-radius: 8px;
          padding: 32px;
          margin-bottom: 32px;

          h4.comment-name {
            font: normal normal 500 18px Poppins;
            color: #2b2b2b;
            margin-bottom: 4px;
          }

          p.comment-date {
            font: normal normal normal 16px Poppins;
            color: #484848;
            margin-bottom: 16px;
          }

          .more-comments {
            width: 40px;
            height: 40px;
            background-color: #e5e7ff;
            border-radius: 5px;

            .more-actions {
              border: none;
              background-color: transparent;
            }

            mat-icon {
              color: #a0a6ff;
            }
          }

          form {
            textarea.comment-area {
              height: 120px;
              width: 100%;
              border-radius: 8px;
              border: 1px solid #707070;
              padding: 16px;
              font: normal normal normal 16px Poppins;
              color: #000;
              background-color: transparent;
              margin-bottom: 16px;

              &::placeholder {
                color: #8b8b8b;
              }
            }

            button.submit-btn,
            button.cancel-btn {
              padding: 8px 24px;
              border-radius: 4px;
              font: normal normal 500 16px Poppins;
              border: none;

              &.main-btn {
                background-color: #16294f;
                color: #fff;

                &:hover {
                  background-color: #8b92f5;
                }
              }

              &.sec-btn {
                background-color: #ededed;
                color: #969696;
              }

              &:disabled {
                background-color: #ededed;
                color: #969696;
              }
            }
          }

          p.comment {
            font: normal normal normal 16px Arial;
            color: #000;
            margin: 0;
          }
        }
      }
    }
  }
}

.documents-modal {
  .modal-dialog {
    .modal-content {
      padding: 50px 40px;

      .modal-header {
        padding: 0;
        padding-bottom: 32px;
        border: none;

        h4.modal-title {
          font: normal normal 500 24px Poppins;
          color: #484848;
          margin: 0;
        }

        button.close-btn {
          color: #cfd1f8;
          font-size: 22px;
          background-color: #fff;
          border: 0;

          &:hover {
            color: #a0a6ff;
          }

          &:focus {
            box-shadow: none;
          }
        }
      }

      .modal-body {
        padding: 0;

        table.documents-table {
          border: 1px solid #e5e7ff;
          width: 100%;

          tr.table-row {

            td.documents,
            td.status {
              font: normal normal 600 16px Poppins;
              padding: 14px 0 14px 24px;
              border-right: 1px solid #e5e7ff;
            }

            td.status {
              width: 50%;
            }

            td.documents {
              width: 50%;
            }
          }

          tr.main-row {
            td.main-title {
              background-color: #e5e7ff;
              font: normal normal 600 16px Poppins;
              color: #373b79;
              padding: 17px 0 17px 24px;
            }

            td.sec-title {
              background-color: #e5e7ff;
              font: normal normal normal 16px Poppins;
              color: #373b79;
              padding: 17px 0 17px 32px;
            }
          }

          tr.sec-row {
            td.main-desc {
              font: normal normal normal 16px Poppins;
              color: #484848;
              border-right: 1px solid #e5e7ff;
              border-bottom: 1px solid #e5e7ff;
              padding: 17px 0 17px 24px;
            }

            td.sec-desc {
              padding: 17px;
              border-right: 1px solid #e5e7ff;
              border-bottom: 1px solid #e5e7ff;
              height: 100%;

              .status-desc {
                .status-icon {
                  width: 24px;
                  height: 24px;
                  border-radius: 50%;
                  margin-right: 9px;
                  font-size: 16px;

                  i {
                    margin: 0;
                  }
                }

                .status-name {
                  font: normal normal normal 16px Poppins;
                  color: #f66666;
                }
              }

              .status-link {
                font: normal normal normal 16px Poppins;
                color: #a0a6ff;
                border-bottom: 1px solid #a0a6ff;
                margin: 0;

                &:hover {
                  color: #16294f;
                }
              }

              .add-btn,
              .success-btn {
                width: 24px;
                height: 24px;
                border-radius: 5px;
                cursor: pointer;
                background-color: #a0a6ff;

                &:hover {
                  background-color: #ab4851;
                }

                i {
                  color: #fff;
                  font-size: 16px;
                  margin: 0;
                }
              }

              .success-btn {
                background-color: #ab4851;
              }

              p.percentage {
                font: normal normal 600 16px Poppins;
                color: #ab4851;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

.info-modal {
  .modal-content {
    padding: 40px;

    .modal-header {
      border: none;
      padding: 0;

      .modal-title {
        font: normal normal 600 24px Poppins;
        color: #484848;
        margin: 0;
      }

      button {
        background-color: transparent;
        border: none;

        i {
          font-size: 24px;
          color: #cfd1f8;
        }
      }
    }

    .modal-body {
      padding: 0;

      .info-section {
        position: relative;

        .main-info {
          position: relative;
          z-index: 3;
          left: 70px;
          top: 70px;

          img.profile-pic {
            width: 180px;
            height: 180px;
            padding: 20px;
            border-radius: 50%;
            background-color: #fff;
          }

          p.student-name {
            margin: 0;
            font: normal normal 600 24px Poppins;
            color: #373b79;
          }
        }

        .sec-info {
          position: relative;
          z-index: 1;
          width: 100%;
          padding: 10px 10px 10px 260px;
          background-color: #e5e7ff;
          border-radius: 5px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          .single-info {
            margin-bottom: 10px;

            .icon-circle {
              width: 24px;
              height: 24px;
              background-color: #000;
              border-radius: 50%;
              margin-right: 16px;

              i {
                color: #fff;
              }
            }

            p {
              margin: 0;
              font: normal normal normal 16px Poppins;
              color: #000;
            }
          }
        }
      }

      .modal-container {
        padding: 0 70px 200px;
        border: 1px solid #707070;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: none;

        h2.title {
          font: normal normal 600 24px Poppins;
          color: #000000;
          padding: 0 5px;
          border-bottom: solid 7px #16294f;
          margin: 30px 0;
          display: inline-block;
        }

        .profile-info-section {
          p {
            font: normal normal normal 16px Poppins;
            margin: 0;
            color: #484848;
          }
        }

        .education-status-section {
          .graduation-info {
            padding-left: 20px;
            margin-bottom: 25px;

            .graduated {
              font: normal normal normal 16px Poppins;
              color: #484848;
              margin-right: 32px;
              position: relative;

              &::before {
                content: "";
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #ab4851;
                position: absolute;
                left: -20px;
                top: 10px;
              }
            }

            .university {
              font: normal normal normal 16px Poppins;
              color: #ab4851;
            }

            .faculty {
              font: normal normal normal 16px Poppins;
              color: #484848;
            }
          }

          .language-info {
            padding-left: 20px;

            .language {
              font: normal normal normal 16px/33px Poppins;
              color: #484848;
              margin-right: 32px;
              position: relative;

              &::before {
                content: "";
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #ab4851;
                position: absolute;
                left: -20px;
                top: 10px;
              }
            }

            .language-test {
              font: normal normal normal 16px Poppins;
              color: #ab4851;
            }
          }
        }

        .interests-section {
          .interested-badges {
            .field-badge {
              padding: 8px 13px;
              margin: 0 16px 16px 0;
              height: 38px;
              background-color: #f5f5ff;
              border: 1px solid #7179e5;
              border-radius: 5px;
              font: normal normal normal 16px/25px Poppins;
              color: #7179e5;
            }
          }
        }

        .wishlist-section {
          .wishlist-col {
            .programs-container {
              padding: 0 16px;
              margin-bottom: 32px;

              &:nth-child(even) {
                justify-content: flex-start;
              }

              &:nth-child(odd) {
                justify-content: flex-end;
              }
            }

            a {
              width: 330px;
              height: 510px;

              mat-card {
                height: 100%;
                border: 0;
                background: #f7f7f7 0% 0% no-repeat padding-box;
                border-radius: 5px;
                position: relative;
                box-shadow: none;

                &:hover {
                  box-shadow: 0px 3px 10px #ffc9c9;

                  .image-move {
                    transform: scale(1.25);
                  }
                }

                .sale {
                  width: 141px;
                  height: 23px;
                  background: #16294f 0% 0% no-repeat padding-box;
                  border-radius: 5px;
                  color: #fff;
                  position: absolute;
                  top: 25px;
                  right: 25px;

                  p {
                    margin: 0;
                    font: normal normal 300 12px/18px Poppins;
                  }
                }

                .image-container {
                  height: 190px;
                  border-radius: 5px;
                  overflow: hidden;
                  margin-bottom: 14px;

                  img {
                    height: 100%;
                    transition: all 500ms ease-in-out;
                  }
                }

                .price {
                  width: 91px;
                  height: 37px;
                  background: linear-gradient(132deg, #ff5151 0%, #16294f 100%);
                  border-radius: 5px;
                  position: absolute;
                  top: 158px;
                  right: 25px;

                  p {
                    font: normal normal bold 16px/25px Poppins;
                    margin: 0;
                    color: #fff;
                  }
                }

                .program-title {
                  margin-top: 14px;
                  font: normal normal 600 16px Poppins;
                  text-transform: uppercase;
                  margin: 0;
                }

                .program-name {
                  font: normal normal normal 16px Poppins;
                  text-transform: capitalize;
                  line-height: 1.4;
                }

                .program-description {
                  font: normal normal 300 16px/22px Poppins;
                  color: #3b3b3b;
                }

                .school-name {
                  margin-top: 30px;
                  margin-bottom: 20px;

                  img {
                    width: 44px;
                    height: 22px;
                  }

                  p {
                    margin: 0 0 0 8px;
                    font: normal normal normal 15px Poppins;
                  }
                }

                .info {
                  .first-info {
                    font: normal normal 300 16px/25px Poppins;
                    text-transform: capitalize;
                    color: #8b8b8b;

                    p {
                      margin: 0 2px;
                    }
                  }

                  hr {
                    margin-top: 14px;
                  }

                  .second-info {
                    font: normal normal 300 16px/25px Poppins;
                    text-transform: capitalize;
                    color: #8b8b8b;

                    p {
                      margin: 0 2px;
                    }

                    .wishlist {
                      color: red;
                    }
                  }
                }
              }
            }
          }
        }

        .budget-section {
          p {
            font: normal normal normal 16px Poppins;
            color: #16294f;
          }
        }
      }
    }
  }
}