<!-- change password componant
<div class="section-container">
    <div class="img-holder">
        <a routerLink="/landing/home"><img src="../../../../../assets/images/SG-logo.svg" alt=""></a>
    </div>
    <div class="custom-row">

        <div class="login">
            <form [formGroup]="confirmPasswordForm" (ngSubmit)="onSubmit(confirmPasswordForm)">
                
                <p class="o186d">New Password</p>
                <p class="o166d">Verification compelete please write new password</p>
                <span *ngIf="error">There is something Wrong try Again</span>
                
                <div class="control">
                    <label for="password">New Password*</label>
                    <input [type]="show ? 'text' : 'password'" id="password" formControlName="password" placeholder="********">
                    <img class="view" (click)="viewPassword()" src="{{show ? '../../../../../assets/images/dummy-view.png' : '../../../../../assets/images/hide.png'}}" alt="">
                </div>
                
                <div class="control">
                    <label for="cpassword">Confirm Password*</label>
                    <input [type]="show ? 'text' : 'password'" id="cpassword" formControlName="cpassword" placeholder="********">
                    <img class="view" (click)="viewPassword()" src="{{show ? '../../../../../assets/images/dummy-view.png' : '../../../../../assets/images/hide.png'}}" alt="">
                    <span class="validation" *ngIf="confirmPasswordForm.controls.cpassword.errors?.confirmedValidator">Password and Confirm Password should be Matched.</span>
                </div>

                <div class="btn-holder">
                    <button type="submit">Confirm</button>
                </div>
            </form>
        </div>

        <div class="img-holder">
            <img src="../../../../../assets/images/confirmmail.png" alt="">
        </div>
    </div>
</div> -->