<!-- tips web -->
<section class="tips d-lg-block d-md-block d-none">
  <h1 class="text-center">Tips to avoid housing scams</h1>
  <div class="row justify-content-evenly">
    <div class="col-lg-4 col-4 ps-0 text-center">
      <img src="/assets/images/navigator/housing/avoid-scam/product-price 1.svg" alt="product-price" />
      <p>Find out about market prices</p>
    </div>
    <div class="col-lg-4 col-4 text-center">
      <img src="/assets/images/navigator/housing/avoid-scam/avoid-scams.svg" alt="customers-visiting" />
      <p>Take a good look at the photos</p>
    </div>
    <div class="col-lg-4 col-4 pe-0 text-center">
      <img src="/assets/images/navigator/housing/avoid-scam/avoid-scams 3.svg" alt="property-dealer" />
      <p>Do not give your rental file before the visit</p>
    </div>
    <div class="col-lg-4 col-4 text-center mt-4">
      <img src="/assets/images/navigator/housing/avoid-scam/avoid-scams 4.svg" alt="signing-business" />
      <p class="px-lg-4">Do not send money until you have signed the lease</p>
    </div>
    <div class="col-lg-4 col-4 text-center mt-4">
      <img src="/assets/images/navigator/housing/avoid-scam/avoid-scams 5.svg" alt="boy-finding" />
      <p class="px-lg-4">
        Check that the accommodation exists using Google Maps
      </p>
    </div>
  </div>
</section>
<!-- tips mobile -->
<section class="tips d-lg-none d-md-none d-block">
  <h1 class="text-center">Tips to avoid housing scams</h1>
  <div class="row">
    <div class="col-lg-12 px-0">
      <owl-carousel-o [options]="teamOptions">
        <ng-container>
          <ng-template carouselSlide>
            <div class="col-12 px-0">
              <div class="text-center">
                <img src="/assets/images/navigator/housing/avoid scams/product-price.svg" alt="product-price" />
                <p>Find out about market prices</p>
              </div>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="col-12 px-0">
              <div class="text-center">
                <img src="/assets/images/navigator/housing/avoid scams/customers-visiting.svg"
                  alt="customers-visiting" />
                <p>Take a good look at the photos</p>
              </div>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="col-12 px-0">
              <div class="text-center">
                <img src="/assets/images/navigator/housing/avoid scams/property-dealer.svg" alt="property-dealer" />
                <p>Do not give your rental file before the visit</p>
              </div>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="col-12 px-0">
              <div class="text-center">
                <img src="/assets/images/navigator/housing/avoid scams/signing-business.svg" alt="signing-business" />
                <p class="px-lg-4">Do not send money until you have signed the lease</p>
              </div>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="col-12 px-0">
              <div class="text-center">
                <img src="/assets/images/navigator/housing/avoid scams/boy-finding.svg" alt="boy-finding" />
                <p class="px-lg-4">
                  Check that the accommodation exists using Google Maps
                </p>
              </div>
            </div>
          </ng-template>


        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>

<!-- flags -->
<section class="flags">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-12 ps-0">
      <h2>Red Flags to Watch out to Avoid Rental Scams</h2>
      <div class="red-flags mt-4">
        <div class="d-flex">
          <img class="me-2" src="../../../../../../assets/images/navigator/housing/avoid scams/flag.svg" alt="flag" />
          <p>Inability to Meet or Show the Property</p>
        </div>
        <div class="d-flex mt-lg-3">
          <img class="me-2" src="../../../../../../assets/images/navigator/housing/avoid scams/flag.svg" alt="flag" />
          <p>Poor Communication or Dodging Questions:</p>
        </div>
        <div class="d-flex mt-lg-3">
          <img class="me-2" src="../../../../../../assets/images/navigator/housing/avoid scams/flag.svg" alt="flag" />
          <p>They want to deal in cash</p>
        </div>
        <div class="d-flex mt-lg-3">
          <img class="me-2" src="../../../../../../assets/images/navigator/housing/avoid scams/flag.svg" alt="flag" />
          <p>They don’t have a proper written lease</p>
        </div>
        <div class="d-flex mt-lg-3">
          <img class="me-2" src="../../../../../../assets/images/navigator/housing/avoid scams/flag.svg" alt="flag" />
          <p>Absence of Proper Documentation</p>
        </div>
        <div class="d-flex mt-lg-3">
          <img class="me-2" src="../../../../../../assets/images/navigator/housing/avoid scams/flag.svg" alt="flag" />
          <p>Multiple Listings with the Same Photos</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 d-lg-block d-md-block d-none pe-0">
      <ng-lottie width="100%" height="100%" [options]="flag"></ng-lottie>
    </div>
  </div>
</section>

<!-- money -->
<section class="money">
  <h1 class="text-center">How They Get Your Money</h1>
  <div class="steps-money mt-4">
    <h3>
      Once you contact the scammer, they will do a number of things to try and
      get your money. Here are a few:
    </h3>
    <div class="row mt-4">
      <div class="col-lg-9 ps-0">
        <div class="col-lg-12">
          <p class="mt-0">
            "I am out of the Country, but I'll Send You Keys if You Send Me
            Money!"
          </p>
        </div>
        <div class="col-lg-12">
          <p>
            "Act quickly! This amazing apartment at an unbelievably low price
            won't be available for long."
          </p>
        </div>
        <div class="col-lg-11">
          <p>
            "We don't have time for a physical viewing, but I can assure you
            that the apartment is exactly as described in the pictures."
          </p>
        </div>
      </div>
      <div class="col-lg-3 d-lg-block d-md-none d-none pe-0">
        <img src="../../../../../../assets/images/navigator/housing/avoid scams/internet.svg" alt="internet" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ps-0">
        <div class="col-lg-12 pe-lg-5">
          <p>
            "I apologize for the inconvenience, but I need you to transfer the
            funds immediately. There are other interested tenants."
          </p>
        </div>
        <div class="col-lg-12 pe-lg-4">
          <p>
            "Don't worry about signing a formal contract. We have a verbal
            agreement, and that's sufficient."
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- examples of housing -->
<section class="examples">
  <h1 class="text-center">Example of Housing scam</h1>
  <img class="w-100" src="../../../../../../assets/images/navigator/housing/avoid scams/all-details.svg" alt="all-details" />
</section>