section.step-three {
  padding: 100px 70px;
  p {
    margin: 0;
  }
  .row {
    .combined-col {
      margin-bottom: 16px;
      .title-col {
        h1.title {
          font: normal normal 500 24px Poppins;
          color: #ff5151;
          margin-bottom: 16px;
        }
        h2.sub-title {
          font: normal normal 600 33px Poppins;
          color: #000;
          span {
            color: #6f77f4;
          }
        }
      }
      .picture-col {
        img {
          width: 182px;
          height: 146px;
        }
      }
    }
    .describtion-col {
      margin-bottom: 32px;
      p.describtion {
        font: normal normal normal 16px/24px Poppins;
        color: #7b7b7b;
      }
      p.three-steps-desc {
        font: normal normal 500 18px/28px Poppins;
        span {
          color: #ff5151;
        }
      }
    }
    .step-three-col {
      margin-bottom: 30px;
      .step-three {
        width: 100%;
        .connector {
          width: 12%;
          height: 6px;
          background-color: #e5e7ff;
        }
        a.main-circle {
          width: 44px;
          height: 44px;
          border-radius: 50%;
          border: 1px solid #e5e7ff;
          background-color: #fff;
          font: normal normal 500 24px Poppins;
          color: #6f77f4;
          &:hover {
            box-shadow: 0px 3px 12px #1721d54e;
          }
        }
        .sec-circle {
          width: 19px;
          height: 19px;
          border-radius: 50%;
          background-color: #e5e7ff;
        }
        a.main-circle.active {
          width: 44px;
          height: 44px;
          border-radius: 50%;
          background-color: #6f77f4;
          border: 1px solid #6f77f4;
          color: #fff;
          &:hover {
            box-shadow: 0px 3px 12px #1721d54e;
          }
        }
        .connector.active {
          background-color: #6f77f4;
        }
        .sec-circle.active {
          background-color: #6f77f4;
        }
      }
    }
    form {
      #study-in-france {
        h1.title {
          font: normal normal bold 24px Poppins;
          margin-bottom: 16px;
          color: #000;
          span {
            color: #6f77f4;
          }
        }
        h2.sub-title {
          font: normal normal 500 24px Poppins;
          margin-bottom: 33px;
          color: #000;
        }
        mat-radio-group {
          .radio-btn {
            margin-right: 0;
            .mat-radio-outer-circle {
              border: 2px solid #6f77f4;
            }
            .mat-radio-inner-circle {
              background: linear-gradient(142deg, #ff5151 0%, #6f77f4 100%);
            }
            .mat-radio-button.mat-accent.mat-radio-checked
              .mat-radio-outer-circle {
              border: 2px solid #6f77f4;
            }
            .mat-ripple-element {
              background-color: #edeeff;
            }
            .mat-radio-label-content {
              padding-left: 17px;
              font: normal normal normal 16px/33px Poppins;
              color: #000;
            }
            .mat-radio-container:hover .mat-ripple-element {
              background-color: #edeeff;
            }
          }
        }
      }
      hr {
        margin: 50px 0;
      }
      #budget {
        margin-bottom: 90px;
        h2.sub-title {
          font: normal normal 500 24px Poppins;
          color: #000;
          margin-bottom: 32px;
        }
        .range-col {
          p.range {
            font: normal normal 500 24px Poppins;
            color: #000;
          }
          ngx-slider {
            width: 340px;
            margin-top: 15px;
            margin-left: 45px;
            .ngx-slider-bar {
              height: 8px;
              background-color: #dedddd;
              border-radius: 50px;
            }
            .ngx-slider-pointer-min,
            .ngx-slider-pointer-max {
              background: linear-gradient(236deg, #ff5151 0%, #6f77f4 100%);
              width: 21px;
              height: 21px;
              margin-top: 6px;
              &::after {
                display: none;
              }
            }
            .ngx-slider-floor,
            .ngx-slider-ceil {
              display: none;
            }
            .ngx-slider-model-value,
            .ngx-slider-model-high,
            .ngx-slider-combined {
              top: 30px;
              font: normal normal 500 16px Poppins;
              color: #000;
              &::after {
                content: "€";
              }
            }
          }
        }
      }
      .submit-btn {
        width: 100%;
        background-color: #6f77f4;
        padding: 16px 0;
        border: none;
        border-radius: 5px;
        font: normal normal 500 18px Poppins;
        color: #fff;
        &:hover {
          background-color: #4751de;
        }
      }
    }
  }
}

@media only screen and (max-width: 991.9px) and (min-width: 768px) {
  section.step-three {
    padding: 32px 0;
    .row {
      .combined-col {
        margin-bottom: 18px;
        .title-col {
          h1.title {
            font: normal normal 500 20px Poppins;
            color: #ff5151;
            margin-bottom: 8px;
          }
          h2.sub-title {
            font: normal normal 600 24px Poppins;
            color: #000;
            margin: 0;
            span {
              color: #6f77f4;
            }
          }
        }
      }
      .describtion-col {
        margin-bottom: 50px;
        p.three-steps-desc {
          font: normal normal 500 16px/28px Poppins;
          color: #000;
          span {
            color: #ff5151;
          }
        }
      }
      .step-three-col {
        margin-bottom: 24px;
        .step-three {
          width: 100%;
          .connector {
            width: 12.8%;
            height: 6px;
            background-color: #e5e7ff;
          }
          a.main-circle {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #e5e7ff;
            background-color: #fff;
            font: normal normal 500 24px Poppins;
            color: #6f77f4;
            &:hover {
              box-shadow: 0px 3px 12px #1721d54e;
            }
          }
          .sec-circle {
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: #e5e7ff;
          }
          a.main-circle.active {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #6f77f4;
            color: #fff;
            &:hover {
              box-shadow: 0px 3px 12px #1721d54e;
            }
          }
        }
      }
      form {
        #study-in-france {
          h1.title {
            font: normal normal bold 24px Poppins;
            margin-bottom: 16px;
            color: #000;
            span {
              color: #6f77f4;
            }
          }
          h2.sub-title {
            font: normal normal 500 18px Poppins;
            margin-bottom: 18px;
            color: #000;
          }
          mat-radio-group {
            .radio-btn {
              margin-right: 0;
              .mat-radio-outer-circle {
                border: 2px solid #6f77f4;
              }
              .mat-radio-inner-circle {
                background: linear-gradient(142deg, #ff5151 0%, #6f77f4 100%);
              }
              .mat-radio-button.mat-accent.mat-radio-checked
                .mat-radio-outer-circle {
                border: 2px solid #6f77f4;
              }
              .mat-ripple-element {
                background-color: #edeeff;
              }
              .mat-radio-label-content {
                padding-left: 17px;
                font: normal normal normal 16px/33px Poppins;
                color: #000;
              }
              .mat-radio-container:hover .mat-ripple-element {
                background-color: #edeeff;
              }
            }
          }
        }
        hr {
          margin: 33px 0;
        }
        #budget {
          margin-bottom: 90px;
          h2.sub-title {
            font: normal normal 500 18px Poppins;
            color: #000;
            margin-bottom: 32px;
          }
          .range-col {
            p.range {
              font: normal normal 500 16px Poppins;
              color: #000;
            }
            ngx-slider {
              width: 340px;
              margin-top: 15px;
              margin-left: 64px;
              .ngx-slider-bar {
                height: 8px;
                background-color: #dedddd;
                border-radius: 50px;
              }
              .ngx-slider-pointer-min,
              .ngx-slider-pointer-max {
                background: linear-gradient(236deg, #ff5151 0%, #6f77f4 100%);
                width: 21px;
                height: 21px;
                margin-top: 6px;
                &::after {
                  display: none;
                }
              }
              .ngx-slider-floor,
              .ngx-slider-ceil {
                display: none;
              }
              .ngx-slider-model-value,
              .ngx-slider-model-high,
              .ngx-slider-combined {
                top: 30px;
                color: #000;
                font: normal normal 500 16px Poppins;
                &::after {
                  content: "€";
                }
              }
            }
          }
        }
        .submit-btn {
          width: 100%;
          background-color: #6f77f4;
          padding: 16px 0;
          border: none;
          border-radius: 5px;
          font: normal normal 500 18px Poppins;
          color: #fff;
          &:hover {
            background-color: #4751de;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767.9px) {
  section.step-three {
    padding: 24px 0;
    .row {
      .combined-col {
        margin-bottom: 8px;
        .title-col {
          h1.title {
            font: normal normal 500 18px Poppins;
            color: #ff5151;
            margin-bottom: 8px;
          }
          h2.sub-title {
            font: normal normal 600 24px Poppins;
            margin: 0;
            span {
              color: #6f77f4;
            }
          }
        }
      }
      .describtion-col {
        margin-bottom: 32px;
        p.describtion {
          font: normal normal normal 16px/22px Poppins;
          color: #7b7b7b;
          margin-bottom: 17px;
        }
        p.three-steps-desc {
          font: normal normal 500 16px/28px Poppins;
          span {
            color: #ff5151;
          }
        }
      }
      .step-three-col {
        margin-bottom: 33px;
        .step-three {
          width: 100%;
          .connector {
            width: 12%;
            height: 3px;
            background-color: #e5e7ff;
          }
          a.main-circle {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #e5e7ff;
            background-color: #fff;
            font: normal normal 500 16px Poppins;
            color: #6f77f4;
            &:hover {
              box-shadow: 0px 3px 12px #1721d54e;
            }
          }
          .sec-circle {
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: #e5e7ff;
          }
          a.main-circle.active {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #6f77f4;
            color: #fff;
            &:hover {
              box-shadow: 0px 3px 12px #1721d54e;
            }
          }
        }
      }
      form {
        #study-in-france {
          h1.title {
            font: normal normal 600 20px Poppins;
            margin-bottom: 16px;
            span {
              color: #6f77f4;
            }
          }
          h2.sub-title {
            font: normal normal 500 16px Poppins;
            margin-bottom: 18px;
          }
          mat-radio-group {
            .radio-btn {
              margin-right: 33px;
              .mat-radio-outer-circle {
                border: 2px solid #6f77f4;
              }
              .mat-radio-inner-circle {
                background: linear-gradient(142deg, #ff5151 0%, #6f77f4 100%);
              }
              .mat-radio-button.mat-accent.mat-radio-checked
                .mat-radio-outer-circle {
                border: 2px solid #6f77f4;
              }
              .mat-ripple-element {
                background-color: #edeeff;
              }
              .mat-radio-label-content {
                padding-left: 17px;
                font: normal normal normal 16px/33px Poppins;
                color: #000;
              }
              .mat-radio-container:hover .mat-ripple-element {
                background-color: #edeeff;
              }
            }
          }
        }
        hr {
          margin: 13px 0 28px;
        }
        #budget {
          margin-bottom: 50px;
          h2.sub-title {
            font: normal normal 500 16px Poppins;
            margin-bottom: 16px;
          }
          .range-col {
            p.range {
              font: normal normal 500 16px Poppins;
            }
            ngx-slider {
              width: 278px;
              margin-top: 16px;
              margin-left: 12px;
              .ngx-slider-bar {
                height: 6px;
                background-color: #dedddd;
                border-radius: 50px;
              }
              .ngx-slider-pointer-min,
              .ngx-slider-pointer-max {
                background: linear-gradient(236deg, #ff5151 0%, #6f77f4 100%);
                width: 16px;
                height: 16px;
                margin-top: 9px;
                &::after {
                  display: none;
                }
              }
              .ngx-slider-floor,
              .ngx-slider-ceil {
                display: none;
              }
              .ngx-slider-model-value,
              .ngx-slider-model-high,
              .ngx-slider-combined {
                top: 15px;
                color: #000;
                font: normal normal 500 12px Poppins;
                &::after {
                  content: "€";
                }
              }
            }
          }
        }
        .submit-btn {
          width: 100%;
          background-color: #6f77f4;
          padding: 14px 0;
          border: none;
          border-radius: 5px;
          font: normal normal 500 16px Poppins;
          color: #fff;
          &:hover {
            background-color: #4751de;
          }
        }
      }
    }
  }
}
