<!-- <div class="container" >
  <div class="row mt-5 mb-5">
    <div id="myCarousel" class="carousel slide bg-inverse me-auto" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
      </ol>
      <div class="col-11 m-auto">
        <div class="col-11">
          <h2 class="fw-bold lh-1 mb-5 users-section-title">Our Users Revi<span class="line">ew</span></h2>
      </div>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active card">
            <div class="row">
              <div class="col-5">
                <img
src="/assets/images/students/student-1.jpg" class="student student-1 img-fluid rounded-start ps-2 py-4 px-3 mx-3 rounded">
              </div>
              <div class="col-6 py-2 my-auto">
                <h4>Dipanjali Saikia</h4>
                <h5>Student</h5>
                <p class="pe-3">"Really Thankful to StudentGator. They helped me realise which course is best suited for my current experience and have been available throughout to answer my queries."</p>
              </div>
            </div>
          </div>
          <div class="carousel-item card">
            <div class="row">
              <div class="col-5">
                <img
src="/assets/images/students/student-2.jpeg" class="student student-2 img-fluid rounded-start ps-2 py-4 px-3 mx-3 rounded">
              </div>
              <div class="col-6 py-2 my-auto">
                <h4>Ouleida R'gueibi</h4>
                <h5>Student</h5>
                <p class="pe-3">"Studentgator est une veritable aubaine pour les etudiants qui sont souvent perdus. L'equipe est tout simplement geniale et vous aide e franchir les etapes une e une jusqu'e ce que vous arriviez e l'ecole. Pour conclure, je recommande vivement la plateforme aux etudiants qui veulent s'inscrire en France ou en Angleterre."</p>
              </div>
            </div>
          </div>
          
        </div>
          <a href="#myCarousel" href="#myCarousel" role="button" data-bs-slide="next">
            <img
src="/assets/images/home-page/right-btn.svg" class="right-btn">
          </a>
          <a href="#myCarousel" role="button" data-bs-slide="prev">
            <img
src="/assets/images/home-page/left-btn.svg" class="left-btn">
          </a>
      </div>
      </div>
  </div>
      <div class="btn-holder text-center m-auto mb-5">
        <a href="https://www.trustpilot.com/review/studentgator.com">
          <button class="reviews-btn py-2 mt-3 px-5 rounded-pill general-btn">All Reviews</button>
        </a>
      </div>
</div> -->
