<footer class="bottom-0 start-0 end-0">
  <div class="footer-top-section bg-main-mustard">
    <div class="container">
      <div class="row pt-5 d-flex justify-content-around">
        <div class="col-md-6">
          <div class="footer-caption d-flex flex-column">
            <a class="navbar-brand" [routerLink]="['/']">
              <img src="assets/images/elias.png" style="width: 150px;" />
            </a>
            <p class="white-text" style="width: 80%;">Bienvenue sur <span class="bold"> Cours Elysée la Plateforme</span>, où
              vous découvrirez notre vaste réseau d'écoles en France, prêtes à vous accompagner dans la réussite de
              votre parcours académique.</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="lists d-flex justify-content-between">
            <div class="right d-flex flex-column">
              <div>
                <h4 class="text-main-blue">Rubriques</h4>
              </div>
              <div>
                <ul class="white-text ps-0">
                  <li>
                    <a href="/">Qui Sommes Nous</a>
                  </li>
                  <li>
                    <a  routerLink="/landing/About-Us">Nos services</a>
                  </li>
                  <li>
                    <a routerLink="/landing/Schools">Ecoles</a>
                  </li>
                  <li>
                    <a routerLink="/landing/programs">programmes</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="social_icon">
            <div>
              <i class="fas fa-phone-alt"></i>
            </div>
            <p>+216 28 395 065</p>
          </div>
          <div class="social_icon">
            <div>
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <p>3, app 132 1esc , Rue windermere, residence Raoudha, Tunis 1035, Tunisie</p>
          </div>
          <div class="social_icon">
            <div>
              <i class="far fa-envelope"></i>
            </div>
            <p>contact@courselysee.com.tn</p>
          </div>
          <br/><br/>
          <div class="elemenator-social-icons d-flex align-items-center justify-content-end social">
            <a target="_blank" href="https://www.facebook.com/courselysee" class="text-white link_hover"><i
                class="fab fa-facebook-f p-3"></i></a>
            <a target="_blank" href="https://www.instagram.com/cours.elysee" class="link_hover"><i
                class="fab fa-instagram p-3"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/cours-elys%C3%A9e/posts/?feedView=all"
              class="text-white link_hover"><i class="fab fa-linkedin-in"></i></a>
            <a target="_blank" href="https://www.tiktok.com/@cours.elysee8" class="text-white link_hover"><i
                class="fab fa-tiktok p-3"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-section">
    <div class="container">
      <div class="row footer-copyrights d-flex justify-content-between align-items-center text-white">
        <div class="col-md-12 text-center">
          <span> {{currentYear}} © Tous droits réservés par Cours-Elysée</span>
        </div>

      </div>
    </div>
  </div>
</footer>