<footer>
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-xl-3 col-md-5 col-12 first-col">
        <img
          src="../../../../assets/images/elysee-logo.png"
          alt="studentgator-logo"
        />
        <p class="description">
          Walking with you every step of the way to help you achieve academic
          excellence
        </p>
      </div>
      <div class="col-xl-3 col-md-3 col-6 services-col">
        <div class="row">
          <p class="title">Services</p>
          <a class="link" routerLink="/landing/programs">Programs</a>
        </div>
      </div>
      <!-- <div class="col-xl-3 col-md-4 col-6 info-col">
        <div class="row">
          <a class="link" routerLink="/auth/login" *ngIf="!isLoggedIn()"
            >Login</a
          >
        </div>
      </div> -->
      <div class="col-xl-3 col-md-4 col-12 contact-col">
        <div class="row">
          <p class="title">Contact us</p>
          <div class="d-flex justify-content-start align-items-start">
            <i class="fas fa-phone-alt me-2 pt-1"></i>
            <p class="contact">+21 6 28 39 50 65</p>
          </div>
          <div class="d-flex justify-content-start align-items-start">
            <i class="fas fa-envelope me-2 pt-1"></i>
            <p class="contact">contact@courselysee.com</p>
          </div>
        </div>
      </div>
      <div class="links d-flex justify-content-start align-items-center">
        <a
          class="circle d-flex justify-content-center align-items-center"
          href="https://www.instagram.com/cours.elysee/"
          title="instgram"
          target="_blank"
        >
          <i class="fab fa-instagram"></i>
        </a>
        <a
          class="circle d-flex justify-content-center align-items-center"
          href="https://www.linkedin.com/company/82212787/admin/"
          title="linked-in"
          target="_blank"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a
          class="circle d-flex justify-content-center align-items-center"
          href="https://www.facebook.com/MinaFikom"
          title="facebook"
          target="_blank"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <p class="rights text-white">
      ©
      <a
        href="http://courselysee.tn/#/auth/login"
        class="text-white text-decoration-underline"
        target="_blank"
        >Cours-Elysee</a
      >
      All rights reserved.
    </p>
  </div>
</footer>
