* {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  list-style-type: none;
}

.bg-main-blue {
  background-color: #7eaeb3;
}

.bg-main-mustard {
  background-color: #16294f !important;
  padding-bottom: 20px;
}

.text-main-blue {
  color: #fff;
}

.text-main-mustard {
  color: #73a8ad;
}

.white-text {
  color: #fff;
}

footer {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;

  .footer-top-section {
    .footer-caption {
      p {
        font-size: 17px;
        line-height: 1.7em;
        font-weight: 400;
        text-align: justify;
      }
    }

    .lists {
      h4 {
        font-size: 22px;
        font-weight: bold;
      }

      ul {
        li {
          padding-bottom: 10px;
          font-size: 16px;
          font-weight: 400;

          a {
            color: #fff;
            font-family: 'Roboto', sans-serif;
          }
        }
      }
    }

    .search {
      input {
        font-size: 15px;
        font-weight: 400;
      }

      input::placeholder {
        color: #7A7A7A;
      }

      .form-control:focus {
        outline: 0 !important;
        box-shadow: none;
      }

      button {
        i {
          font-size: 16px;
          font-weight: 900;
        }
      }
    }
  }

  .footer-bottom-section {
    margin-top: 10px;

    .container {
      .elemenator-divder {

        hr {

          background-color: rgb(38, 38, 105);
          margin-top: 40px;
          margin-bottom: 20px;
        }
      }

      .footer-copyrights {
        span {
          font-size: 14px;
          font-weight: 300;
          font-family: 'Roboto', sans-serif;
          color: #556364;
          padding: 15px 0px;
          display: block;
        }

        .elemenator-social-icons {}

      }



    }
  }

  .footer-copyrights {
    i {
      color: #16294f;
    }
  }

  &.social {

    a {
      background-color: red;

      &.link_hover {
        transition: all .3s ease-in-out;



        &:hover {
          background-color: #16294f;
          transition: all .3s ease-in-out;

          i {
            color: #fff !important;
          }
        }
      }
    }
  }
}

//--------Responsive web design for footer--------------
@media only screen and (max-width:768px) {
  .footer-caption {
    margin-bottom: 20px;

    a {
      margin: auto !important;

      img {
        margin: auto !important;
      }
    }

    p {
      width: 100% !important;
      text-align: center !important;

    }
  }

  .search {
    display: none !important;
  }


  .footer-bottom-section {
    padding-bottom: 30px;

    .row {
      .col-md-6 {
        text-align: center;
        margin: auto !important;

        .elemenator-social-icons {
          margin: auto !important;
          display: flex;
          justify-content: center !important;
          width: 50%;

          a {
            margin: auto !important;
          }
        }
      }
    }
  }
}


adsfasdfasdf {
  color: #16294E;
  color: #16294E;
  color: #16294f;
  color: #16294f;
}

.social {

  a {
    background-color: #9c3a44;
    margin-left: 10px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;


    &:hover {
      opacity: .7;
      transition: all 0.5s ease;

    }

    i {
      color: #fff !important;
    }
  }
}

.social_icon {
  display: flex;
  margin-left: 100px;
  align-items: baseline;
  justify-content: start;
  color: #fff;
  margin-bottom: 15px;

  div {
    width: 20px;
    display: table;
  }

  i {
    margin-right: 15px;
    font-size: 20px;
    display: block;
  }
  p{
    margin-bottom: 0;
  }
}