<!-- text section -->
<section>
  <h1>EEF procedure (pastel)</h1>
  <p class="mt-lg-3">
    Students from the following countries who wish to study in France must
    follow the Campus France procedure on Etudes en France online platform
    before applying for a visa.
  </p>
</section>

<!-- tags section -->
<section class="all-tags">
  <h1>Countries concerned by the procedure</h1>
  <div class="tags">
    <p class="tag border">South Africa</p>
    <p class="tag border">Azerbaijan</p>
    <p class="tag border">Algeria</p>
    <p class="tag border">Saudi Arabia</p>
    <p class="tag border">Argentina</p>
    <p class="tag border">Bahrain</p>
    <p class="tag border">Benin</p>
    <p class="tag border">Bolivia</p>
    <p class="tag border">Brazil</p>
    <p class="tag border">Burkina Faso</p>
    <p class="tag border">Burundi</p>
    <p class="tag border">Cambodia</p>
    <p class="tag border">Cameroon</p>
    <p class="tag border">Canada</p>
    <p class="tag border">Chile</p>
    <p class="tag border">China</p>
    <p class="tag border">Djibouti</p>
    <p class="tag border">Colombia</p>
    <p class="tag border">Comoros</p>
    <p class="tag border">Congo</p>
    <p class="tag border">South Korea</p>
    <p class="tag border">Ivory Coast</p>
    <p class="tag border">United Arab Emirates</p>
    <p class="tag border">Egypt</p>
    <p class="tag border">Ecuador</p>
    <p class="tag border">United States</p>
    <p class="tag border">Gabon</p>
    <p class="tag border">Georgia</p>
    <p class="tag border">Palestine</p>
    <p class="tag border">Ghana</p>
    <p class="tag border">Indonesia</p>
    <p class="tag border">Japan</p>
    <p class="tag border">Jordan</p>
    <p class="tag border">Kenya</p>
    <p class="tag border">Kuwait</p>
    <p class="tag border">Laos</p>
    <p class="tag border">Lebanon</p>
    <p class="tag border">Madagascar</p>
    <p class="tag border">Malaysia</p>
    <p class="tag border">Mali</p>
    <p class="tag border">Morocco</p>
    <p class="tag border">Mauritius</p>
    <p class="tag border">Mauritania</p>
    <p class="tag border">Mexico</p>
    <p class="tag border">Niger</p>
    <p class="tag border">Nigeria</p>
    <p class="tag border">Peru</p>
    <p class="tag border">India</p>
    <p class="tag border">Iran</p>
    <p class="tag border">Guinea</p>
    <p class="tag border">Haiti</p>
    <p class="tag border">Qatar</p>
    <p class="tag border">Democratic Republic of the Congo</p>
    <p class="tag border">Russia</p>
    <p class="tag border">United Kingdom</p>
    <p class="tag border">Dominican Republic</p>
    <p class="tag border">Chad</p>
    <p class="tag border">Thailand</p>
    <p class="tag border">Togo</p>
    <p class="tag border">Tunisia</p>
    <p class="tag border">Ukraine</p>
    <p class="tag border">Turkey</p>
    <p class="tag border">Vietnam</p>
    <p class="tag border">Taiwan</p>
    <p class="tag border">Senegal</p>
    <p class="tag border">Singapore</p>
  </div>
</section>

<!-- video -->
<section class="video">
  <a
    href="https://pastel.diplomatie.gouv.fr/etudesenfrance/dyn/public/authentification/login.html"
    target="_blank"
    ><p>
      https://pastel.diplomatie.gouv.fr/etudesenfrance/dyn/public/authentification/login.html
    </p></a
  >
  <iframe
    class="w-100"
    height="437"
    src="https://www.youtube.com/embed/woQca1xarag"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</section>

<!-- table -->
<section class="table-sec">
  <h1>Mandatory documents</h1>
  <div class="row">
    <div class="col-12 px-0">
      <img
        class="w-100"
        src="../../../../../../../assets/images/navigator/visa/campus france/table-occodion1.svg"
        alt="table"
      />
    </div>
  </div>
  <h1>
    Make sure to verify with us if your file is complete before submitting
  </h1>
</section>
