<div class="my-2 px-2 d-flex">
  <button
    [disabled]="isFirstPage()"
    (click)="prevPage()"
    pButton
    pRipple
    type="button"
    styleClass="p-button-text"
    icon="pi pi-chevron-left"
    class="p-button-rounded p-button-text"
  ></button>
  <button
    (click)="resetTable()"
    pButton
    pRipple
    type="button"
    styleClass="p-button-text"
    icon="pi pi-refresh"
    class="p-button-rounded p-button-text"
  ></button>
  <button
    [disabled]="isLastPage()"
    (click)="nextPage()"
    pButton
    pRipple
    type="button"
    styleClass="p-button-text"
    icon="pi pi-chevron-right"
    class="p-button-rounded p-button-text"
  ></button>
</div>
<p-table
  [value]="allProspects"
  [paginator]="true"
  [rows]="rows"
  [(first)]="first"
  [showCurrentPageReport]="true"
  responsiveLayout="scroll"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10, 25, 50]"
  [resizableColumns]="true"
  styleClass="p-datatable-gridlines"
  columnResizeMode="expand"
  [loading]="loading"
  [reorderableColumns]="true"
  exportHeader="customExportHeader"
  [globalFilterFields]="[
    'prospectName',
    'prospectEmail',
    'prospectScore',
    'prospectFieldOfInterest',
    'prospectPhone',
    'prospectNationality'
  ]"
  [filterDelay]="0"
  [(selection)]="selectedColumns"
  (onEditComplete)="editFields($event)"
  #table
>
  <ng-template pTemplate="caption">
    <div class="table-header d-flex ps-0">
      {{ "EMPDASHBOARD.ListofAllProspect" | translate }}
      <span class="p-input-icon-left ms-auto">
        <input
          #input
          pInputText
          type="text"
          (input)="table.filterGlobal(input.value, 'contains')"
          placeholder="Search"
          class="form-control"
        />
      </span>
    </div>
    <div class="d-flex">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-excel"
        (click)="exportExcel()"
        class="p-button-success mr-2"
        pTooltip="XLS"
        tooltipPosition="bottom"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 2em"></th>
      <th pResizableColumn>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pResizableColumn pReorderableColumn>ID</th>

      <th
        pSortableColumn="name"
        pResizableColumn
        pReorderableColumn
        *ngIf="mainLink !== 'leads'"
      >
        <div class="d-flex align-items-center">
          {{ "EMPDASHBOARD.name" | translate }}
          <p-sortIcon field="name"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="name"
            display="menu"
            [hideOnClear]="true"
            placeholder="Name"
            class="ms-auto"
          ></p-columnFilter>
        </div>
      </th>

      <th pSortableColumn="email" pResizableColumn pReorderableColumn>
        <div class="d-flex align-items-center">
          {{ "EMPDASHBOARD.EmailAddress" | translate }}
          <p-sortIcon field="email"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="email"
            display="menu"
            [hideOnClear]="true"
            placeholder="Email Address"
            class="ms-auto"
          ></p-columnFilter>
        </div>
      </th>

      <th pSortableColumn="score" pResizableColumn pReorderableColumn>
        <div class="d-flex align-items-center">
          {{ "EMPDASHBOARD.Seriousness" | translate }}
          <p-sortIcon field="score"></p-sortIcon>
          <p-columnFilter
            type="numeric"
            field="score"
            display="menu"
            [hideOnClear]="true"
            placeholder="score"
            class="ms-auto"
          ></p-columnFilter>
        </div>
      </th>

      <th
        pSortableColumn="fieldOfInterest"
        pResizableColumn
        pReorderableColumn
        *ngIf="mainLink !== 'leads'"
      >
        <div class="d-flex align-items-center">
          {{ "EMPDASHBOARD.Fieldofintereset" | translate }}

          <p-sortIcon field="fieldOfInterest"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="fieldOfInterest"
            display="menu"
            [hideOnClear]="true"
            placeholder="Field of intereset"
            class="ms-auto"
          ></p-columnFilter>
        </div>
      </th>

      <th pSortableColumn="phone" pResizableColumn pReorderableColumn>
        <div class="d-flex align-items-center">
          {{ "EMPDASHBOARD.Phone" | translate }}
          <p-sortIcon field="phone"></p-sortIcon>
          <p-columnFilter
            type="numeric"
            field="phone"
            display="menu"
            [hideOnClear]="true"
            placeholder="Phone Number"
            class="ms-auto"
            prefix="+"
            [useGrouping]="false"
          ></p-columnFilter>
        </div>
      </th>

      <th
        pSortableColumn="nationality"
        pResizableColumn
        pReorderableColumn
        *ngIf="mainLink !== 'leads'"
      >
        <div class="d-flex align-items-center">
          {{ "EMPDASHBOARD.Nationality" | translate }}
          <p-sortIcon field="nationality"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="nationality"
            display="menu"
            [hideOnClear]="true"
            placeholder="Nationality"
            class="ms-auto"
          ></p-columnFilter>
        </div>
      </th>

      <th style="width: 8rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowIndex="rowIndex" let-prospect>
    <tr
      [pSelectableRow]="prospect"
      [pReorderableRow]="rowIndex"
      style="height: 75px"
    >
      <td>
        <span class="pi pi-bars" [pReorderableRowHandle]="rowIndex"></span>
      </td>

      <td>
        <p-tableCheckbox
          [value]="prospect"
          [index]="rowIndex"
        ></p-tableCheckbox>
      </td>

      <!-- id -->
      <td>{{ rowIndex + 1 }}</td>

      <!-- name -->
      <td
        pEditableColumn
        class="ui-resizable-column"
        [pEditableColumn]="prospect"
        [pEditableColumnField]="'name'"
        [pEditableColumnRowIndex]="rowIndex"
      >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="text"
              [(ngModel)]="prospect.name"
              class="form-control w-100"
            />
          </ng-template>
          <ng-template pTemplate="output">
            {{ prospect.name }}
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- email -->
      <td
        pEditableColumn
        class="ui-resizable-column"
        [pEditableColumn]="prospect"
        [pEditableColumnField]="'email'"
        [pEditableColumnRowIndex]="rowIndex"
      >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="text"
              [(ngModel)]="prospect.email"
              class="form-control w-100"
            />
          </ng-template>
          <ng-template pTemplate="output">
            {{ prospect.email }}
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- score -->
      <td
        pEditableColumn
        class="ui-resizable-column"
        [pEditableColumn]="prospect"
        [pEditableColumnField]="'score'"
        [pEditableColumnRowIndex]="rowIndex"
      >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="text"
              [(ngModel)]="prospect.score"
              class="form-control w-100"
            />
          </ng-template>
          <ng-template pTemplate="output">
            {{ prospect.score }}
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- fieldOfInterest -->
      <td
        pEditableColumn
        class="ui-resizable-column"
        [pEditableColumn]="prospect"
        [pEditableColumnField]="'fieldOfInterest'"
        [pEditableColumnRowIndex]="rowIndex"
      >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="text"
              [(ngModel)]="prospect.fieldOfInterest"
              class="form-control w-100"
            />
          </ng-template>
          <ng-template pTemplate="output">
            {{ prospect.fieldOfInterest }}
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- phone -->
      <td
        pEditableColumn
        class="ui-resizable-column"
        [pEditableColumn]="prospect"
        [pEditableColumnField]="'phone'"
        [pEditableColumnRowIndex]="rowIndex"
      >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="text"
              [(ngModel)]="prospect.phone"
              class="form-control w-100"
            />
          </ng-template>
          <ng-template pTemplate="output">
            {{ prospect.phone }}
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- nationality -->
      <td
        pEditableColumn
        class="ui-resizable-column"
        [pEditableColumn]="prospect"
        [pEditableColumnField]="'nationality'"
        [pEditableColumnRowIndex]="rowIndex"
      >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              type="text"
              [(ngModel)]="prospect.nationality"
              class="form-control w-100"
            />
          </ng-template>
          <ng-template pTemplate="output">
            {{ prospect.nationality }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td style="text-align: center">
        <button
          pButton
          type="button"
          class="p-button-secondary"
          icon="pi pi-cog"
          [matMenuTriggerFor]="menu"
        ></button>

        <mat-menu #menu="matMenu">
          <!-- To assign for other employees -->
          <button mat-menu-item [matMenuTriggerFor]="assign">
            <mat-icon>assignment</mat-icon>
            <span>{{ "EMPDASHBOARD.Assign" | translate }}</span>
          </button>

          <mat-menu #assign="matMenu">
            <button
              mat-menu-item
              (click)="assingProspect(prospect.username)"
              *ngIf="mainLink !== 'leads'"
            >
              {{ "EMPDASHBOARD.ForMe" | translate }}
            </button>
            <button mat-menu-item [matMenuTriggerFor]="others">
              {{ "EMPDASHBOARD.ForOthers" | translate }}
            </button>

            <mat-menu #others="matMenu">
              <button
                mat-menu-item
                *ngFor="let emp of employees"
                (click)="assingProspect(prospect.username)"
              >
                {{ emp.Name }}
              </button>
            </mat-menu>
          </mat-menu>

          <!-- send to leads -->
          <button mat-menu-item (click)="sendTolead(prospect.username)">
            <mat-icon>input</mat-icon>
            {{ "EMPDASHBOARD.Sendtoleads" | translate }}
          </button>
        </mat-menu>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        {{ "EMPDASHBOARD.Noprospectfound" | translate }}
      </td>
    </tr>
  </ng-template>
</p-table>
