.wrap {
  section {
    .shape-bg-users,
    .shape-bg-leads,
    .shape-bg-apps {
      width: 100%;
      height: 190px;
      padding: 24px;
      .info {
        p {
          padding: 0;
          margin: 0;
          font-size: 18px;
          color: #484848;
          font-weight: 500;
        }
        span {
          font-size: 28px;
          font-weight: 600;
          padding: 0;
          margin: 0;
        }
      }
      .icon {
        border: 1px solid;
        width: 76px;
        height: 76px;
        border-radius: 50%;
        padding: 14px;

        img {
          width: 48px;
          height: 48px;
        }
      }
    }

    .shape-bg-users {
      background: url("../../../../../../../assets/images/employees/Statistics/shap_bg_users.svg");
      .info {
        span {
          color: #6f77f4;
        }
      }
      .icon {
        background: #edeeff;

        border-color: #6f77f4;
      }
    }

    .shape-bg-leads {
      background: url("../../../../../../../assets/images/employees/Statistics/shap_bg-leads.svg");
      .info {
        span {
          color: #f66666;
        }
      }
      .icon {
        background: #ffdddd;

        border-color: #f8c5c5;
      }
    }

    .shape-bg-apps {
      background: url("../../../../../../../assets/images/employees/Statistics/shap_bg_apps.svg");
      .info {
        span {
          color: #f08e43;
        }
      }
      .icon {
        background: #f08e4340;

        border-color: #e57926;
      }
    }

    .row {
      .schWrap {
        width: 666px;
        height: 500px;
      }
      .progWrap {
        width: 321px;
        height: 500px;
      }
    }
    h1 {
      font-size: 25px;
    }
  }
}
