<div class="wrap p-3">
  <section class="statistics">
    <h1 class="py-3">{{ "EMPDASHBOARD.Statistics" | translate }}</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="bg-white borderR-5">
          <div class="shape-bg-users d-flex justify-content-between">
            <div class="info">
              <p>{{ "EMPDASHBOARD.Users" | translate }}</p>
              <span>6000.55</span>
            </div>
            <div class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="48"
                height="48"
                viewBox="0 0 48 48"
              >
                <defs>
                  <clipPath id="clip-path">
                    <rect
                      id="Rectangle_140065"
                      data-name="Rectangle 140065"
                      width="48"
                      height="48"
                      transform="translate(-0.414 -0.414)"
                      fill="#6f77f4"
                      stroke="#707070"
                      stroke-width="1"
                    />
                  </clipPath>
                </defs>
                <g
                  id="Mask_Group_54285"
                  data-name="Mask Group 54285"
                  transform="translate(0.414 0.414)"
                  clip-path="url(#clip-path)"
                >
                  <path
                    id="Icon_metro-user-plus"
                    data-name="Icon metro-user-plus"
                    d="M17.109,29.793a13.349,13.349,0,0,1,8.709-12.5,11.062,11.062,0,0,0,.983-4.46c0-6.022,0-10.9-7.269-10.9s-7.269,4.882-7.269,10.9c0,3.75,2.177,7.5,4.846,9v2c-8.219.672-14.538,4.711-14.538,9.593H17.613a13.3,13.3,0,0,1-.5-3.635Zm13.327-10.9a10.9,10.9,0,1,0,10.9,10.9A10.9,10.9,0,0,0,30.436,18.889ZM36.493,31H31.647v4.846H29.224V31H24.378V28.582h4.846V23.735h2.423v4.846h4.846V31Z"
                    transform="translate(1.114 1.756)"
                    fill="#6f77f4"
                  />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bg-white borderR-5">
          <div class="shape-bg-leads d-flex justify-content-between">
            <div class="info">
              <p>{{ "EMPDASHBOARD.Leads" | translate }}</p>
              <span>365.45</span>
            </div>
            <div class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="48"
                height="48"
                viewBox="0 0 48 48"
              >
                <defs>
                  <clipPath id="clip-path">
                    <rect
                      id="Rectangle_140065"
                      data-name="Rectangle 140065"
                      width="48"
                      height="48"
                      transform="translate(-0.414 -0.414)"
                      fill="#6f77f4"
                      stroke="#707070"
                      stroke-width="1"
                    />
                  </clipPath>
                </defs>
                <g
                  id="Group_54285"
                  data-name="Group 54285"
                  transform="translate(0.414 0.414)"
                  clip-path="url(#clip-path)"
                >
                  <g id="leads" transform="translate(1.586 -4.738)">
                    <g
                      id="Group_160379"
                      data-name="Group 160379"
                      transform="translate(0 6.324)"
                    >
                      <path
                        id="Path_83114"
                        data-name="Path 83114"
                        d="M110.789,81.45a14.633,14.633,0,0,0-29.231-.005c-.014.219-.019.437-.019.655a14.526,14.526,0,0,0,2.469,8.193l-9.351,9.351a2.848,2.848,0,0,0,4.026,4.026l9.352-9.346a14.639,14.639,0,0,0,22.307-8.487,14.448,14.448,0,0,0,.466-3.847c0-.18-.005-.361-.019-.541Z"
                        transform="translate(-65.989 -60.997)"
                        fill="#f66666"
                      />
                      <path
                        id="Path_83115"
                        data-name="Path 83115"
                        d="M196.452,118.093a9.545,9.545,0,0,1-.731.665,11.3,11.3,0,0,1-13.477.789,10.327,10.327,0,0,1-1.049-.789c-.247-.2-.489-.428-.727-.665a11.631,11.631,0,0,1-1.458-1.776,11.308,11.308,0,1,1,17.444,1.776Z"
                        transform="translate(-158.272 -88.939)"
                        fill="#edeeff"
                      />
                      <path
                        id="Path_83116"
                        data-name="Path 83116"
                        d="M5.634,85.917H7.328a5.634,5.634,0,0,1,5.634,5.634v2.756H0V91.551A5.634,5.634,0,0,1,5.634,85.917Z"
                        transform="translate(0 -77.437)"
                        fill="#626aef"
                      />
                      <path
                        id="Path_83117"
                        data-name="Path 83117"
                        d="M29.378,10.563a4.2,4.2,0,0,1-.276,1.51,4.243,4.243,0,1,1,.276-1.51Z"
                        transform="translate(-18.641 -6.324)"
                        fill="#eabfa2"
                      />
                      <g
                        id="Group_160378"
                        data-name="Group 160378"
                        transform="translate(22.922 13.898)"
                      >
                        <path
                          id="Path_83118"
                          data-name="Path 83118"
                          d="M229.67,233.168a11.3,11.3,0,0,1-13.477.789,10.322,10.322,0,0,1-1.049-.789,7.333,7.333,0,0,1,14.526,0Z"
                          transform="translate(-215.143 -217.247)"
                          fill="#626aef"
                        />
                        <path
                          id="Path_83119"
                          data-name="Path 83119"
                          d="M248.076,141.56a4.795,4.795,0,1,1-3.092-4.476,4.764,4.764,0,0,1,3.092,4.476Z"
                          transform="translate(-235.998 -136.77)"
                          fill="#eabfa2"
                        />
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bg-white borderR-5">
          <div class="shape-bg-apps d-flex justify-content-between">
            <div class="info">
              <p>{{ "EMPDASHBOARD.Applications" | translate }}</p>
              <span>360</span>
            </div>
            <div class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="48"
                height="48"
                viewBox="0 0 48 48"
              >
                <defs>
                  <clipPath id="clip-path">
                    <rect
                      id="Rectangle_140065"
                      data-name="Rectangle 140065"
                      width="48"
                      height="48"
                      transform="translate(-0.414 -0.414)"
                      fill="#373b79"
                      stroke="#707070"
                      stroke-width="1"
                    />
                  </clipPath>
                </defs>
                <g
                  id="Mask_Group_54285"
                  data-name="Mask Group 54285"
                  transform="translate(0.414 0.414)"
                  clip-path="url(#clip-path)"
                >
                  <path
                    id="Icon_open-document"
                    data-name="Icon open-document"
                    d="M0,0V39.2H34.3V19.6H14.7V0ZM19.6,0V14.7H34.3ZM4.9,9.8H9.8v4.9H4.9Zm0,9.8H9.8v4.9H4.9Zm0,9.8H24.5v4.9H4.9Z"
                    transform="translate(6.435 3.984)"
                    fill="#f28430"
                  />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="topNatlyOfUsers py-2">
    <div class="row bg-white borderR-5">
      <div class="title d-flex justify-content-between align-items-center">
        <h1 class="p-3">
          {{ "EMPDASHBOARD.TopNationalitiesOfUsers" | translate }}
        </h1>

        <button
          mat-icon-button
          class="btn p-2"
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>{{ "EMPDASHBOARD.Yesterday" | translate }}</span>
          </button>
          <mat-divider></mat-divider>

          <button mat-menu-item>
            <span>2 {{ "EMPDASHBOARD.DaysAgo" | translate }}</span>
          </button>
          <mat-divider></mat-divider>

          <button mat-menu-item>
            <span>3 {{ "EMPDASHBOARD.DaysAgo" | translate }}</span>
          </button>
        </mat-menu>
      </div>
      <div id="chart">
        <apx-chart
          [series]="natlyUserChartOptions.series"
          [chart]="natlyUserChartOptions.chart"
          [yaxis]="natlyUserChartOptions.yaxis"
          [colors]="natlyUserChartOptions.colors"
          [xaxis]="natlyUserChartOptions.xaxis"
          [labels]="natlyUserChartOptions.labels"
          [stroke]="natlyUserChartOptions.stroke"
          [plotOptions]="natlyUserChartOptions.plotOptions"
          [legend]="natlyUserChartOptions.legend"
          [markers]="natlyUserChartOptions.markers"
          [fill]="natlyUserChartOptions.fill"
          [tooltip]="natlyUserChartOptions.tooltip"
        ></apx-chart>
      </div>
    </div>
  </section>

  <section class="py-3">
    <div class="row">
      <div class="col-md-12">
        <div
          class="title bg-white borderR-5 d-flex justify-content-between align-items-center"
        >
          <h1 class="p-3">
            {{ "EMPDASHBOARD.TopNationalitiesOfSchool" | translate }}
          </h1>
        </div>

        <div
          class="dropdowns d-flex bg-white align-items-center justify-content-around"
        >
          <div class="form-floating">
            <select
              class="form-select"
              (change)="onMonthChange($event)"
              id="floatingSelectGrid"
            >
              <option [value]="selectedMonth" disabled selected>
                {{ "EMPDASHBOARD.choosethemonth" | translate }}
              </option>

              <option [value]="month" *ngFor="let month of months">
                {{ month }}
              </option>
            </select>
            <label for="floatingSelectGrid"
              >{{ "EMPDASHBOARD.Month" | translate }}
            </label>
          </div>

          <div class="form-floating">
            <select
              class="form-select"
              (change)="onYearChange($event)"
              id="floatingSelectGrid"
            >
              <option [value]="selectedYear" disabled selected>
                {{ "EMPDASHBOARD.choosetheyear" | translate }}
              </option>

              <option [value]="year" *ngFor="let year of years">
                {{ year }}
              </option>
            </select>
            <label for="floatingSelectGrid">{{
              "EMPDASHBOARD.Year" | translate
            }}</label>
          </div>

          <div class="form-floating">
            <select
              class="form-select"
              (change)="changeData($event)"
              id="floatingSelectGrid"
            >
              <option value="" selected disabled>
                {{ "EMPDASHBOARD.choosetheschool" | translate }}
              </option>

              <option
                [value]="school.schoolName"
                *ngFor="let school of schoolData"
              >
                {{ school.schoolName }}
              </option>
            </select>
            <label for="floatingSelectGrid">{{
              "EMPDASHBOARD.School" | translate
            }}</label>
          </div>

          <button
            (click)="onApply()"
            class="btn bg-primary text-white px-5 py-2"
          >
            {{ "EMPDASHBOARD.Apply" | translate }}
          </button>
        </div>

        <div id="chart" class="bg-white h-100 p-3 borderR-5">
          <apx-chart
            [series]="natlySchChartOptions.series"
            [chart]="natlySchChartOptions.chart"
            [dataLabels]="natlySchChartOptions.dataLabels"
            [plotOptions]="natlySchChartOptions.plotOptions"
            [xaxis]="natlySchChartOptions.xaxis"
            [colors]="natlySchChartOptions.colors"
          ></apx-chart>
        </div>
      </div>
    </div>
  </section>
</div>
