<div class="wrap">
  <div class="row inside-wrap">
    <div class="col-lg-9 col-12 ps-0">
      <ul>
        <li>Language proficiency tests, such as the French or English language tests, <span>play a crucial role for
            students</span>
          aspiring to study in France. </li>
        <li>For students interested in studying in France, <span>a strong command of the French language</span> is
          highly
          advantageous.</li>
        <li>Additionally, English proficiency is also significant since <span>several universities and programs offer
            courses
            in English.</span></li>
      </ul>
    </div>
    <div class="col-lg-3 d-lg-block d-none pe-0">
      <img class="w-100" src="../../../../../../assets/images/navigator/application/lang/man-give.svg" alt="man">
    </div>
  </div>
</div>

<div class="nav-wrapper">
  <h1 class="qyuestion">Which test does your school require?</h1>
  <div class="col-12">
    <div class="row">
      <ul class="nav d-flex justify-content-center nav-pills mb-3 pb-0 px-0 mx-0" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link eng" id="pills-eng-tab" data-bs-toggle="pill" data-bs-target="#pills-eng"
            type="button" role="tab" aria-controls="pills-eng" aria-selected="true">
            English test
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link fr active" id="pills-fr-tab" data-bs-toggle="pill" data-bs-target="#pills-fr"
            type="button" role="tab" aria-controls="pills-fr" aria-selected="false">
            French test
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane" id="pills-eng" role="tabpanel" aria-labelledby="pills-eng-tab" tabindex="0">
    <div class="warning-msg">
      <p>Depends on school</p>
      <p>Make sure to check with school</p>
    </div>
    <div class="table-box mt-lg-4 pt-lg-3 mt-md-4 mt-3">
      <img src="/assets/images/navigator/application/lang/eng-table.svg" class="img-fluid w-100" alt="eng-comp" />
    </div>

    <div class="duolingo">
      <h1>The Duolingo english test</h1>
      <p class="my-lg-3 my-md-2 my-1">What is it?</p>
      <div class="row">
        <div class="col-lg-8 col-md-12 dol-12">
          <ul>
            <li>
              The Duolingo English Test is a language proficiency exam that you
              can take online.
            </li>
            <li>It is a 1 hour exam (Reading, Writing, Listening, Speaking)</li>
            <li>No appointment needed.</li>
            <li>The results are out in 2 days (Faster than Toefl)</li>
            <li>It’s very affordable (59$)</li>
            <li>
              Recognised by 3000 institutions around the world.
              <a href="https://englishtest.duolingo.com/institutions"
                target="_blank">englishtest.duolingo.com/institutions</a>
            </li>
            <li>Free unlimited mock tests</li>
            <li>Scores are reported on a scale from 10 - 160</li>
            <li>
              You receive a certificate with the results and a detailed point
              system for each skill(reading,writing,etc).
              <a href="https://englishtest.duolingo.com/sample_certificate" target="_blank">
                englishtest.duolingo.com/sample_certificate
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 d-lg-block d-md-none d-none">
          <ng-lottie width="100%" height="100%" [options]="duolingo"></ng-lottie>
        </div>
      </div>
    </div>
    <div class="warning-msg mt-lg-4 pt-lg-3 mt-md-4 mt-2 mb-lg-4 mb-md-3 mb-0">
      <p>Depends on school</p>
      <p>Make sure to check with school</p>
    </div>
  </div>
  <div class="tab-pane fade active show" id="pills-fr" role="tabpanel" aria-labelledby="pills-fr-tab" tabindex="0">
    <h1 class="qyuestion">Where do you live ?</h1>
    <ul class="nav nav-pills row d-flex justify-content-center px-0 mb-3 child-list" id="pills-tab" role="tablist">
      <li class="nav-item col-6 ps-0" role="presentation">
        <button class="nav-link active" id="pills-inFrance-tab" data-bs-toggle="pill" data-bs-target="#pills-inFrance"
          type="button" role="tab" aria-controls="pills-inFrance" aria-selected="true">
          <img src="/assets/images/navigator/application/lang/paris-tower.svg" alt="paris-tower" />
          In France
        </button>
      </li>
      <li class="nav-item col-6 ps-0" role="presentation">
        <button class="nav-link" id="pills-outFrance-tab" data-bs-toggle="pill" data-bs-target="#pills-outFrance"
          type="button" role="tab" aria-controls="pills-outFrance" aria-selected="false">
          <img src="/assets/images/navigator/application/lang/foreign-country.svg" alt="paris-tower" />
          Outside France
        </button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-inFrance" role="tabpanel" aria-labelledby="pills-inFrance-tab"
        tabindex="0">
        <div class="warning-msg-single">
          <p class="fw-bold">Make sure to check with school</p>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-outFrance" role="tabpanel" aria-labelledby="pills-outFrance-tab"
        tabindex="0">
        <h3>What is your status ?</h3>
        <div class="accordion accordion-flush mt-lg-4 pt-lg-3 mt-md-4 mt-3" id="accordionFlushExample">
          <div class="accordion-item border-0">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                French high school bac (high school AEFE)
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">No need for the french test</div>
            </div>
          </div>

          <div class="accordion-item border-0">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                French nationality
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">No need for the french test</div>
            </div>
          </div>

          <div class="accordion-item border-0">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                List of countries don't need test
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="francophone-countries">
                  <p class="mb-lg-3 mb-md-2 mb-1">Francophone countries</p>
                  <div class="tags">
                    <p class="tag border">Benin</p>
                    <p class="tag border">Burkina Faso</p>
                    <p class="tag border">Congo-Brazzaville</p>
                    <p class="tag border">Ivory Coast</p>
                    <p class="tag border">Gabon</p>
                    <p class="tag border">Mali</p>
                    <p class="tag border">Niger</p>
                    <p class="tag border">Democratic Republic of the Congo</p>
                    <p class="tag border">Senegal</p>
                    <p class="tag border">Togo</p>
                  </div>
                </div>

                <div class="Countries-where-french">
                  <p class="mt-lg-3 mt-md-2 mt-1">
                    Countries where french is the official language
                  </p>
                  <p class="mb-lg-3 mb-md-2 mb-1" style="color: #ff5151;">
                    No need French test if only they studied in french
                  </p>
                  <div class="tags">
                    <p class="tag border">Burundi</p>
                    <p class="tag border">Canada</p>
                    <p class="tag border">Cameroon</p>
                    <p class="tag border">Central African Republic</p>
                    <p class="tag border">Comoros</p>
                    <p class="tag border">Djibouti</p>
                    <p class="tag border">Haiti</p>
                    <p class="tag border">Madagascar</p>
                    <p class="tag border">Mauritania</p>
                    <p class="tag border">Rwanda</p>
                    <p class="tag border">Seychelles</p>
                    <p class="tag border">Switzerland</p>
                    <p class="tag border">Chad</p>
                    <p class="tag border">Vanuatu</p>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="accordion-item border-0">
            <h2 class="accordion-header" id="flush-headingOther">
              <button class="accordion-button collapsed others-btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOther" aria-expanded="false" aria-controls="flush-collapseOther">
                Others
              </button>
            </h2>
            <div id="flush-collapseOther" class="accordion-collapse collapse" aria-labelledby="flush-headingOther"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body others-content">
                <div class="row">
                  <div class="headings">
                    <p>Need b2</p>
                    <p>3 types of tests</p>
                  </div>
                  <!-- mobile -->
                  <div class="d-lg-none d-md-none d-block px-0 mt-3">
                    <div class="other-title text-center">
                      <img src="/assets/images/navigator/application/lang/other-1.svg" alt="other-1" />
                      <p>TCF</p>
                    </div>
                    <div class="other-desc text-center">
                      <p>
                        A standardized test
                        <span>used to assess the French language proficiency of
                          non-native speakers.</span>
                        It is administered by the French Ministry of Education
                        and is widely
                        <span>accepted by French-speaking academic institutions
                          and employers</span>
                        as a measure of an individual's French language
                        skills.
                      </p>
                    </div>
                  </div>
                  <!-- web and tab -->
                  <div class="d-lg-block d-md-block d-none">
                    <div class="other d-flex align-items-center mt-lg-4 mt-md-3 mt-2">
                      <div class="other-title">
                        <img src="/assets/images/navigator/application/lang/other-1.svg" alt="other-1" />
                        <p>TCF</p>
                      </div>

                      <div class="other-desc ms-4 mt-lg-4 mt-md-3 mt-2">
                        <p>
                          A standardized test
                          <span>used to assess the French language proficiency of
                            non-native speakers.</span>
                          It is administered by the French Ministry of Education
                          and is widely
                          <span>accepted by French-speaking academic institutions
                            and employers</span>
                          as a measure of an individual's French language
                          skills.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- mobile -->
                <div class="d-lg-none d-md-none d-block px-0 mt-3">
                  <div class="other-title text-center">
                    <img src="/assets/images/navigator/application/lang/other-2.svg" alt="other-2" />
                    <p>Delf</p>
                  </div>

                  <div class="other-desc text-center">
                    <p>
                      A certification for
                      <span>French language proficiency awarded by the French
                        Ministry of Education,</span>
                      indicating a person's level of proficiency in the
                      French language
                      <span>based on standardized exams.</span>
                    </p>
                  </div>
                </div>
                <!-- web and tab -->
                <div class="d-lg-block d-md-block d-none">
                  <div class="row">
                    <div class="other d-flex align-items-center mt-lg-4 mt-md-3 mt-2">
                      <div class="other-title">
                        <img src="/assets/images/navigator/application/lang/other-2.svg" alt="other-2" />
                        <p>Delf</p>
                      </div>

                      <div class="other-desc ms-4">
                        <p>
                          A certification for
                          <span>French language proficiency awarded by the French
                            Ministry of Education,</span>
                          indicating a person's level of proficiency in the
                          French language
                          <span>based on standardized exams.</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- mobile -->
                <div class="d-lg-none d-md-none d-block px-0 mt-3">
                  <div class="other-title text-center">
                    <img src="/assets/images/navigator/application/lang/other-3.svg" alt="other-2" />
                    <p>Dalf</p>
                  </div>

                  <div class="other-desc text-center">
                    <p>
                      A high-level certification for French language
                      proficiency awarded by the French Ministry of
                      Education, indicating
                      <span>an advanced level of proficiency in the French
                        language based on standardized exams.</span>
                    </p>
                  </div>
                </div>
                <!-- web and tab -->
                <div class="d-lg-block d-md-block d-none">
                  <div class="row">
                    <div class="other d-flex align-items-center mt-lg-4 mt-md-3 mt-2">
                      <div class="other-title">
                        <img src="/assets/images/navigator/application/lang/other-3.svg" alt="other-2" />
                        <p>Dalf</p>
                      </div>

                      <div class="other-desc ms-4">
                        <p>
                          A high-level certification for French language
                          proficiency awarded by the French Ministry of
                          Education, indicating
                          <span>an advanced level of proficiency in the French
                            language based on standardized exams.</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>