section {
  background-image: url(../../../../../assets/images/login-pages/map-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  .content {
    margin-top: 52px;
    padding: 0 110px;
    img {
      height: 60px;
      margin-bottom: 20px;
    }
    .start {
      font: normal normal 600 20px Poppins;
      text-transform: capitalize;
      color: #fd8282;
      margin-bottom: 4px;
    }
    .description {
      font: normal normal 600 20px Poppins;
      margin-bottom: 20px;
    }
    .row {
      .btn-group {
        .google,
        .facebook {
          width: 200px;
          height: 47px;
          font: normal normal normal 14px Poppins;
          text-transform: capitalize;
          border: 2px solid #dedddd;
          border-radius: 8px;
          &:hover {
            border: 2px solid #6770f7;
          }
          &:focus {
            border: none;
            outline: none;
            box-shadow: none;
            background: #edeeff 0% 0% no-repeat padding-box;
          }
          .logo {
            width: 22px;
            height: 22px;
            margin: 0;
          }
          p {
            margin: 0;
            margin-left: 5px;
          }
        }
      }
    }
    .seperator {
      margin: 20px 0;
      hr {
        width: calc(100% / 2.2);
      }
      p {
        font: normal normal normal 18px Poppins;
        color: #8b8b8b;
        margin: 0;
      }
    }
    label {
      font: normal normal normal 14px Poppins;
      color: #bebebe;
      background-color: #fff;
      position: relative;
      top: -58px;
      right: -25px;
      padding: 0 20px;
      user-select: none;
      -webkit-user-select: none;
    }
    input,
    select,
    ngx-intl-tel-input {
      width: 100%;
      height: 47px;
      border: 2px solid #dedddd;
      border-radius: 8px;
      &:-webkit-autofill {
        -webkit-box-shadow: 200px 200px 100px white inset;
      }
      &:focus {
        &::placeholder {
          color: transparent;
        }
        outline: none;
        box-shadow: none;
        border: 2px solid #6770f7;
        -webkit-box-shadow: 200px 200px 100px white inset;
      }
      &:focus + label {
        color: #6770f7;
      }
    }
    ngx-intl-tel-input {
      border: none;
      &:focus {
        outline: none;
        box-shadow: none;
        border: 2px solid #6770f7;
        -webkit-box-shadow: 200px 200px 100px white inset;
      }
    }
    .iti {
      width: 100%;
    }
    .iti input[type="tel"] {
      padding-left: 50px;
    }
    mat-icon {
      cursor: pointer;
      position: relative;
      left: 91%;
      top: 40px;
    }
    .validation {
      color: #f66666;
    }
    .signUp {
      margin-top: 30px;
      width: 100%;
      height: 47px;
      button {
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #6f77f4 0%, #4751de 100%);
        border-radius: 8px;
        font: normal normal normal 18px Poppins;
        color: #ffffff;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .logIn {
      margin-top: 13px;
      font: normal normal normal 16px Poppins;
      color: #8b8b8b;
      a {
        font: normal normal 600 16px Poppins;
        color: #6f77f4;
      }
    }
  }
}
// @media only screen and(min-width: 1200px){
//     .content{
//         padding: 0 180px;
//     }
// }
@media only screen and (max-width: 1199.9px) and (min-width: 768px) {
  section {
    .content {
      padding: 0 210px;
      img {
        width: 172px;
        height: 32px;
      }
      .reset {
        // text-align: center;
        font: normal normal 600 18px Poppins;
        margin-bottom: 6.4px;
      }
      .description {
        // text-align: center;
        font: normal normal normal 16px Poppins;
        margin-bottom: 30px;
      }
      .send {
        margin-top: 46px;
        width: 100%;
        height: 47px;
        button {
          width: 100%;
          height: 100%;
          font: normal normal normal 18px Poppins;
        }
      }
    }
  }
}
@media only screen and (max-width: 767.9px) {
  section {
    .content {
      padding: 0 40px;
      img {
        width: 172px;
        height: 32px;
      }
      .reset {
        font: normal normal 600 18px Poppins;
        color: #fd8282;
        margin-bottom: 6.4px;
      }
      .description {
        font: normal normal normal 14px Poppins;
        margin-bottom: 25px;
      }
      label {
        font: normal normal normal 12px Poppins;
        top: -58px;
        right: -25px;
        padding: 0 10px;
      }
      input {
        font: normal normal normal 14px Poppins;
        width: 100%;
        height: 50px;
        border: 1px solid #dedddd;
        border-radius: 8px;
        &:-webkit-autofill {
          -webkit-box-shadow: 200px 200px 100px white inset;
        }
        &:focus {
          outline: none;
          box-shadow: none;
          border: 2px solid #6770f7;
          -webkit-box-shadow: 200px 200px 100px white inset;
        }
      }
    }
    .login {
      margin-top: 22px;
      button {
        font: normal normal normal 16px Poppins;
      }
    }
    .create {
      margin-top: 14px;
      font: normal normal normal 14px Poppins;
      color: #8b8b8b;
      a {
        font: normal normal 600 14px/23px Poppins;
      }
    }
  }
}
// .section-container{
//     background-color: var(--main-color);
//     .custom-row{
//         justify-content: flex-end;
//         >.img-holder{
//             img{
//                 height: 100%;
//                 object-fit: cover;
//             }
//         }
//         .login{
//             flex: 0 0 31%;
//             box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
//             background-color: #fff;
//             form{
//                 flex-direction: column;
//                 padding: 11px 41px 43px 41px;
//                 display: flex;
//                 text-align: center;
//                 >.img-holder{
//                     width: 256.8px;
//                     margin: auto;
//                 }
//                 .control{
//                     display: flex;
//                     flex-direction: column;
//                     text-align: left;
//                     margin: 5px 0;
//                     position: relative;
//                     .view{
//                         width: 15px;
//                         height: 15px;
//                         position: absolute;
//                         right: 4%;
//                         top: 59%;
//                         cursor: pointer;
//                     }
//                     .d-flex{
//                         gap: 30px;
//                         input{
//                             vertical-align: middle;
//                         }
//                     }
//                     &.row{
//                         margin: 0;
//                         flex-direction: row;
//                         justify-content: space-between;
//                         gap: 7px;
//                         div{
//                             display: flex;
//                             gap: 7px;
//                             input, label{
//                                 align-self: center;
//                             }
//                         }
//                         div, a{
//                             align-self: center;
//                         }
//                         label{
//                             font-size: 12px;
//                             letter-spacing: 0.2px;
//                             color: #abafb3;
//                             margin: 0;
//                             a{
//                                 color: #2290ff;
//                             }
//                         }
//                     }
//                     input, select{
//                         padding: 11px 16px 11px 14px;
//                         border: solid 1px #dddfe1;
//                         background-color: rgba(106, 112, 126, 0);
//                         font-size: 16px;
//                     }
//                     input{
//                         &::placeholder{
//                             font-size: 15px;
//                             letter-spacing: 0.22px;
//                             color: #abafb3;
//                         }
//                     }
//                     ::ng-deep {
//                         ngx-intl-tel-input{
//                             .iti{
//                                 padding: 7px 16px 7px 14px;
//                                 border: solid 1px #dddfe1;
//                                 background-color: rgba(106, 112, 126, 0);
//                                 font-size: 16px;
//                                 width: 100%;
//                                 .iti__flag-container{
//                                     left: 14px;
//                                 }
//                                 input{
//                                     border: none;
//                                     padding: 0 6px 0 52px;
//                                     &:focus{
//                                         box-shadow: none;
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                     label{
//                         margin-bottom: 5px;
//                         font-size: 16px;
//                         letter-spacing: 0.26px;
//                         color: #686e7c;
//                     }
//                     span.validation{
//                         font-size: 12px;
//                         letter-spacing: 0.32px;
//                         color: #f66666;
//                     }
//                 }
//                 .social{
//                     display: flex;
//                     justify-content: center;
//                     gap: 16px;
//                     flex-wrap: wrap;
//                     p{
//                         margin-bottom: 0;
//                         flex: 0 0 100%;
//                     }
//                     .img-holder{
//                         width: 40.8px;
//                         height: 40.8px;
//                         border-radius: 50%;
//                         img{
//                             height: 40.8px;
//                             border-radius: 50%;
//                         }
//                     }
//                 }
//                 p{
//                     margin-top: 26px;
//                     letter-spacing: 0.18px;
//                     text-align: center;
//                     color: #6a707e;
//                 }
//                 .btn-holder{
//                     margin-top: 23px;
//                     display: flex;
//                     justify-content: center;
//                     button{
//                         border: none;
//                         width: 60%;
//                         font-size: 15px;
//                         letter-spacing: 0.3px;
//                         color: #fff;
//                         margin: 6px 0;
//                         padding: 12.6px 13px 13.4px 13px;
//                         border-radius: 24px;
//                         background-color: #6f77f4;
//                     }
//                     button[disabled]{
//                         background-color:#b8c5cc;
//                     }
//                 }
//             }
//             >div{
//                 text-align: center;
//                 padding: 0 57px 43px 56px;
//                 p{
//                     font-size: 13px;
//                     letter-spacing: 0.22px;
//                     color: #abafb3;
//                     margin: 0;
//                     line-height: .5;
//                     a{
//                         display: inline-grid;
//                         color: var(--main-color);
//                         &::after{
//                             content: '';
//                             margin: 5px 0 0 5px;
//                             display: inline-block;
//                             width: 100%;
//                             height: 1px;
//                             background-color: var(--main-color);
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// .required {
//     color: red;
// }

// @media only screen and (max-width: 1050px) {
//     .section-container{
//         .custom-row{
//             >.img-holder{
//                 display: none;
//             }
//             .login{
//                 flex: 0 0 95%;
//                 margin: 41px auto;
//             }
//         }
//     }
// }
