<!-- Assets Section -->
<section class="assets-section pb-5">
    <div class="container-fluid mt-5">
        <div class="row justify-content-center my-5">
            <div class="main-title col-sm-12 text-center">
                <p class="mt-5">Assist Student in their quest to</p>
                <p>study aboard.</p>
            </div>
            <div class="sec-title col-sm-10 text-center mb-5">
                <p>StudentGator is an Edtech startup founded in 2019</p>
                <p>in international students to join the university of their dreams.</p>
            </div>
        </div>

        <div class="showcase-cards-container text-center mb-5">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-xl-2 col-md-5 col-sm-5 col-6">
                    <div class="card rec-1 mb-4">
                        <div class="d-flex flex-column justify-content-center align-items-center pt-2">
                            <p class="card-number pb-3" style="color: #16294f;">+500</p>
                            <p class="card-text mt-1 pt-3" style="color: #16294f;">Supported Students</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-2 col-md-5 col-sm-5 col-6">
                    <div class="card rec-2 mb-4">
                        <div class="d-flex flex-column justify-content-between align-items-center pt-2">
                            <p class="card-number pb-3" style="color: #f66666;">40</p>
                            <p class="card-text mt-1 pt-3" style="color: #f66666;">Nationalities</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-2 col-md-5 col-sm-5 col-6">
                    <div class="card rec-3 mb-4">
                        <div class="d-flex flex-column justify-content-between align-items-center pt-2">
                            <p class="card-number pb-3" style="color: #ffd13c;">10%</p>
                            <p class="card-text mt-1 pt-3" style="color: #ffd13c;">Scholarships Awarded</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-2 col-md-5 col-sm-5 col-6">
                    <div class="card rec-4 mb-4">
                        <div class="d-flex flex-column justify-content-between align-items-center pt-2">
                            <p class="card-number pb-3" style="color: #16294f;">+100</p>
                            <p class="card-text mt-1 pt-3" style="color: #16294f;">Partners</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Porpose section -->
<section id="porpose-section" class="bg-light pb-3">
    <div class="container-fluid pb-5 pt-3">
        <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="porpose-title col-lg-7 col-md-7 text-start py-3">
                <p>What Should I Stu<span class="line">dy</span></p>
            </div>
        </div>
        <div class="row"></div>
        <div class="row mx-auto col-lg-10 col-md-10 col-sm-12">
            <div class="propose-rec m-auto bg-white p-3">
                <div class="text-center">
                    <img class="d-md-none d-sm-block mx-auto" src="../../../../../assets/images/about-us/salah.png">
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <div class="gradient-rec d-flex flex-column justify-content-center py-4">
                            <p class="gradient-rec-content text-white px-3 pt-3">
                                “StudentGator is digital platform that will assist you in answering these critical
                                questions if you are planning to study abroad (France and UK).”
                            </p>
                            <p class="porpose-rec-title px-3 pt-md-1">Nicolas & salah <span>/ Founder and CEO
                                    StudentGator</span></p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-5 col-md-6">
                        <img class="w-lg-50 w-md-100 d-none d-md-block"
                            src="../../../../../assets/images/about-us/salah.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- help-section -->
<section id="help-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="help-section-title col-sm-8 text-start pt-5 pb-lg-5 pb-md-2 pb-3">
                <p>Things we Can Help You Wi<span class="line">th</span></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-1"></div>
            <div class="row col-lg-10 col-sm-10 justify-content-center">

                <div class="col-lg-6 col-md-12 d-block d-lg-none mb-4">
                    <div class="card" style="min-height: 100%;">
                        <img src="/assets/images/about-us/student-sm.png" class="card-img-top">
                        <div class="card-body">
                            <p class="text-uppercase pt-2">adminstrative</p>
                            <p class="card-text py-1">Once accepted, we follow up on all administrative matters : visa,
                                housing, CVEC, opening a bank account etc. </p>
                        </div>
                    </div>
                </div>

                <div class="md-card col-lg-5 col-sm-12">
                    <div class="card mb-4">
                        <img src="/assets/images/about-us/graduated.png" class="card-img-top">
                        <div class="card-body">
                            <p class="text-uppercase pt-2">recommendation</p>
                            <p class="card-text py-1">We assist students in searching for and applying to the
                                Universities that matches their unique profiles.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/assets/images/about-us/application.png" class="card-img-top">
                        <div class="card-body">
                            <p class="text-uppercase pt-2">application</p>
                            <p class="card-text py-1">We help you to create the best possible application by reviewing
                                each document with you.<br>
                                After validation of the first step of the application, we prepare you for the interview.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 d-none d-lg-block">
                    <div class="card" style="min-height: 100%;">
                        <img src="/assets/images/about-us/student.png" class="card-img-top">
                        <div class="card-body">
                            <p class="text-uppercase pt-2">adminstrative</p>
                            <p class="card-text py-1">Once accepted, we follow up on all administrative matters : visa,
                                housing, CVEC, opening a bank account etc. </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>

<section id="team-section">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="team-section-title col-sm-7 text-start py-3">
                <p>StudentGator's tea<span class="line">m</span></p>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-5">
        <div class="row justify-content-center">
            <div class="col-sm-11">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <img src="/assets/images/about-us/Nico.webp" srcset="../../../../../assets/images/about-us/Nico@2x.webp,
                        ../../../../../assets/images/about-us/Nico@3x.webp" class="d-block w-100 mb-3">
                        <div class="team-text text-center">
                            <p>Nicolas</p>
                            <p>Co-Founder</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="/assets/images/about-us/salah-bg.jpg" class="d-block w-100 mb-3 mb-3">
                        <div class="team-text text-center">
                            <p>Salah</p>
                            <p>Co-Founder</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide dotContent="content">
                        <img src="/assets/images/about-us/Omaima.webp" srcset="../../../../../assets/images/about-us/Omaima@2x.webp,
                        ../../../../../assets/images/about-us/Omaima@3x.webp" class="d-block w-100 mb-3">
                        <div class="team-text text-center">
                            <p>Oumaima El_Haddadi</p>
                            <p>Business Developer</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="/assets/images/about-us/Kay.webp" srcset="../../../../../assets/images/about-us/Kay@2x.webp,
                        ../../../../../assets/images/about-us/Kay@3x.webp" class="d-block w-100 mb-3">
                        <div class="team-text text-center">
                            <p>Kalpesh Nagori</p>
                            <p>Business Developer</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide dotContent="content">
                        <img src="/assets/images/about-us/Omaima.webp" srcset="../../../../../assets/images/about-us/Omaima@2x.webp,
                        ../../../../../assets/images/about-us/Omaima@3x.webp" class="d-block w-100 mb-3">
                        <div class="team-text text-center">
                            <p>Oumaima El_Haddadi</p>
                            <p>Business Developer</p>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<!-- story-section -->
<section id="story-sections">
    <div class="container-fluid mb-5">
        <div class="col-lg-12">
            <div class="row align-items-center">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-5 col-md-10 col-sm-12 story-content">
                    <h2>Our Sto<span class="line">ry</span></h2>
                    <p>Salah and Nicolas met while studying business in La Rochelle, France. Prior to that, they both
                        lived abroad, Salah in Egypt and Nicolas in Qatar.
                        They quickly understood the difficulty that international students face when they want to study
                        abroad. At the end of their studies,
                        they decided to join forces in order to solve this problem and to support future students. The
                        story begins in 2019 in Paris where they decided,
                        like a navigator looking for his promised land, to create StudentGator in order to allow
                        students to reach their dream school.
                    </p>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <div>
                        <img src="/assets/images/about-us/continued.png"
                            class="d-none d-lg-block d-xl-block d-xxl-block" style="height: 100%;">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1"></div>
            </div>
        </div>
    </div>
</section>