<td class="table-cell">{{ index + 1 }}</td>
<td class="student-status table-cell non-editable">
  <p class="m-0">
    {{ application.studensStatus }}
  </p>
</td>
<td class="student-name table-cell non-editable">
  <input
    type="text"
    value="{{ application.studentFullName }}"
    #nameInput
    readonly
    [ngStyle]="{
      width: (nameInput.value.length + 1) * 10.5 + 'px'
    }"
  />
</td>
<td class="student-school table-cell non-editable">
  <p class="m-0">
    {{ application.studentSchoolName }}
  </p>
</td>
<td class="student-program table-cell non-editable">
  <input
    type="text"
    value="{{ application.studentProgramName }}"
    #programInput
    readonly
    [ngStyle]="{
      'min-width': programInput.value.length + 5 + 'ch'
    }"
  />
</td>
<td class="student-fees non-editable table-cell non-editable">
  <input
    type="number"
    value="{{ application.schoolFee }}"
    #feesInput
    readonly
    [ngStyle]="{
      'min-width': feesInput.value.length + 5 + 'ch'
    }"
  />
</td>
<td class="student-assigned table-cell" *ngIf="mainLink === 'all-applications'">
  <p class="m-0">
    {{ application.studentEmpName }}
  </p>
</td>
<td class="student-nationality table-cell non-editable">
  <p class="m-0">
    {{ application.studentNationality }}
  </p>
</td>
<td class="student-email table-cell non-editable">
  <a
    class="d-flex align-items-center"
    (click)="goToProfile(emailInput, 'email')"
  >
    <i class="fas fa-envelope"></i>
    <input
      type="email"
      value="{{ application.studentEmail }}"
      #emailInput
      readonly
      [ngStyle]="{
        'min-width': emailInput.value.length + 5 + 'ch'
      }"
    />
  </a>
</td>
<td class="student-date non-editable table-cell">
  <input
    type="date"
    value="{{ getAppDate(application.appDateOfCreation) }}"
    #dateInput
    readonly
    [ngStyle]="{
      'min-width': dateInput.value.length + 5 + 'ch'
    }"
  />
</td>
<td class="student-phone table-cell non-editable">
  <a
    class="d-flex align-items-center"
    (click)="goToProfile(phoneInput, 'phone')"
  >
    <img
      src="../../../../../../../assets/images/employees/lead-visualisation/whats-app.svg"
      alt="what's-app"
    />
    <input
      type="tel"
      value="{{ application.studentPhone }}"
      #phoneInput
      readonly
      [ngStyle]="{
        'min-width': phoneInput.value.length + 5 + 'ch'
      }"
    />
  </a>
</td>
<td class="student-score text-center table-cell non-editable">
  <div class="d-flex justify-content-center">
    <div
      class="score-circle"
      [ngStyle]="{
        'background-color': getBGColor(application.studentScore)
      }"
    ></div>
  </div>
</td>
<td class="student-reminder d-flex justify-content-center table-cell">
  <div
    class="warning-container d-flex justify-content-center align-items-center"
    [ngStyle]="{ background: getReminders(application.reminders) }"
    title="{{ application.reminders }}"
  >
    <i class="fas fa-exclamation"></i>
  </div>
</td>
<td class="student-campus table-cell non-editable">
  <input
    type="text"
    value="{{ application.schoolCampus }}"
    #campusInput
    readonly
    [ngStyle]="{
      'min-width': campusInput.value.length + 5 + 'ch'
    }"
  />
</td>
<td
  class="actions d-flex justify-content-start align-items-center mt-2 table-cell"
>
  <button class="more-actions" [matMenuTriggerFor]="menu">
    <i class="fas fa-ellipsis-v"></i>
  </button>
  <!-- menu for more-actions -->
  <mat-menu #menu="matMenu">
    <!-- To delete assigned student -->
    <button mat-menu-item>
      <!-- (click)="deleteApp(application.studentUsername)" -->
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
</td>
