<section class="intro-section d-flex justify-content-center">
  <div class="row container">
    <div class="col-xl-8 col-md-6 col-12 main-first">
      <p class="intro-title">
        {{ "PROGRAM.Morethan" | translate }} <span>1000</span>
        {{ "PROGRAM.programs" | translate }} <br /><span>
          {{ "PROGRAM.in" | translate }} 80</span
        >
        {{ "PROGRAM.Schools" | translate }}
      </p>

      <p class="intro-desc">{{ "PROGRAM.headingDesc" | translate }}</p>
      <div class="row last-department">
        <div class="col-lg-4 col-md-12 col-2">
          <div
            class="d-flex w-100 d-lg-none d-block d-md-none justify-content-start align-items-start"
          >
            <button
              class="options btn"
              type=""
              (click)="openFilterScreen(); $event.preventDefault()"
            >
              <img
                src="../../../../../assets/images/programs/filter.svg"
                alt="Options"
              />
            </button>
          </div>
          <div class="viewPrograms d-lg-block d-md-block d-none">
            <a (click)="goDown()">
              <button class="pro-btn">
                {{ "PROGRAM.viewProg" | translate }}
                <i class="fas fa-angle-down"></i>
              </button>
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-10">
          <div>
            <form [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm)">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>{{ "PROGRAM.search" | translate }}</mat-label>
                <input
                  matInput
                  (keyup.enter)="onSubmit(filterForm)"
                  formControlName="search"
                />
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </form>
          </div>
        </div>
        <div class="col-12 d-lg-none d-md-none d-block">
          <mat-form-field
            class="select-categories cat-nav mt-lg-3 mt-md-3 mt-1 w-100"
            appearance="fill"
          >
            <div class="d-flex justify-content-between align-items-center">
              <mat-select
                formControlName="category"
                class="select"
                placeholder="Select Category"
                panelClass="panel"
                (selectionChange)="onSubmit(filterForm)"
              >
                <div *ngFor="let category of categories">
                  <mat-option value="{{ category[1] }}">
                    <div class="d-flex justify-content-between">
                      <img
                        src="../../../../../assets/images/programs/{{
                          category[0]
                        }}.svg"
                        alt="category[0]"
                        class="category-img w-100"
                      />
                      {{ category[0] }}
                    </div>
                  </mat-option>
                </div>
              </mat-select>
              <i class="fas fa-chevron-down"></i>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div></div>
    </div>
    <div class="col-xl-4 col-md-6 col-12 justify-content-end json-img">
      <ng-lottie
        width="100%"
        height="100%"
        containerClass="moving-box another-class"
        styles="animation"
        [options]="introAnimation"
      ></ng-lottie>
    </div>
  </div>
</section>

<!-- mobile screen -->
<section id="programs-container" class="programs-container container">
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm)">
    <div class="row">
      <div class="col-12 first-row">
        <div class="row">
          <div
            class="col-xl-2 col-md-3 col-2 d-lg-block d-md-block d-none all-reset"
          >
            <div
              class="justify-content-between align-items-center d-none d-md-flex"
            >
              <p class="sort-by f-bold">{{ "PROGRAM.sortBy" | translate }}</p>
              <button
                class="reset-btn btn d-none d-md-block"
                type="button"
                (click)="resetFilter()"
              >
                <p>
                  {{ "PROGRAM.reset" | translate }}
                  <i class="fas fa-undo-alt ms-1"></i>
                </p>
              </button>
            </div>
          </div>
          <div
            id="filterScreen"
            class="row d-block d-md-none"
            *ngIf="filterBox"
          >
            <div class="backdrop" (click)="closeFilterScreen()"></div>
            <div class="filter-box">
              <div
                class="close-btn btn d-flex justify-content-center align-items-center"
                (click)="closeFilterScreen()"
              >
                <i class="fas fa-times"></i>
              </div>
              <div class="d-flex justify-content-between align-items-end">
                <p class="sort-by">{{ "PROGRAM.sortBy" | translate }}</p>
                <button
                  class="reset-btn btn d-block d-md-none mt-lg-1 mb-3"
                  type="button"
                  (click)="resetFilter()"
                >
                  <div class="d-flex justify-content-center align-items-end">
                    <p>{{ "PROGRAM.reset" | translate }}</p>
                    <i class="fas fa-undo-alt ms-1"></i>
                  </div>
                </button>
              </div>
              <mat-form-field class="select-school w-100" appearance="fill">
                <div class="d-flex justify-content-between align-items-center">
                  <mat-select
                    formControlName="school"
                    (selectionChange)="onSubmit(filterForm)"
                    placeholder="Select School"
                  >
                    <mat-option value="None">{{
                      "PROGRAM.allSchools" | translate
                    }}</mat-option>
                    <mat-option
                      value="{{ school }}"
                      *ngFor="let school of oddLogos"
                    >
                      <div class="d-flex justify-content-between">
                        <div
                          class="d-flex justify-content-between align-items-center w-100"
                        >
                          <p class="m-0">
                            {{ school }}
                          </p>
                          <img
                            style="width: 15%"
                            src="https://studentgator.com/assets/images/schools/schools logos/{{
                              school
                            }}.png"
                            alt=""
                          />
                        </div>
                      </div>
                    </mat-option>
                  </mat-select>
                  <i class="fas fa-chevron-down"></i>
                </div>
              </mat-form-field>

              <mat-form-field class="select-city w-100" appearance="fill">
                <div class="d-flex justify-content-between align-items-center">
                  <mat-select
                    formControlName="city"
                    (selectionChange)="onSubmit(filterForm)"
                    class="select"
                    placeholder="Select City"
                  >
                    <mat-option value="None">{{
                      "PROGRAM.selectCity" | translate
                    }}</mat-option>
                    <mat-option
                      value="{{ city }}"
                      *ngFor="let city of oddCities"
                    >
                      {{ city }}
                    </mat-option>
                  </mat-select>
                  <i class="fas fa-chevron-down"></i>
                </div>
              </mat-form-field>

              <p class="language">{{ "PROGRAM.language" | translate }}</p>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group d-flex justify-content-between align-items-center"
                formControlName="language"
                (change)="onSubmit(filterForm)"
              >
                <mat-radio-button class="example-radio-button" value="None">{{
                  "PROGRAM.allLanguage" | translate
                }}</mat-radio-button>
                <mat-radio-button
                  class="example-radio-button"
                  value="english"
                  >{{ "PROGRAM.english" | translate }}</mat-radio-button
                >
                <mat-radio-button class="example-radio-button" value="french">{{
                  "PROGRAM.french" | translate
                }}</mat-radio-button>
              </mat-radio-group>

              <p class="badget">Price Budget</p>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group d-flex justify-content-start align-items-center"
                formControlName="budget"
                (change)="onSubmit(filterForm)"
              >
                <mat-radio-button class="example-radio-button" value="0">{{
                  "PROGRAM.hTol" | translate
                }}</mat-radio-button>
                <mat-radio-button
                  class="example-radio-button"
                  style="margin-left: 74px"
                  value="1"
                  >{{ "PROGRAM.lToh" | translate }}
                </mat-radio-button>
              </mat-radio-group>

              <p class="skill">{{ "PROGRAM.skillLevel" | translate }}</p>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group d-flex flex-wrap justify-content-between align-items-center"
                formControlName="skill"
                (change)="onSubmit(filterForm)"
              >
                <mat-radio-button class="example-radio-button" value="None"
                  >{{ "PROGRAM.allLevels" | translate }}({{ programsLength }})
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Bac"
                  >Bac
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Bac+1"
                  >Bac+1
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Bac+2"
                  >Bac+2</mat-radio-button
                >
                <mat-radio-button class="example-radio-button" value="Bac+3"
                  >Bac+3</mat-radio-button
                >
              </mat-radio-group>

              <button
                class="btn w-100 continue-btn"
                type="button"
                (click)="closeFilterScreen()"
              >
                <p class="text-center text-white m-0">
                  {{ "PROGRAM.continue" | translate }}
                </p>
              </button>
            </div>
          </div>
          <div class="col-xl-9 offset-1 col-md-8 d-lg-block d-md-block d-none">
            <p class="popular-title">
              {{ "PROGRAM.mostPopularPrograms" | translate }}
            </p>
            <p class="programs-number">
              {{ "PROGRAM.weFound" | translate }}
              {{ programsLength }}
              {{ "PROGRAM.programsAvilable" | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 second-row">
        <div class="row justify-content-between align-items-start w-100">
          <div class="col-xl-2 col-md-3 d-none d-md-block">
            <mat-form-field class="select-city" appearance="fill">
              <div class="d-flex align-items-center">
                <mat-select
                  formControlName="city"
                  (selectionChange)="onSubmit(filterForm)"
                  class="select"
                  placeholder="Select City"
                >
                  <mat-option value="None">{{
                    "PROGRAM.selectCity" | translate
                  }}</mat-option>
                  <mat-option value="{{ city }}" *ngFor="let city of oddCities">
                    {{ city }}
                  </mat-option>
                </mat-select>
                <i class="fas fa-chevron-down"></i>
              </div>
            </mat-form-field>
          </div>
          <div class="col-xl-9 offset-1 col-md-8 col-12">
            <div class="row">
              <div class="col-xl-8 col-md-6 col-12 d-none d-md-block">
                <mat-form-field
                  class="select-categories w-100"
                  appearance="fill"
                >
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <mat-select
                      formControlName="category"
                      class="select"
                      placeholder="Select Category"
                      panelClass="panel"
                      (selectionChange)="onSubmit(filterForm)"
                    >
                      <div *ngFor="let category of categories">
                        <mat-option value="{{ category[1] }}">
                          <div class="d-flex justify-content-between">
                            <img
                              src="../../../../../assets/images/programs/{{
                                category[0]
                              }}.svg"
                              [alt]="category[0]"
                              class="category-img"
                              style="width: 4%"
                            />
                            {{ category[0] }}
                          </div>
                        </mat-option>
                      </div>
                    </mat-select>
                    <i class="fas fa-chevron-down"></i>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-xl-4 col-6 pe-0 d-none d-md-block pe-lg-3">
                <mat-form-field class="select-school w-100" appearance="fill">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <mat-select
                      formControlName="school"
                      (selectionChange)="onSubmit(filterForm)"
                      placeholder="Select School"
                    >
                      <mat-option value="None">{{
                        "PROGRAM.allSchools" | translate
                      }}</mat-option>
                      <mat-option
                        value="{{ school }}"
                        *ngFor="let school of oddLogos"
                      >
                        <div class="d-flex justify-content-between">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <p class="m-0">
                              {{ school.substr(0, 27) }}
                            </p>
                            <img
                              style="width: 15%"
                              src="https://studentgator.com/assets/images/schools/schools logos/{{
                                school
                              }}.png"
                              alt=""
                            />
                          </div>
                        </div>
                      </mat-option>
                    </mat-select>
                    <i class="fas fa-chevron-down"></i>
                  </div>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 third-row">
        <div class="row d-flex justify-content-between">
          <div class="col-xl-2 col-md-3 d-none d-md-block">
            <p class="language ps-lg-2 ps-md-3">
              {{ "PROGRAM.language" | translate }}
            </p>
            <p class="line ps-lg-2 ps-md-3"></p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group d-flex flex-column justify-content-center ps-lg-2 ps-md-3"
              formControlName="language"
              (change)="onSubmit(filterForm)"
            >
              <mat-radio-button class="example-radio-button" value="None">{{
                "PROGRAM.allLanguage" | translate
              }}</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="english">{{
                "PROGRAM.english" | translate
              }}</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="french">{{
                "PROGRAM.french" | translate
              }}</mat-radio-button>
            </mat-radio-group>

            <p class="badget ps-lg-2 ps-md-3">
              {{ "PROGRAM.priceBudget" | translate }}
            </p>
            <p class="line ps-lg-2 ps-md-3"></p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group d-flex flex-column justify-content-center ps-lg-2 ps-md-3"
              formControlName="budget"
              (change)="onSubmit(filterForm)"
            >
              <mat-radio-button class="example-radio-button" value="0">{{
                "PROGRAM.hTol" | translate
              }}</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="1">{{
                "PROGRAM.lToh" | translate
              }}</mat-radio-button>
            </mat-radio-group>

            <p class="skill ps-lg-2 ps-md-3">
              {{ "PROGRAM.skillLevel" | translate }}
            </p>
            <p class="line ps-lg-2 ps-md-3"></p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group d-flex flex-column justify-content-center ps-lg-2 ps-md-3"
              formControlName="skill"
              (change)="onSubmit(filterForm)"
            >
              <mat-radio-button class="example-radio-button" value="None"
                >{{ "PROGRAM.allLevels" | translate }}({{ programsLength }})
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" value="Bac"
                >Bac
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" value="Bac+1"
                >Bac+1
              </mat-radio-button>

              <mat-radio-button class="example-radio-button" value="Bac+2"
                >Bac+2</mat-radio-button
              >

              <mat-radio-button class="example-radio-button" value="Bac+3"
                >Bac+3</mat-radio-button
              >

              <mat-radio-button class="example-radio-button" value="Bac+4"
                >Bac+4</mat-radio-button
              >

              <mat-radio-button class="example-radio-button" value="Bac+5"
                >Bac+5</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <div class="col-xl-9 container col-md-8 col-12">
            <div class="row text-center mt-5" *ngIf="isLoading">
              <app-spinner></app-spinner>
            </div>
            <div class="text-center">
              <img
                class="mt-5 w-50 mb-5"
                src="../../../../../assets/images/programs/not found.svg"
                alt="Programs Not Found"
                *ngIf="serverError"
              />
            </div>
            <div
              class="d-flex flex-column justify-content-center align-items-center"
              *ngIf="noProgramsFound"
            >
              <ng-lottie
                width="100%"
                height="100%"
                containerClass="moving-box another-class"
                styles="animation"
                [options]="emptyFilterAnimation"
              ></ng-lottie>
              <p class="noProgramsFound mb-5">
                {{ "PROGRAM.noProgramsFound" | translate }}
              </p>
            </div>

            <div class="row justify-content-lg-end" id="loading-container">
              <div
                class="main-card row mt-0"
                *ngFor="
                  let program of programs
                    | slice : (page - 1) * pageSize : page * pageSize;
                  let i = index
                "
              >
                <div class="col-lg-9 col-md-12 col-12 card-design">
                  <div class="d-flex">
                    <div class="con-img">
                      <img
                        class="w-100"
                        src="https://studentgator.com/assets/images/schools/schools logos/{{
                          program.logo
                        }}.png"
                        alt=""
                      />
                    </div>
                    <div class="card-text">
                      <div class="d-flex pt-lg-4 pt-md-3 pt-2">
                        <div>
                          <div class="d-flex pb-lg-1">
                            <div>
                              <p class="card-category pb-lg-0 mb-lg-0 mb-md-1">
                                {{ program.category | shorten : 25 }}
                              </p>
                            </div>
                            <div>
                              <p
                                class="card-fee mb-0 d-lg-block d-md-block d-none"
                              >
                                € {{ program.fee }}
                              </p>
                            </div>
                          </div>
                          <p class="card-name pb-0 mb-0 mt-lg-0">
                            {{ program?.progName | shorten : 40 }}
                          </p>
                        </div>
                      </div>

                      <p
                        class="card-school pb-0 mb-1 mt-lg-0 mt-md-0 mt-1 d-lg-block d-md-block d-none"
                      >
                        {{ program.schoolName }}
                      </p>
                      <div class="card-info d-flex pt-lg-1 pt-md-1">
                        <div class="d-flex align-items-center flex-text">
                          <i
                            class="fas fa-calendar icons d-md-block d-none"
                          ></i>
                          <p
                            style="color: gray; display: contents"
                            class="icon-text"
                          >
                            {{ program.start_date }}
                          </p>
                        </div>
                        <span class="ps-lg-2 ps-md-2 ps-1">|</span>
                        <div class="d-flex align-items-center flex-text ps-1">
                          <i class="fas fa-globe icons d-md-block d-none"></i>
                          <p
                            style="color: gray; display: contents"
                            class="icon-text"
                          >
                            {{ program.lang }}
                          </p>
                        </div>
                        <span class="ps-lg-2 ps-md-2 ps-1">|</span>
                        <div class="d-flex align-items-center flex-text ps-1">
                          <i
                            class="fas fa-stopwatch icons d-md-block d-none"
                          ></i>
                          <p
                            style="color: gray; display: contents"
                            class="icon-text"
                          >
                            {{ program.lenght }} Year
                          </p>
                        </div>
                        <span class="ps-1 d-lg-none d-md-none d-block">|</span>
                        <div
                          class="d-flex flex-text ps-1 d-lg-none d-md-none d-block"
                        >
                          <p
                            style="display: contents; color: gray"
                            class="icon-text"
                          >
                            € {{ program.fee }}
                          </p>
                        </div>
                      </div>

                      <div class="row card-info pt-lg-1">
                        <div class="col-10">
                          <div class="d-flex flex-text">
                            <i
                              class="fas fa-map-marker-alt icons d-md-block d-none"
                            ></i>
                            <p class="icon-text">
                              {{ program.city | shorten : 9 }}
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex card-end d-lg-none">
                        <div class="start-app">
                          <p
                            (click)="checkLogin(program.progName, program.id)"
                            class="card-priceres d-lg-none d-md-block d-block"
                          >
                            Apply
                          </p>
                        </div>
                        <div class="fav-ico">
                          <button
                            style="border: none"
                            i-button
                            (click)="
                              $event.preventDefault();
                              $event.stopPropagation();
                              addToWishlist(program.id)
                            "
                            class="like"
                          >
                            <i
                              *ngIf="!isFav[program.id]"
                              class="fas fa-heart white-wishlist"
                            ></i>
                            <i
                              *ngIf="isFav[program.id]"
                              class="fas fa-heart wishlist"
                            ></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex card-end d-lg-none d-md-none d-none">
                    <div class="start-app">
                      <p
                        (click)="checkLogin(program.progName, program.id)"
                        class="card-priceres d-lg-none d-md-block d-block"
                      >
                        {{ "PROGRAM.apply" | translate }}
                      </p>
                    </div>
                    <div class="fav-ico">
                      <button
                        style="border: none"
                        i-button
                        (click)="
                          $event.preventDefault();
                          $event.stopPropagation();
                          addToWishlist(program.id)
                        "
                        class="like"
                      >
                        <i
                          *ngIf="!isFav[program.id]"
                          class="fas fa-heart white-wishlist"
                        ></i>
                        <i
                          *ngIf="isFav[program.id]"
                          class="fas fa-heart wishlist"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div
                  class="col-lg-3 col-md-2 col-2 d-lg-block d-md-none d-none"
                >
                  <div
                    class="d-flex pt-lg-4 pt-md-4 pt-3 justify-content-end card-end"
                  >
                    <div class="start-app">
                      <p
                        (click)="checkLogin(program.progName, program.id)"
                        class="card-priceres d-lg-none d-md-block d-block"
                      >
                        {{ "PROGRAM.apply" | translate }}
                      </p>
                      <p
                        (click)="checkLogin(program.progName, program.id)"
                        class="card-priceres px-2 d-lg-block d-md-none d-none"
                      >
                        {{ "PROGRAM.startApplication" | translate }}
                      </p>
                    </div>

                    <div class="fav-ico">
                      <button
                        style="border: none"
                        i-button
                        (click)="
                          $event.preventDefault();
                          $event.stopPropagation();
                          addToWishlist(program.id)
                        "
                        class="like"
                      >
                        <i
                          *ngIf="!isFav[program.id]"
                          class="fas fa-heart white-wishlist"
                        ></i>
                        <i
                          *ngIf="isFav[program.id]"
                          class="fas fa-heart wishlist"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <ngb-pagination
                [collectionSize]="programs.length"
                [(page)]="page"
                [pageSize]="pageSize"
                [maxSize]="4"
                [ellipses]="true"
                class="d-flex justify-content-center"
                *ngIf="programs.length != 0"
              ></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
