p,
h1,
h2,
h3,
h4,
h5,
input {
  font-family: Poppins !important;
}
.mat-input-element::placeholder {
  font-size: 17px;
  font-family: Poppins !important;
  align-items: center;
  display: flex;
}
.mat-icon {
  color: #6c6c6c;
}

.intro-section {
  background: transparent
    linear-gradient(
      113deg,
      rgba(111, 119, 244, 0.08),
      rgba(253, 130, 130, 0.08)
    )
    no-repeat padding-box;
  padding: 0;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .container {
    padding: 40px 70px;

    .main-first {
      order: 0;
      padding: 30px 0px 50px 0px;
    }

    .json-img {
      order: 1;
    }

    .intro-title {
      font: normal normal 600 40px/55px Poppins;
      letter-spacing: 0px;
      // color: #323232;
      color: #000000;
      text-align: left;

      span {
        font: normal normal 700 40px/55px Poppins;
      }
    }

    .intro-desc {
      padding-top: 11px;
      font: normal normal medium 20px/33px Poppins;
      letter-spacing: 0px;
      // color: #555454;
      color: #6c6c6c;
      text-align: left;
      font-size: 15.4px;
    }

    .last-department {
      margin-top: 38px;
    }

    .pro-btn {
      height: 60px;
      background: transparent linear-gradient(180deg, #ff5151 0%, #6f77f4 100%)
        0% 0% no-repeat padding-box;
      border-radius: 8px;
      font: normal normal 600 20px/30px Poppins;
      color: #fff;
      border: none;
      padding: 0px 15px;

      &:hover {
        background: transparent
          linear-gradient(180deg, #ff5151 0%, #6f77f4 120%) 0% 0% no-repeat
          padding-box;
      }
    }

    .options {
      height: 45px;
      background: #6f77f4;
      border-radius: 3px;
      display: inline-block;

      img {
        width: 26px;
        height: 23px;
      }
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: white;
      height: 60px;
      border: none !important;
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}

.programs-container {
  .popular-title {
    padding-top: 25px;
    margin-bottom: 0;
    padding-bottom: 0px;
    font: normal normal 600 40px/75px Poppins;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
  }

  .programs-number {
    margin-top: 0px;
    font: normal normal medium 24px/35px Poppins;
    letter-spacing: 0px;
    // color: #555454;
    color: #6c6c6c;
    font-size: 20px;
  }

  .first-row {
    .all-reset {
      padding-top: 57px;
    }

    .sort-by {
      font: normal normal 600 24px/75px Poppins;
      letter-spacing: 0px;
      color: #000000;
      margin: 0;
    }

    .reset-btn {
      background: #edeeff 0% 0% no-repeat padding-box;
      border-radius: 5px;
      font: normal normal normal 14px/21px Poppins;
      color: #373b79;
      text-transform: capitalize;
      height: 100%;

      p {
        margin: 0;
        font-size: 12px;
      }
    }

    .mat-form-field-underline {
      display: none;
    }

    .select-program {
      display: inline-block;
      color: #ff5151;

      .fas {
        font-size: 20px;
      }

      .mat-select-arrow {
        border: 0;
      }

      .select {
        margin-left: 10px;
      }

      .mat-select-value {
        padding-left: 10px;
        font-size: 20px;
        text-align: center;
        color: #ff5151;
        text-align: left;
      }

      .mat-select-panel {
        background: black;
      }

      .mat-form-field-infix {
        padding-bottom: 18px;
      }

      .mat-form-field-underline {
        display: none;
      }
    }
  }

  .second-row {
    .select-city {
      display: inline;

      .fas {
        font-size: 14px;
        color: #000000;
      }

      .mat-select-arrow {
        border: 0;
      }

      .mat-select-placeholder {
        color: #000;
      }

      .mat-select-value {
        font: normal normal medium 18px/35px Poppins;
        letter-spacing: 0px;
        color: #000000;
      }

      .mat-form-field-flex {
        border-radius: 5px !important;
        background-color: #fff;
        border: 1px solid rgba(206, 202, 202, 0.685);
        padding: 5px 6px;
      }

      .mat-form-field-underline {
        display: none;
      }
    }

    .select-categories {
      mat-option {
        font: normal normal medium 18px/35px Poppins;
      }

      .fas {
        font-size: 18px;
      }

      .mat-select-arrow {
        border: 0;
      }

      .mat-select-placeholder {
        color: #000;
      }

      .mat-select-value {
        font-size: 18px;
      }

      .mat-form-field-flex {
        border-radius: 5px !important;
        padding: 5px 25px;
      }

      .mat-form-field-underline {
        display: none;
      }
    }

    .select-school {
      .fas {
        font-size: 18px;
      }

      .mat-select-arrow {
        border: 0;
      }

      .mat-select-placeholder {
        color: #000;
      }

      .mat-select-value {
        font-size: 18px;
      }

      .mat-form-field-flex {
        border-radius: 5px !important;
        padding: 5px 25px;
      }

      .mat-form-field-underline {
        display: none;
      }
    }
  }

  .third-row {
    margin-top: 16px;

    .language {
      margin-bottom: 16.5px;
      font: normal normal 600 18px/27px Poppins;
      color: #6f77f4;
    }

    .line {
      border: 1px solid #6f77f4;
      width: 100%;
      height: 0px;
    }

    .badget {
      margin-top: 130px;
      font: normal normal 600 18px/27px Poppins;
      color: #6f77f4;
    }

    .skill {
      margin-top: 130px;
      font: normal normal 600 18px/27px Poppins;
      color: #6f77f4;
    }

    .mat-radio-outer-circle {
      border: 2px solid #6f77f4;
    }

    .mat-radio-button.mat-accent .mat-radio-inner-circle {
      background: transparent linear-gradient(142deg, #ff5151 0%, #6f77f4 100%)
        0% 0% no-repeat padding-box;
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
      background: transparent linear-gradient(142deg, #ff5151 0%, #6f77f4 100%)
        0% 0% no-repeat padding-box;
      border: 0.1px solid transparent;
    }

    .mat-radio-label-content {
      margin-left: 32px;
    }

    mat-radio-button {
      font: normal normal normal 16px/25px Poppins;
    }

    mat-radio-button:nth-child(1) {
      margin-top: 40.5px;
    }

    mat-radio-button:nth-child(2) {
      margin-top: 24px;
    }

    mat-radio-button:nth-child(3) {
      margin-top: 24px;
    }

    mat-radio-button:nth-child(4) {
      margin-top: 24px;
    }

    mat-radio-button:nth-child(5) {
      margin-top: 24px;
    }

    mat-radio-button:nth-child(6) {
      margin-top: 24px;
    }

    mat-radio-button:nth-child(7) {
      margin-top: 24px;
    }

    .noProgramsFound {
      font: normal normal 600 30px/27px Poppins;
      color: #6f77f4;
    }

    #loading-container {
      padding-left: 40px;
      padding-right: 2px;

      .main-card {
        min-height: 171px;
        margin-bottom: 37.23px;
        background: #f6f6f6 0% 0% no-repeat padding-box;

        .card-design {
          .con-img {
            background: #ffffff 0% 0% no-repeat padding-box;
            border: 1px solid #cacaca;
            border-radius: 8px;
            margin-top: -20px;
            height: 114px;
            width: 114px;
            text-align: center;
            align-items: center;
            display: flex;

            img {
              width: 100%;
              display: flex;
              align-items: center;
              margin: auto;
              padding: 0px 3px;
            }
          }

          .card-text {
            padding-left: 26.5px;

            .card-category {
              font: normal normal normal 12px/18px Poppins;
              letter-spacing: 0px;
              // color: #5e5e5e;
              color: #6c6c6c;
              text-transform: capitalize;
              border: 2px solid #6f77f4;
              border-radius: 7px;
              display: inline-block;
              padding: 1px 9px;
            }

            .card-fee {
              background: #6f77f4 0% 0% no-repeat padding-box;
              border-radius: 7px;
              text-align: center;
              font: normal normal bold 12px/18px Poppins;
              letter-spacing: 0px;
              color: #ffffff;
              padding: 3px 7px;
              margin-left: 10px;
            }

            .card-name {
              font: normal normal 600 16px/25px Poppins;
              font-weight: bold;
              letter-spacing: 0px;
              color: #000000;
            }

            .card-school {
              font: normal normal normal 12px/15px Poppins;
              letter-spacing: 0px;
              color: #444444;
            }

            .card-details {
              font: normal normal 300 10px/13px Poppins;
              letter-spacing: 0px;
              color: #555454;
            }

            .card-info {
              .flex-text {
                .icons {
                  font-size: 12px;
                  padding-top: 2.5px;
                  padding-right: 7px;
                  text-decoration-color: #6f77f4;
                  color: #f6f6f6;
                  text-shadow: -1px 0 #6f77f4, 0 1px #6f77f4, 1px 0 #6f77f4,
                    0 -1px #6f77f4;
                }

                .icon-text {
                  font: normal normal 500 12px/18px Poppins;
                  letter-spacing: 0px;
                  // color: #5e5e5e;
                  color: #6c6c6c;
                }
              }

              span {
                color: #6f77f4;
              }
            }
          }
        }

        .card-end {
          display: inline;

          .start-app {
            margin-right: 6px;
          }

          p {
            background: transparent
              linear-gradient(90deg, #fd8282 0%, #6f77f4 100%) 0% 0% no-repeat
              padding-box;
            border-radius: 5px;
            text-align: center;
            font: normal normal bold 10.5px/25px Poppins;
            letter-spacing: 0px;
            color: #ffffff;
            display: inline-block;
            padding-top: 4px;
            padding-bottom: 4px;
            cursor: pointer;
          }

          .fav-ico {
            i {
              font-size: 17px;
              display: inline-block;
              padding: 5.5px 7.6px;
              border: 2px solid #7576ed;
              border-radius: 5px;
              text-decoration-color: #6f77f4;
              color: #f6f6f6;
              text-shadow: -1px 0 #6f77f4, 0 1px #6f77f4, 1px 0 #6f77f4,
                0 -1px #6f77f4;
            }

            .white-wishlist {
              color: #f6f6f6;
            }

            .wishlist {
              color: red;
              text-shadow: none;
            }
          }
        }
      }
    }

    ngb-pagination {
      margin-top: 20px;
      margin-bottom: 90px;

      .page-item.active .page-link {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #f66666 0% 0% no-repeat padding-box;
        border-color: #f66666;
        color: #fff;
      }

      .page-item .page-link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        font: normal normal 600 18px/27px Poppins;
        color: #bebebe;
        border: 1px solid #bebebe;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .intro-section {
    .container {
      padding: 0px 16px;

      .main-first {
        padding: 0px;
      }

      .intro-title {
        margin-top: 99px;
        font: normal normal 600 20px/30px Poppins;
        text-align: left;

        span {
          font: normal normal bold 25px Poppins;
        }
      }

      .intro-desc {
        margin-top: 18px;
        font: normal normal medium 12px/20px Poppins;
        text-align: left;
      }

      .viewPrograms {
        margin-bottom: 18px;
      }

      button {
        width: 100%;
        height: 45px;
        font: normal normal 600 16px/25px Poppins;
      }
    }
  }

  .programs-container {
    .popular-title {
      margin-top: 0px;
      padding-top: 0px;
      font: normal normal 600 30px Poppins;
    }

    .programs-number {
      font: normal normal 400 20px Poppins;
    }

    .first-row {
      .all-reset {
        padding-left: 15px;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
      }

      .sort-by {
        font: normal normal 600 15px Poppins;
      }

      .reset-btn {
        font: normal normal normal 14px Poppins;

        p {
          margin: 0;
        }
      }
    }

    .second-row {
      .select-city {
        display: inline;
        padding-top: 0px;
        margin-top: 0px;

        .fas {
          font-size: 16px;
        }

        .mat-select-arrow {
          border: 0;
        }

        .mat-select-placeholder {
          color: #000;
        }

        .mat-select-value {
          font-size: 16px;
        }

        .mat-form-field-flex {
          border-radius: 5px !important;
          background-color: #fff;
          padding: 0 10px;
        }

        .mat-form-field-underline {
          display: none;
        }
      }

      .select-categories {
        mat-option {
          font: normal normal large 16px Poppins;
        }

        .fas {
          font-size: 16px;
        }

        .mat-select-arrow {
          border: 0;
        }

        .mat-select-placeholder {
          color: #000;
        }

        .mat-select-value {
          font-size: 16px;
        }

        .mat-form-field-flex {
          border-radius: 5px !important;
          padding: 0 30px;
        }

        .mat-form-field-underline {
          display: none;
        }
      }

      .select-school {
        .fas {
          font-size: 16px;
        }

        .mat-select-arrow {
          border: 0;
        }

        .mat-select-placeholder {
          color: #000;
        }

        .mat-select-value {
          font-size: 16px;
        }

        .mat-form-field-flex {
          border-radius: 5px !important;
          padding: 0 30px;
        }

        .mat-form-field-underline {
          display: none;
        }
      }
    }

    .third-row {
      .main-card {
        .card-text {
          .card-category {
            margin-bottom: 2px;
          }

          .card-info {
            .icon-text {
              font: normal normal 600 8px/12px Poppins;
            }
          }
        }

        .card-end {
          .fav-ico {
            i {
              padding: 3px;
              font-size: 14px;
            }
          }
        }
      }

      .filter-box {
        .badget {
          margin-top: 98px;
        }

        .skill {
          margin-top: 98px;
        }
      }

      .program-col {
        a {
          width: 100%;
          height: 460px;

          mat-card {
            .sale {
              width: 141px;
              height: 23px;
              top: 25px;
              right: 25px;

              p {
                font: normal normal 300 12px/18px Poppins;
              }
            }

            img {
              height: 150px;
            }

            .price {
              width: 91px;
              height: 37px;
              top: 160px;
              right: 25px;

              p {
                font: normal normal bold 14px/25px Poppins;
              }
            }

            .program-title {
              font: normal normal 600 14px Poppins;
            }

            .program-name {
              p {
                font: normal normal normal 13px Poppins;
              }
            }

            .program-description {
              font: normal normal 300 12px/16px Poppins;
            }

            .school-name {
              margin-top: 15px;
              margin-bottom: 10px;

              img {
                width: 44px;
                height: 22px;
              }

              p {
                font: normal normal normal 13px Poppins;
              }
            }

            .info {
              .first-info {
                font: normal normal 300 13px Poppins;

                p {
                  margin: 0 5px;
                }
              }

              .second-info {
                font: normal normal 300 13px Poppins;
              }
            }
          }
        }
      }

      ngb-pagination {
        margin-top: 20px;
        margin-bottom: 55px;

        .page-item.active .page-link {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background: #f66666 0% 0% no-repeat padding-box;
          border-color: #f66666;
          color: #fff;
        }

        .page-item .page-link {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 7px;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background: #fff;
          font: normal normal 600 15px/23px Poppins;
          color: #bebebe;
          border: 1px solid #bebebe;
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 767.9px) {
  .mat-input-element::placeholder {
    font-size: 14px;
    font-family: Poppins !important;
    align-items: center;
    display: flex;
  }
  .container {
    width: 370px !important;
  }

  .intro-section {
    .container {
      div:nth-child(1) {
        justify-content: center;
      }

      .intro-title {
        margin-top: 13px;
        font: normal normal bold 20px/30px Poppins;
        text-align: center;

        span {
          font: normal normal bold 20px Poppins;
        }
      }

      .intro-desc {
        font: normal normal medium 12px/20px Poppins;
      }

      .cat-nav {
        margin-left: 1px;
      }

      .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: white;
        height: 48px;
        padding-top: 4px;
        border: none;
        border-radius: 4px;
      }

      .mat-select-arrow {
        border: none;
      }

      .intro-desc {
        margin-top: 4px;
        font: normal normal medium 16px/25px Poppins;
        text-align: center;
      }

      .viewPrograms {
        margin-bottom: 93px;
        margin-top: 32px;
      }

      button {
        height: 38px;
        font: normal normal 600 13px/20px Poppins;
      }

      .search-input {
        // height: 48px;
        margin-left: 7px;
        padding-left: 6px;
      }
    }
  }

  .programs-container {
    .popular-title {
      margin-top: 45px;
      font: normal normal 600 20px Poppins;
      text-align: center;
    }

    .programs-number {
      margin-top: 4px;
      font: normal normal 400 16px Poppins;
      text-align: center;
    }

    .first-row {
      margin-top: 21px;

      .sort-by {
        font: normal normal 600 20px Poppins;
        text-transform: capitalize;
        margin: 0;
      }

      .reset-btn {
        background: #edeeff 0% 0% no-repeat padding-box;
        border-radius: 5px;
        font: normal normal normal 14px/21px Poppins;
        color: #373b79;
        text-transform: capitalize;

        p {
          margin: 0;
        }
      }

      .options {
        height: 45px;
        background: #6f77f4;
        border-radius: 3px;

        img {
          width: 26px;
          height: 23px;
        }
      }

      #filterScreen {
        .backdrop {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background: rgba(0, 0, 0, 0.5);
          z-index: 50;
        }

        .filter-box {
          position: fixed;
          top: 10vh;
          left: 0;
          width: 100vw;
          height: 90vh;
          background: #ffffff 0% 0% no-repeat padding-box;
          z-index: 100;

          .close-btn {
            position: absolute;
            width: 51px;
            height: 51px;
            top: -25px;
            border-radius: 50%;
            background: #ffffff 0% 0% no-repeat padding-box;
            color: #6f77f4;
            font-size: 20px;
          }

          .sort-by {
            font: normal normal 600 20px/75px Poppins;
            text-transform: capitalize;
          }

          .select-school {
            .fas {
              font-size: 16px;
            }

            .mat-select-arrow {
              border: 0;
            }

            .mat-select-placeholder {
              color: #000;
            }

            .mat-select-value {
              font-size: 16px;
            }

            .mat-form-field-flex {
              border-radius: 5px !important;
              padding: 0 15px;
            }

            .mat-form-field-underline {
              display: none;
            }
          }

          .select-city {
            .fas {
              font-size: 16px;
            }

            .mat-select-arrow {
              border: 0;
            }

            .mat-select-placeholder {
              color: #000;
            }

            .mat-select-value {
              font-size: 16px;
            }

            .mat-form-field-flex {
              border-radius: 5px !important;
              padding: 0 15px;
            }

            .mat-form-field-underline {
              display: none;
            }
          }

          .mat-radio-outer-circle {
            border: 2px solid #6f77f4;
          }

          .mat-radio-button.mat-accent .mat-radio-inner-circle {
            background: transparent
              linear-gradient(142deg, #ff5151 0%, #6f77f4 100%) 0% 0% no-repeat
              padding-box;
          }

          .mat-radio-button.mat-accent.mat-radio-checked
            .mat-radio-outer-circle {
            background: transparent
              linear-gradient(142deg, #ff5151 0%, #6f77f4 100%) 0% 0% no-repeat
              padding-box;
            border: 0.1px solid transparent;
          }

          .mat-radio-label-content {
            margin-left: 5px;
            padding: 0;
          }

          mat-radio-button {
            font: normal normal normal 12px/18px Poppins;
            color: #8b8b8b;
            margin-bottom: 10px;
          }

          .language {
            margin-top: 30px;
            margin-bottom: 10px;
            font: normal normal medium 16px/25px Poppins;
            color: #000000;
          }

          .badget {
            margin-top: 30px;
            margin-bottom: 10px;
            font: normal normal medium 16px/25px Poppins;
            color: #000000;

            .mat-radio-label-content {
              margin-left: 10px;
              padding: 0;
            }
          }

          .skill {
            margin-top: 30px;
            margin-bottom: 10px;
            font: normal normal medium 16px/25px Poppins;
            color: #000000;

            .mat-radio-label-content {
              margin-left: 10px;
              padding: 0;
            }

            mat-radio-button {
              font: normal normal normal 12px/18px Poppins;
              color: #8b8b8b;
            }
          }
        }

        .continue-btn {
          margin-top: 50px;
          background: #6f77f4 0% 0% no-repeat padding-box;
          border-radius: 8px;
        }
      }
    }

    .second-row {
      .select-categories {
        margin-top: 16px;

        mat-option {
          font: normal normal large 12px Poppins;
        }

        .fas {
          font-size: 12px;
        }

        .mat-select-arrow {
          border: 0;
        }

        .mat-select-placeholder {
          color: #000;
        }

        .mat-select-value {
          font-size: 12px;
        }

        .mat-form-field-flex {
          border-radius: 5px !important;
          padding: 0 30px;
        }

        .mat-form-field-underline {
          display: none;
        }
      }
    }

    .third-row {
      .noProgramsFound {
        font: normal normal 600 20px/20px Poppins;
        color: #6f77f4;
        margin-bottom: 50px;
      }

      ngb-pagination {
        margin-top: 0;
        margin-bottom: 40px;

        .page-item.active .page-link {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #f66666 0% 0% no-repeat padding-box;
          border-color: #f66666;
          color: #fff;
        }

        .page-item .page-link {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 2.5px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #fff;
          font: normal normal 600 11px/17px Poppins;
          color: #bebebe;
          border: 1px solid #bebebe;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .main-card {
    min-height: 116px;

    .card-design {
      .card-text {
        padding-left: 8px;

        .card-category {
          margin-right: 6px;
          font-size: 11px;
        }

        .card-name {
          font-size: 12.7px;
          font-weight: bold;
          line-height: 11px;
          margin-bottom: 8px;
        }

        .card-info {
          .flex-text {
            .icons {
              font-size: 11px;
              padding-top: 2.4px;
              padding-right: 4px;
            }

            .icon-text {
              font: normal normal 600 10px/18px Poppins;
            }
          }

          span {
            color: #6f77f4;
          }
        }
      }

      .con-img {
        margin-top: -15px;
        height: 90px;
        width: 90px;
      }
    }

    .card-end {
      .start-app {
        margin-right: 5px;

        p {
          padding: 5px 19px;
          font: normal normal normal 9px/13px Poppins;
        }

        .fav-ico {
          i {
            padding: 10px 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .programs-container {
    .third-row {
      #loading-container {
        padding-left: 0px;
        padding-right: 0px;

        .main-card {
          min-height: 116px;
          margin-left: 1px;
          margin-right: 2px;

          .card-design {
            .con-img {
              margin-top: -14px;
              height: 73px;
              width: 76px;
              margin-right: 9px;
              margin-left: 3px;
            }

            .card-text {
              padding-left: 6.5px;

              .card-category {
                border: none;
                color: #7778ed;
                margin-bottom: 0px;
                padding: 0px;
              }

              .card-name {
                font-size: 10px;
                font-weight: bold;
                line-height: 12px;
                margin-bottom: 8px;
              }

              .card-school {
                font-size: 8px;
              }

              .card-details {
                font-size: 8px;
                margin-bottom: 0px;
                padding-top: 3px;
              }

              .card-info {
                .flex-text {
                  .icons {
                    font-size: 8px;
                    padding-top: 2.4px;
                    padding-right: 4px;
                  }

                  .icon-text {
                    font: normal normal 600 8px/18px Poppins;
                  }
                }

                span {
                  color: #6f77f4;
                }
              }
            }
          }

          .card-end {
            p {
              background: transparent
                linear-gradient(90deg, #fd8282 0%, #6f77f4 100%) 0% 0% no-repeat
                padding-box;
              border-radius: 5px;
              text-align: center;
              font: normal normal 600 10px/16px Poppins;
            }

            .fav-ico {
              i {
                font-size: 12.5px;
                padding: 3.4px 6px;
              }
            }
          }
        }
      }
    }
  }

  .intro-section {
    .container {
      padding: 0px;

      .main-first {
        padding: 0px;
      }

      .last-department {
        padding: 5px 25px;
      }
    }
  }

  .card-d {
    font-size: 10px;
  }

  .intro-section {
    .container {
      .main-first {
        order: 1;
      }

      .json-img {
        order: 0;
      }

      .intro-title {
        font-size: 20px;
        font-weight: 600;
      }

      .intro-desc {
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 500;
        font-family: Poppins;
        color: #555454;
        padding: 2px 25px;
      }
    }
  }
}
