<!-- <div class="section-container">

    <div class="custom-row comments">
      <p class="title">{{ empName }}'s Applications</p>
      <div class="sort">
        <div class="control">
          <img src="../../../../../assets/images/search.gif" alt="" />
          <input type="text" placeholder="Search..." [(ngModel)]="searchText" />
        </div>
      </div>
      <div class="table-wrapper">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Number</th>
              <th scope="col">Name</th>
              <th scope="col">Status</th>
              <th scope="col">School Name</th>
              <th scope="col">Program Name</th>
              <th scope="col">Email</th>
              <th scope="col" class="d-flex align-items-center">Date
                <input matInput [matDatepicker]="picker" [formControl]="date" style="width: 0.1px; color: transparent;">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker
                                startView="multi-year"
                                (monthSelected)="setMonthAndYear($event, picker)"
                                panelClass="example-month-picker">
                </mat-datepicker>
                <mat-icon (click)="resetDate()" style="cursor: pointer;">update</mat-icon>
              </th>
              <th scope="col">City</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody style="overflow-x: auto !important;">
            <tr *ngFor="let application of myApplications | filterOne: searchText; let i = index">
              <td class="text-center">
                {{ i+1 }}
              </td>
              <td>
                <div class="flex">
                  <div class="text">
                    <p>{{ application[8] }}</p>
                  </div>
                </div>
              </td>
              <td class="status d-flex justify-content-between align-items-center">
                <mat-form-field appearance="fill" style="width: 250px;">
                  <mat-select #appSelected (selectionChange)="changeAppStatus(appSelected.value, application[4], application[3])" [value]="application[7]" placeholder="Choose a status">
                    <mat-option value="{{ app }}" *ngFor="let app of apps" class="text-center">{{ app }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                {{ application[2] }}
              </td>
              <td class="nationality" *ngIf="application[1] != 'undefined'">
                {{ application[1] }}
              </td>
              <td class="nationality" *ngIf="application[1] == 'undefined'">
                Unkown
              </td>
              <td>
                <div class="flex">
                  <div class="text">
                    <p>{{ application[0] }}</p>
                  </div>
                </div>
              </td>            
              <td class="date">{{ application[9]*1000 | date:'MMMM d, y' }}</td>
              <td>
                {{ application[5] }}
              </td>
              <td>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
  
                  <button mat-menu-item (click)="viewMoreDetails(application[0])">
                    <mat-icon>more_vert</mat-icon>
                    <span>View More</span>
                  </button>
                  <ng-template #viewMore let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title text-center" id="modal-basic-title" style="font-weight: 900;font-size: 26px;margin: 10px 0;">ِApplication Details</h4>
                      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                    </div>
                    <div class="modal-body">
  
                      <h2>Personal Info</h2>
                      <form [formGroup]="settingForm" class="settingForm">
                          <div class="custom-col">
                              <div class="info">
                                  <div class="custom-row">
                                      <p class="title">{{ application[3] }}</p>
                                      <div class="custom-col">
                                          <p>Telephone : <a href="https://api.whatsapp.com/send?phone={{phone}}"><img style="width: 15px;margin-right: 7px;" src="../../../../../../assets/images/whatsapp.png" alt=""><span>{{phone}}</span></a></p>
                                          <p>Nationality : <span>{{nationality}} </span></p>
                                      </div>
                                      <div class="custom-col">
                                      </div>
                                  </div>
  
                                  <div class="custom-row">
                                      <p class="title">Academic Info</p>
                                      <div class="custom-col">
                                          <p>Country : <span>{{nationality}}</span></p>
                                          <p>City : <span>{{city}}</span></p>
                                      </div>
                                      <div class="custom-col">
                                      </div>
                                  </div>
  
                                  <div class="custom-row">
                                      <p class="title">Language skills</p>
                                      <div class="custom-col">
                                          <p>English test proof : <span>{{languageTest}}</span></p>
                                      </div>
                                      <div class="custom-col">
                                      </div> 
                                  </div>
                              </div>
  
                              <div class="docs">
                                  <p class="title">Student documents </p>
                                  <div class="text-center pt-5" *ngIf="showInfo">
                                      <p class="docs-uploaded">There are no Documents Uploaded!</p>
                                  </div>
                                  <div *ngIf="showDocs">
                                      <div class="control-form file" *ngIf="showCV">
                                          <a href="{{CV}}" preview class="px-5 py-2">
                                              <img class="icon" src="../../../../../assets/images/pdf-y.svg" alt="">
                                              <label for="cv" class="o186d">
                                                  CV
                                                  <img class="icon" src="../../../../../assets/images/download.png" alt="">
                                              </label>
                                          </a>
                                      </div>
                          
                                      <div class="control-form file" *ngIf="showML">
                                          <a href="{{ML}}" preview class="px-5 py-2">
                                              <img class="icon" src="../../../../../assets/images/pdf-r.svg" alt="">
                                              <label for="ml" class="o186d">
                                                  Motivation Letter
                                                  <img class="icon" src="../../../../../assets/images/download.png" alt="">
                                              </label>
                                          </a>
                                      </div>
                          
                                      <div class="control-form file" *ngIf="showPass">
                                          <a href="{{Pass}}" preview class="px-5 py-2">
                                              <img class="icon" src="../../../../../assets/images/pdf-pp.svg" alt="">
                                              <label for="pass" class="o186d">
                                                  Passport
                                                  <img class="icon" src="../../../../../assets/images/download.png" alt="">
                                              </label>
                                          </a>
                                      </div>
                                      
                                      <div class="control-form file" *ngIf="showTrans">
                                          <a href="{{Trans}}" preview class="px-5 py-2">
                                              <img class="icon" src="../../../../../assets/images/pdf-y.svg" alt="">
                                              <label class="o186d">
                                                  degree transcript
                                                  <img class="icon" src="../../../../../assets/images/download.png" alt="">
                                              </label>
                                          </a>
                                      </div>
                                      
                                      <div class="control-form file" *ngIf="showRL">
                                          <a href="{{RL}}" preview class="px-5 py-2">
                                              <img class="icon" src="../../../../../assets/images/pdf-p.svg" alt="">
                                              <label for="rl" class="o186d">
                                                  Recommendation letter
                                                  <img class="icon" src="../../../../../assets/images/download.png" alt="">
                                              </label>
                                          </a>
                                      </div>
                      
                                      <div class="control-form file" *ngIf="showLC">
                                          <a href="{{LC}}" preview class="px-5 py-2">
                                              <img class="icon" src="../../../../../assets/images/pdf-r.svg" alt="">
                                              <label for="lc" class="o186d">
                                                  Language Certificate
                                                  <img class="icon" src="../../../../../assets/images/download.png" alt="">
                                              </label>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                              
                          </div>
                      </form>
                    </div>
                  </ng-template>
  
  
                  <button mat-menu-item (click)="open(delete)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete Application</span>
                  </button>
                  <ng-template #delete let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title text-center" id="modal-basic-title">Alert!</h4>
                    </div>
                    <div class="modal-body">
                      <p style="font-size: 17px;">Are you sure?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="deleteApp(application[4])">Yes</button>
                      <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancel</button>
                    </div>
                  </ng-template>
  
                  <button mat-menu-item (click)="open(deleteAll)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete All Student Applications</span>
                  </button>
                  <ng-template #deleteAll let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title text-center" id="modal-basic-title">Alert!</h4>
                    </div>
                    <div class="modal-body">
                      <p style="font-size: 17px;">Are you sure?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="deleteAllApp(application[0])">Yes</button>
                      <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancel</button>
                    </div>
                  </ng-template>
  
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>  
      </div>
  </div>
  
  <div class="section-container">
  
    <div class="custom-row comments">
      <div class="d-flex justify-content-between w-100">
        <p class="title">{{ empName }}'s Students</p>
        
        <select class="form-select w-25 ms-auto me-2" #filterSelect style="height: 40px;" (change)="filterLabels(filterSelect.value)" [(ngModel)]="labelText">
          <option selected disabled>Filter your Labels</option>
          <option value="" class="text-center">All Labels</option>
          <option value="{{ label[1] }}" *ngFor="let label of lables">
            {{ label[1] }}
          </option>
        </select>
        
        <button class="btn btn-danger me-2" style="height: 40px;" (click)="open(deleteLab)">Delete a label</button>
  
        <ng-template #deleteLab let-c="close" let-d="dismiss">
          <div class="modal-header">
              <h4 class="modal-title text-center" id="modal-basic-title">Alert!</h4>
          </div>
          <div class="modal-body">
              <p style="font-size: 17px;">Select labels to be deleted</p>
  
              <form [formGroup]="deleteForm" (ngSubmit)="onSubmitDeleteLabels()">
                <div *ngFor="let label of lables; let i = index" class="form-group my-2 d-flex flex-wrap">
                    <div class="col-12">
                      <input class="form-check-input" type="checkbox" id="{{ label[1] }}" value="{{ i }}" formArrayName="labelName" (click)="onCheckLabel(label[0])">
                      <label class="ms-2" for="{{ label[1] }}"> {{ label[1] }}</label><br>
                  </div>
                </div>
  
                <div class="mt-3">
                  <button type="submit" class="btn btn-danger">Delete Labels</button>
                  <button type="button" class="btn btn-outline-dark ms-2" (click)="closeModal()">Cancel</button>
                </div>
              </form>
          </div>
        </ng-template>
        
        <div class="sort">
          <div class="control">
            <img src="../../../../../assets/images/search.gif" alt="" />
            <input
            type="text"
            placeholder="Search..."
            [(ngModel)]="studentSearch"
            />
          </div>
        </div>
  
      </div>
      <div class="table-wrapper">
        <table class="table table-striped">
          <thead>
            <tr >
              <th scope="col" (click)="sortName()" class="sorting">Name
                <i *ngIf="sortingDownName" class="fas fa-caret-down"></i>
                <i *ngIf="sortingUpName" class="fas fa-caret-up"></i>
              </th>
              <th scope="col">status</th>
              <th scope="col" (click)="sortNat()" class="sorting" style="width: 110px;">nationality
                <i *ngIf="sortingDownNat" class="fas fa-caret-down"></i>
                <i *ngIf="sortingUpNat" class="fas fa-caret-up"></i>
              </th>
              <th scope="col" (click)="sortEmail()" class="sorting">email
                <i *ngIf="sortDownEmail" class="fas fa-caret-down"></i>
                <i *ngIf="sortUpEmail" class="fas fa-caret-up"></i>
              </th>
              <th>
                phone
              </th>
              <th scope="col">Labels</th>
              <th></th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody style="overflow-x: scroll !important;">
            <tr
              *ngFor="let student of myStudents | filterOne: studentSearch; let i = index"
              value="student"
              #table
              >
              <td class="text-center">
                {{ i+1 }}
              </td>
              <td>
                <div class="flex btn" (click)="navigateToStudentDash(student[4])">
                  <div class="img-holder" *ngIf="student[9] == ''">
                    <img src="../../../../../assets/images/user.svg" alt="" />
                  </div>
                  <div class="img-holder" *ngIf="student[9] != ''">
                    <img src="../../../../../assets/images/user.jpg" alt="" />
                  </div>
                  <div class="text btn">
                    <p>{{ student[0] }}</p>
                  </div>
                </div>
              </td>
              <td class="d-flex justify-content-between align-items-center">
                <mat-form-field appearance="fill" style="width: 250px;">
                  <mat-select #mySelect (selectionChange)="changeStatus(student[4], mySelect.value)" [value]="student[13]" placeholder="Choose a status">
                    <mat-option value="{{ stat }}" *ngFor="let stat of status" class="text-center">{{ stat }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <ng-template #content let-c="close" let-d="dismiss">
                  <div class="modal-header">
                      <h4 class="modal-title text-center" id="modal-basic-title">Alert!</h4>
                  </div>
                  <div class="modal-body">
                      <p style="font-size: 17px;">Did the student applied on the website ?</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Yes</button>
                      <button type="button" class="btn btn-outline-dark" (click)="newApplication()">No</button>
                  </div>
                </ng-template>
                  
                  <ng-template #application let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title text-center" id="modal-basic-title">Alert!</h4>
                    </div>
                    <div class="modal-body">
                      
                      <form [formGroup]="appForm" (ngSubmit)="onSubmit(appForm)">
                        
                        <select class="form-select mb-2" (change)="selected($event)" formControlName="school">
                          <option value="" selected disabled>Select your school</option>
                          <option value="custom">Custom..</option>
                          <option value="{{ school }}" *ngFor="let school of allSchools">
                            {{ school }}
                          </option>
                        </select>
  
                        <div *ngIf="customSchoolCond">
                          <p class="mt-2">School</p>
                          <input type="text"formControlName="customSchool" class="form-control mt-3">
                        </div>
                        
                        <select *ngIf="schoolSelected" class="form-select mt-4 mb-2" formControlName="program">
                          <option value="" selected disabled>Select your Program</option>
                          <option [value]="progs" *ngFor="let progs of schoolProgs; let i = index">{{ progs[0] }} at {{ progs[1] }} - intake: {{ progs[2] }} - fee: {{ progs[3] }} for {{ progs[4] }} years</option>
                        </select>
                        
                        <div *ngIf="customProgramCond">
                          <p class="mt-2">Program</p>
                          <input type="text" formControlName="customProgram" class="form-control mt-2">
                        </div>
  
                        <div *ngIf="customCityCond">
                          <p class="mt-2">City</p>
                          <input type="text" formControlName="customCity" class="form-control mt-2">
                        </div>
                        
                        <div class="modal-footer mt-3">
                          <button type="submit" [disabled]="appForm.controls.program.invalid" class="btn btn-outline-dark">Create</button>
                          <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancel</button>
                        </div>
                      
                      </form>
                    </div>
                </ng-template>
              </td>
              <td>
                {{ student[5] }}
              </td>
              <td class="email">{{ student[4] }}</td>
              <td>
                <p><a href="https://api.whatsapp.com/send?phone={{student[12]}}"><img style="width: 15px;margin-right: 7px;" src="../../../../../../assets/images/whatsapp.png" alt=""><span>{{student[12]}}</span></a></p>
              </td>
              <td>
                <select class="form-select" #myLabel style="width: 200px;" (change)="changeLabel(myLabel.value, student[4], student[31])">
                  <option value="" selected disabled>Select a label</option>
                  <option value="{{ label[0] }}" *ngFor="let label of lables">
                    {{ label[1] }}
                  </option>
                  <option value="custom">Custom</option>
                </select>
    
                <ng-template #label let-c="close" let-d="dismiss">
                  <div class="modal-header">
                      <h4 class="modal-title text-center" id="modal-basic-title">Create a Label</h4>
                      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                  </div>
                  <div class="modal-body">
    
                    <form [formGroup]="labelForm" (ngSubmit)="onSubmitLabel(labelForm)">
    
                      <div class="control">
                        <label for="name">Name <span class="required">*</span></label>
                        <input class="mb-2 form-control" type="text" placeholder="Ex. First-time" formControlName="name" id="name">
                        <br>
                        <span class="validation text-danger" *ngIf="labelForm.controls.name.touched && labelForm.controls.name.invalid">This field is required.</span>
                      </div>
    
                      <div class="control">
                        <label for="color">Color <span class="required">*</span></label>
                        <input class="ms-3" type="color" formControlName="color" id="color">
                      </div>
    
                      <div class="modal-footer mt-3">
                          <button type="submit" [disabled]="labelForm.controls.name.invalid || labelForm.controls.color.invalid" class="btn btn-outline-dark">Create</button>
                      </div>
    
                    </form>
                  </div>
                </ng-template>
              </td>
              <td>
                <div>
                  <span *ngFor="let stu of student[31] | filterOne: labelText" class="badge me-2 mt-2 label rounded-pill" [ngStyle]="{backgroundColor: getColor(stu)}" style="font-size: 16px;"> {{stu[1]}} 
                    <span class="label-x" (click)="deleteLabel(stu[0], student[4])">x</span>
                  </span>
                </div>
              </td>
              <td class="delete text-center" (click)="open(deleteStu)">
                <img src="../../../../../assets/images/dummy-delete.jpg" alt="" style="cursor: pointer; width: 17.1px;">
                
                <ng-template #deleteStu let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h4 class="modal-title text-center" id="modal-basic-title">Alert!</h4>
                  </div>
                  <div class="modal-body">
                    <p style="font-size: 17px;">Are you sure?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="deleteStudent(student[4])">Yes</button>
                    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancel</button>
                  </div>
                </ng-template>
              </td>
              <td>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
  
                  <button mat-menu-item (click)="open(documents)">
                    <mat-icon>insert_drive_file</mat-icon>
                    <span>View Documents</span>
                  </button>
                  <ng-template #documents let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                      <div class="docs">
                        <p class="title">Documents of {{student[0]}}</p>
                        <div class="text-center pt-5" *ngIf="!student[14]&&!student[15]&&!student[16]&&!student[17]&&!student[18]&&!student[19]&&!student[20]">
                          <p class="docs-uploaded">There are no Documents Uploaded!</p>
                        </div>
                        <div *ngIf="student[14] || student[15] || student[16] || student[17] || student[18] || student[19] || student[20]">
                            <div class="control-form file" *ngIf="student[14]">
                                <a href="{{student[14]}}" preview class="px-5 py-2">
                                    <img class="icon" src="../../../../../assets/images/pdf-y.svg" alt="">
                                    <label for="cv" class="o186d">
                                        CV
                                        <img class="icon" src="../../../../../assets/images/download.png" alt="">
                                    </label>
                                </a>
                            </div>
                
                            <div class="control-form file" *ngIf="student[15]">
                                <a href="{{student[15]}}" preview class="px-5 py-2">
                                    <img class="icon" src="../../../../../assets/images/pdf-r.svg" alt="">
                                    <label for="ml" class="o186d">
                                        Motivation Letter
                                        <img class="icon" src="../../../../../assets/images/download.png" alt="">
                                    </label>
                                </a>
                            </div>
                
                            <div class="control-form file" *ngIf="student[16]">
                                <a href="{{student[16]}}" preview class="px-5 py-2">
                                    <img class="icon" src="../../../../../assets/images/pdf-pp.svg" alt="">
                                    <label for="pass" class="o186d">
                                        Passport
                                        <img class="icon" src="../../../../../assets/images/download.png" alt="">
                                    </label>
                                </a>
                            </div>
                            
                            <div class="control-form file" *ngIf="student[19]">
                                <a href="{{student[19]}}" preview class="px-5 py-2">
                                    <img class="icon" src="../../../../../assets/images/pdf-y.svg" alt="">
                                    <label class="o186d">
                                        degree transcript
                                        <img class="icon" src="../../../../../assets/images/download.png" alt="">
                                    </label>
                                </a>
                            </div>
                            
                            <div class="control-form file" *ngIf="student[17]">
                                <a href="{{student[17]}}" preview class="px-5 py-2">
                                    <img class="icon" src="../../../../../assets/images/pdf-p.svg" alt="">
                                    <label for="rl" class="o186d">
                                        Recommendation letter
                                        <img class="icon" src="../../../../../assets/images/download.png" alt="">
                                    </label>
                                </a>
                            </div>
            
                            <div class="control-form file" *ngIf="student[20]">
                                <a href="{{student[20]}}" preview class="px-5 py-2">
                                    <img class="icon" src="../../../../../assets/images/pdf-r.svg" alt="">
                                    <label for="lc" class="o186d">
                                        Language Certificate
                                        <img class="icon" src="../../../../../assets/images/download.png" alt="">
                                    </label>
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
  
                  <button mat-menu-item (click)="getComments(student[4]); open(comments)">
                    <mat-icon>mode_comment</mat-icon>
                    <span>Comments</span>
                  </button>
                  <ng-template #comments let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="modal-basic-title">Comments of {{ student[4] }}</h4>
                        <button type="button" class="btn-close" aria-label="Close" (click)="closeComments('Cross click')"></button>
                    </div>
                    <div class="modal-body" style="max-height: 500px; overflow: scroll; overflow-x: hidden;">
                        <div *ngFor="let comment of allComments" style="font-size: 17px;" class="mb-1">
                          <div class="d-flex justify-content-between">
                            <p>{{ comment[4]*1000 | date:'MMMM d, y' }}</p>
                            <p>{{ comment[1] }}</p>
                          </div>
                          <p class="comment py-2 px-2">{{ comment[3] }}
                            <span class="comment-x" (click)="deleteComment(comment[0], student[4])">x</span>
                          </p>
                          <hr>
                        </div>
                        <form [formGroup]="commentsForm" (ngSubmit)="onSubmitComment(commentsForm, student[4])">
                          <div class="control">
                            <label for="new" class="mb-2">Comment :</label>
                            <textarea type="text" placeholder="Add a Comment.." formControlName="new" id="new" class="form-control" cols="3" rows="4"></textarea>
                          </div>
      
                          <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-success mt-3 ms-auto" [disabled]="commentsForm.controls.new.invalid">Add</button>
                          </div>
      
                        </form>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Close</button>
                    </div>
                  </ng-template>
  
                  <button mat-menu-item (click)="open(deleteStu)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete Student</span>
                  </button>
                  <ng-template #deleteStu let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title text-center" id="modal-basic-title">Alert!</h4>
                    </div>
                    <div class="modal-body">
                      <p style="font-size: 17px;">Are you sure?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="deleteStudent(student[4])">Yes</button>
                      <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancel</button>
                    </div>
                  </ng-template>
  
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
  
        
      </div>
  </div>
</div> -->
