<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="false" aria-controls="collapseOne">
        <div class="d-flex align-items-center">
          <img class="me-2" src="../../../../../assets/images/profile/documents/motivation.svg" alt="motivation" />
          <h5 class="d-flex align-items-center">Documents académiques <span class="required_tab">*</span></h5>
        </div>
        <!-- <h6>Choose PNG, jPG or PDF format</h6> -->
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <app-motivation></app-motivation>
      </div>
    </div>
  </div>

  <div class="accordion-item mt-3">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        <div>
          <div class="d-flex align-items-center">
            <img class="me-2" src="../../../../../assets/images/profile/documents/identity.svg" alt="motivation" />
            <h5>Documents d'identité</h5>
          </div>
          <span class="tab_subtitle">Choisissez le format PNG, JPG ou PDF.</span>
        </div>
        <!-- <h6>Choose PNG, jPG or PDF format</h6> -->
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <app-identity></app-identity>
      </div>
    </div>
  </div>

  <div class="accordion-item mt-3">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        <div>
          <div class="d-flex align-items-center">
            <img class="me-2" src="../../../../../assets/images/profile/documents/language.svg" alt="motivation" />
            <h5>Documents linguistiques</h5>
          </div>
          <span class="tab_subtitle">Choisissez le format PNG, JPG ou PDF.</span>
        </div>
        <!-- <h6>Choose PNG, jPG or PDF format</h6> -->
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <app-language></app-language>
      </div>
    </div>
  </div>

  <div class="accordion-item mt-3">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
        aria-expanded="false" aria-controls="collapseFour">
        <div>
          <div class="d-flex align-items-center">
            <img class="me-2" src="../../../../../assets/images/profile/documents/support.svg" alt="motivation" />
            <h5>Documents de soutien</h5>
          </div>
          <span class="tab_subtitle">Choisissez le format PNG, JPG ou PDF.</span>
        </div>
        <!-- <h6>Choose PNG, jPG or PDF format</h6> -->
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <app-support></app-support>
      </div>
    </div>
  </div>
</div>