a.add-button {
  height: 100%;
  background-color: #16294f;
  border-radius: 5px;
  padding: 9px 42px;
  font: normal normal normal 14px Poppins;
  color: #fff;
  border: none;
}

a.add-button:hover {
  background-color: #ab4851;
}

.table-style {
  border-radius: 10px;
}

.table-style .font-poppins *:not(.pi) {
  font-family: Poppins !important;
}

.mat-menu-submenu-icon {
  display: none;
}

.id-text {
  color: var(--primary-black, #121212);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.p-datatable .p-datatable-header {
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  border: none;
}

.p-datatable .p-datatable-header button {
  background-color: transparent;
  border: none;
}

.p-datatable .p-datatable-header button i {
  font-size: 1.5rem;
}

.p-datatable-thead tr {
  background-color: white;
}

.p-datatable-thead tr th {
  background-color: transparent !important;
}

.p-datatable-thead tr th .table-title {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.p-datatable-wrapper {
  border-radius: 0 0 10px 10px;
  border-top-right-radius: 10px;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  border-radius: 50%;
  border: 0 none;
  color: #16294f;
  transition: box-shadow 0.2s;
}

.p-datatable .p-paginator-bottom {
  background-color: transparent;
  border: 0;
  border-top: 1px solid #cccccc;
}

.p-datatable .p-paginator-bottom .p-paginator-pages .p-paginator-page {
  border-radius: 50%;
}

.p-datatable .p-paginator-bottom .p-paginator-pages .p-paginator-page.p-highlight {
  background: #16294f;
  border-color: #16294f;
  color: #fdfdfd;
  box-shadow: none;
}

td ngx-intl-tel-input {
  display: block;
  width: 200px;
}

td ngx-intl-tel-input .iti .iti__flag-container {
  pointer-events: none;
}

td ngx-intl-tel-input .iti .iti__flag-container .iti__arrow {
  display: none;
}

td ngx-intl-tel-input .iti .form-control {
  padding-left: 35px !important;
  border: none;
}

td ngx-intl-tel-input .ngx-flag-tel {
  background-color: violet;
}

.top-5 {
  background-color: #ebc947;
  color: #121212;
}

.top-10 {
  background-color: #ff5151;
  color: #fdfdfd;
}

.top-20 {
  background-color: #f4d9d9;
  color: #121212;
}

.top-30 {
  background-color: var(--light-purple, #fbe8ea);
  color: #121212;
}

.top-40 {
  background-color: #16294f;
  color: #fdfdfd;
}

.status {
  border-radius: 100px;
  padding: 8px 12px !important;
  height: auto !important;
  line-height: normal !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.student-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.table-header {
  padding: 1rem;
  font-size: 1.5rem;
}

.table-header .secondary-link {
  color: #636363;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.table-header .activated-secondary-link {
  position: relative;
  color: #121212;
  font-weight: 600;
}

.table-header .activated-secondary-link::after {
  position: absolute;
  left: 0;
  top: 44px;
  content: "";
  width: 100%;
  height: 2px;
  background: #121212;
}

.table-outer-container {
  background-color: #fff;
  overflow-x: auto;
}

.table-outer-container table.lead-table {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.table-outer-container table.lead-table tr.main-row {
  border-bottom: 1px solid #484848;
}

.table-outer-container table.lead-table tr.main-row td .dropdown-menu {
  border-radius: 0;
  border: none;
  padding: 0;
  min-width: 242px;
}

.table-outer-container table.lead-table tr.main-row td .dropdown-menu .menu-header {
  background-color: #e5e7ff;
  padding: 10px 0;
}

.table-outer-container table.lead-table tr.main-row td .dropdown-menu .menu-header i {
  font-size: 18px;
  color: #16294f;
}

.table-outer-container table.lead-table tr.main-row td .dropdown-menu .menu-body .filter {
  padding: 10px 16px;
}

.table-outer-container table.lead-table tr.main-row td .dropdown-menu .menu-body .filter p {
  margin-bottom: 9px;
  font: normal normal normal 14px Poppins;
  color: #484848;
}

.table-outer-container table.lead-table tr.main-row td .dropdown-menu .menu-body .filter select {
  width: 100%;
  border: 1px solid #ab4851;
  border-radius: 8px;
  padding: 8px;
}

.table-outer-container table.lead-table tr.main-row td .dropdown-menu .menu-body .main-list {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.table-outer-container table.lead-table tr.main-row td .dropdown-menu .menu-body .main-list .sec-list {
  font: normal normal normal 16px Poppins;
  color: #969696;
  padding: 10px 0 10px 15px;
}

.table-outer-container table.lead-table tr.main-row td .dropdown-menu .menu-body .main-list .sec-list:hover {
  background-color: #ededed;
  color: #000;
}

.table-outer-container table.lead-table tr.main-row td .dropdown-menu .menu-body .main-list .reset {
  font: normal normal normal 14px Poppins;
  color: #484848;
  padding: 10px 0 10px 15px;
}

.table-outer-container table.lead-table tr.main-row td .dropdown-menu .menu-body .main-list .reset:hover {
  color: #ab4851;
}

.table-outer-container table.lead-table tr.main-row td:hover {
  background-color: #dedddd;
}

.table-outer-container table.lead-table tr.sec-row {
  border-bottom: 1px solid #dedddd;
}

.comments-modal .modal-dialog .modal-content {
  padding: 32px;
}

.comments-modal .modal-dialog .modal-content .modal-header {
  padding: 0;
  padding-bottom: 32px;
}

.comments-modal .modal-dialog .modal-content .modal-header h4.modal-title {
  font: normal normal 600 18px Poppins;
  color: #373b79;
  margin: 0;
}

.comments-modal .modal-dialog .modal-content .modal-header h4.modal-title span {
  font: normal normal 500 18px Poppins;
}

.comments-modal .modal-dialog .modal-content .modal-header button.close-btn {
  color: #cfd1f8;
  font-size: 22px;
  background-color: #fff;
  border: 0;
}

.comments-modal .modal-dialog .modal-content .modal-header button.close-btn:hover {
  color: #a0a6ff;
}

.comments-modal .modal-dialog .modal-content .modal-header button.close-btn:focus {
  box-shadow: none;
}

.comments-modal .modal-dialog .modal-content .modal-body {
  padding: 16px 0;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 32px;
  margin-bottom: 32px;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box h4.comment-name,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box h4.comment-name {
  font: normal normal 500 18px Poppins;
  color: #2b2b2b;
  margin-bottom: 4px;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box p.comment-date,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box p.comment-date {
  font: normal normal normal 16px Poppins;
  color: #484848;
  margin-bottom: 16px;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box .more-comments,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box .more-comments {
  width: 40px;
  height: 40px;
  background-color: #e5e7ff;
  border-radius: 5px;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box .more-comments .more-actions,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box .more-comments .more-actions {
  border: none;
  background-color: transparent;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box .more-comments mat-icon,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box .more-comments mat-icon {
  color: #a0a6ff;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box form textarea.comment-area,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box form textarea.comment-area {
  height: 120px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #707070;
  padding: 16px;
  font: normal normal normal 16px Poppins;
  color: #000;
  background-color: transparent;
  margin-bottom: 16px;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box form textarea.comment-area::placeholder,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box form textarea.comment-area::placeholder {
  color: #8b8b8b;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box form button.submit-btn,
.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box form button.cancel-btn,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box form button.submit-btn,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box form button.cancel-btn {
  padding: 8px 24px;
  border-radius: 4px;
  font: normal normal 500 16px Poppins;
  border: none;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box form button.submit-btn.main-btn,
.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box form button.cancel-btn.main-btn,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box form button.submit-btn.main-btn,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box form button.cancel-btn.main-btn {
  background-color: #16294f;
  color: #fff;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box form button.submit-btn.main-btn:hover,
.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box form button.cancel-btn.main-btn:hover,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box form button.submit-btn.main-btn:hover,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box form button.cancel-btn.main-btn:hover {
  background-color: #8b92f5;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box form button.submit-btn.sec-btn,
.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box form button.cancel-btn.sec-btn,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box form button.submit-btn.sec-btn,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box form button.cancel-btn.sec-btn {
  background-color: #ededed;
  color: #969696;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box form button.submit-btn:disabled,
.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box form button.cancel-btn:disabled,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box form button.submit-btn:disabled,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box form button.cancel-btn:disabled {
  background-color: #ededed;
  color: #969696;
}

.comments-modal .modal-dialog .modal-content .modal-body .add-comment-box p.comment,
.comments-modal .modal-dialog .modal-content .modal-body .comment-box p.comment {
  font: normal normal normal 16px Arial;
  color: #000;
  margin: 0;
}

.documents-modal .modal-dialog .modal-content {
  padding: 50px 40px;
}

.documents-modal .modal-dialog .modal-content .modal-header {
  padding: 0;
  padding-bottom: 32px;
  border: none;
}

.documents-modal .modal-dialog .modal-content .modal-header h4.modal-title {
  font: normal normal 500 24px Poppins;
  color: #484848;
  margin: 0;
}

.documents-modal .modal-dialog .modal-content .modal-header button.close-btn {
  color: #cfd1f8;
  font-size: 22px;
  background-color: #fff;
  border: 0;
}

.documents-modal .modal-dialog .modal-content .modal-header button.close-btn:hover {
  color: #a0a6ff;
}

.documents-modal .modal-dialog .modal-content .modal-header button.close-btn:focus {
  box-shadow: none;
}

.documents-modal .modal-dialog .modal-content .modal-body {
  padding: 0;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table {
  border: 1px solid #e5e7ff;
  width: 100%;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.table-row td.documents,
.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.table-row td.status {
  font: normal normal 600 16px Poppins;
  padding: 14px 0 14px 24px;
  border-right: 1px solid #e5e7ff;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.table-row td.status {
  width: 50%;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.table-row td.documents {
  width: 50%;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.main-row td.main-title {
  background-color: #e5e7ff;
  font: normal normal 600 16px Poppins;
  color: #373b79;
  padding: 17px 0 17px 24px;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.main-row td.sec-title {
  background-color: #e5e7ff;
  font: normal normal normal 16px Poppins;
  color: #373b79;
  padding: 17px 0 17px 32px;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.main-desc {
  font: normal normal normal 16px Poppins;
  color: #484848;
  border-right: 1px solid #e5e7ff;
  border-bottom: 1px solid #e5e7ff;
  padding: 17px 0 17px 24px;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc {
  padding: 17px;
  border-right: 1px solid #e5e7ff;
  border-bottom: 1px solid #e5e7ff;
  height: 100%;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc .status-desc .status-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 9px;
  font-size: 16px;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc .status-desc .status-icon i {
  margin: 0;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc .status-desc .status-name {
  font: normal normal normal 16px Poppins;
  color: #f66666;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc .status-link {
  font: normal normal normal 16px Poppins;
  color: #a0a6ff;
  border-bottom: 1px solid #a0a6ff;
  margin: 0;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc .status-link:hover {
  color: #16294f;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc .add-btn,
.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc .success-btn {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #a0a6ff;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc .add-btn:hover,
.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc .success-btn:hover {
  background-color: #ab4851;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc .add-btn i,
.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc .success-btn i {
  color: #fff;
  font-size: 16px;
  margin: 0;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc .success-btn {
  background-color: #ab4851;
}

.documents-modal .modal-dialog .modal-content .modal-body table.documents-table tr.sec-row td.sec-desc p.percentage {
  font: normal normal 600 16px Poppins;
  color: #ab4851;
  margin: 0;
}

.info-modal .modal-content {
  padding: 40px;
}

.info-modal .modal-content .modal-header {
  border: none;
  padding: 0;
}

.info-modal .modal-content .modal-header .modal-title {
  font: normal normal 600 24px Poppins;
  color: #484848;
  margin: 0;
}

.info-modal .modal-content .modal-header button {
  background-color: transparent;
  border: none;
}

.info-modal .modal-content .modal-header button i {
  font-size: 24px;
  color: #cfd1f8;
}

.info-modal .modal-content .modal-body {
  padding: 0;
}

.info-modal .modal-content .modal-body .info-section {
  position: relative;
}

.info-modal .modal-content .modal-body .info-section .main-info {
  position: relative;
  z-index: 3;
  left: 70px;
  top: 70px;
}

.info-modal .modal-content .modal-body .info-section .main-info img.profile-pic {
  width: 180px;
  height: 180px;
  padding: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.info-modal .modal-content .modal-body .info-section .main-info p.student-name {
  margin: 0;
  font: normal normal 600 24px Poppins;
  color: #373b79;
}

.info-modal .modal-content .modal-body .info-section .sec-info {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 10px 10px 10px 260px;
  background-color: #e5e7ff;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.info-modal .modal-content .modal-body .info-section .sec-info .single-info {
  margin-bottom: 10px;
}

.info-modal .modal-content .modal-body .info-section .sec-info .single-info .icon-circle {
  width: 24px;
  height: 24px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 16px;
}

.info-modal .modal-content .modal-body .info-section .sec-info .single-info .icon-circle i {
  color: #fff;
}

.info-modal .modal-content .modal-body .info-section .sec-info .single-info p {
  margin: 0;
  font: normal normal normal 16px Poppins;
  color: #000;
}

.info-modal .modal-content .modal-body .modal-container {
  padding: 0 70px 200px;
  border: 1px solid #707070;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
}

.info-modal .modal-content .modal-body .modal-container h2.title {
  font: normal normal 600 24px Poppins;
  color: #000000;
  padding: 0 5px;
  border-bottom: solid 7px #16294f;
  margin: 30px 0;
  display: inline-block;
}

.info-modal .modal-content .modal-body .modal-container .profile-info-section p {
  font: normal normal normal 16px Poppins;
  margin: 0;
  color: #484848;
}

.info-modal .modal-content .modal-body .modal-container .education-status-section .graduation-info {
  padding-left: 20px;
  margin-bottom: 25px;
}

.info-modal .modal-content .modal-body .modal-container .education-status-section .graduation-info .graduated {
  font: normal normal normal 16px Poppins;
  color: #484848;
  margin-right: 32px;
  position: relative;
}

.info-modal .modal-content .modal-body .modal-container .education-status-section .graduation-info .graduated::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ab4851;
  position: absolute;
  left: -20px;
  top: 10px;
}

.info-modal .modal-content .modal-body .modal-container .education-status-section .graduation-info .university {
  font: normal normal normal 16px Poppins;
  color: #ab4851;
}

.info-modal .modal-content .modal-body .modal-container .education-status-section .graduation-info .faculty {
  font: normal normal normal 16px Poppins;
  color: #484848;
}

.info-modal .modal-content .modal-body .modal-container .education-status-section .language-info {
  padding-left: 20px;
}

.info-modal .modal-content .modal-body .modal-container .education-status-section .language-info .language {
  font: normal normal normal 16px/33px Poppins;
  color: #484848;
  margin-right: 32px;
  position: relative;
}

.info-modal .modal-content .modal-body .modal-container .education-status-section .language-info .language::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ab4851;
  position: absolute;
  left: -20px;
  top: 10px;
}

.info-modal .modal-content .modal-body .modal-container .education-status-section .language-info .language-test {
  font: normal normal normal 16px Poppins;
  color: #ab4851;
}

.info-modal .modal-content .modal-body .modal-container .interests-section .interested-badges .field-badge {
  padding: 8px 13px;
  margin: 0 16px 16px 0;
  height: 38px;
  background-color: #f5f5ff;
  border: 1px solid #7179e5;
  border-radius: 5px;
  font: normal normal normal 16px/25px Poppins;
  color: #7179e5;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col .programs-container {
  padding: 0 16px;
  margin-bottom: 32px;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col .programs-container:nth-child(even) {
  justify-content: flex-start;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col .programs-container:nth-child(odd) {
  justify-content: flex-end;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a {
  width: 330px;
  height: 510px;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card {
  height: 100%;
  border: 0;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border-radius: 5px;
  position: relative;
  box-shadow: none;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card:hover {
  box-shadow: 0px 3px 10px #ffc9c9;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card:hover .image-move {
  transform: scale(1.25);
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .sale {
  width: 141px;
  height: 23px;
  background: #16294f 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  top: 25px;
  right: 25px;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .sale p {
  margin: 0;
  font: normal normal 300 12px/18px Poppins;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .image-container {
  height: 190px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 14px;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .image-container img {
  height: 100%;
  transition: all 500ms ease-in-out;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .price {
  width: 91px;
  height: 37px;
  background: linear-gradient(132deg, #ff5151 0%, #16294f 100%);
  border-radius: 5px;
  position: absolute;
  top: 158px;
  right: 25px;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .price p {
  font: normal normal bold 16px/25px Poppins;
  margin: 0;
  color: #fff;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .program-title {
  margin-top: 14px;
  font: normal normal 600 16px Poppins;
  text-transform: uppercase;
  margin: 0;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .program-name {
  font: normal normal normal 16px Poppins;
  text-transform: capitalize;
  line-height: 1.4;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .program-description {
  font: normal normal 300 16px/22px Poppins;
  color: #3b3b3b;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .school-name {
  margin-top: 30px;
  margin-bottom: 20px;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .school-name img {
  width: 44px;
  height: 22px;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .school-name p {
  margin: 0 0 0 8px;
  font: normal normal normal 15px Poppins;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .info .first-info {
  font: normal normal 300 16px/25px Poppins;
  text-transform: capitalize;
  color: #8b8b8b;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .info .first-info p {
  margin: 0 2px;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .info hr {
  margin-top: 14px;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .info .second-info {
  font: normal normal 300 16px/25px Poppins;
  text-transform: capitalize;
  color: #8b8b8b;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .info .second-info p {
  margin: 0 2px;
}

.info-modal .modal-content .modal-body .modal-container .wishlist-section .wishlist-col a mat-card .info .second-info .wishlist {
  color: red;
}

.info-modal .modal-content .modal-body .modal-container .budget-section p {
  font: normal normal normal 16px Poppins;
  color: #16294f;
}