<!-- luko-section -->
<section class="luko">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-12 ps-0">
            <img src="/assets/images/navigator/housing/housing-insurance/luko.svg" alt="luko" class="logo">
            <h1 class="mt-lg-4 mt-md-3 mt-3">Get the best coverage for your home: </h1>
            <div class="row mt-lg-3 mt-md-2 mt-2">
                <div class="col-lg-10 ps-0">
                    <!-- <div class="d-flex justify-content-between">
                        <h2>Simple</h2>
                        <h2>Transparent</h2>
                        <h2>At the right price.</h2>
                    </div> -->
                    <ul class="list-horizontal">
                        <li>Simple</li>
                        <li>Transparent</li>
                        <li>At the right price.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 d-lg-block d-md-block d-none pe-0">
            <img class="w-100" src="/assets/images/navigator/housing/housing-insurance/real-estate.svg"
                alt="real-estate">
        </div>
    </div>
    <p>Transparent Crystal clear guarantees with no sneaky asterisks and with claim
        management which is twice as fast as
        our competitors. Simple Customize your contract in a few clicks so you only pay for what you need Reactive We're
        by your side when you need us: <span>available 7 days a week, we'll even answer in under 2 minutes on a
            Sunday.</span></p>
</section>

<!-- get free-->
<section class="get-free">
    <p>Get 1 Month free with STUDENTGATOR link</p>
</section>
<div class="mt-lg-5 mt-4 mb-lg-5 mb-4">
    <a class="action-btn"
        href="https://www.luko.eu/fr/onboard?utm_source=Partner&utm_medium=realestate&utm_campaign=studentgator#Address"
        target="_blank">Check offers</a>
</div>

<!-- accordion -->
<section class="accordion">
    <h5>FAQS</h5>
    <div class="row">
        <div class="col-lg-12 px-0">
            <div class="accordion accordion-flush" id="accordionFlushExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingfour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapsefour" aria-expanded="false"
                            aria-controls="flush-collapsefour" (click)="showIconBtn4()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 82%" class="m-0">
                                    What is Luko?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon4">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon4">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="describtion">
                                Luko is <span>an insurance company</span> that specializes in home insurance, renters
                                insurance, and liability insurance.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                            (click)="showIconBtn()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 82%" class="m-0">
                                    Why should I choose Luko for my home insurance needs?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="describtion">
                                Luko offers <span> a modern approach to home insurance </span> that is designed to be
                                simple,
                                affordable, and user-friendly. With Luko, you can <span>get a quote for insurance in
                                    just a
                                    few minutes,</span> and file a claim quickly and easily online. In addition, Luko
                                <span>offers a
                                    range of innovative features,</span> such as a free digital assistant to <span>help
                                    you prevent
                                    incidents in your home,</span> and a green insurance option that offsets the carbon
                                emissions
                                associated with your home.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingtwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapsetwo" aria-expanded="false" aria-controls="flush-collapsetwo"
                            (click)="showIconBtn2()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 82%" class="m-0">
                                    What types of insurance does Luko offer?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon2">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon2">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapsetwo" class="accordion-collapse collapse" aria-labelledby="flush-headingtwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="describtion">
                                Luko offers home insurance, renters insurance, and liability insurance.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingthree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapsethree" aria-expanded="false"
                            aria-controls="flush-collapsethree" (click)="showIconBtn3()">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <h3 routerLinkActive="bordertext" style="width: 82%" class="m-0">
                                    What is included in Luko's home insurance policy?
                                </h3>
                                <div style="width: 3%" class="open d-flex justify-content-center align-items-center"
                                    *ngIf="showIcon3">
                                    <img src="/assets/images/navigator/housing/garant/up.svg" alt="" />
                                </div>
                                <div style="width: 3%" class="close d-flex justify-content-center align-items-center"
                                    *ngIf="!showIcon3">
                                    <img src="/assets/images/navigator/housing/garant/down.svg" alt="" />
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapsethree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingthree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="describtion">
                                <p class="describtion">Luko's renters insurance policy covers damage to your personal belongings caused by
                                    events like fires, floods, and theft.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>