<div class="section-container">
    <div class="custom-row overview">
        <div class="box">
            <div>
                <svg width="130" height="130">
                    <circle cx="65" cy="65" r="56"/>
                    <circle cx="65" cy="65" r="56" style="stroke-dashoffset: calc(352 - (352*90) / 100)"/>
                  Sorry, your browser does not support inline SVG.
                </svg>
                <span>15310</span>
            </div>
            <p>Pending Students</p>
        </div>
        <div class="box">
            <div>
                <svg width="130" height="130">
                    <circle cx="65" cy="65" r="56"/>
                    <circle cx="65" cy="65" r="56" style="stroke-dashoffset: calc(352 - (352*80) / 100)"/>
                  Sorry, your browser does not support inline SVG.
                </svg>
                <span>15310</span>
            </div>
            <p>Accepted Students</p>
        </div>
        <div class="box">
            <div>
                <svg width="130" height="130">
                    <circle cx="65" cy="65" r="56"/>
                    <circle cx="65" cy="65" r="56" style="stroke-dashoffset: calc(352 - (352*80) / 100)"/>
                  Sorry, your browser does not support inline SVG.
                </svg>
                <span>15310</span>
            </div>
            <p>Declined students</p>
        </div>
        <div class="box">
            <div>
                <svg width="130" height="130">
                    <circle cx="65" cy="65" r="56"/>
                    <circle cx="65" cy="65" r="56" style="stroke-dashoffset: calc(352 - (352*60) / 100)"/>
                  Sorry, your browser does not support inline SVG.
                </svg>
                <span>15310</span>
            </div>
            <p>Deleted Students</p>
        </div>
    </div>

    <div class="custom-row details">
        <p class="title">Applicant Details</p>
        <div class="axis">
            <div class="custom-col y-axis">
                <div>500</div>
                <div>400</div>
                <div>300</div>
                <div>200</div>
                <div>100</div>
                <div>0</div>
            </div>
            <div class="custom-col x-axis">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="custom-progress">
                                    <div style="height:10%">
                                        <div class="hover">
                                            <p>Friday, 04 June 2018</p>
                                            <p>387 Applicants</p>
                                            <p>28 Interviews</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="custom-progress">
                                    <div style="height:30%">
                                        <div class="hover">
                                            <p>Friday, 04 June 2018</p>
                                            <p>387 Applicants</p>
                                            <p>28 Interviews</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="custom-progress">
                                    <div style="height:50%">
                                        <div class="hover">
                                            <p>Friday, 04 June 2018</p>
                                            <p>387 Applicants</p>
                                            <p>28 Interviews</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="custom-progress">
                                    <div style="height:90%">
                                        <div class="hover">
                                            <p>Friday, 04 June 2018</p>
                                            <p>387 Applicants</p>
                                            <p>28 Interviews</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="custom-progress">
                                    <div style="height:60%">
                                        <div class="hover">
                                            <p>Friday, 04 June 2018</p>
                                            <p>387 Applicants</p>
                                            <p>28 Interviews</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="custom-progress">
                                    <div style="height:40%">
                                            <div class="hover">
                                            <p>Friday, 04 June 2018</p>
                                            <p>387 Applicants</p>
                                            <p>28 Interviews</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="custom-progress">
                                    <div style="height:15%">
                                        <div class="hover">
                                            <p>Friday, 04 June 2018</p>
                                            <p>387 Applicants</p>
                                            <p>28 Interviews</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    
                    <thead>
                        <tr>
                            <th>S</th>
                            <th>M</th>
                            <th>T</th>
                            <th>W</th>
                            <th>T</th>
                            <th>F</th>
                            <th>S</th>
                        </tr>
                    </thead>
                </table>              
            </div>
        </div>

        <div class="custom-col">
            <div class="box">
                <div class="img-holder">
                    <img
src="/assets/images/dummy-home-girl-1.webp" alt="">
                </div>
                <div class="text">
                    <p>3845</p>
                    <span>Applicants</span>
                </div>
            </div>
            <div class="box">
                <div class="img-holder">
                    <img
src="" alt="">
                </div>
                <div class="text">
                    <p>3845</p>
                    <span>Interviews</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="custom-row">
        <div class="custom-col selling">
            <p class="title">Most Selling Items</p>

            <div class="custom-row">
                
                <div class="percent">
                    <svg>
                        <circle cx="100" cy="100" r="70"></circle>
                        <circle cx="100" cy="100" r="70"></circle>
                        <circle cx="100" cy="100" r="70"></circle>
                        <circle cx="100" cy="100" r="70"></circle>
                    </svg>
                </div>
                <ul>
                    <li>Egypt</li>
                    <li>France</li>
                    <li>Germany</li>
                    <li>China</li>
                </ul>
            </div>
        </div>

        <div class="custom-col map">
            <div class="custom-col">
                <p class="title">Worldwide Students</p>
                
            </div>
            <div class="custom-col">
                <div class="img-holder">
                    <img
src="/assets/images/russia_map.webp" alt="">
                </div>
                <p>Russia</p>
                <div>
                    <p>
                        Percentage
                        <span>65%</span>
                    </p>
                    <p>
                        Students
                        <span>12,500</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-row numbers">
        <div>
            <div class="box">
                <div class="img-holder">
                    <img
src="/assets/images/docs.png" alt="">
                </div>
                <div class="text">
                    <span>3845</span>
                    <p>Interviews</p>
                </div>
            </div>

            <div class="box">
                <div class="img-holder">
                    <img
src="" alt="">
                </div>
                <div class="text">
                    <span>3845</span>
                    <p>Interviews</p>
                </div>
            </div>

            <div class="box">
                <div class="img-holder">
                    <img
src="" alt="">
                </div>
                <div class="text">
                    <span>3845</span>
                    <p>Interviews</p>
                </div>
            </div>

            <div class="box">
                <div class="img-holder">
                    <img
src="" alt="">
                </div>
                <div class="text">
                    <span>3845</span>
                    <p>Interviews</p>
                </div>
            </div>
        </div>
        
        <div>
            <div class="box">
                <div class="img-holder">
                    <img
src="" alt="">
                </div>
                <div class="text">
                    <span> ? ? ? ? </span>
                    <p>Students Satisfaction</p>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-row students">
        <form action="" class="filterform">
            <div class="control">
                <input type="text" placeholder="Student name">
            </div>

            <div class="control">
                <input type="date" placeholder="Last 30 days">
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Uploaded date</th>
                    <th scope="col">Nationalities</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries">
                    <td>{{country.id}}</td>
                    <td>
                        <div class="flex">
                            <div class="img-holder"><img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" alt=""></div>
                            <div class="text"><p>Richard B. Weber</p></div>
                        </div>
                    </td>
                    <td class="date">{{ country.population | date }}</td>
                    <td class="nationality">
                        <div class="flex">
                            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" style="width: 20px">
                            {{ country.name }}
                        </div>
                    </td>
                    <td class="status"><p><span class="hold">Accepted</span></p></td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="refreshCountries()" [maxSize]="2">
                <ng-template ngbPaginationPrevious></ng-template>
                <ng-template ngbPaginationNext></ng-template>
            </ngb-pagination>
        </div>
    </div>
</div>