<section class="forget-section">
  <div class="row">
    <div class="content">
      <a routerLink="/landing/home">
        <img
          src="../../../../../assets/images/elysee-logo.png"
          alt="SG logo"
        />
      </a>
      <p class="check">Check Your Email</p>
      <p class="description">
        We have sent a password recover instructions to your email
      </p>
      <div class="d-flex justify-content-center">
        <img
          src="../../../../assets/images/login-pages/computer.svg"
          alt="check your email"
          class="check-image"
        />
      </div>
      <!-- <div class="send">
                <button class="btn">
                    Open Email App
                </button>
            </div> -->
      <div class="d-flex justify-content-center">
        <p class="spam">
          Did not receive the email? check your spam filter, <br />or
          <span class="another">
            <a routerLink="/auth/register/student"> Sign up </a>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
