h1,
h2,
h3,
h3,
h4,
h5,
p,
span {
  margin-bottom: 0;
  line-height: normal;
  color: var(--primary-black, #121212);
  font-family: "Poppins";
}

.uploadDocs {
  display: none;
}

.uploadDocs+label {
  border: none;
  background-color: #16294f;
  padding: 8px 32px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;


  &:hover {
    opacity: .7;
    transition: all 0.5s ease;
  }
}

@media only screen and (max-min: 991px) {
  .widthcustom {
    width: 100% !important;
  }
}

.accordion-button:not(.collapsed)::after {
  display: none !important;
}

.accordion-button::after {
  display: none;
}

section {
  &.cv_examples {
    overflow: visible;

    .zoom_con {
      &:hover {
        .zome_in {
          visibility: visible;
        }
      }
    }

    .zome_in {
      position: absolute;
      width: 680px;
      background: white;
      height: 380px;
      top: -378px;
      left: 0;
      z-index: 999999;
      border: 1px solid #cdcdcd;
      border-radius: 5px;
      overflow-x: hidden;
      overflow-y: scroll;
      visibility: hidden;

      &.right_one {
        left: auto;
        right: 0;
      }

      svg {
        transform: scale(3);
        position: absolute;
        left: 220px;
        top: 310px;
      }
    }
  }
}

/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #16294f;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


element::-ms-scrollbar {
  width: 10px;
}

element::-ms-scrollbar-track {
  background-color: #f1f1f1;
}

element::-ms-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

element::-ms-scrollbar-thumb:hover {
  background-color: #555;
}

.accordion-item {
  border: none;
  border-radius: 10px;
  background: var(--primary-white, #fdfdfd);
  box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.13);

  .accordion-header {
    button {
      padding: 16px;
      border-radius: 10px;
      box-shadow: none;
      font-weight: 400;
      font-size: 14px;
    }

    .accordion-button:not(.collapsed) {
      color: #121212;
    }
  }

  .accordion-body {
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: none;

    // margin-bottom: 16px;
    img {
      width: 22px;
      height: 29px;
      margin-right: 13px;
    }

    p.name {
      font: normal normal normal 14px/27px Poppins;
      color: #8b8b8b;
      margin: 0;
    }

    .stats {
      .percentage {
        font: normal normal normal 18px/27px Poppins;
        color: #8b8b8b;
        margin: 0 21px 0 21px;
      }

      button.view {
        font: normal normal normal 18px/27px Poppins;
        color: #16294f;
        margin-right: 26px;
        margin-left: 26px;
        border: none;
        background-color: transparent;

        &:hover {
          color: #3e49e2;
        }

        &:disabled {
          color: #acb0ec;
        }
      }

      button.square {
        width: 24px;
        height: 24px;
        background-color: #edeeff;
        border-radius: 5px;
        border: none;

        &:hover {
          background-color: #d1d4fd;
        }

        i {
          color: #16294f;
        }

        &:disabled {
          background-color: #edeeff;

          &:hover {
            background-color: #edeeff;
          }

          & i {
            color: #acb0ec;
          }
        }
      }
    }

    .error-msg {
      color: red;
    }

    .upload-btn {
      background-color: #16294f;
      color: #fff;

      &:hover {
        background-color: #4751de;
        box-shadow: none;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .widthcustom {
    width: 80% !important;
  }

  .accordion-item {
    .accordion-header {
      button {
        padding: 16px;
        border-radius: 10px;
        box-shadow: none;
        font-weight: 400;
        font-size: 14px;
        box-shadow: none;
      }

      .accordion-button:not(.collapsed) {
        color: #121212;
      }
    }

    .accordion-body {
      padding: 16px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 5px;
      display: flex;
      align-items: center;

      // margin-bottom: 16px;
      img {
        width: 22px;
        height: 29px;
        margin-right: 13px;
      }

      p.name {
        font: normal normal normal 18px/27px Poppins;
        color: #8b8b8b;
        margin: 0;
      }

      .stats {
        .percentage {
          font: normal normal normal 18px/27px Poppins;
          color: #8b8b8b;
          margin: 0 21px 0 0;
        }

        button.view {
          font: normal normal normal 18px/27px Poppins;
          color: #16294f;
          margin-right: 26px;
          border: none;
          background-color: transparent;

          &:hover {
            color: #3e49e2;
          }

          &:disabled {
            color: #acb0ec;
          }
        }

        button.square {
          width: 24px;
          height: 24px;
          background-color: #edeeff;
          border-radius: 5px;
          border: none;

          &:hover {
            background-color: #d1d4fd;
          }

          i {
            color: #16294f;
          }

          &:disabled {
            background-color: #edeeff;

            &:hover {
              background-color: #edeeff;
            }

            & i {
              color: #acb0ec;
            }
          }
        }
      }

      .error-msg {
        color: red;
      }

      .upload-btn {
        background-color: #16294f;
        color: #fff;

        &:hover {
          background-color: #4751de;
          box-shadow: none;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 767.9px) {
  .widthcustom {
    width: 80% !important;
  }

  .accordion-item {
    .accordion-header {
      button {
        padding: 16px;
        border-radius: 10px;
        box-shadow: none;
        font-weight: 400;
        font-size: 14px;
        box-shadow: none;
      }

      .accordion-button:not(.collapsed) {
        color: #121212;
      }
    }

    .accordion-body {
      padding: 16px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 5px;
      display: flex;
      align-items: center;

      img {
        width: 22px;
        height: 29px;
        margin-right: 1px;
      }

      p.name {
        font: normal normal normal 14px/27px Poppins;
        color: #8b8b8b;
        margin: 0;
      }

      .stats {
        .percentage {
          font: normal normal normal 15px/27px Poppins;
          color: #8b8b8b;
          margin: 0 14px 0 0;
        }

        button.view {
          font: normal normal normal 14px/27px Poppins;
          color: #16294f;
          margin-right: 24px;
          border: none;
          background-color: transparent;

          &:hover {
            color: #3e49e2;
          }

          &:disabled {
            color: #acb0ec;
          }
        }

        button.square {
          width: 24px;
          height: 24px;
          background-color: #edeeff;
          border-radius: 5px;
          border: none;

          &:hover {
            background-color: #d1d4fd;
          }

          i {
            color: #16294f;
          }

          &:disabled {
            background-color: #edeeff;

            &:hover {
              background-color: #edeeff;
            }

            & i {
              color: #acb0ec;
            }
          }
        }
      }

      .error-msg {
        color: red;
      }

      .upload-btn {
        background-color: #16294f;
        color: #fff;

        &:hover {
          background-color: #4751de;
          box-shadow: none;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

.required_tab {
  color: #FF5151;
  display: block;
  height: 15px;
  margin-left: 5px;
}

.cv_help {
  border: 1px solid #fbe8ea;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;

  .your_cv_popup {
    border: none;
    background-color: #16294f;
    padding: 8px 32px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
  }
}

.your_cv_con {
  display: flex;
  align-items: center;

  .your_cv_text {
    margin-left: 24px;
    margin-right: 24px;

    h1 {
      color: #FF5151;
      font-size: 24px;
      font-weight: 600;
    }

    h3 {
      font-size: 16px;
      font-weight: 600;
    }

    h5 {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.main_container {
  padding: 24px;
  padding-top: 88px;

  .top_hedaer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    h1 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 16px;
    }

    a {
      color: #fff;
      background-color: #16294f;
      padding: 8px 32px;
      border-radius: 8px;
    }
  }

  .bold_text {
    font-weight: 600;
  }

  .points_section {
    background-color: #FBF7EA;
    padding: 24px;
    margin-bottom: 80px;

    h1 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 24px;
    }

    .big_text {
      font-size: 40px;
    }

    .point_tips {
      background-color: #fff;
      padding: 0px 8px;
      margin-bottom: 16px;
      display: flex;
      align-items: center;

      span {
        font-size: 16px;
      }

      .tips_num {
        font-size: 40px;
        font-weight: 700;
        color: #ddd;
        margin: 0 20px;
        display: inline-block;
      }
    }
  }

  .dont_cv {
    h1 {
      text-align: center;
      margin-bottom: 24px;
      font-size: 20px;
      font-weight: 700;
    }

    .cv_example {
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;

      div {
        text-align: center;
      }

      svg {
        margin-bottom: 24px;
      }

      span {
        display: block;
        width: 100%;
        border: 1px solid #16294f;
        padding: 8px 90px;
        text-align: center;
        margin-bottom: 8px;
        color: #121212;
        border-radius: 5px;

        &.dnot_cv {
          border: 1px solid #FF5151;
        }
      }
    }
  }

  .cv_examples {
    h1 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 24px;
    }

    &>div {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 600px) {

  .cv_help,
  .your_cv_con {
    flex-direction: column;
  }

  .your_cv_popup {
    margin-top: 10px;
  }
}