<!-- first section -->
<section class="first-section">
    <div class="text-center">
        <h2>To come to study or work in France you need <br> several types of insurance</h2>
    </div>
    <!-- web and tab -->
    <div class="d-lg-block d-md-block d-none">
        <div class="row">
            <div class="col-lg-4 col-md-4 ps-0">
                <img class="w-74" src="/assets/images/navigator/in france/extra/c1.svg"
                    alt="medical-insurance">
                <h1>Health insurance</h1>
                <p>Adapted to your needs, with 4 different plans with options.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <img class="w-74" src="/assets/images/navigator/in france/extra/c2.svg"
                    alt="housing-insurance">
                <h1>Housing insurance</h1>
                <p>Protects your home and your belongings</p>
            </div>
            <div class="col-lg-4 col-md-4 pe-0">
                <img class="w-74" src="/assets/images/navigator/in france/extra/c3.svg"
                    alt="insurance-policy">
                <h1>Other insurances</h1>
                <p>These will protect you during your internship, jobs, your car...</p>
            </div>
        </div>
    </div>
    <!-- mobile -->
    <div class="d-lg-none d-md-none d-block">
        <div class="row">
            <div class="col-lg-12 px-0">
                <owl-carousel-o [options]="teamOptions">
                    <ng-container>

                        <ng-template carouselSlide>
                            <div class="col-12 px-0">
                                <div class="text-center">
                                    <img class="w-75 m-auto" src="/assets/images/navigator/in france/extra insurance/medical-insurance.svg"
                                        alt="medical-insurance">
                                    <h1>Health insurance</h1>
                                    <p>Adapted to your needs, with 4 different plans with options.</p>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template carouselSlide>
                            <div class="col-12 px-0">
                                <div class="text-center">
                                    <img class="w-75 m-auto" src="/assets/images/navigator/in france/extra insurance/house-insurance.svg"
                                        alt="housing-insurance">
                                    <h1>Housing insurance</h1>
                                    <p>Protects your home and your belongings</p>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template carouselSlide>
                            <div class="col-12 px-0">
                                <div class="text-center">
                                    <img class="w-75 m-auto" src="/assets/images/navigator/in france/extra insurance/insurance-policy.svg"
                                        alt="insurance-policy">
                                    <h1>Other insurances</h1>
                                    <p>These will protect you during your internship, jobs, your car...</p>
                                </div>
                            </div>
                        </ng-template>
                        
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<!-- EMY -->
<section class="EMY">
    <img src="../../../../../../assets/images/navigator/in france/extra insurance/EMY.svg" alt="EMY"
    style="width: 200px;">
    <ul>
        <li>
            <p>Your social security partially covers all <span>your health expenses.</span></p>
        </li>
        <li>
            <p>Complementary insurance (mutuelle) helps <span>cover the rest of the expenses</span> so that you
                eventually get 100% of your expenses refunded.</p>
        </li>
        <li>
            <p>You can apply for <span>the Mutuelle Solidaire</span> where they’ll examine your application for
                eligibility and if deemed eligible you benefit from the following:</p>
        </li>
    </ul>
    <span>Check the website : <a href="https://heyme.care/en/foreign-student"
            target="_blank">https://heyme.care/en/foreign-student</a></span>
</section>

<!-- red section -->
<section class="red">
    <h1>Benefit from a full coverage of your health expenses during your stay in France</h1>
    <h1 class="mt-lg-4 mt-md-2 mt-1">HEYME covers your healthcare and your everyday life during your stay in France</h1>
</section>

<div class="ticket">
    <img src="/assets/images/navigator/in france/extra insurance/ticket.svg" alt="ticket">
    <h5>GATOR-10</h5>
</div>