mat-drawer-container {
  min-height: 100vh;
  mat-drawer.mat-drawer {
    transition: all 0.4s linear;
    background: linear-gradient(113deg, #c54549 -10%, #294cb0e0 60%);
    border: none;
    outline: none;
    aside {
      .container-part {
        padding: 18px 25px 0 20px;
      }
      img.sg-logo {
        height: 80px;
        margin: auto;
        margin-bottom: 30px;
      }
      h3.title {
        font: normal normal 600 18px Poppins;
        color: #fff;
      }
      .main-list {
        margin-top: 15px;
        button.main-link {
          display: inline-block;
          width: 100%;
          text-align: left;
          font: normal normal 500 16px Poppins;
          color: #fff;
          padding: 16px 30px 16px 24px;
          background: transparent;
          border: 0;
          i {
            margin-right: 16px;
          }

          &:hover {
            color: #fac0c0;
            transition: all 0.4s ease-in-out;
          }

          &:focus {
            background: linear-gradient(
              91deg,
              #ffffff00 0%,
              #888df36e 0%,
              #294db089 100%
            );
            position: relative;
            &::after {
              content: "";
              position: absolute;
              right: 0;
              top: 0;
              width: 7px;
              height: 100%;
              background-color: #fcb2b2;
            }
            i {
              color: #fac0c0;
            }
          }
        }
        // a.main-link {
        //   background: linear-gradient(
        //     91deg,
        //     #ffffff00 0%,
        //     #888ef3c1 0%,
        //     #626aef 100%
        //   );
        //   position: relative;
        //   &::after {
        //     content: "";
        //     position: absolute;
        //     right: 0;
        //     top: 0;
        //     width: 7px;
        //     height: 100%;
        //     background-color: #fcb2b2;
        //   }
        //   i {
        //     color: #fac0c0;
        //   }
        // }
      }

      .secondary-list {
        a.secondary-link {
          padding: 8px 15px 8px 30px;
          font: normal normal 500 16px Poppins;
          color: #e5e7ff;
          &:hover {
            color: #fff;
          }
          i {
            margin-right: 16px;
            font-size: 20px;
          }
        }
        a.secondary-link.activated-secondary-link {
          color: #fac0c0;
        }
      }
    }
  }
  mat-drawer-content {
    transition: all 0.4s linear;
  }
}
nav {
  height: 70px;
  background-color: #fff;
  padding: 0 16px;
  ul {
    li.side-menu {
      .menu-container {
        padding: 8px;
        background: #e5e7ff;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    li.fullscreen-item {
      margin: 0 16px;
      padding: 6px;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: #ffdddd;
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
    .notification-item {
      margin: 0 16px;
      position: relative;
      z-index: 3;
      &:hover {
        .image-container {
          background-color: #ffdddd;
        }
        ul.notification-list {
          display: block;
        }
      }
      .image-container {
        border-radius: 50%;
        padding: 6px;
        img.list-image {
          width: 25px;
          height: 25px;
        }
      }
      ul.notification-list {
        padding: 20px 48px;
        display: none;
        position: absolute;
        width: 460px;
        right: -20px;
        top: 42px;
        background-color: #fff;
        box-shadow: 0px 2px 10px #00000027;
        hr {
          width: 100%;
          height: 1px;
          background-color: #f1f1f3;
        }
        li.title {
          p {
            margin-bottom: 18px;
            font: normal normal normal 17px poppins;
            color: #4d4f5c;
          }
        }
        li.notification {
          .notificaiton-info {
            img {
              width: 40px;
              height: 40px;
              margin-right: 16px;
            }
            p.notification-status {
              font: normal normal normal 13px Poppins;
              color: #4d565c;
              margin-bottom: 3px;
              span.notification-name {
                font: normal normal 600 14px Poppins;
                color: #4d565c;
              }
            }
            p.notification-duration {
              font: normal normal normal 11px Poppins;
              color: #808495;
            }
          }
        }
        li.more {
          a.more-link {
            margin-top: 20px;
            font: normal normal normal 12px Poppins;
            color: #626aef;
          }
        }
      }
    }
    .profile-dropdown {
      margin-left: 16px;
      position: relative;
      &:hover .dropdown {
        display: block;
      }
      a {
        margin-right: 16px;
        img.profile-image {
          width: 19px;
          height: 22px;
          border-radius: 50%;
          margin-right: 12px;
        }
        .employee-name {
          font: normal normal 500 16px/24px Poppins;
          color: #373b79;
          cursor: default;
        }
      }
      i {
        padding-top: 2px;
        font-size: 19px;
        color: #373b79;
      }
      .dropdown {
        position: absolute;
        width: 221px;
        opacity: 0.97;
        border-radius: 5px;
        box-shadow: 0px 3px 6px #00000029;
        top: 40px;
        right: 0;
        background-color: #fff;
        display: none;
        padding: 0;
        .dropdown-list {
          padding: 20px 0 20px 32px;
          &:hover .dropdown-link {
            color: #6f77f4;
            i {
              color: #6f77f4;
            }
          }
          .dropdown-link {
            font: normal normal normal 16px Poppins;
            color: #373b79;
            cursor: pointer;
            i {
              margin-right: 10px;
              color: #373b79;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  mat-drawer-container {
    min-height: 100vh;
    mat-drawer.mat-drawer {
      transition: all 0.4s linear;
      background: linear-gradient(180deg, #626aef 0%, #fac0c0 150%);
      border: none;
      outline: none;
      aside {
        .container-part {
          padding: 32px 20px 0 16px;
        }
        h3.title {
          font: normal normal 600 18px Poppins;
          color: #fff;
        }
        .main-list {
          margin-top: 24px;
          a.main-link {
            display: inline-block;
            width: 100%;
            font: normal normal 500 16px Poppins;
            color: #fff;
            padding: 10px 16px 10px 16px;
            i {
              margin-right: 12px;
            }
          }
          a.main-link.activated-main-link {
            background: linear-gradient(
              91deg,
              #ffffff00 0%,
              #888ef3c1 0%,
              #626aef 100%
            );
            position: relative;
            &::after {
              content: "";
              position: absolute;
              right: 0;
              top: 0;
              width: 7px;
              height: 100%;
              background-color: #fcb2b2;
            }
            i {
              color: #fac0c0;
            }
          }
        }
        .secondary-list {
          margin-top: 25px;
          a.secondary-link {
            padding: 8px 15px 8px 16px;
            font: normal normal 500 16px Poppins;
            color: #e5e7ff;
            &:hover {
              color: #fff;
            }
            i {
              margin-right: 12px;
              font-size: 20px;
            }
          }
          a.secondary-link.activated-secondary-link {
            color: #fac0c0;
          }
        }
      }
    }
    mat-drawer-content {
      transition: all 0.4s linear;
    }
  }
  nav {
    height: 70px;
    background-color: #fff;
    padding: 0 16px;
    ul {
      li.side-menu {
        .menu-container {
          padding: 8px;
          background: #e5e7ff;
          border-radius: 5px;
          cursor: pointer;
        }
      }
      li.fullscreen-item {
        margin: 0 16px;
        padding: 6px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background-color: #ffdddd;
        }
        img {
          width: 24px;
          height: 24px;
        }
      }
      .notification-item {
        margin: 0 16px;
        position: relative;
        z-index: 3;
        &:hover {
          .image-container {
            background-color: #ffdddd;
          }
          ul.notification-list {
            display: block;
          }
        }
        .image-container {
          border-radius: 50%;
          padding: 6px;
          img.list-image {
            width: 25px;
            height: 25px;
          }
        }
        ul.notification-list {
          padding: 20px 48px;
          display: none;
          position: absolute;
          width: 460px;
          right: -20px;
          top: 42px;
          background-color: #fff;
          box-shadow: 0px 2px 10px #00000027;
          hr {
            width: 100%;
            height: 1px;
            background-color: #f1f1f3;
          }
          li.title {
            p {
              margin-bottom: 18px;
              font: normal normal normal 17px poppins;
              color: #4d4f5c;
            }
          }
          li.notification {
            .notificaiton-info {
              img {
                width: 40px;
                height: 40px;
                margin-right: 16px;
              }
              p.notification-status {
                font: normal normal normal 13px Poppins;
                color: #4d565c;
                margin-bottom: 3px;
                span.notification-name {
                  font: normal normal 600 14px Poppins;
                  color: #4d565c;
                }
              }
              p.notification-duration {
                font: normal normal normal 11px Poppins;
                color: #808495;
              }
            }
          }
          li.more {
            a.more-link {
              margin-top: 20px;
              font: normal normal normal 12px Poppins;
              color: #626aef;
            }
          }
        }
      }
      .profile-dropdown {
        margin-left: 16px;
        position: relative;
        &:hover .dropdown {
          display: block;
        }
        a {
          margin-right: 16px;
          img.profile-image {
            width: 19px;
            height: 22px;
            border-radius: 50%;
            margin-right: 12px;
          }
          .employee-name {
            font: normal normal 500 16px/24px Poppins;
            color: #373b79;
            cursor: default;
          }
        }
        i {
          padding-top: 2px;
          font-size: 19px;
          color: #373b79;
        }
        .dropdown {
          position: absolute;
          width: 221px;
          opacity: 0.97;
          border-radius: 5px;
          box-shadow: 0px 3px 6px #00000029;
          top: 40px;
          right: 0;
          background-color: #fff;
          display: none;
          padding: 0;
          .dropdown-list {
            padding: 20px 0 20px 32px;
            &:hover .dropdown-link {
              color: #6f77f4;
              i {
                color: #6f77f4;
              }
            }
            .dropdown-link {
              font: normal normal normal 16px Poppins;
              color: #373b79;
              cursor: pointer;
              i {
                margin-right: 10px;
                color: #373b79;
              }
            }
          }
        }
      }
    }
  }
}
