<!-- cards section -->
<section>
  <p class="title text-center">Before the interview</p>
  <h1 class="main-section-heading text-center pt-0">Tips before interview</h1>
  <div class="d-lg-block d-md-block d-none">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 col-md-4 ps-0">
        <div class="card">
          <img
            src="/assets/images/navigator/application/ip/card-1.svg"
            alt="card-img-1"
            class="img-fluid card-img"
          />
          <div class="card-body">
            <h5 class="card-title">Use a computer for the interview</h5>
            <p class="card-text">
              We recommend you to use a computer instead of a smartphone.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="card">
          <img
            src="/assets/images/navigator/application/ip/card-2.svg"
            alt="card-img-2"
            class="img-fluid card-img"
          />
          <div class="card-body">
            <h5 class="card-title">Check your internet network</h5>
            <p class="card-text">
              Check your internet network and your Skype account, make a call
              test with one of your private contact.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 pe-0">
        <div class="card">
          <img
            src="/assets/images/navigator/application/ip/card-3.svg"
            alt="card-img-3"
            class="img-fluid card-img"
          />
          <div class="card-body">
            <h5 class="card-title">You are in a quiet place</h5>
            <p class="card-text">
              Make sure you are in a quiet place where you feel confident and
              you won’t be disturbed.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 ps-0">
        <div class="card">
          <img
            src="/assets/images/navigator/application/ip/card-4.svg"
            alt="card-img-4"
            class="img-fluid card-img"
          />
          <div class="card-body">
            <h5 class="card-title">Check time zone.</h5>
            <p class="card-text">
              Don’t confuse the hour of your interview. It’s scheduled in french
              local time (GMT+1).
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 pe-0">
        <div class="card">
          <img
            src="/assets/images/navigator/application/ip/card-5.svg"
            alt="card-img-5"
            class="img-fluid card-img"
          />
          <div class="card-body">
            <h5 class="card-title">Prepare interview questions</h5>
            <p class="card-text">
              Remember to read carefully the content of the course and know
              specific details about the school.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-none d-md-none d-block">
    <div class="row">
      <div class="col-lg-12 px-0">
        <owl-carousel-o [options]="teamOptions">
          <ng-container>
            <ng-template carouselSlide>
              <div class="col-12 px-0">
                <div class="card">
                  <img
                    src="/assets/images/navigator/application/ip/card-1.svg"
                    alt="card-img-1"
                    class="img-fluid card-img"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Use a computer for the interview</h5>
                    <p class="card-text">
                      We recommend you to use a computer instead of a
                      smartphone.
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="col-12 px-0">
                <div class="card">
                  <img
                    src="/assets/images/navigator/application/ip/card-2.svg"
                    alt="card-img-2"
                    class="img-fluid"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Check your internet network</h5>
                    <p class="card-text">
                      Check your internet network and your Skype account, make a
                      call test with one of your private contact.
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="col-12 px-0">
                <div class="card">
                  <img
                    src="/assets/images/navigator/application/ip/card-3.svg"
                    alt="card-img-3"
                    class="img-fluid"
                  />
                  <div class="card-body">
                    <h5 class="card-title">You are in a quiet place</h5>
                    <p class="card-text">
                      Make sure you are in a quiet place where you feel
                      confident and you won’t be disturbed.
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="col-12 px-0">
                <div class="card">
                  <img
                    src="/assets/images/navigator/application/ip/card-4.svg"
                    alt="card-img-3"
                    class="img-fluid"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Check time zone.</h5>
                    <p class="card-text">
                      Don’t confuse the hour of your interview. It’s scheduled
                      in french local time (GMT+1).
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="col-12 px-0">
                <div class="card">
                  <img
                    src="/assets/images/navigator/application/ip/card-5.svg"
                    alt="card-img-3"
                    class="img-fluid"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Prepare interview questions</h5>
                    <p class="card-text">
                      Remember to read carefully the content of the course and
                      know specific details about the school.
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>
<!-- tips section -->
<section>
  <div class="row hints-row">
    <div class="wrap">
      <div class="row">
        <div class="col-lg-8 col-md-9 col-12">
          <p class="title">The "D” day</p>
          <h1>Tips during interview</h1>
        </div>
        <div class="col-md-3 d-lg-none d-md-block d-none text-end pe-0">
          <img
            src="/assets/images/navigator/application/interview/interview.svg"
            alt="interview-hint"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="hint d-flex align-items-center">
          <ul>
            <li>
              Choose <span>an appropriate outfit,</span> Business attire is
              required.
            </li>
            <li>
              Log in 5 min prior to the interview. Sometimes, the interview can
              be delayed. <span>Keep your calm, don’t panic.</span> The jury
              will directly contact you.
            </li>
            <div class="row">
              <div class="col-lg-9 col-12 p-0">
                <li>
                  Maintain the eye contact.
                  <span>Avoid to fix your notes.</span> Be spontaneous! The
                  interview will be more comfortable for you and the jury.
                </li>
                <li>
                  Show your motivation and smile, remember that the jury is most
                  of the time composed of professors that will teach you the
                  course,
                  <span>you want them to want you in their class.</span>
                </li>
                <li>
                  Finally, make sure
                  <span>you hang up properly right</span> after the interview.
                </li>
              </div>
              <div class="col-lg-3 d-lg-block d-md-none d-none">
                <img
                  src="/assets/images/navigator/application/interview/interview.svg"
                  alt="interview-hint"
                  class="img-fluid"
                />
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- interview qusition -->
<section class="interviewQus">
  <h1 class="main-section-heading color-red">
    Examples of Interview questions
  </h1>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <ul>
      <li>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              General questions
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <ul class="basic-list">
                <li>
                  Introduce yourself and provide a brief overview of your
                  background, experiences, and academic interests.
                </li>
                <li>
                  What factors motivated you to choose France as your study
                  destination?
                </li>
                <li>
                  What specific aspects of this school/program intrigue you and
                  align with your educational and career goals?
                </li>
                <li>
                  Could you share your long-term career aspirations and how you
                  envision yourself in 3 to 5 years?
                </li>
                <li>
                  Discuss your strengths and weaknesses, focusing on how they
                  have shaped your personal and academic development.
                </li>
                <li>
                  Do you thrive more when working in a team or independently,
                  and why?
                </li>
                <li>
                  What is your passion or area of keen interest, and how has it
                  influenced your academic or extracurricular pursuits?
                </li>
                <li>
                  Reflect on a past failure or setback you experienced and
                  explain the valuable lesson you learned from it.
                </li>
                <li>
                  Share the title and key takeaways from the last book you read,
                  highlighting its impact on your personal growth or
                  perspective.
                </li>
                <li>
                  Describe a challenging experience you faced and elaborate on
                  the strategies you employed to navigate through it
                  successfully.
                </li>
                <li>
                  Can you provide your thoughts on a current news topic or issue
                  that has caught your attention?
                </li>
                <li>
                  In your opinion, what qualities should an effective and
                  successful manager possess?
                </li>
                <li>
                  Identify and discuss three significant accomplishments from
                  your academic, professional, or personal life.
                </li>
                <li>
                  Share your hobbies and interests outside of academia and
                  explain how they contribute to your personal well-being and
                  development.
                </li>
                <li>
                  Who is your role model or someone you admire, and what
                  attributes or achievements of theirs inspire you?
                </li>
                <li>
                  Outline your expectations from the MSc program, including
                  specific skills, knowledge, or opportunities you hope to gain.
                </li>
                <li>
                  Do you have any inquiries or questions for the interview panel
                  regarding the program, university, or any other relevant
                  topic?
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Technical questions
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <ul class="nested-list">
                <li class="main-list">
                  Marketing
                  <ul class="child-list">
                    <li>
                      Can you explain the concept of the marketing mix (4Ps) and
                      provide an example of how it can be applied in a
                      real-world marketing campaign?
                    </li>
                    <li>
                      How would you approach market segmentation to target
                      different customer groups effectively?
                    </li>
                    <li>
                      Can you discuss the importance of branding in marketing
                      and provide an example of a successful brand strategy?
                    </li>
                    <li>
                      How would you use social media platforms as marketing
                      tools to engage with and reach a target audience?
                    </li>
                    <li>
                      Can you explain the concept of customer lifetime value
                      (CLV) and its significance in marketing decision-making?
                    </li>
                  </ul>
                </li>

                <li class="main-list mt-lg-4 mt-md-3 mt-2">
                  Finance
                  <ul class="child-list">
                    <li>
                      Can you explain the concept of compound interest and how
                      it affects the growth of investments over time?
                    </li>
                    <li>
                      How would you evaluate a company's financial health by
                      analyzing its balance sheet and income statement?
                    </li>
                    <li>
                      Can you discuss the role of diversification in investment
                      portfolios and its benefits in managing risk?
                    </li>
                    <li>
                      How would you calculate the return on investment (ROI) for
                      a specific project or investment opportunity?
                    </li>
                    <li>
                      Can you explain the concept of working capital and its
                      importance in assessing a company's short-term liquidity?
                    </li>
                  </ul>
                </li>

                <li class="main-list mt-lg-4 mt-md-3 mt-2">
                  Supply Chain
                  <ul class="child-list">
                    <li>
                      Can you explain the difference between push and pull
                      supply chain strategies? Provide examples of industries
                      where each strategy may be more suitable.
                    </li>
                    <li>
                      How would you optimize inventory levels to balance
                      customer demand and minimize holding costs?
                    </li>
                    <li>
                      Can you discuss the role of forecasting in supply chain
                      management and provide examples of forecasting methods
                      used in practice?
                    </li>
                    <li>
                      How would you identify and mitigate supply chain risks,
                      such as supplier disruptions or transportation delays?
                    </li>
                    <li>
                      Can you explain the concept of lean manufacturing and its
                      principles for improving operational efficiency?
                    </li>
                  </ul>
                </li>

                <li class="main-list mt-lg-4 mt-md-3 mt-2">
                  Computer Science
                  <ul class="child-list">
                    <li>
                      Can you explain the difference between a compiler and an
                      interpreter in programming languages?
                    </li>
                    <li>
                      How would you implement a sorting algorithm such as bubble
                      sort or insertion sort in a programming language of your
                      choice?
                    </li>
                    <li>
                      Can you discuss the concept of database normalization and
                      its benefits in reducing data redundancy?
                    </li>
                    <li>
                      How would you approach troubleshooting a computer network
                      connectivity issue?
                    </li>
                    <li>
                      Can you explain the difference between a local variable
                      and a global variable in programming?
                    </li>
                  </ul>
                </li>

                <li class="main-list mt-lg-4 mt-md-3 mt-2">
                  International Business
                  <ul class="child-list">
                    <li>
                      Can you discuss the impact of cultural differences on
                      international business negotiations and provide strategies
                      to overcome communication barriers?
                    </li>
                    <li>
                      How would you assess the potential risks and benefits of
                      entering a foreign market for a company? Consider factors
                      such as political stability, economic conditions, and
                      legal frameworks.
                    </li>
                    <li>
                      Can you explain the concept of foreign exchange risk and
                      discuss strategies to manage it in international business
                      operations?
                    </li>
                    <li>
                      How would you analyze the competitive landscape of a
                      foreign market and identify potential competitors?
                    </li>
                    <li>
                      Can you discuss the role of multinational corporations in
                      promoting economic growth and development in host
                      countries?
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>