<section>
  <h2>Paramètres du profil</h2>
  <!-- name -->
  <div class="data">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Nom</h1>
      <button class="btn_actions" *ngIf="!openName" (click)="showName()">
        <i class="far fa-edit"></i>
        <span>Modifier</span>
      </button>
      <button class="btn_actions" *ngIf="openName" (click)="showName()">
        <i class="fas fa-times"></i>
        <span>Annuler</span>
      </button>
    </div>
    <p *ngIf="!openName">{{ fullName }} {{ lastName }}</p>
    <div *ngIf="openName" class="row input-data">
      <form [formGroup]="nameForm" (ngSubmit)="onSubmitName(nameForm)">
        <div class="row">
          <div class="col-6">
            <input class="w-100" type="text" placeholder="First Name" formControlName="namestudent" />
          </div>
          <div class="col-6">
            <input class="w-100" type="text" placeholder="Last Name" formControlName="laststudent" oninput="this.value = this.value.toUpperCase()"/>
          </div>
        </div>
        <button class="btn" type="submit" [disabled]="!nameForm.valid">
          Enregistrer
        </button>
      </form>
    </div>
  </div>

  <!-- email -->
  <div class="data">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Email</h1>
      <button class="btn_actions" *ngIf="!openEmail" (click)="showEmail()">
        <i class="far fa-edit"></i>
        <span>Modifier</span>
      </button>
      <button class="btn_actions" *ngIf="openEmail" (click)="showEmail()">
        <i class="fas fa-times"></i>
        <span>Annuler</span>
      </button>
    </div>
    <p *ngIf="!openEmail">{{ userEmail }}</p>
    <div *ngIf="openEmail" class="input-data">
      <form
        [formGroup]="changeEmailForm"
        (ngSubmit)="onSubmitEmail(changeEmailForm)"
      >
        <div class="row">
          <div class="col-6">
            <label class="setting-label"> Adresse E-mail actuelle</label>
            <input
              class="w-100"
              type="email"
              formControlName="currentEmail"
              placeholder="Current Email"
            />
            <span
              *ngIf="
                !changeEmailForm.controls.currentEmail.valid &&
                changeEmailForm.controls.currentEmail.touched
              "
              class="text-danger"
            >
            Vous devez entrer une adresse E-mail valide
            </span>
          </div>

          <div class="col-6">
            <label class="setting-label"> Nouvelle adresse E-mail</label>
            <input
              class="w-100"
              type="email"
              formControlName="newEmail"
              placeholder="Nouvelle adresse E-mail"
            />
            <span
              *ngIf="
                !changeEmailForm.controls.newEmail.valid &&
                changeEmailForm.controls.newEmail.touched
              "
              class="text-danger"
            >
            Vous devez entrer une adresse E-mail valide
            </span>
          </div>

          <div class="col-6 mt-2 position-relative">
            <label class="setting-label"> Mot de passe</label>
            <input
              class="w-100"
              formControlName="yourPassword"
              placeholder="Mot de passe"
              [type]="!secpass ? 'password' : 'text'"
            />
            <i *ngIf="!secpass" class="fas fa-eye" (click)="eyepass()"></i>
            <i *ngIf="secpass" class="fas fa-eye-slash" (click)="eyepass()"></i>
            <span
              *ngIf="
                !changeEmailForm.controls.yourPassword.valid &&
                changeEmailForm.controls.yourPassword.touched
              "
              class="text-danger"
            >
            Vous devez entrer un mot de passe valide
            </span>
          </div>
        </div>
        <button class="btn" type="submit" [disabled]="!changeEmailForm.valid">
          Enregistrer
        </button>
      </form>
    </div>
  </div>

  <!-- password -->
  <div class="data">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Mot de passe</h1>
      <button class="btn_actions" *ngIf="!openPass" (click)="showPass()">
        <i class="far fa-edit"></i>
        <span>Modifier</span>
      </button>
      <button class="btn_actions" *ngIf="openPass" (click)="showPass()">
        <i class="fas fa-times"></i>
        <span>Annuler</span>
      </button>
    </div>
    <p *ngIf="!openPass">********</p>
    <div *ngIf="openPass" class="input-data">
      <form [formGroup]="changeForm" (ngSubmit)="onSubmitPassword(changeForm)">
        <div class="row">
          <div class="col-6 position-relative">
            <label class="setting-label">Mot de passe actuel</label>
            <input
              class="w-100 form-control"
              [type]="!secpass ? 'password' : 'text'"
              formControlName="currentPassword"
              min="8"
              max="16"
              placeholder="Mot de passe actuel"
            />
            <i *ngIf="!secpass" class="fas fa-eye" (click)="eyepass()"></i>
            <i *ngIf="secpass" class="fas fa-eye-slash" (click)="eyepass()"></i>
            <span
              *ngIf="
                !changeForm.controls.currentPassword.valid &&
                changeForm.controls.currentPassword.touched
              "
              class="text-danger"
            >
            Vous devez entrer un mot de passe valide
            </span>
          </div>

          <div class="col-6 position-relative">
            <label class="setting-label"> Nouveau mot de passe</label>
            <input
              class="w-100 form-control"
              [type]="!secrepass ? 'password' : 'text'"
              min="8"
              max="16"
              formControlName="newPassword"
              placeholder="Nouveau mot de passe"
            />
            <i *ngIf="!secrepass" class="fas fa-eye" (click)="eyerepass()"></i>
            <i
              *ngIf="secrepass"
              class="fas fa-eye-slash"
              (click)="eyerepass()"
            ></i>
            <span
              *ngIf="
                !changeForm.controls.newPassword.valid &&
                changeForm.controls.newPassword.touched
              "
              class="text-danger"
            >
            Vous devez entrer un mot de passe valide
            </span>
          </div>
        </div>
        <button class="btn" type="submit" [disabled]="!changeForm.valid">
          Enregistrer
        </button>
      </form>
    </div>
  </div>

  <!-- mobile -->
  <div class="data">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Numéro de téléphone</h1>
      <button class="btn_actions" *ngIf="!openMobile" (click)="showMobile()">
        <i class="far fa-edit"></i>
        <span>Modifier</span>
      </button>
      <button class="btn_actions" *ngIf="openMobile" (click)="showMobile()">
        <i class="fas fa-times"></i>
        <span>Annuler</span>
      </button>
    </div>
    <p *ngIf="!openMobile">+{{ phoneNum }}</p>
    <div *ngIf="openMobile" class="input-data">
      <form [formGroup]="phoneForm" (ngSubmit)="onSubmit1(phoneForm)">
        <div class="row">
          <div class="col-6">
            <ngx-intl-tel-input
              class="h-100 w-100 form-control"
              formControlName="phonenumber"
              [cssClass]="'custom'"
              [preferredCountries]="[
                CountryISO.UnitedStates,
                CountryISO.UnitedKingdom
              ]"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="false"
              [searchCountryFlag]="true"
              [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
              ]"
              [selectedCountryISO]="CountryISO.UnitedKingdom"
              name="phone"
            >
            </ngx-intl-tel-input>
          </div>
        </div>
        <button class="btn" type="submit" [disabled]="!phoneForm.valid">
          Enregistrer
        </button>
      </form>
    </div>
  </div>

  <!-- country -->
  <div class="data">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Pays</h1>
      
      <button class="btn_actions" *ngIf="!openCountry" (click)="showCountry()">
        <i class="far fa-edit"></i>
        <span>Modifier</span>
      </button>
      <button class="btn_actions" *ngIf="openCountry" (click)="showCountry()">
        <i class="fas fa-times"></i>
        <span>Annuler</span>
      </button>
    </div>
    <p *ngIf="!openCountry">{{ country }}</p>
    <div *ngIf="openCountry" class="input-data">
      <form [formGroup]="countryForm" (ngSubmit)="onSubmitCountry(countryForm)">
        <div class="row">
          <div class="col-6">
            <select class="w-100 form-control" formControlName="countrystudent">
              <option
                [value]="country.country"
                *ngFor="let country of countries"
              >
                {{ country.country }}
              </option>
            </select>
            <!-- <input class="w-100" type="text" [value]="country" [disabled]="country != ''"> -->
          </div>
        </div>
        <button class="btn" type="submit" [disabled]="!countryForm.valid">
          Enregistrer
        </button>
      </form>
    </div>
  </div>
</section>
