section {
  background-color: #f7f7f7;
}

section .container-fluid {
  padding: 26px 0 26px 16px;
}

section .container-fluid h2.section-title {
  font: normal normal 600 24px Poppins;
  color: #373b79;
  margin-bottom: 26px;
}

section .container-fluid section.stats-section {
  margin-bottom: 33px;
}

section .container-fluid section.stats-section .stats-col {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px 16px;
}

section .container-fluid section.stats-section .stats-col p.number {
  font: normal normal 600 24px Poppins;
  margin-bottom: 9px;
  color: #484848;
}

section .container-fluid section.stats-section .stats-col p.stats {
  font: normal normal normal 14px Poppins;
  margin: 0;
  color: #484848;
}

section .container-fluid section.stats-section .stats-col img {
  width: 56px;
  height: 56px;
}

section .container-fluid section.table-section .outter-container {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 10px;
}

section .container-fluid section.table-section .outter-container .inner-container {
  background-color: #fff;
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 25px;
  margin: 0;
  position: relative;
}

section .container-fluid section.table-section .outter-container .inner-container h2.sub-title {
  display: inline-block;
  position: absolute;
  top: -15px;
  font: normal normal 500 24px Poppins;
  color: #373b79;
  background: #fff;
  width: 300px;
  margin: 0;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col {
  position: relative;
  margin-bottom: 25px;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col h3.title {
  font: normal normal 500 18px Poppins;
  color: #373b79;
  text-transform: capitalize;
  margin-bottom: 12px;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col h4.sub-title {
  font: normal normal 500 16px Poppins;
  color: #484848;
  margin-bottom: 8px;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col .form-label {
  font: normal normal 500 16px Poppins;
  color: #484848;
  margin-bottom: 8px;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col span.important {
  color: red;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col .form-input,
section .container-fluid section.table-section .outter-container .inner-container .form-col .phone-input {
  background: #e5e7ff;
  border-radius: 5px;
  font: normal normal 500 16px Poppins;
  color: #373b79;
  padding: 17px 60px 17px 27px;
  border: 1px solid transparent;
  width: 100%;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col .form-input:hover,
section .container-fluid section.table-section .outter-container .inner-container .form-col .form-input:focus,
section .container-fluid section.table-section .outter-container .inner-container .form-col .phone-input:hover,
section .container-fluid section.table-section .outter-container .inner-container .form-col .phone-input:focus {
  box-shadow: none !important;
  border: 1px solid #65499c;
  background-color: #fff;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col .form-input:hover+i.edit-icon,
section .container-fluid section.table-section .outter-container .inner-container .form-col .form-input:focus+i.edit-icon,
section .container-fluid section.table-section .outter-container .inner-container .form-col .phone-input:hover+i.edit-icon,
section .container-fluid section.table-section .outter-container .inner-container .form-col .phone-input:focus+i.edit-icon {
  transform: scale(1.3);
}

section .container-fluid section.table-section .outter-container .inner-container .form-col .form-input.missing-input,
section .container-fluid section.table-section .outter-container .inner-container .form-col .phone-input.missing-input {
  border: 1px solid #ff0000;
  background-color: #fff;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col span.missing-error {
  font: normal normal normal 13px Poppins;
  color: #ff0000;
  margin-left: 28px;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input {
  display: block;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input.missing-input input {
  border: 1px solid #ff0000;
  background-color: #fff;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input.missing-input input:focus,
section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input.missing-input input:hover {
  border: 1px solid #ff0000;
  background-color: #fff;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input .iti {
  width: 100% !important;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input .iti .phone-input {
  height: 56px;
  padding: 17px 60px;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input:hover,
section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input:focus {
  box-shadow: none !important;
  background-color: #fff;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input:hover+i.edit-icon,
section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input:focus+i.edit-icon {
  transform: scale(1.3);
}

section .container-fluid section.table-section .outter-container .inner-container .form-col i.edit-icon {
  position: absolute;
  top: 52px;
  right: 27px;
  font-size: 21px;
  color: #ab4851;
  transition: all 0.25s linear;
}

section .container-fluid section.table-section .outter-container .inner-container .form-col .first-item {
  padding-top: 42px;
}

section .container-fluid section.table-section .outter-container .inner-container .submit-col {
  display: flex;
  justify-content: flex-end;
}

section .container-fluid section.table-section .outter-container .inner-container .submit-col .submit-btn {
  padding: 15px 80px;
  background-color: #16294f;
  border-radius: 8px;
  font: normal normal 500 18px Poppins;
  color: #ffffff;
  border: none;
}

section .container-fluid section.table-section .outter-container .inner-container .submit-col .submit-btn:hover {
  background-color: #16294f;
}

section .container-fluid section.table-section .outter-container .inner-container .submit-col .submit-btn:disabled {
  background-color: #fbe8ea;
}

@media (max-width: 768px) {
  section {
    background-color: #f7f7f7;
  }

  section .container-fluid {
    padding: 26px 0 26px 16px;
  }

  section .container-fluid h2.section-title {
    font: normal normal 500 18px Poppins;
    color: #373b79;
    margin-bottom: 26px;
  }

  section .container-fluid section.stats-section {
    margin-bottom: 33px;
  }

  section .container-fluid section.stats-section .stats-col {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px 16px;
  }

  section .container-fluid section.stats-section .stats-col p.number {
    font: normal normal 600 24px Poppins;
    margin-bottom: 9px;
    color: #484848;
  }

  section .container-fluid section.stats-section .stats-col p.stats {
    font: normal normal normal 14px Poppins;
    margin: 0;
    color: #484848;
  }

  section .container-fluid section.stats-section .stats-col img {
    width: 56px;
    height: 56px;
  }

  section .container-fluid section.table-section .outter-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 10px;
  }

  section .container-fluid section.table-section .outter-container .inner-container {
    background-color: #fff;
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding: 25px;
    margin: 0;
    position: relative;
  }

  section .container-fluid section.table-section .outter-container .inner-container h2.sub-title {
    display: inline-block;
    position: absolute;
    top: -20px;
    font: normal normal 500 18px Poppins;
    color: #373b79;
    background: #fff;
    width: 210px;
    padding: 0 12px;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col {
    position: relative;
    margin-bottom: 25px;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col h3.title {
    font: normal normal 500 18px Poppins;
    color: #373b79;
    text-transform: capitalize;
    margin-bottom: 12px;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col h4.sub-title {
    font: normal normal 500 16px Poppins;
    color: #484848;
    margin-bottom: 8px;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col .form-label {
    font: normal normal 500 16px Poppins;
    color: #484848;
    margin-bottom: 8px;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col span.important {
    color: red;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col .form-input,
  section .container-fluid section.table-section .outter-container .inner-container .form-col .phone-input {
    background: #e5e7ff;
    border-radius: 5px;
    font: normal normal 500 16px Poppins;
    color: #373b79;
    padding: 17px 60px 17px 27px;
    border: 1px solid transparent;
    width: 100%;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col .form-input:hover,
  section .container-fluid section.table-section .outter-container .inner-container .form-col .form-input:focus,
  section .container-fluid section.table-section .outter-container .inner-container .form-col .phone-input:hover,
  section .container-fluid section.table-section .outter-container .inner-container .form-col .phone-input:focus {
    box-shadow: none !important;
    border: 1px solid #65499c;
    background-color: #fff;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col .form-input:hover+i.edit-icon,
  section .container-fluid section.table-section .outter-container .inner-container .form-col .form-input:focus+i.edit-icon,
  section .container-fluid section.table-section .outter-container .inner-container .form-col .phone-input:hover+i.edit-icon,
  section .container-fluid section.table-section .outter-container .inner-container .form-col .phone-input:focus+i.edit-icon {
    transform: scale(1.3);
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col .form-input.missing-input,
  section .container-fluid section.table-section .outter-container .inner-container .form-col .phone-input.missing-input {
    border: 1px solid #ff0000;
    background-color: #fff;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col span.missing-error {
    font: normal normal normal 13px Poppins;
    color: #ff0000;
    margin-left: 28px;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input {
    display: block;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input.missing-input input {
    border: 1px solid #ff0000;
    background-color: #fff;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input.missing-input input:focus,
  section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input.missing-input input:hover {
    border: 1px solid #ff0000;
    background-color: #fff;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input .iti {
    width: 100%;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input .iti .phone-input {
    height: 56px;
    padding: 17px 60px;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input .iti .country-dropdown {
    width: 717px;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input:hover,
  section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input:focus {
    box-shadow: none !important;
    background-color: #fff;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input:hover+i.edit-icon,
  section .container-fluid section.table-section .outter-container .inner-container .form-col ngx-intl-tel-input:focus+i.edit-icon {
    transform: scale(1.3);
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col i.edit-icon {
    position: absolute;
    top: 52px;
    right: 27px;
    font-size: 21px;
    color: #ab4851;
    transition: all 0.25s linear;
  }

  section .container-fluid section.table-section .outter-container .inner-container .form-col p.range {
    font: normal normal 300 16px Poppins;
    color: #000;
  }

  section .container-fluid section.table-section .outter-container .inner-container .submit-col {
    display: flex;
    justify-content: flex-end;
  }

  section .container-fluid section.table-section .outter-container .inner-container .submit-col .submit-btn {
    padding: 15px 80px;
    background-color: #16294f;
    border-radius: 8px;
    font: normal normal 500 18px Poppins;
    color: #ffffff;
    border: none;
  }

  section .container-fluid section.table-section .outter-container .inner-container .submit-col .submit-btn:hover {
    background-color: #16294f;
  }

  section .container-fluid section.table-section .outter-container .inner-container .submit-col .submit-btn:disabled {
    background-color: #fbe8ea;
  }
}