.section-container.blog {

  .first-section {
    background: url("../../../../../assets/images/articles/Group 1.svg"), #16294f26 0% 0% no-repeat padding-box;
    width: 100%;
    height: 343px;
    border-radius: 5px;
    background-position: top;
    background-repeat: no-repeat;

    h2 {
      font: normal normal bold 48px/58px Poppins;
      line-height: normal;
      text-align: center;
      color: #1E1E1E;
      align-items: center;
      padding-top: 106.65px;
      padding-bottom: 0px;
      margin-bottom: 0px;

      span {
        color: #16294f;
      }
    }

    p {
      text-align: center;
      // font: normal normal normal 20px/30px Poppins;
      font-size: 18px;
      letter-spacing: 0px;
      color: #1E1E1EBF;
      padding-top: 0px;
      margin-top: 0px;
      line-height: 0%;
    }
  }

  .navbar {
    margin-top: 80px;
    box-shadow: none;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 0px;

    a {
      font: normal normal 600 20px/30px Poppins;
      color: #F0F0F0;
    }

    .active {
      color: #1E1E1E;
      border-bottom: 3px solid #16294f;
    }
  }

  .navbar-nav,
  .mr-auto {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
  }

  .third-row {
    margin-top: 80px;

    img {
      border-radius: 12px;
    }

    .text-step {
      margin: auto;
      align-items: center;
      display: inline-block;
      padding-left: 44px;

      .tag-name {
        background: #16294f 0% 0% no-repeat padding-box;
        border-radius: 5px;
        text-align: left;
        font: normal normal bold 14px/21px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        display: inline-block;
        padding: 4px 22px;
      }

      .main-text {
        text-align: left;
        font: normal normal bold 34px/55px Poppins;
        letter-spacing: 0px;
        color: #1E1E1E;
      }

      .by-text {
        text-align: left;
        font: normal normal normal 16px/25px Poppins;
        letter-spacing: 0px;
        color: #9F9F9F;
      }

      .des-text {
        text-align: left;
        font: normal normal normal 18px/27px Poppins;
        letter-spacing: 0px;
        color: #1E1E1EBF;
      }

      .read-more {
        text-align: left;
        font: normal normal 600 20px/30px Poppins;
        letter-spacing: 0px;
        color: #16294f;
        cursor: pointer;
      }
    }
  }

  .fourth-row {
    margin-top: 80px;
    margin-bottom: 80px;

    .main-card {
      padding: 15px;
      height: 566px;

      .cont-img {
        position: relative;

        .back-img {
          position: absolute;
          background-color: rgba(10, 0, 0, 0.3);
          z-index: 1;
        }
      }

      .small-details {
        padding: 14.5px 7px 0px 7px;
        line-height: 0;

        p {
          font: normal normal normal 12px/18px Poppins;
          letter-spacing: 0px;
          color: #7A7A7A;
        }

        i {
          font-size: 11.3px;
          padding-top: 1.9px;
          color: white;
          text-shadow: -1px 0 #7A7A7A, 0 1px #7A7A7A, 1px 0 #7A7A7A,
            0 -1px #7A7A7A;
        }

      }

      .card-content {
        padding: 0px 5px 0px 5px;

        .main-body {
          font: normal normal bold 20px/33px Poppins;
          color: #1E1E1E;
          line-height: 1.3;
        }

        .by-body {
          text-align: left;
          font: normal normal 300 10px/16px Poppins;
          letter-spacing: 0px;
          color: #9F9F9F;
          line-height: 0px;
          padding-bottom: 7px;
        }

        .des-body {
          font: normal normal normal 14px/21px Poppins;
          letter-spacing: 0px;
          color: #1E1E1EBF;
          text-align: left;
        }

        .readmore-body {
          font: normal normal 600 16px/24px Poppins;
          letter-spacing: 0px;
          color: #16294f;
          cursor: pointer;
        }
      }
    }

    .main-recentblogs {
      border-radius: 12px;

      img {
        padding: 6px 0px 6px 0px;
        border-radius: 10px;
      }

      .recent-blog {
        font: normal normal bold 20px/30px Poppins;
        letter-spacing: 0px;
        color: #1E1E1E;
      }

      .flex-card {
        background-color: #16294f0D;
        border-radius: 6px;

        .content-des {
          padding-top: 7px;

          .des {
            font: normal normal bold 12px/18px Poppins;
            letter-spacing: 0px;
            color: #1E1E1E;
          }

          .date {
            p {
              text-align: left;
              font: normal normal normal 10px/15px Poppins;
              letter-spacing: 0px;
              color: #7A7A7A;
            }

            i {
              font-size: 9.3px;
              padding-top: 1.7px;
              color: white;
              text-shadow: -1px 0 #7A7A7A, 0 1px #7A7A7A, 1px 0 #7A7A7A,
                0 -1px #7A7A7A;
            }
          }
        }
      }
    }
  }
}