<div class="container section-container blog">
  <div class="first-section">
    <h2>StudentGator <span>Blogs</span></h2><br>
    <p>We Keep You Posted On Our Department</p>
  </div>

  <div class="third-row">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div><img width="100%" src="../../../../../assets/images/articles/Mask Group 2.png" alt=""></div>
      </div>
      <div class="col-lg-6 col-12 text-step">
        <p class="main-text">How to find an accommodation in France?</p>
        <p class="by-text">By SG Team</p>
        <p class="des-text">Finding an accommodation is always a daunting task in any part of the world. Similarly,
          finding an accommodation in France is not as easy as it seems. In some cases, you will be...…</p>
        <p routerLink="" class="read-more" routerLink="/landing/blog/4">READ MORE</p>
      </div>
    </div>
  </div>

  <div class="row fourth-row">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-4">
          <div class="card main-card" style="border: none;box-shadow: none;">
            <div class="cont-img">
              <img
src="/assets/images/articles/Mask Group 3.png" class="card-img-top" alt="...">
              <div class="back-img"></div>
            </div>
            <div class="d-flex justify-content-between small-details">
              <div class="d-flex">
                <i class="fas fa-calendar pe-2"></i>
                <p>22 August, 2022</p>
              </div>
            </div>
            <div class="card-content">
              <p class="main-body">Reasons to study in France</p>
              <p class="by-body">By Oumaima El Haddadi</p>
              <p class="des-body">France is the 3rd country in the world that welcomes the most international students.
                There are several reasons why students living abroad pursue and complete their studies in France.....
              </p>
              <p class="readmore-body" routerLink="/landing/blog/3">READ MORE</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card main-card" style="border: none;box-shadow: none;">
            <div>
              <img
src="/assets/images/articles/Mask Group 8.png" class="card-img-top" alt="...">
            </div>
            <div class="d-flex justify-content-between small-details">
              <div class="d-flex">
                <i class="fas fa-calendar pe-2"></i>
                <p>22 August, 2022</p>
              </div>
            </div>
            <div class="card-content">
              <p class="main-body">Visa Application</p>
              <p class="by-body">By SG Team</p>
              <p class="des-body">Once you have taken the appointment for the Visa at the VFS, you now move to the most
                crucial and important stage of your Visa process i.e document submission. It is necessary....</p>
              <p class="readmore-body" routerLink="/landing/blog/2">READ MORE</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card main-card" style="border: none;box-shadow: none;">
            <div>
              <img
src="/assets/images/articles/Mask Group 4.png" class="card-img-top" alt="...">
            </div>
            <div class="d-flex justify-content-between small-details">
              <div class="d-flex">
                <i class="fas fa-calendar pe-2"></i>
                <p>22 August, 2022</p>
              </div>
            </div>
            <div class="card-content">
              <p class="main-body">French Student Visa Application</p>
              <p class="by-body">By SG Team</p>
              <p class="des-body">Congratulations on being accepted into a French university! You’re just a few days
                away from experiencing “Vivre la France”, but while you’re excited to start your fascinating journey....
              </p>
              <p class="readmore-body" routerLink="/landing/blog/2">READ MORE</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-5">
          <div class="card main-card" style="border: none;box-shadow: none;">
            <div>
              <img
src="/assets/images/articles/Mask Group 5.png" class="card-img-top" alt="...">
            </div>
            <div class="d-flex justify-content-between small-details">
              <div class="d-flex">
                <i class="fas fa-calendar pe-2"></i>
                <p>22 August, 2022</p>
              </div>
            </div>
            <div class="card-content">
              <p class="main-body">The Complete Procedure</p>
              <p class="by-body">By SG Team</p>
              <p class="des-body">Each and every student who wish to study in France must go through this common
                procedure.</p>
              <p class="readmore-body" routerLink="/landing/blog/1">READ MORE</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-5">
          <div class="card main-card" style="border: none;box-shadow: none;">
            <div>
              <img
src="/assets/images/articles/Mask Group 6.png" class="card-img-top" alt="...">
            </div>
            <div class="d-flex justify-content-between small-details">
              <div class="d-flex">
                <i class="fas fa-calendar pe-2"></i>
                <p>22 August, 2022</p>
              </div>
            </div>
            <div class="card-content">
              <p class="main-body">StudentGator Process</p>
              <p class="by-body">By SG Team</p>
              <p class="des-body">Deciding to Study Abroad is a fascinating decision followed by a million dreams,
                aspirations, a high salary and a hope of a good life. The idea itself is rejoiceful until the strike of
                reality! first of all...</p>
              <p class="readmore-body" routerLink="/landing/blog/5">READ MORE</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-5">
          <div class="card main-card" style="border: none;box-shadow: none;">
            <div>
              <img
src="/assets/images/articles/Mask Group 7.png" class="card-img-top" alt="...">
            </div>
            <div class="d-flex justify-content-between small-details">
              <div class="d-flex">
                <i class="fas fa-calendar pe-2"></i>
                <p>22 August, 2022</p>
              </div>
            </div>
            <div class="card-content">
              <p class="main-body">Student visa to study in France</p>
              <p class="by-body">By SG Team</p>
              <p class="des-body">Deciding to Study Abroad is a fascinating decision followed by a million dreams,
                aspirations, a high salary and a hope of a good life. The idea itself is rejoiceful until the strike of
                reality! first of all...</p>
              <p class="readmore-body" routerLink="/landing/blog/2">READ MORE</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>