<!-- <div class="section-container meeting">
    <div class="head">
        <h2>Prepare Students Documents</h2>
        <p class="o186d">Aliquet nibh praesent tristique magna sit amet. 
        Et molestie ac feugiat sed lectus vestibulum. 
        Fermentum posuere urna nec tincidunt.</p>
    </div>

    <div class="custom-row body">
        <div class="custom-col details">
            <div class="img-holder">
                <img
src="/assets/images/about-us@2x.jpg" alt="">
            </div>
            
            <div class="text">
                <h3>Part #1: Checking papers</h3>
                
                <div class="ictx">
                    <div class="ictx-icon">
                        <img
src="/assets/images/dummy-clock.svg" alt="">
                    </div>
                    <div class="ictx text">
                        <p class="o146d">60min</p>
                    </div>
                </div>

                <ul>
                    <li class="o186d">Mauris augue neque gravida in fermentum;</li>
                    <li class="o186d">Elementum facilisis leo vel fringilla est ullamcorper;</li>
                    <li class="o186d">Faucibus purus in massa tempor nec feugiat.</li> 
                </ul>

                <p class="o186d">Ut sem viverra aliquet eget sit amet tellus cras. 
                    Id faucibus nisl tincidunt eget nullam non. 
                    Imperdiet nulla malesuada pellentesque elit eget gravida cum.</p>
            </div>
        </div>

        <div class="custom-col join">
            <div class="card-body">
                <countdown [config]="config"></countdown>
                <p><span>Days</span> <span>Hours</span> <span>Minutes</span> <span>Seconds</span></p>
            </div>

            <div>
                <h3>Details</h3>
                
                <ul>
                    <li>
                        <div class="ictx">
                            <div class="ictx-icon">
                                <img
src="/assets/images/dummy-clock.svg" alt="">
                            </div>
                            <div class="ictx-text">
                                <p class="o146db">Hosted By</p>
                            </div>
                        </div>
                        <div>
                            <span class="o146d">Oumaima Khaled</span>
                        </div>
                    </li>

                    <li>
                        <div class="ictx">
                            <div class="ictx-icon">
                                <img
src="/assets/images/dummy-clock.svg" alt="">
                            </div>
                            <div class="ictx-text">
                                <p class="o146db">Start</p>
                            </div>
                        </div>
                        <div>
                            <span class="o146d">Oct. 29, 2020 6:00 PM</span>
                        </div>
                    </li>

                    <li>
                        <div class="ictx">
                            <div class="ictx-icon">
                                <img
src="/assets/images/dummy-clock.svg" alt="">
                            </div>
                            <div class="ictx-text">
                                <p class="o146db">Duration</p>
                            </div>
                        </div>
                        <div>
                            <span class="o146d">90min</span>
                        </div>
                    </li>

                    <li>
                        <div class="ictx">
                            <div class="ictx-icon">
                                <img
src="/assets/images/dummy-clock.svg" alt="">
                            </div>
                            <div class="ictx-text">
                                <p class="o146db">Timezone</p>
                            </div>
                        </div>
                        <div>
                            <span class="o146d">Paris</span>
                        </div>
                    </li>
                </ul>
    
                <div class="note">
                    <span class="o146db">Note:</span>
                    <p class="o146d">Ipsum suspendisse ultrices gravida dictum fusce ut placerat orci nulla. 
                        Dolor purus non enim praesent elementum facilisis leo.</p>
                </div>

                <div class="btn-holder">
                    <button class="join">Join Zoom Meeting</button>
                </div>
                
                <div class="social">
                    <p class="o146db">Share this Meeting</p>
                    <a href=""><img
src="/assets/images/facebook-color.png" alt=""></a>
                    <a href=""><img
src="/assets/images/facebook-color.png" alt=""></a>
                    <a href=""><img
src="/assets/images/facebook-color.png" alt=""></a>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="section-container more">
    <h2>You may also be interested in</h2>

    <div class="custom-row">
        <div class="custom-col" *ngFor="let meet of meetings | slice: 0: 4" >
            <a routerLink="">
                <div class="icon-holder">
                    <img
src="" alt="">
                    <div class="link">
                        <img
src="/assets/images/go.svg" alt="">
                    </div>
                </div>
                <div class="text">
                    <div>
                        <h5 class="o166db">
                            Meet Oumaima for checking your documents
                        </h5>
                    </div>

                    <div class="o146d">Meeting ID: <p class="o166db id">341261748963</p></div>

                    <div class="ictx-holder">
                        <div class="ictx">
                            <div class="ictx-icon">
                                <img
src="/assets/images/dummy-clock.svg" alt="">
                            </div>
                            <div class="ictx-text">
                                <p class="o146d">Oct. 26, 2020</p>
                            </div>
                        </div>

                        <div class="ictx">
                            <div class="ictx-icon">
                                <img
src="/assets/images/dummy-clock.svg" alt="">
                            </div>
                            <div class="ictx-text">
                                <p class="o146d">10:00 AM</p>
                            </div>
                        </div>
                    </div>

                    <div class="ictx-holder">
                        <div class="ictx">
                            <div class="ictx-icon">
                                <img
src="/assets/images/dummy-clock.svg" alt="">
                            </div>
                            <div class="ictx-text">
                                <p class="o146d">15 min</p>
                            </div>
                        </div>
                        <div class="ictx">
                            <a routerLink="/landing/zoom">Details &#8594;</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div> -->
