<div class="container-fluid header_con">
    <h3>Commencez votre Aventure</h3>
    <h3 class="color_yellow">Avec</h3>
    <h3 class="">Cours Elysée</h3>
</div>
<div class="platform container mt-4 mb-4">
    <div class="row d-flex justify-content-center">
        <div class="platform-caption col-md-12">
            <h2>Qui sommes-nous ?</h2>
            <p><span class="company_name"> Cours Elysée</span>, c’est une équipe de consultants experts dédiée à guider les étudiants dans la réalisation de leur rêve d'étudier en France<br><br>
                Nous proposons un <strong> accompagnement personnalisé</strong>, aligné sur vos ambitions académiques et vos talents, et nous restons à vos côtés tout au long de votre parcours, de la première démarche jusqu’à l’accomplissement de vos objectifs. En d'autres termes, nous vous accompagnons de <span class="company_name"> A à Z </span>! <br><br>
               <strong> Rejoindre Cours Elysée</strong>, c’est intégrer une <strong> communauté dynamique</strong>, bénéficier de conseils sur-mesure et profiter d’un encadrement pour maximiser votre réussite, aussi bien sur le plan académique que professionnel </p>
        </div>
    </div>
</div>
<div class="partners container-fluid">
    <div class=" container">
        <div class="partners-caption col-md-12">
            <p>
                Rejoignez <strong> Cours Elysée </strong> <a  routerLink="/landing/programs">ici</a>, la plateforme incontournable pour candidater à plusieurs établissements d'excellence en France et transformer votre rêve d'étudier à l'étranger en réalité ! Accédez facilement à plus de <strong> 1000 programmes</strong> dans <strong> 120 écoles</strong> les plus prestigieuses du pays, reconnues pour la qualité de leur enseignement dans des domaines variés (Commerce, Informatique, Design). <br> <br>
Depuis chez vous <strong> (100% En ligne)</strong>, postulez directement à ces institutions de renom, qui offrent des opportunités académiques exceptionnelles.
<strong> Cours Elysée </strong> vous accompagne à chaque étape, facilitant ainsi votre intégration dans les meilleures écoles de France.
            </p>
        </div>
    </div>
</div>
<div class="experience">
    <div class="container">
        <h2 class="mb-3">L’expérience Cours Elysée : Étapes clés pour étudier en France</h2>
        <div class="col-md-7 d-flex flex-column mx-auto text-center">
            <div class="experience-item mb-3">
                <i class="fas fa-check me-2"></i>
                <span>Orientation et choix d'école</span>
                <p>Trouvez l’établissement idéal pour vous, afin de faciliter votre inscription dans une institution prestigieuse.</p>
            </div>
            <div class="experience-item  mb-3">
                <i class="fas fa-check me-2"></i>
                <span>Procédure Campus France et entretien personnalisé</span>
                <p>Profitez d’un accompagnement sur-mesure pour préparer votre dossier et réussir l'entretien individuel avec Campus France.</p>
            </div>
            <div class="experience-item mb-3">
                <i class="fas fa-check me-2"></i>
                <span>Demande de visa</span>
                <p>Obtenez des conseils adaptés à votre situation personnelle pour une demande de visa optimisée et sans stress.</p>
            </div>
            <div class="experience-item mb-3">
                <i class="fas fa-check me-2"></i>
                <span>Préparation au départ en France</span>
                <p>Bénéficiez d’une assistance complète pour organiser votre départ, afin que tout soit prêt pour votre nouvelle aventure.</p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="certificate ">
    <div class="container pt-4 pb-4">
        <div class="row d-flex justify-content-center">
            <div class="col-md-9">
                <h2>Nous vous accompagnons dans la procédure d'études en France de A à Z !</h2>
                <div class="certificate-captions">
                    <p>Pour entamer la procédure de votre projet d’études en France, vous pouvez candidater directement
                        sur
                        notre <a>site web</a> ou nous contacter via <a>Whatsapp</a>.</p>
                    <p>Doté d’un réel sens de l’écoute, notre équipe sera à votre entière disposition pour d’abord vous
                        orienter, ensuite vous accompagner pour soumettre vos candidatures. Nous traiterons votre
                        dossier dans
                        un délai de 2 jours ouvrables.</p>
                    <p>Dès le traitement de votre dossier, nous prendrons le relais pour votre dossier Campus France et
                        la
                        demande du Visa.</p>
                    <p>Ensuite nous apporterons toutes les aides nécessaires pour vous assurer la meilleure arrivée en
                        France.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="why-france">
    <div class="container pt-5">
        <div class="">
            <div class="col-md-12">
                <h2>Pourquoi choisir Cours Elysée ?</h2>
                <div class="why-france-caption">
                    <p>
                        Choisir <strong> Cours Elysée</strong>, c’est opter pour l’excellence. <strong> Forte de sa réputation </strong> établie et de l’expérience de son équipe dans l’accompagnement des études en France, Cours Elysée met à votre disposition son savoir-faire et un service personnalisé pour vous ouvrir les portes des meilleures écoles <br><br>
Grâce à <strong> une équipe expérimentée </strong> et dédiée, chaque étape de votre parcours, de l'orientation à la gestion complète de votre candidature, est soigneusement encadrée pour <strong> garantir votre succès </strong>.<br><br>
En anticipant vos besoins et en vous guidant vers les meilleures opportunités, <strong> Cours Elysée </strong> vous aide à transformer vos ambitions en réussites, avec <strong> confiance et sérénité</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="helpingYou p-4">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <h2 class="mb-4 text-uppercase">Nos écoles</h2>
                <owl-carousel-o [options]="customOptions">
                   

                        <ng-template carouselSlide><img
                            src="../../../../../assets/images/home/Sans-titre-2022-12-22T205842.155-300x300.png" alt=""
                            width="300px" height="300px"></ng-template>

                    <ng-template carouselSlide><img src="../../../../../assets/images/home/esg-logo-1-300x300.png"
                            alt="esgLogo" width="300px" height="300px"></ng-template>
                    <ng-template carouselSlide><img src="../../../../../assets/images/home/Sans-titre-1-300x300.png"
                            alt="" width="300px" height="300px"></ng-template>
                    <ng-template carouselSlide><img
                            src="../../../../../assets/images/home/Sans-titre-2022-12-22T210158.216-300x300.png" alt=""
                            width="300px" height="300px"></ng-template>
                    <ng-template carouselSlide><img
                            src="../../../../../assets/images/home/Sans-titre-2022-12-22T210008.248-300x300.png" alt=""
                            width="300px" height="300px"></ng-template>
                    <ng-template carouselSlide><img
                            src="../../../../../assets/images/home/Sans-titre-2022-12-22T205916.862-300x300.png" alt=""
                            width="300px" height="300px"></ng-template>
                   
                    <ng-template carouselSlide><img
                            src="../../../../../assets/images/home/Sans-titre-2022-12-22T205743.191-300x300.png" alt=""
                            width="300px" height="300px"></ng-template>
                    <ng-template carouselSlide><img
                            src="../../../../../assets/images/home/Sans-titre-2022-12-22T205726.013-300x300.png" alt=""
                            width="300px" height="300px"></ng-template>
                    <ng-template carouselSlide><img
                            src="../../../../../assets/images/home/Sans-titre-2022-12-22T205627.531-300x300.png" alt=""
                            width="300px" height="300px"></ng-template>
                    
                    <ng-template carouselSlide><img
                            src="../../../../../assets/images/home/Sans-titre-2022-12-22T211035.239-300x300.png" alt=""
                            width="300px" height="300px"></ng-template>
                            <ng-template carouselSlide><img
                                src="../../../../../assets/images/home/Sans-titre-2022-12-22T205541.463-300x300.png" alt=""
                                width="300px" height="300px"></ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>

<!-- <div class="social-icons-section p-4">
    <div class="container">
        <div class="row social-icons w-75 m-auto d-flex justify-content-between align-content-between text-center">
            <div class="col-lg-6 d-flex flex-column">
                <a target="_blank" href="https://www.instagram.com/cours.elysee/">
                    <i class="fab fa-instagram p-4 rounded rounded-circle"></i>
                    <h3 class="m-4 w-75 mx-auto"><a href="">Nos clients donnent leur avis sur "instagram"</a></h3>
                    <div class="counter">
                        <p class="pt-4 p-3">237</p>
                        <p class="p-3">Noté 5/5</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 d-flex flex-column">
                <a target="_blank" href="https://www.facebook.com/courselysee">
                    <i class="fab fa-facebook p-4 rounded rounded-circle"></i>
                    <h3 class="m-4 w-75 mx-auto"><a href="">Nos clients donnent leur avis sur "Facebook"</a></h3>
                    <div class="counter">
                        <p class="pt-4 p-3">147</p>
                        <p class="p-3">Noté 5/5</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="faq-section pb-5 mb-5">
    <div class="container">
        <div class="faq-section-heading">
            <h2>FAQ</h2>
        </div>
        <div class="faq-occordion">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Quel est le coût de vie moyen des étudiants en France ?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Généralement le coût de la vie en France pour les étudiants est de 800 à 1 600 euros
                            (couvrant les charges de logement, transport, nourriture, loisirs …), mais qui peut varier
                            selon la région et la ville.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Doit on passer par Campus France pour aller étudier en France ?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Il y a 66 pays concernés par la procédure campus france permettant de candidater aux
                            établissements d’écoles supérieur français. Pour connaître les pays concernés, cliquez ici !
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Doit on passer par Campus France même pour les écoles privées ?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Les admissions aux écoles privées se font en dehors de la procédure campus France.
                            Néanmoins, il est nécessaire de télécharger par la suite la lettre d’acceptation sur votre
                            compte Campus France.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Y a-t-il des frais à payer pour candidater aux écoles privées ?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Il existe des frais de candidatures destinées à compenser l’étude de dossier par
                            l’établissement visé qui est aux alentours de 100 euros par école. Cependant, les étudiants
                            qui candidatent via StudyPlus sont exonérés de ces frais.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Le TCF ou le DALF sont-ils obligatoires pour étudier en France ?
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Les tests de langues sont obligatoires pour candidater aux établissements d’enseignements
                            supérieurs français excepté ceux issus des pays officiellement francophones ou multilingues
                            où le français est langue officielle. Pour connaître les autres cas de dispense de test de
                            langue français cliquez ici !
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="contact-us container-fluid">
    <div class="container">
        <div class="row contact-us-caption">
            <div class="col-md-12 captions">
                <h2 class="pt-3 pb-3">Votre premier pas vers l'avenir en France commence ici !</h2>
                <div class="row gx-5">
                    <div class="col-md-12">
                        <p>
                            Vous pouvez nous retrouver dans notre bureau au <strong> Berges du Lac 1</strong>. Si vous ne pouvez pas vous déplacer, Cours Elysée propose une procédure <strong> 100 % en ligne</strong> ! <br><br>Créez votre compte facilement et accédez à tous nos services à distance. 
Pour nous contacter, vous pouvez nous joindre par téléphone au <strong> +216 28 395 065</strong> ou sur nos <strong> réseaux sociaux</strong>. <br/><br/> Notre équipe, reconnue pour sa réactivité, s'assure de répondre à vos demandes dans les plus brefs délais, vous garantissant un accompagnement personnalisé. Avec <strong> Cours Elysée</strong>, chaque étape de votre parcours est simplifiée pour assurer votre réussite.
                        </p>
                    </div>
                </div>
            </div><br><br><br><br><br><br><br><br><br><br>
            <div class="formContainer col-md-12 me-auto">
                <div class="form pt-2">
                    <form class="ps-3 pe-3 pt-4 pb-5">
                        <h3>Contactez-nous !</h3>
                        <label for="name">Nom, Prénom</label>
                        <input type="text" name="name" id="name" class="form-control p-3 mb-4 rounded-0 "
                            placeholder="Nom">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control p-3 mb-4 rounded-0"
                            placeholder="E-mail">
                        <label for="phone">Tél</label>
                        <input type="tel" name="phone" id="phone"
                            class="form-control p-2 pt-1 ps-3  mb-3 rounded rounded-1" placeholder="Téléphone">
                        <label for="msg">Message</label>
                        <textarea name="msg" id="msg" class="form-control p-2 ps-3 pt-1 mb-2 rounded rounded-1"
                            placeholder="Message" rows="3"></textarea>
                        <button class="btn w-100 mb-4">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

