<div class="text-start container section-main">
    <div class="first-row">
        <span>By SG Team</span>
        <p>StudentGator Process</p>
        <small>22 August, 2022</small>
    </div>

    <div class="dashed">
        <p style="padding-top: 52px;color: #0404042e;font-style: italic;">////////////////////////////////</p>
        <p>Deciding to Study Abroad is a fascinating decision followed by a million dreams, aspirations, a high salary
            and a hope of a good life. The idea itself is rejoiceful until the strike of reality! First of all, foreign
            education comes with a lot of investment. It is an investment of time as well as money. Students usually
            think that the Return on Investment post their education would be really high and would cover all their
            expenses. Well, that’s completely possible and true to every extent but not every scenario is as rosy as it
            seems especially when the education sector is booming as a business</p>
        <p class="pt-1">Filtering out the right information from the internet is a difficult task and the over-reliance
            on agencies has tremendously increased the risk of students making the wrong decision. A wrong decision can
            cause a student plenty of hardship on a foreign land and may cost his/her future. This is where StudentGator
            comes to the rescue, StudentGator as a team consists of students who already studied or are currently
            studying in France. We know the exact situation of the country since we are based in France and can guide
            students seamlessly through each and every process.</p>
    </div>

    <div class="one-text">
        <h3>1. Profile Screening </h3>
        <p>Before suggesting any school it is necessary to understand the complete profile of the student. Understanding
            the profile is important in determining a course which will suit the student’s interest and background.</p>
    </div>

    <div class="one-text">
        <h3>2. Identifying the University and Programs -</h3>
        <p>Post screening and identifying the student’s interest, we would identify the best suiting program and school
            where our students must apply. Students are provided with multiple options to choose from, we advise
            students to read the course structure carefully before applying to any school/university. Post
            identification, the student selects a course of his/her choice</p>
        <div class="row">
            <div class="col-12">
                <img style="width: 100%;height: 667px;border-radius: 12px;"
                    src="../../../../../../../assets/images/articles/4-7.png" alt="">
            </div>
        </div>
    </div>

    <div class="one-text">
        <h3>3. Preparation of documents </h3>
        <p>The document requirement for application to a French university/school is normally the same but few
            universities have a slightly different application procedure and require some additional documentation.
            StudentGator thoroughly assists its students in preparing all the necessary documents. Main document of
            focus is the motivation letter or the motivation questionnaire which are asked during the application
            process. These questions must be well drafted and curated showing clear motivation and interest. We’ll
            thoroughly help you in drafting a great motivation letter</p>
        <div class="row">
            <div class="col-12">
                <img style="width: 100%;height: 667px;border-radius: 12px;"
                    src="../../../../../../../assets/images/articles/3-7.png" alt="">
            </div>
        </div>
    </div>

    <div class="text-start one-text">
        <h3>4. Interview preparation </h3>
        <p>Once the application is selected, students will have to take an interview with the school. Since we have good
            connections with the school and plenty of our students have been through the interview process, we can
            thoroughly guide you with the expected questions and if necessary will take your mock interview to boost
            your confidence.</p>
    </div>

    <div class="one-text">
        <h3>5. Selection & Registration </h3>
        <p>Voila, Congratulations! Since you have applied through StudentGator, you are ought to be selected to your
            dream university/school. Post your selection to the university/school, we will guide you through the
            registration with the school. Generally students have to pay a deposit amount to the school to secure your
            seat.</p>
    </div>

    <div class="second-row">
        <h3 style="text-align: left;">Post Selection :</h3>
    </div>

    <div class="one-text">
        <h3>1. Campus France </h3>
        <p>This is a simple yet a slight lengthy process. We assist you thoroughly in the application process on the
            Campus France portal.</p>
    </div>

    <div class="one-text">
        <h3>2. Accommodation </h3>
        <p>ince we are based in France, we certainly have a good network and our students are also ready to help to find
            accommodation. Thus, we can help you put in contact with the right person. Also, while finding accommodation
            students can encounter a lot of scams, we help students to identify if their accommodation proposal is legit
            or not.</p>
        <p><a href="www.messervices.etudiant.gouv.fr/envole/">www.messervices.etudiant.gouv.fr/envole/</a></p>
    </div>

    <div class="one-text">
        <h3>3. Visa Application </h3>
        <p>It is the most crucial stage for every student who wishes to study abroad. Since we went through this process
            and we have students who have gone through the same process, we will be your best source of guidance
            throughout the application process. We have a dedicated blog on step by step visa process which you must
            take a look at.</p>
    </div>

    <div class="one-text">
        <h3>4. Guidance on Arrival </h3>
        <p>We are proud to say that we are not consultancies but we are student’s best friends. We aim to help students
            throughout their journey in France. Post-arrival students may face problems in OFII, CAF, Assurance Maladie
            etc, we are always here to help to the maximum of our capacity.</p>
    </div>

    <div class="one-text">
        <h3>5. StudentGator Community </h3>
        <p>We all know, networking is always an important aspect when it comes to creating opportunities and also making
            friends. We organise monthly meet-ups at our office or at our campus tours so that all our international
            students can interact and know each other</p>
        <p><span style="font-weight: bold;">StudentGator Team,</span> always strives to make student’s lives easy and
            help them fly through the process easily. We don’t charge any money from our students, all our services are
            free of cost. To keep yourself updated with all the latest information about France and with necessary
            student updates, follow us on instagram @studentgator</p>
    </div>

    <div class="check-more">
        <p>Check More <span>Blogs</span></p>
    </div>

    <div class="row mb-5">
        <div class="col-lg-4">
            <div class="card main-card" style="border: none;box-shadow: none;">
                <div>
                    <img
src="/assets/images/articles/Mask Group 8.png" class="card-img-top" alt="...">
                </div>
                <div class="d-flex justify-content-between small-details">
                    <div class="d-flex">
                        <i class="fas fa-calendar pe-2"></i>
                        <p>22 August, 2022</p>
                    </div>
                </div>
                <div class="card-content">
                    <p class="main-body">Visa Application</p>
                    <p class="by-body">By SG Team</p>
                    <p class="des-body">Once you have taken the appointment for the Visa at the VFS, you now move to the
                        most crucial and important stage of your Visa process i.e document submission. It is
                        necessary....</p>
                    <p class="readmore-body" routerLink="/landing/blog/2">READ MORE</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card main-card" style="border: none;box-shadow: none;">
                <div>
                    <img
src="/assets/images/articles/Mask Group 4.png" class="card-img-top" alt="...">
                </div>
                <div class="d-flex justify-content-between small-details">
                    <div class="d-flex">
                        <i class="fas fa-calendar pe-2"></i>
                        <p>22 August, 2022</p>
                    </div>
                </div>
                <div class="card-content">
                    <p class="main-body">French Student Visa Application</p>
                    <p class="by-body">By SG Team</p>
                    <p class="des-body">Congratulations on being accepted into a French university! You’re just a few
                        days away from experiencing “Vivre la France”, but while you’re excited to start your
                        fascinating journey....</p>
                    <p class="readmore-body" routerLink="/landing/blog/2">READ MORE</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card main-card" style="border: none;box-shadow: none;">
                <div>
                    <img
src="/assets/images/articles/Mask Group 6.png" class="card-img-top" alt="...">
                </div>
                <div class="d-flex justify-content-between small-details">
                    <div class="d-flex">
                        <i class="fas fa-calendar pe-2"></i>
                        <p>22 August, 2022</p>
                    </div>
                </div>
                <div class="card-content">
                    <p class="main-body">StudentGator Process</p>
                    <p class="by-body">By SG Team</p>
                    <p class="des-body">Deciding to Study Abroad is a fascinating decision followed by a million dreams,
                        aspirations, a high salary and a hope of a good life. The idea itself is rejoiceful until the
                        strike of reality! first of all...</p>
                    <p class="readmore-body" routerLink="/landing/blog/5">READ MORE</p>
                </div>
            </div>
        </div>
    </div>
</div>