section .login-content {
  margin-top: 52px;
  padding: 0 99px;
  background-image: url(../../../../../assets/images/login-pages/map-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

section .login-content img {
  width: 213px;
  height: 39px;
  margin-bottom: 33px;
}

section .login-content .reset {
  font: normal normal 600 30px/35px Poppins;
  margin-bottom: 27px;
}

section .login-content .change-image {
  width: 258px;
  height: 176px;
  margin-bottom: 38px;
}

section .login-content .input-div {
  position: relative;
}

section .login-content .input-div label {
  font: normal normal normal 14px Poppins;
  color: #bebebe;
  background-color: #fff;
  position: absolute;
  top: -10px;
  padding: 0 20px;
  user-select: none;
  -webkit-user-select: none;
}

section .login-content .input-div input {
  width: 100%;
  height: 47px;
  border: 2px solid #dedddd;
  border-radius: 8px;
}

section .login-content .input-div input:-webkit-autofill {
  -webkit-box-shadow: 200px 200px 100px white inset;
}

section .login-content .input-div input:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid #6770f7;
  -webkit-box-shadow: 200px 200px 100px white inset;
}

section .login-content .input-div input:focus+label {
  color: #6770f7;
}

section .login-content .input-div mat-icon {
  position: relative;
  top: -35px;
  left: 90%;
  cursor: pointer;
}

section .login-content .change {
  margin-top: 53px;
  width: 100%;
  height: 47px;
}

section .login-content .change button {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #16294f 0%, #4751de 100%);
  border-radius: 8px;
  font: normal normal normal 18px Poppins;
  color: #ffffff;
}

section .login-content .change button:focus {
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: 1199.9px) and (min-width: 768px) {
  section .login-content {
    padding: 0 200px;
  }

  section .login-content img {
    width: 172px;
    height: 32px;
  }

  section .login-content .reset {
    text-align: center;
    font: normal normal 600 20px Poppins;
  }

  section .login-content .change-image {
    width: 258px;
    height: 176px;
    margin-bottom: 38px;
  }

  section .login-content input {
    width: 100%;
  }

  section .login-content mat-icon {
    left: 91%;
  }
}

@media only screen and (max-width: 767.9px) {
  section .login-content {
    padding: 0 30px;
  }

  section .login-content img {
    width: 172px;
    height: 32px;
  }

  section .login-content .reset {
    font: normal normal 600 20px Poppins;
    margin-bottom: 5.6px;
  }

  section .login-content .change-image {
    width: 226px;
    height: 154px;
    margin-bottom: 30px;
  }

  section .login-content label {
    font: normal normal normal 12px Poppins;
    top: -70px;
    right: 0;
    padding: 0 10px;
  }

  section .login-content input {
    font: normal normal normal 14px Poppins;
    width: 100%;
    height: 50px;
    border: 1px solid #dedddd;
    border-radius: 8px;
  }

  section .login-content input:-webkit-autofill {
    -webkit-box-shadow: 200px 200px 100px white inset;
  }

  section .login-content input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #6770f7;
    -webkit-box-shadow: 200px 200px 100px white inset;
  }

  section .change {
    margin-top: 47px;
  }

  section .change button {
    font: normal normal normal 16px Poppins;
  }
}