.section-container {
  background-color: #fafafa;
  justify-content: flex-start;
  padding: 49px 37px;
}

.section-container .custom-row {
  justify-content: flex-start;
}

.section-container .custom-row>.img-holder img {
  height: 100%;
  object-fit: cover;
}

.section-container .custom-row .login {
  flex: 0 0 50%;
  border-radius: 5px;
  background-color: #fff;
  height: fit-content;
  margin: auto 0;
  border: 8px solid var(--main-color);
  box-shadow: 0px 0px 0px 10px #fafafa inset;
}

.section-container .custom-row .login form {
  flex-direction: column;
  padding: 31.2px 57px 43px 56px;
  display: flex;
  text-align: center;
}

.section-container .custom-row .login form .control {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 8px 0;
  position: relative;
}

.section-container .custom-row .login form .control .view {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 4%;
  top: 59%;
  cursor: pointer;
}

.section-container .custom-row .login form .control input {
  padding: 11px 16px 11px 14px;
  border: solid 1px #dddfe1;
  background-color: rgba(106, 112, 126, 0);
  font-size: 16px;
}

.section-container .custom-row .login form .control input::placeholder {
  font-size: 15px;
  letter-spacing: 0.22px;
  color: #abafb3;
}

.section-container .custom-row .login form .control label {
  margin-bottom: 5px;
  font-size: 16px;
  letter-spacing: 0.26px;
  color: #686e7c;
}

.section-container .custom-row .login form .control span.validation {
  font-size: 12px;
  letter-spacing: 0.32px;
  color: #f66666;
}

.section-container .custom-row .login form .btn-holder {
  margin-top: 23px;
  display: flex;
  justify-content: center;
}

.section-container .custom-row .login form .btn-holder button {
  border: none;
  width: 60%;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #fff;
  margin: 6px 0;
  padding: 12.6px 13px 13.4px 13px;
  border-radius: 24px;
  background-color: #16294f;
}

@media only screen and (max-width: 1050px) {
  .section-container .custom-row>.img-holder {
    display: none;
  }

  .section-container .custom-row .login {
    flex: 0 0 95%;
    margin: 41px auto;
  }
}