h1 {
  font-weight: 600;
  font-size: 20px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  border-radius: 5px;
  text-align: center;
  padding: 24px 0;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

p span {
  font-weight: 600;
}

.first-section .row {
  margin-top: 40px;
  text-align: center;
}

.first-section .row h1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.first-section .row p {
  font-size: 16px;
}

.EMY {
  margin-top: 40px;
}

.EMY ul {
  margin-top: 24px;
  margin-bottom: 24px;
}

.EMY span {
  font-weight: 600;
  font-size: 18px;
}

.EMY span a {
  color: #16294f;
}

.red {
  border-radius: 10px;
  background: var(--frame, #FBF7EA);
  padding: 24px 40px;
  margin-top: 40px;
}

.red h1 {
  border-radius: var(--5, 5px);
  background: var(--primary-white, #FDFDFD);
  padding: 16px 24px;
  text-align: center;
}

.ticket {
  position: relative;
  margin-top: 40px;
}

.ticket h5 {
  position: absolute;
  font-weight: 700;
  font-size: 22px;
  right: 69.4%;
  top: 69%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  .first-section .row {
    margin-top: 32px;
  }

  .first-section .row h1 {
    margin-top: 4px;
    margin-bottom: 8px;
  }

  .first-section .row p {
    font-size: 14px;
    line-height: 21px;
  }

  .EMY {
    margin-top: 32px;
  }

  .EMY ul {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .EMY span {
    font-size: 14px;
  }

  .red {
    border-radius: 10px;
    padding: 16px;
    margin-top: 32px;
  }

  .red h1 {
    border-radius: 5px;
    padding: 8px;
  }

  .ticket {
    margin-top: 32px;
  }

  .ticket h5 {
    font-size: 16px;
    right: 60%;
    top: 71%;
  }
}

@media only screen and (min-width: 0) and (max-width: 767.9px) {
  h1 {
    font-size: 14px;
    line-height: 18px;
  }

  h2 {
    font-size: 14px;
    line-height: 21px;
    padding: 8px;
  }

  p {
    font-size: 12px;
    line-height: 18px;
  }

  .first-section .row {
    margin-top: 24px;
  }

  .first-section .row h1 {
    margin-top: 4px;
    margin-bottom: 8px;
  }

  .first-section .row p {
    font-size: 12px;
    line-height: 18px;
  }

  .EMY {
    margin-top: 24px;
  }

  .EMY img {
    width: 45%;
  }

  .EMY ul {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .EMY span {
    font-size: 12px;
  }

  .EMY span a {
    font-size: 10px;
  }

  .red {
    border-radius: 5px;
    padding: 8px;
    margin-top: 24px;
  }

  .red h1 {
    border-radius: 5px;
    padding: 4px;
  }

  .ticket {
    margin-top: 24px;
  }

  .ticket img {
    width: 45%;
  }

  .ticket h5 {
    font-size: 11px;
    right: 66%;
    top: 66%;
  }
}