section.wishlisted-programs {
  padding: 60px 85px;
  .empty-wishlist-col {
    padding-top: 50px;
    img.empty-img {
      width: 443px;
      height: 454px;
      margin-bottom: 50px;
    }
    h1.empty-title {
      font: normal normal 600 33px/50px Poppins;
      margin-bottom: 17px;
    }
    p.empty-describtion {
      font: normal normal normal 18px/27px Poppins;
      margin-bottom: 50px;
    }
    button.programs-btn {
      width: 270px;
      height: 56px;
      background-color: #6f77f4;
      border-radius: 8px;
      border: none;
      font: normal normal 500 18px/28px Poppins;
      color: #fff;
      margin-bottom: 30px;
      &:hover {
        background-color: #4751de;
      }
    }
  }
  .wishlist-col {
    .programs-container {
      padding: 0 16px;
      margin-bottom: 32px;
      &:nth-child(even) {
        justify-content: flex-start;
      }
      &:nth-child(odd) {
        justify-content: flex-end;
      }
    }
    a {
      width: 330px;
      height: 510px;
      mat-card{
        height: 100%;
        border: 0;
        background: #f7f7f7 0% 0% no-repeat padding-box;
        border-radius: 5px;
        position: relative;
        box-shadow: none;
        &:hover {
          box-shadow: 0px 3px 10px #ffc9c9;
          .image-move {
            transform: scale(1.25);
          }
        }
        .sale {
          width: 141px;
          height: 23px;
          background: #6f77f4 0% 0% no-repeat padding-box;
          border-radius: 5px;
          color: #fff;
          position: absolute;
          top: 25px;
          right: 25px;
          p {
            margin: 0;
            font: normal normal 300 12px/18px Poppins;
          }
        }
        .image-container {
          height: 190px;
          border-radius: 5px;
          overflow: hidden;
          margin-bottom: 14px;
          img {
            height: 100%;
            transition: all 500ms ease-in-out;
          }
        }
        .price {
          width: 91px;
          height: 37px;
          background: linear-gradient(132deg, #ff5151 0%, #6f77f4 100%);
          border-radius: 5px;
          position: absolute;
          top: 158px;
          right: 25px;
          p {
            font: normal normal bold 16px/25px Poppins;
            margin: 0;
            color: #fff;
          }
        }
        .program-title {
          margin-top: 14px;
          font: normal normal 600 16px Poppins;
          text-transform: uppercase;
          margin: 0;
        }
        .program-name {
          font: normal normal normal 16px Poppins;
          text-transform: capitalize;
          line-height: 1.4;
        }
        .program-description {
          font: normal normal 300 16px/22px Poppins;
          color: #3b3b3b;
        }
        .school-name {
          margin-top: 30px;
          margin-bottom: 20px;
          img {
            width: 44px;
            height: 22px;
          }
          p {
            margin: 0 0 0 8px;
            font: normal normal normal 15px Poppins;
          }
        }
        .info {
          .first-info {
            font: normal normal 300 16px/25px Poppins;
            text-transform: capitalize;
            color: #8b8b8b;
            p {
              margin: 0 2px;
            }
          }
          hr {
            margin-top: 14px;
          }
          .second-info {
            font: normal normal 300 16px/25px Poppins;
            text-transform: capitalize;
            color: #8b8b8b;
            p {
              margin: 0 2px;
            }
           button{
            border: none;
            .wishlist {
              color: red;
              padding-top: 4px;
            }
           }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991.9px) and (min-width: 768px) {
  section.wishlisted-programs {
    padding: 33px 40px;
    .empty-wishlist-col {
      padding-top: 40px;
      img.empty-img {
        width: 443px;
        height: 454px;
        margin-bottom: 32px;
      }
      h1.empty-title {
        font: normal normal 600 24px/35px Poppins;
        margin-bottom: 9px;
      }
      p.empty-describtion {
        font: normal normal normal 16px/25px Poppins;
        margin-bottom: 32px;
      }
      button.programs-btn {
        width: 270px;
        height: 56px;
        background-color: #6f77f4;
        border-radius: 8px;
        border: none;
        font: normal normal 500 18px/28px Poppins;
        color: #fff;
        margin-bottom: 30px;
        &:hover {
          background-color: #4751de;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.9px) {
  section.wishlisted-programs {
    padding: 0;
    .empty-wishlist-col {
      padding-top: 25px;
      img.empty-img {
        width: 280px;
        height: 287px;
        margin-bottom: 25px;
      }
      h1.empty-title {
        font: normal normal 600 18px/27px Poppins;
        margin-bottom: 17px;
      }
      p.empty-describtion {
        font: normal normal normal 16px/25px Poppins;
        margin-bottom: 32px;
        text-align: center;
      }
      button.programs-btn {
        width: 245px;
        height: 50px;
        background-color: #6f77f4;
        border-radius: 8px;
        border: none;
        font: normal normal 500 18px/28px Poppins;
        color: #fff;
        margin-bottom: 30px;
        &:hover {
          background-color: #4751de;
        }
      }
    }
    .wishlist-col {
      padding: 16px 0;
      a {
        width: 100%;
        height: 150px;
        mat-card {
          height: initial;
          padding: 13px;
          box-shadow: none;
          width: 343px;
          &:focus {
            box-shadow: 0px 3px 6px #6f77f46e;
            border: 1px solid #6f77f4;
          }
          &:hover {
            border: 0;
            box-shadow: 0px 3px 6px #6f77f46e;
            background: transparent
              linear-gradient(244deg, #f4f4ff 0%, #edeeff 100%) 0% 0% no-repeat
              padding-box;
          }
          .bg {
            background-image: linear-gradient(
              180deg,
              #dedddd00 0%,
              #6f77f4f7 100%
            );
          }
          .card-img {
            width: 129px;
            height: 135px;
          }
          .img {
            width: 129px;
            height: 135px;
            top: 13px;
            left: 13px;
            padding: 16px 0 0 16px;
            border-radius: 5px;
            background-size: cover;
            background-repeat: no-repeat;
            .school-name-sm {
              img {
                width: 46px;
                height: 17px;
                border-radius: 3px;
                margin-bottom: 4px;
              }
              p {
                font: normal normal 600 9px Poppins;
                color: #ffffff;
                margin: 0;
              }
            }
            .white-wishlist {
              color: #fff;
            }
            button{
              border: none;
              background: none;
              .wishlist {
                color: red;
              }
            }
          }
          .program-title {
            font: normal normal 600 12px/20px Poppins;
            text-transform: uppercase;
            margin: 0;
          }
          .program-name {
            font: normal normal 500 12px/13px Poppins;
            text-transform: capitalize;
            margin-bottom: 4px;
          }
          .program-description {
            font: normal normal 300 13px/19px Poppins;
            color: #4c4b4b;
            margin-bottom: 10px;
          }
          .lang {
            p {
              font: normal normal 300 11px/13px Poppins;
              color: #555454;
            }
            i {
              font-size: 11px;
              color: #555454;
            }
          }
          .date {
            font: normal normal 300 11px Poppins;
            color: #555454;
            text-transform: capitalize;
            text-align: left;
          }
          .price-sm {
            font: normal normal bolder 12px/20px Poppins;
            color: #ff5151;
          }
          .location {
            font: normal normal 300 11px/13px Poppins;
            color: #8b8b8b;
            text-transform: capitalize;
          }
          .duration {
            font: normal normal 300 11px/13px Poppins;
            color: #8b8b8b;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
